Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

test(PRACT2-5-07): update unit/component tests for the cleanup pass
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Answer.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/CardHead.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Sentence.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/TopBar.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/V2FlashcardPracticePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(MOB-14): ONB-09 Step 3 Daily time screen (Recommended badge, 15-min default)
  learn-greek-easy-mobile/src/app/(onboarding)/time.tsx
Due: none

test(PRACT2-5-07): replace in-card-toggle E2E with global-switcher + cleanup assertions
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(MOB-14): ONB-10 Step 4 Summary + submit (Noto Serif name, glass recap, complete→guard route)
  learn-greek-easy-mobile/src/app/(onboarding)/summary.tsx
Due: none

fix(PRACT2-5-04): sync <html lang> with active i18n language
  learn-greek-easy-frontend/src/contexts/LanguageContext.tsx
  learn-greek-easy-frontend/src/contexts/__tests__/LanguageContext.test.tsx
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(MOB-14): ONB-11 onboarding analytics + RNTL tests
  learn-greek-easy-mobile/src/app/(onboarding)/level.tsx
  learn-greek-easy-mobile/src/app/(onboarding)/summary.tsx
  learn-greek-easy-mobile/src/components/onboarding/__tests__/onboarding.test.tsx
Due: none

fix(MOB-14): add column comments to onb_02 migration to match model (alembic check)
  learn-greek-easy-backend/alembic/versions/20260604_onb_02_add_proficiency_learning_goal.py
Due: none

test(PRACT2-5-07): address CodeRabbit — deterministic lang poll, mandatory seg-track assert, real test.skip
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(MOB-14): onboarding group starts at level (initialRouteName) + regression test
  learn-greek-easy-mobile/src/app/(onboarding)/_layout.tsx
  learn-greek-easy-mobile/src/components/onboarding/__tests__/onboarding.test.tsx
Due: none

feat(MOB-14): Onboarding Wizard (#560)
  docs/design-system.md
  learn-greek-easy-backend/alembic/versions/20260604_onb_02_add_proficiency_learning_goal.py
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/user.py
  learn-greek-easy-backend/tests/integration/api/test_user_settings.py
  learn-greek-easy-backend/tests/unit/schemas/test_user_schemas.py
  learn-greek-easy-mobile/package-lock.json
  learn-greek-easy-mobile/package.json
  learn-greek-easy-mobile/src/app/(auth)/login.tsx
  learn-greek-easy-mobile/src/app/(onboarding)/_layout.tsx
  learn-greek-easy-mobile/src/app/(onboarding)/goal.tsx
  learn-greek-easy-mobile/src/app/(onboarding)/level.tsx
  learn-greek-easy-mobile/src/app/(onboarding)/summary.tsx
  learn-greek-easy-mobile/src/app/(onboarding)/time.tsx
  learn-greek-easy-mobile/src/app/_layout.tsx
  learn-greek-easy-mobile/src/components/glass-fill.tsx
  learn-greek-easy-mobile/src/components/onboarding/__tests__/onboarding.test.tsx
  learn-greek-easy-mobile/src/components/onboarding/onboarding-shell.tsx
  learn-greek-easy-mobile/src/components/onboarding/progress-bar.tsx
  learn-greek-easy-mobile/src/components/onboarding/select-tile.tsx
  learn-greek-easy-mobile/src/global.css
  learn-greek-easy-mobile/src/hooks/use-user-settings.ts
  learn-greek-easy-mobile/src/lib/api-client.ts
  learn-greek-easy-mobile/src/stores/onboarding-store.ts
  learn-greek-easy-mobile/src/types/user.ts
  learn-greek-easy-mobile/tailwind.config.js
Due: none

feat(PRACT2-5): Practice Cleanup Pass — Head, Language & Reveal (#561)
  docs/design-system.md
  learn-greek-easy-frontend/src/contexts/LanguageContext.tsx
  learn-greek-easy-frontend/src/contexts/__tests__/LanguageContext.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/Answer.tsx
  learn-greek-easy-frontend/src/features/practice/pf/CardHead.tsx
  learn-greek-easy-frontend/src/features/practice/pf/TopBar.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Answer.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/CardHead.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Sentence.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/TopBar.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/features/practice/pf/questions/Sentence.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/V2FlashcardPracticePage.test.tsx
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(practice): in-place declension reveal + translate card UI
  learn-greek-easy-frontend/src/features/practice/pf/Card.tsx
  learn-greek-easy-frontend/src/features/practice/pf/CardHead.tsx
  learn-greek-easy-frontend/src/features/practice/pf/RatingRow.tsx
  learn-greek-easy-frontend/src/features/practice/pf/Toast.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/cardLocale.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/features/practice/pf/questions/Declension.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(i18n): full plural-suffix parity for deck interval keys
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-prettier

feat(practice): in-place declension reveal + translate card UI (#562)
  learn-greek-easy-frontend/src/features/practice/pf/Card.tsx
  learn-greek-easy-frontend/src/features/practice/pf/CardHead.tsx
  learn-greek-easy-frontend/src/features/practice/pf/RatingRow.tsx
  learn-greek-easy-frontend/src/features/practice/pf/Toast.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/cardLocale.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/features/practice/pf/questions/Declension.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(practice): show native-language source on sentence cards for RU users
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

ci(MOB-11): build native iOS on macos-26 + pin Xcode 26.4 + eas-cli@20.0.0 (NBUILD-01)
  .github/workflows/mobile-native-build.yml
Due: none

fix(practice): show native-language source on sentence cards for RU users (#563)
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(MOB-11): fingerprint .app cache + Metro-served dev-client smoke + root-cause note (NBUILD-03/04/05)
  .github/workflows/mobile-native-build.yml
  learn-greek-easy-mobile/app.config.ts
Due: none

fix(MOB-11): bind Metro to IPv4 so the dev-client reaches it in CI (NBUILD-04)
  .github/workflows/mobile-native-build.yml
Due: none

fix(practice): localize all non-sentence cards for RU users
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Translation.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/cardLocale.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Translation.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/V2FlashcardPracticePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(MOB-11): pass Metro --initialUrl as a Maestro launch arg so the dev-client auto-loads after clearState (NBUILD-04)
  .github/workflows/mobile-native-build.yml
  learn-greek-easy-mobile/.maestro/smoke.yaml
Due: none

fix(MOB-11): inject placeholder Supabase/API config so the CI dev-client boots to the login screen (NBUILD-04)
  .github/workflows/mobile-native-build.yml
Due: none

fix(MOB-11): match Metro 'iOS Bundled' line + widen bundle-load wait to 180s (NBUILD-04)
  .github/workflows/mobile-native-build.yml
Due: none

fix(MOB-11): assertVisible timeout + upload Maestro debug artifacts for diagnosis (NBUILD-04)
  .github/workflows/mobile-native-build.yml
  learn-greek-easy-mobile/.maestro/smoke.yaml
Due: none

chore(MOB-11): TEMP CI diagnostics — dump UI hierarchy/screenshot + allow cache save (NBUILD-04 debug)
  .github/workflows/mobile-native-build.yml
Due: none

fix(practice): localize all non-sentence cards for RU users (#565)
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Translation.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/cardLocale.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Translation.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/V2FlashcardPracticePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(MOB-11): bake EXDevMenuIsOnboardingFinished so the dev-menu popup doesn't block the CI smoke (NBUILD-04)
  .github/workflows/mobile-native-build.yml
  learn-greek-easy-mobile/app.config.ts
Due: none

fix(MOB-11): retry dev-client launch until Metro serves the bundle (NBUILD-04 flake)
  .github/workflows/mobile-native-build.yml
Due: none

fix(MOB-11): revert invalid assertVisible timeout (Maestro rejects it) (NBUILD-04)
  learn-greek-easy-mobile/.maestro/smoke.yaml
Due: none

fix(MOB-11): extendedWaitUntil for the slow CI bundle-load before asserting login (NBUILD-04)
  learn-greek-easy-mobile/.maestro/smoke.yaml
Due: none

fix(MOB-11): bake EXDevMenuShowsAtLaunch=false so the dev-menu tools panel doesn't auto-open over the CI smoke (NBUILD-04)
  learn-greek-easy-mobile/app.config.ts
Due: none

chore(MOB-11): remove TEMP CI smoke diagnostics now that the gate is green (NBUILD-04)
  .github/workflows/mobile-native-build.yml
Due: none

ci(MOB-11): native iOS build on macos-26 + fingerprint cache + Metro-served smoke (#564)
  .github/workflows/mobile-native-build.yml
  learn-greek-easy-mobile/.maestro/smoke.yaml
  learn-greek-easy-mobile/app.config.ts
Due: none

feat(ralph): add test-first (ATDD) Test-Spec stage to the pipeline
  RALPH_PROMPT.md
Due: none

test(NWOPA-04): red ATDD tests for token-opacity guard (MOB-13)
  learn-greek-easy-mobile/jest.config.js
  learn-greek-easy-mobile/scripts/__tests__/check-token-opacity.test.ts
  learn-greek-easy-mobile/scripts/check-token-opacity.mjs
Due: none

feat(NWOPA-03/04): consolidate tailwind opacity tokens + implement guard script (MOB-13)
  .github/workflows/preview.yml
  learn-greek-easy-mobile/package.json
  learn-greek-easy-mobile/scripts/check-token-opacity.mjs
  learn-greek-easy-mobile/tailwind.config.js
Due: none

docs(NWOPA-02/05): decision record + mobile design-tokens doc + cross-repo notes (MOB-13)
  CLAUDE.md
  docs/conventions.md
  docs/design-system.md
  learn-greek-easy-mobile/docs/design-tokens.md
Due: none

test(NWOPA-04): adversarial edge coverage for token-opacity guard (MOB-13)
  learn-greek-easy-mobile/scripts/__tests__/check-token-opacity.test.ts
Due: none

fix(NWOPA-04): drop Node-22-only fs/promises glob import in token guard (MOB-13)
  learn-greek-easy-mobile/scripts/check-token-opacity.mjs
Due: none

feat(NWOPA-04): also scan .css for token-opacity violations (CodeRabbit #566)
  learn-greek-easy-mobile/scripts/__tests__/check-token-opacity.test.ts
  learn-greek-easy-mobile/scripts/check-token-opacity.mjs
Due: none

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
