Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

test(ADMIN2-41-02): adversarial picture-payload coverage — variants-absent + detail field preservation (F4)
  learn-greek-easy-backend/tests/integration/api/test_news.py
Due: none

test(ADMIN2-41-03): RED catalog-total stat tests for Situations (F6)
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationsTab.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/adminSituationStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-41-03): Situations stat cards + subtitle use catalog totals (F6)
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationsTab.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/stores/adminSituationStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(LEXGEN-08): address CodeRabbit — frozenset constant, D19 docstring alignment, test header refresh
  learn-greek-easy-backend/src/schemas/lexgen.py
  learn-greek-easy-backend/tests/integration/services/test_lexgen_reconciler.py
  learn-greek-easy-backend/tests/unit/core/test_lexgen_resolver.py
Due: none

test(ADMIN2-41-03): adversarial catalog-total coverage — mock-mirror + readyPercent rounding (F6)
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationsTab.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/adminSituationStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-41-04): News drawer footer + Image-tab cleanup (F1, F2, F3)
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.image.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.disabledControls.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.image.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-41-05): linked-situation card picture + alignment; remove duplicate Situations card line (F4 UI, F5, F8)
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.linkedSituation.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.linkedSituation.test.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationCard.tsx
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationCard.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(ADMIN2-41-06): remove orphaned .sit-from CSS + dead regenerateTranslations i18n key
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

fix(ADMIN2-41): test-fixture types for new picture fields + remove unused helper (CI tsc -b)
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.audio.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.disabledControls.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.linkedSituation.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs(ADMIN2-41): drop stale test-first annotations per CodeRabbit nitpicks
  learn-greek-easy-backend/tests/integration/api/test_admin_situations.py
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationsTab.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/adminSituationStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-09-01): red AC tests for GeneratedLexContent schema + generated_content column
  learn-greek-easy-backend/tests/integration/migrations/test_lexgen_09_generated_content.py
  learn-greek-easy-backend/tests/integration/models/test_lexgen_09_generated_content_column.py
  learn-greek-easy-backend/tests/unit/models/test_word_proposal.py
  learn-greek-easy-backend/tests/unit/schemas/test_lexgen_schemas.py
Due: none

feat(LEXGEN-09-01): GeneratedLexContent schema + generated_content column
  learn-greek-easy-backend/alembic/versions/20260622_0900_lexgen09_generated_content_add_generated_content_to_word_proposal.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/lexgen.py
Due: none

test(LEXGEN-09-01): adversarial coverage for GeneratedLexContent + generated_content column
  learn-greek-easy-backend/tests/integration/migrations/test_lexgen_09_generated_content.py
  learn-greek-easy-backend/tests/integration/models/test_lexgen_09_generated_content_column.py
  learn-greek-easy-backend/tests/unit/schemas/test_lexgen_schemas.py
Due: none

test(LEXGEN-09-02): red AC tests for LexgenGeneratorService retry/reject state machine
  learn-greek-easy-backend/tests/unit/services/test_lexgen_generator_service.py
Due: none

feat(LEXGEN-09-02): LexgenGeneratorService RAG generate with retry x2 + hard-reject
  learn-greek-easy-backend/src/services/lexgen_generator_service.py
Due: none

test(LEXGEN-09-02): adversarial coverage for resolver-None, retry-echo, glosses gap, flush counts
  learn-greek-easy-backend/tests/unit/services/test_lexgen_generator_service_adversarial.py
Due: none

test(LEXGEN-09-03): red AC tests for CEFR closed-vocab assembly (B1 constant, failsafe, closed-class)
  learn-greek-easy-backend/tests/integration/services/test_cefr_vocabulary_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_generator_service_09_03.py
Due: none

feat(LEXGEN-09-03): CefrVocabularyService closed-vocab assembly + wire into generator prompt
  learn-greek-easy-backend/src/services/cefr_vocabulary_service.py
  learn-greek-easy-backend/src/services/lexgen_generator_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_generator_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_generator_service_adversarial.py
Due: none

test(LEXGEN-09-03): adversarial coverage for empty table, arm overlap, level parameterization, unknown-target fallback
  learn-greek-easy-backend/tests/integration/services/test_cefr_vocabulary_service_adversarial.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_generator_service_09_03_adversarial.py
Due: none

fix(LEXGEN-09): address CodeRabbit — reject-path transition order, JSONB contract tests, cefr docstring
  learn-greek-easy-backend/src/services/lexgen_generator_service.py
  learn-greek-easy-backend/tests/integration/services/test_cefr_vocabulary_service.py
  learn-greek-easy-backend/tests/unit/models/test_word_proposal.py
Due: none

test(LEXGEN-10-01): RED specs for pure verify gates
  learn-greek-easy-backend/src/core/lexgen_verify.py
  learn-greek-easy-backend/tests/unit/core/test_lexgen_verify.py
Due: none

feat(LEXGEN-10-01): pure deterministic verify gates (check_e, target-attested, gloss-subset)
  learn-greek-easy-backend/src/core/lexgen_verify.py
Due: none

test(LEXGEN-10-01): adversarial/edge coverage for verify gates
  learn-greek-easy-backend/tests/unit/core/test_lexgen_verify.py
Due: none

test(LEXGEN-10-02): RED specs for lemmatize_sentence
  learn-greek-easy-backend/src/schemas/nlp.py
  learn-greek-easy-backend/src/services/morphology_service.py
  learn-greek-easy-backend/tests/unit/services/test_morphology_lemmatize_sentence.py
Due: none

feat(ADMIN2-42-01): add missing picture-prompt hint keys + translate RU catalog controls
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

feat(ADMIN2-42-02): locale-aware date & relative-time formatting (task-1119)
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.linkedNews.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/lib/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(LEXGEN-10-02): MorphologyService.lemmatize_sentence sentence-level pass
  learn-greek-easy-backend/src/services/morphology_service.py
  learn-greek-easy-backend/tests/unit/services/conftest.py
Due: none

fix(ADMIN2-42-03): drawer layout & overflow fixes — F2/F3/F4/F8/F9/F10
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationPicturePromptForm.test.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(ADMIN2-42-04): author RED tests for F11/F12 (task-1121, Stage 2.5)
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.exercises.tsx
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationDrawer.exercises.test.tsx
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationDrawer.linkedNews.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-10-02): adversarial/edge coverage for lemmatize_sentence
  learn-greek-easy-backend/tests/unit/services/test_morphology_lemmatize_sentence.py
Due: none

feat(ADMIN2-42-04): auto-select first populated exercise source + hide redundant link CTA
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.exercises.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.linkedNews.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(ADMIN2-42-04): Stage 4 QA — adversarial/edge coverage for F11/F12
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationDrawer.exercises.test.tsx
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationDrawer.linkedNews.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-10-03): RED specs for verify service orchestration
  learn-greek-easy-backend/src/services/lexgen_verify_service.py
  learn-greek-easy-backend/tests/integration/services/test_lexgen_verify_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_verify_service.py
Due: none

fix(ADMIN2-42): normalize region-suffixed locale in getDateLocale (CodeRabbit)
  learn-greek-easy-frontend/src/lib/__tests__/dateUtils.test.ts
  learn-greek-easy-frontend/src/lib/dateUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(LEXGEN-10-03): verify service gate orchestration (check_e + target-attested + gloss-subset)
  learn-greek-easy-backend/src/services/lexgen_verify_service.py
Due: none

test(LEXGEN-10-03): adversarial/edge coverage for verify service
  learn-greek-easy-backend/tests/unit/services/test_lexgen_verify_service_adversarial.py
Due: none

fix(ADMIN2-42): deep-link E2E test 6 to unlinked situation (F12 hides Link-to-article CTA when linked)
  learn-greek-easy-frontend/tests/e2e/admin-situations.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(LEXGEN-10-03): remove prod error-masking try/except; fix vacuous VS-06 mock targets
  learn-greek-easy-backend/src/services/lexgen_verify_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_verify_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_verify_service_adversarial.py
Due: none

test(LEXGEN-10-04): RED specs for regenerate x2 -> flag loop
  learn-greek-easy-backend/tests/unit/services/test_lexgen_verify_regen.py
Due: none
