Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

test(IA-01): E2E coverage for /culture split; remove obsolete culture specs [DCSPL-07]
  learn-greek-easy-frontend/src/pages/culture/CulturePage.tsx
  learn-greek-easy-frontend/tests/e2e/culture-deck-browsing.spec.ts
  learn-greek-easy-frontend/tests/e2e/culture-page-split.spec.ts
  learn-greek-easy-frontend/tests/e2e/deck-filter-culture-level.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(IA-01): repair E2E shard 3 failures and DRY the CulturePage retry handler [DCSPL-07]
  learn-greek-easy-frontend/src/pages/culture/CulturePage.tsx
  learn-greek-easy-frontend/tests/e2e/premium-badge.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(IA-01): align E2E shard 2 specs with /decks vocab-only / /culture split [DCSPL-07]
  learn-greek-easy-frontend/tests/e2e/culture-practice.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(SIT-26): extend ExerciseType enum for picture-match (PMATCH-01)
  learn-greek-easy-backend/alembic/versions/20260513_pmatch_01_add_picture_matching_exercise_types.py
  learn-greek-easy-backend/src/db/models.py
Due: none

feat(SIT-26): Pydantic schemas for picture-match payloads (PMATCH-02)
  learn-greek-easy-backend/src/core/exceptions.py
  learn-greek-easy-backend/src/schemas/exercise_payload.py
Due: none

feat(SIT-26): auto-create picture-match exercises on readiness (PMATCH-04)
  learn-greek-easy-backend/scripts/backfill_picture_match_exercises.py
  learn-greek-easy-backend/src/services/description_audio_service.py
  learn-greek-easy-backend/src/services/picture_match_exercise_service.py
  learn-greek-easy-backend/src/services/situation_picture_service.py
Due: none

feat(SIT-26): distractor assembly service for picture-match (PMATCH-03)
  learn-greek-easy-backend/src/services/picture_match_service.py
Due: none

feat(SIT-26): reconcile picture-match exercise status on readiness changes (PMATCH-05)
  learn-greek-easy-backend/src/services/description_audio_service.py
  learn-greek-easy-backend/src/services/picture_match_exercise_service.py
  learn-greek-easy-backend/src/services/situation_picture_service.py
Due: none

feat(SIT-26): SM-2 queue + status filter for picture-match (PMATCH-06)
  learn-greek-easy-backend/src/repositories/exercise_record.py
  learn-greek-easy-backend/src/services/exercise_sm2_service.py
Due: none

feat(SIT-26): single-exercise fetch endpoint with 409 surface (PMATCH-07)
  learn-greek-easy-backend/src/api/v1/exercises.py
Due: none

feat(SIT-26): frontend types + fetchExercise client for picture-match (PMATCH-08)
  learn-greek-easy-frontend/src/services/exerciseAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(SIT-26): picture-match card components + practice page dispatch (PMATCH-09)
  learn-greek-easy-frontend/src/components/exercises/PictureOption.tsx
  learn-greek-easy-frontend/src/components/exercises/SelectDescriptionFromPictureCard.tsx
  learn-greek-easy-frontend/src/components/exercises/SelectPictureFromDescriptionCard.tsx
  learn-greek-easy-frontend/src/pages/ExercisePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(SIT-26): a11y for picture-match cards (PMATCH-10)
  learn-greek-easy-frontend/src/components/exercises/PictureOption.tsx
  learn-greek-easy-frontend/src/components/exercises/SelectDescriptionFromPictureCard.tsx
  learn-greek-easy-frontend/src/components/exercises/SelectPictureFromDescriptionCard.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(SIT-26): i18n EN/RU for picture-match cards (PMATCH-11)
  learn-greek-easy-frontend/src/components/exercises/PictureOption.tsx
  learn-greek-easy-frontend/src/components/exercises/SelectDescriptionFromPictureCard.tsx
  learn-greek-easy-frontend/src/components/exercises/SelectPictureFromDescriptionCard.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(SIT-26): add exercise_type property to exercise_answered (PMATCH-12)
  docs/analytics-events.md
  learn-greek-easy-frontend/src/pages/ExercisePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(SIT-26): backend tests for picture-match (PMATCH-13)
  learn-greek-easy-backend/tests/integration/api/test_study_v2_picture_match.py
  learn-greek-easy-backend/tests/unit/core/test_sm2.py
  learn-greek-easy-backend/tests/unit/services/test_picture_match_exercise_service.py
  learn-greek-easy-backend/tests/unit/services/test_picture_match_service.py
Due: none

test(SIT-26): Vitest + Playwright E2E for picture-match (PMATCH-14)
  learn-greek-easy-frontend/src/components/exercises/__tests__/SelectDescriptionFromPictureCard.test.tsx
  learn-greek-easy-frontend/src/components/exercises/__tests__/SelectPictureFromDescriptionCard.test.tsx
  learn-greek-easy-frontend/tests/e2e/picture-match-practice.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(SIT-26): test stability for picture-match reconcile + integration (PMATCH-13b)
  learn-greek-easy-backend/src/services/description_audio_service.py
  learn-greek-easy-backend/src/services/situation_picture_service.py
  learn-greek-easy-backend/tests/integration/api/test_study_v2_picture_match.py
Due: none

chore(SIT-26): address CodeRabbit review comments
  learn-greek-easy-backend/tests/integration/api/test_study_v2_picture_match.py
  learn-greek-easy-frontend/src/components/exercises/SelectDescriptionFromPictureCard.tsx
  learn-greek-easy-frontend/src/components/exercises/SelectPictureFromDescriptionCard.tsx
  learn-greek-easy-frontend/src/services/exerciseAPI.ts
  learn-greek-easy-frontend/tests/e2e/picture-match-practice.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(SIT-26): admin renders picture-match exercise body + i18n labels
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseList.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/ExerciseItemPayload.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2): foundation — atoms + shell + URL-synced tabs
  learn-greek-easy-frontend/src/components/admin/shell/PageHead.tsx
  learn-greek-easy-frontend/src/components/admin/shell/SectionTabs.tsx
  learn-greek-easy-frontend/src/components/admin/shell/TopBar.tsx
  learn-greek-easy-frontend/src/components/admin/shell/__tests__/PageHead.test.tsx
  learn-greek-easy-frontend/src/components/admin/shell/__tests__/SectionTabs.test.tsx
  learn-greek-easy-frontend/src/components/admin/shell/__tests__/TopBar.test.tsx
  learn-greek-easy-frontend/src/components/admin/shell/index.ts
  learn-greek-easy-frontend/src/components/ui/__tests__/badge.test.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/completion-pill.test.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/kicker.test.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/seg-control.test.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/side-panel.test.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/stat-card.test.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/timeline-entry.test.tsx
  learn-greek-easy-frontend/src/components/ui/badge.tsx
  learn-greek-easy-frontend/src/components/ui/completion-pill.tsx
  learn-greek-easy-frontend/src/components/ui/kicker.tsx
  learn-greek-easy-frontend/src/components/ui/seg-control.tsx
  learn-greek-easy-frontend/src/components/ui/side-panel.tsx
  learn-greek-easy-frontend/src/components/ui/stat-card.tsx
  learn-greek-easy-frontend/src/components/ui/timeline-entry.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/src/lib/__tests__/markdown-inline.test.ts
  learn-greek-easy-frontend/src/lib/markdown-inline.ts
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-11): Exercises + Card errors reskin
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-01): port missing @layer components classes (ATOM-01)
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

feat(ADMIN2-01): renderInlineMarkdown helper + tests (ATOM-03)
  learn-greek-easy-frontend/src/lib/__tests__/markdown-inline.test.tsx
  learn-greek-easy-frontend/src/lib/markdown-inline.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-01): Badge tone + onPhoto props (ATOM-02)
  learn-greek-easy-frontend/src/components/ui/__tests__/badge.test.tsx
  learn-greek-easy-frontend/src/components/ui/badge.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-01): Kicker atom (ATOM-04)
  learn-greek-easy-frontend/src/components/ui/__tests__/kicker.test.tsx
  learn-greek-easy-frontend/src/components/ui/kicker.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-01): StatCard atom (ATOM-05)
  learn-greek-easy-frontend/src/components/ui/__tests__/stat-card.test.tsx
  learn-greek-easy-frontend/src/components/ui/stat-card.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-01): SegControl atom (ATOM-06)
  learn-greek-easy-frontend/src/components/ui/__tests__/seg-control.test.tsx
  learn-greek-easy-frontend/src/components/ui/seg-control.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-01): CompletionPill atom (ATOM-07)
  learn-greek-easy-frontend/src/components/ui/__tests__/completion-pill.test.tsx
  learn-greek-easy-frontend/src/components/ui/completion-pill.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-01): SidePanel atom — compound API + Context (ATOM-08)
  learn-greek-easy-frontend/src/components/ui/__tests__/side-panel.test.tsx
  learn-greek-easy-frontend/src/components/ui/side-panel.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-01): Field atom (ATOM-10)
  learn-greek-easy-frontend/src/components/ui/__tests__/field.test.tsx
  learn-greek-easy-frontend/src/components/ui/field.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-01): AdminAvatar atom (ATOM-11)
  learn-greek-easy-frontend/src/components/ui/__tests__/admin-avatar.test.tsx
  learn-greek-easy-frontend/src/components/ui/admin-avatar.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-01): Waveform atom (ATOM-12)
  learn-greek-easy-frontend/src/components/ui/__tests__/waveform.test.tsx
  learn-greek-easy-frontend/src/components/ui/waveform.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-01): TimelineEntry atom (ATOM-09)
  learn-greek-easy-frontend/src/components/ui/__tests__/timeline-entry.test.tsx
  learn-greek-easy-frontend/src/components/ui/timeline-entry.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ADMIN2-01): address CodeRabbit review comments
  learn-greek-easy-frontend/src/components/ui/__tests__/timeline-entry.test.tsx
  learn-greek-easy-frontend/src/components/ui/seg-control.tsx
  learn-greek-easy-frontend/src/components/ui/stat-card.tsx
  learn-greek-easy-frontend/src/components/ui/timeline-entry.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-02): port .va-* shell chrome CSS to index.css (ASHELL-01)
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

feat(admin2-02): update admin i18n keys for new shell (ASHELL-02)
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

feat(admin2-02): extract AdminTabType, add URL sync, reconcile interim JSX (ASHELL-06)
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/pages/admin/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-02): TopBar shell component (ASHELL-03)
  learn-greek-easy-frontend/src/components/admin/shell/__tests__/top-bar.test.tsx
  learn-greek-easy-frontend/src/components/admin/shell/top-bar.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-02): PageHead shell component (ASHELL-05)
  learn-greek-easy-frontend/src/components/admin/shell/__tests__/page-head.test.tsx
  learn-greek-easy-frontend/src/components/admin/shell/page-head.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
