Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

[WDET02-02] Create WordEntryContent component and integrate into DeckDetailModal
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/WordEntryContent.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DeckDetailModal.wordEntryDetail.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET02-03] Unit tests for WordEntryContent component (23 tests)
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryContent.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET06-01] Add variant_key to CardRecordResponse + i18n keys for cards tab
  learn-greek-easy-backend/src/schemas/card_record.py
  learn-greek-easy-frontend/src/features/words/hooks/__tests__/useWordEntryCards.test.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET06-02] Create WordEntryCards component and integrate into DeckDetailModal
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/WordEntryCards.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DeckDetailModal.wordEntryDetail.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET06-03] Unit tests for WordEntryCards component (~29 tests)
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryCards.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET03-03] Frontend: AudioStatus type, i18n keys, AudioStatusBadge component
  learn-greek-easy-frontend/src/components/admin/AudioStatusBadge.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET03-04] Badge integration into WordEntryContent + polling in useWordEntry
  learn-greek-easy-frontend/src/components/admin/WordEntryContent.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryContent.test.tsx
  learn-greek-easy-frontend/src/features/words/hooks/useWordEntry.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET03-05] Backend + frontend tests for audio status indicators
  learn-greek-easy-backend/tests/unit/services/test_word_entry_response.py
  learn-greek-easy-backend/tests/unit/services/test_word_entry_response_audio_status.py
  learn-greek-easy-frontend/src/components/admin/__tests__/AudioStatusBadge.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryContent.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET07-01] Add audio status badges to WordEntryCards component
  learn-greek-easy-frontend/src/components/admin/WordEntryCards.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET07-02] Unit tests for audio status derivation and badge rendering
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryCards.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET04-02] Frontend: i18n keys for word entry edit form (27 keys each locale)
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

[WDET04-03] Frontend: API function + useUpdateWordEntry mutation hook
  learn-greek-easy-frontend/src/features/words/hooks/index.ts
  learn-greek-easy-frontend/src/features/words/hooks/useUpdateWordEntry.ts
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET04-04] Frontend: WordEntryEditForm component with Zod validation
  learn-greek-easy-frontend/src/components/admin/WordEntryContent.tsx
  learn-greek-easy-frontend/src/components/admin/WordEntryEditForm.tsx
  learn-greek-easy-frontend/src/lib/analytics/adminAnalytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET04-05] Backend + frontend tests for inline word entry editing
  learn-greek-easy-backend/tests/unit/api/test_admin_update_word_entry.py
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryEditForm.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET05-03] Frontend: AudioGenerateButton component + i18n keys
  learn-greek-easy-frontend/src/components/admin/AudioGenerateButton.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET05-04] Frontend: AudioGenerateButton integration + useGenerateAudio hook
  learn-greek-easy-frontend/src/components/admin/WordEntryContent.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryContent.test.tsx
  learn-greek-easy-frontend/src/features/words/hooks/index.ts
  learn-greek-easy-frontend/src/features/words/hooks/useGenerateAudio.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET05-05] Backend + frontend tests for per-part audio generation
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry_audio.py
  learn-greek-easy-backend/tests/unit/tasks/test_generate_word_entry_part_audio.py
  learn-greek-easy-frontend/src/components/admin/__tests__/AudioGenerateButton.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryContent.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: update existing tests for variant_key and new task export
  learn-greek-easy-backend/tests/unit/schemas/test_card_record_schemas.py
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
Due: none

ci: fix deploy conditions for workflow_dispatch (use main as base_ref fallback)
  .github/workflows/preview.yml
Due: none

ci: fix workflow_dispatch PR_HEAD_SHA and HEAD_REF fallbacks
  .github/workflows/preview.yml
Due: none

test: remove obsolete seed tests + add seed marker for exclusion
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/tests/integration/api/test_seed.py
  learn-greek-easy-backend/tests/integration/test_seed_service.py
Due: none

fix: address CodeRabbit review comments
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/tests/integration/api/test_seed.py
  learn-greek-easy-backend/tests/integration/test_seed_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry_audio.py
  learn-greek-easy-backend/tests/unit/tasks/test_generate_word_entry_audio.py
  learn-greek-easy-frontend/src/features/words/hooks/useUpdateWordEntry.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: address CodeRabbit review comments
  learn-greek-easy-frontend/src/components/admin/WordEntryEditForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix auth loader flash on browser tab switch
  learn-greek-easy-frontend/src/stores/authStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Align deck filter labels vertically with consistent min-width
  learn-greek-easy-frontend/src/components/decks/DeckFilters.tsx
  learn-greek-easy-frontend/src/components/decks/DeckTypeFilter.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Stop log.error from auto-creating Sentry Issues; downgrade auth errors to warn
  learn-greek-easy-frontend/src/components/auth/LoginForm.tsx
  learn-greek-easy-frontend/src/lib/logger.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix culture practice showing wrong deck's questions after session exit
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/stores/cultureSessionStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Exclude news-derived questions from mock exam practice
  learn-greek-easy-backend/src/repositories/mock_exam.py
Due: none

feat(analytics): add news audio analytics functions and single-active-player coordinator [ANEWS-02]
  learn-greek-easy-frontend/src/lib/__tests__/newsAudioCoordinator.test.ts
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/lib/analytics/newsAnalytics.ts
  learn-greek-easy-frontend/src/lib/newsAudioCoordinator.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(waveform): add news-mini variant, barCount, disableScrub, onPause props [ANEWS-01]
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/WaveformPlayer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(news): replace audio placeholder with WaveformPlayer news-mini, wire coordinator + analytics [ANEWS-03]
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/NewsGrid.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ANEWS-04] Add error flash visual to NewsCard on audio load failure
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ANEWS] News Audio Player (#299)
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/WaveformPlayer.test.tsx
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/NewsGrid.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/lib/__tests__/newsAudioCoordinator.test.ts
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/lib/analytics/newsAnalytics.ts
  learn-greek-easy-frontend/src/lib/newsAudioCoordinator.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Align Practice button height with audio player and rename to Practice!
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Revert Russian news button label back to Вопросы
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-prettier

Fix Practice button height not matching audio player on desktop
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BP05-01] Activate 14-day trial on new user signup
  learn-greek-easy-backend/src/core/dependencies.py
Due: none

[BP05-02] Check trial_end_date at request time in get_effective_access_level
  learn-greek-easy-backend/src/core/subscription.py
  learn-greek-easy-backend/tests/unit/core/test_subscription.py
Due: none
