Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

[NGEN-08-02-01-02] Smart Normalization Pipeline + Schema Updates
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/lemma_normalization_service.py
  learn-greek-easy-backend/tests/unit/services/test_smart_normalization.py
Due: none

[NGEN-08-03] Endpoint Wiring + API Tests — wire generate-word-entry to normalize_smart()
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry.py
Due: none

[TOURV2-04] Frontend UI — Correction Note, Suggestions, Swap for GenerateNounDialog
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: address CodeRabbit review comments
  learn-greek-easy-backend/src/services/lemma_normalization_service.py
  learn-greek-easy-backend/tests/unit/services/test_smart_normalization.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: strengthen spellcheck candidate assertion in dedup test
  learn-greek-easy-backend/tests/unit/services/test_smart_normalization.py
Due: none

[NGEN-08-02-01] Smart Normalization Pipeline (#342)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/lemma_normalization_service.py
  learn-greek-easy-backend/src/services/morphology_service.py
  learn-greek-easy-backend/src/services/spellcheck_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry.py
  learn-greek-easy-backend/tests/unit/services/test_morphology_service.py
  learn-greek-easy-backend/tests/unit/services/test_smart_normalization.py
  learn-greek-easy-backend/tests/unit/services/test_spellcheck_service.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LP-01-01][LP-01-02] Add mobile hamburger menu + make logo clickable
  learn-greek-easy-frontend/src/components/landing/Header.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LP-10-01] Fix primary color to use CSS variables
  learn-greek-easy-frontend/src/components/landing/NavLink.tsx
  learn-greek-easy-frontend/src/components/landing/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LP-02-01] Replace inline animation delays with Tailwind classes + remove image dimensions
  learn-greek-easy-frontend/src/components/landing/Features.tsx
  learn-greek-easy-frontend/src/components/landing/Hero.tsx
  learn-greek-easy-frontend/src/components/landing/Pricing.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LP-10-01] Fix primary color to use CSS variables
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

[LP-10-02] Add dark mode landing tokens
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

[LP-04-01] Add touch swipe, direction tracking, pause-on-hover
  learn-greek-easy-frontend/src/components/landing/SocialProof.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LP-04-02] Move stats to i18n and document heights
  learn-greek-easy-frontend/src/components/landing/SocialProof.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LP-07-01] Wire CTA button and fix overlay/text colors
  learn-greek-easy-frontend/src/components/landing/FinalCTA.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LP-11-03] Fix footer nav wrapping on small screens
  learn-greek-easy-frontend/src/components/landing/Footer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LP-05-01][LP-05-02][LP-11-02] Sync pricing with Stripe, wire CTA buttons, add sm breakpoint
  learn-greek-easy-frontend/src/components/landing/Footer.tsx
  learn-greek-easy-frontend/src/components/landing/Hero.tsx
  learn-greek-easy-frontend/src/components/landing/Pricing.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LP-03-02][LP-03-03][LP-11-01][LP-12-01] Replace buttons with shadcn, remove dead code, add sm grid, aria-hidden
  learn-greek-easy-frontend/src/components/landing/FeatureCard.tsx
  learn-greek-easy-frontend/src/components/landing/Features.tsx
  learn-greek-easy-frontend/src/components/landing/GreekPattern.tsx
  learn-greek-easy-frontend/src/components/landing/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: correct primary color HSL values (#2563eb = 221 83% 53%, not 217 91%)
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

[LP] Landing Page Polish (#343)
  learn-greek-easy-frontend/src/components/landing/FeatureCard.tsx
  learn-greek-easy-frontend/src/components/landing/Features.tsx
  learn-greek-easy-frontend/src/components/landing/FinalCTA.tsx
  learn-greek-easy-frontend/src/components/landing/Footer.tsx
  learn-greek-easy-frontend/src/components/landing/GreekPattern.tsx
  learn-greek-easy-frontend/src/components/landing/Header.tsx
  learn-greek-easy-frontend/src/components/landing/Hero.tsx
  learn-greek-easy-frontend/src/components/landing/NavLink.tsx
  learn-greek-easy-frontend/src/components/landing/Pricing.tsx
  learn-greek-easy-frontend/src/components/landing/SocialProof.tsx
  learn-greek-easy-frontend/src/components/landing/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-09-01] Database Schema & Migration for Greek Lexicon
  learn-greek-easy-backend/alembic/versions/20260304_1500_create_reference_schema_and_greek_lexicon.py
  learn-greek-easy-backend/src/db/models.py
Due: none

[NGEN-09-01] Alembic env and test fixture updates for GreekLexicon
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/tests/fixtures/database.py
Due: none

[NGEN-09-03] LexiconService with lookup() + get_declensions()
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/lexicon_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexicon_service.py
Due: none

[NGEN-09-02] Data Loading Command for Greek Lexicon
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/src/scripts/__init__.py
  learn-greek-easy-backend/src/scripts/load_lexicon.py
  learn-greek-easy-backend/tests/unit/scripts/__init__.py
  learn-greek-easy-backend/tests/unit/scripts/test_load_lexicon.py
Due: none

feat(nlp): chain-1 all tasks (TASK-20,21,22,23,24,25)
  .github/workflows/test.yml
  learn-greek-easy-backend/poetry.lock
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/main.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/lemma_normalization_service.py
  learn-greek-easy-backend/src/services/morphology_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry.py
  learn-greek-easy-backend/tests/unit/services/test_smart_normalization.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(nlp): parallel candidate analysis with ThreadPoolExecutor (TASK-26)
  learn-greek-easy-backend/src/services/lemma_normalization_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry.py
Due: none

[NGEN-09-04] Pipeline Integration & Endpoint Update
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

[NGEN-09-04] Update strategy field descriptions to include lexicon strategy
  learn-greek-easy-backend/src/schemas/admin.py
Due: none

[NGEN-09-05] E2E Seed Data & Tests
  learn-greek-easy-backend/src/services/seed_lexicon_data.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/test_nlp_services_integration.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry.py
Due: none

fix(alembic): add include_object to exclude reference schema from autogenerate
  learn-greek-easy-backend/alembic/env.py
Due: none

fix: address CodeRabbit review comments
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/src/main.py
  learn-greek-easy-backend/src/services/lemma_normalization_service.py
  learn-greek-easy-backend/src/services/seed_lexicon_data.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[NGEN-08-03] Duplicate Check Step
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-08-03] Duplicate Check Step (#345)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-10-01] Data model migration for word entry sharing
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20260305_0800_word_entry_sharing_model.py
  learn-greek-easy-backend/src/db/models.py
Due: none

[NGEN-10-02] Repository layer updates for word entry sharing
  learn-greek-easy-backend/src/repositories/deck.py
  learn-greek-easy-backend/src/repositories/word_entry.py
  learn-greek-easy-backend/tests/unit/repositories/test_word_entry_repository.py
Due: none

[NGEN-10-02+03] Repository layer + Schema/Response layer updates
  learn-greek-easy-backend/src/schemas/nlp.py
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-backend/src/services/duplicate_detection_service.py
  learn-greek-easy-backend/src/services/word_entry_response.py
  learn-greek-easy-backend/tests/integration/services/test_duplicate_detection_service.py
  learn-greek-easy-backend/tests/unit/schemas/test_word_entry_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_duplicate_detection_service.py
  learn-greek-easy-backend/tests/unit/services/test_word_entry_response.py
  learn-greek-easy-backend/tests/unit/services/test_word_entry_response_audio_status.py
Due: none

[NGEN-10-04+05+07] Service layer, link/unlink endpoints, seed data updates
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/src/services/sm2_service.py
  learn-greek-easy-backend/src/services/word_entry_linking_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_link_unlink.py
Due: none

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
