Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

test(CULT2-5): strengthen DVP-03 counter co-containment assertion (CodeRabbit)
  learn-greek-easy-frontend/tests/e2e/culture-deck-detail.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(CULT2-5): Culture deck-detail visual polish (#554)
  learn-greek-easy-frontend/src/components/culture/QuestionBrowser.tsx
  learn-greek-easy-frontend/src/components/culture/QuestionDetailDialog.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/QuestionDetailDialog.test.tsx
  learn-greek-easy-frontend/src/components/culture/redesign/CultureHero.tsx
  learn-greek-easy-frontend/src/components/culture/redesign/__tests__/CultureHero.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CultureDeckDetailPage.test.tsx
  learn-greek-easy-frontend/tests/e2e/culture-deck-detail.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(MOB-09): correct login screen visual fidelity vs design
  learn-greek-easy-mobile/src/app/(auth)/login.tsx
Due: none

feat(culture): match Question Details waveplayer to prototype
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/WaveformPlayer.test.tsx
  learn-greek-easy-frontend/src/lib/waveform.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(culture): match Question Details waveplayer to prototype (#556)
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/WaveformPlayer.test.tsx
  learn-greek-easy-frontend/src/lib/waveform.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(MOB-09): login fidelity — scrim, frosted glass, Apple button, token opacity
  learn-greek-easy-mobile/src/app/(auth)/login.tsx
  learn-greek-easy-mobile/tailwind.config.js
Due: none

docs(mobile): bake login-fidelity lessons into RALPH + mobile docs
  RALPH_PROMPT.md
  docs/mobile-app.md
Due: none

docs(mobile): bake login-fidelity lessons into RALPH + mobile docs (#557)
  RALPH_PROMPT.md
  docs/mobile-app.md
Due: none

test(MOB-09): assert Apple social button is present (was asserting absent)
  learn-greek-easy-mobile/src/components/auth/__tests__/login.test.tsx
Due: none

fix(MOB-09): correct login screen visual fidelity vs design (#555)
  learn-greek-easy-mobile/src/app/(auth)/login.tsx
  learn-greek-easy-mobile/src/components/auth/__tests__/login.test.tsx
  learn-greek-easy-mobile/tailwind.config.js
Due: none

chore(mobile): npm run ios/android use expo run:* (native build + run)
  learn-greek-easy-mobile/package.json
Due: none

feat(PRACT2-3-02): in-card reveal hint with .pf-kbd keycap + height invariant
  docs/design-system.md
  learn-greek-easy-frontend/src/features/practice/pf/Card.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Card.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PRACT2-3-01,03,04): direction subtitle, ANSWER kicker, POS chip reorder
  learn-greek-easy-frontend/src/features/practice/pf/Answer.tsx
  learn-greek-easy-frontend/src/features/practice/pf/CardHead.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Answer.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/CardHead.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Translation.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Translation.tsx
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PRACT2-3-03): cover .pf-foot-hint render in both feet
  learn-greek-easy-frontend/src/pages/__tests__/V2FlashcardPracticePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PRACT2-3-05): embed rating_previews on V2StudyQueueCard (Option A)
  learn-greek-easy-backend/src/schemas/v2_sm2.py
  learn-greek-easy-backend/src/services/v2_sm2_service.py
  learn-greek-easy-backend/tests/unit/schemas/test_sm2_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_v2_sm2_service.py
Due: none

feat(PRACT2-3-06): render projected interval hint on each rating button
  docs/design-system.md
  learn-greek-easy-frontend/src/features/practice/pf/RatingRow.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/RatingRow.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
  learn-greek-easy-frontend/src/services/studyAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PRACT2-3-10): IPA on declension & sentence cards via .pf-ipa
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Declension.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Sentence.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Declension.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Sentence.tsx
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(mob): show login-success landing on authenticated home screen
  learn-greek-easy-mobile/src/app/(app)/index.tsx
Due: none

feat(PRACT2-3-09): sentence grammar-tag - remove red dot, wire conditional chip
  learn-greek-easy-backend/src/schemas/card_record.py
  learn-greek-easy-backend/tests/unit/services/test_card_generator_service.py
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Sentence.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Sentence.tsx
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PRACT2-3-07): English example in answer block; fix orphan audio chip
  docs/design-system.md
  learn-greek-easy-backend/src/schemas/v2_sm2.py
  learn-greek-easy-backend/src/services/v2_sm2_service.py
  learn-greek-easy-backend/tests/unit/services/test_v2_sm2_service_russian.py
  learn-greek-easy-frontend/src/features/practice/pf/Answer.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Answer.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/services/studyAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(mob): show login-success landing on authenticated home screen (#559)
  learn-greek-easy-mobile/src/app/(app)/index.tsx
Due: none

test(PRACT2-3-11): visual + E2E coverage for fidelity pass
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
  learn-greek-easy-frontend/tests/visual/v2-practice.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(PRACT2-3-07): answer speaker is its own affordance, gate only the example text block (Option C); restore CAUDIO-02
  learn-greek-easy-frontend/src/features/practice/pf/Answer.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Answer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PRACT2-3): Practice Fidelity & Real-Interval Pass (#558)
  docs/design-system.md
  learn-greek-easy-backend/src/schemas/card_record.py
  learn-greek-easy-backend/src/schemas/v2_sm2.py
  learn-greek-easy-backend/src/services/v2_sm2_service.py
  learn-greek-easy-backend/tests/unit/schemas/test_sm2_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_card_generator_service.py
  learn-greek-easy-backend/tests/unit/services/test_v2_sm2_service.py
  learn-greek-easy-backend/tests/unit/services/test_v2_sm2_service_russian.py
  learn-greek-easy-frontend/src/features/practice/pf/Answer.tsx
  learn-greek-easy-frontend/src/features/practice/pf/Card.tsx
  learn-greek-easy-frontend/src/features/practice/pf/CardHead.tsx
  learn-greek-easy-frontend/src/features/practice/pf/RatingRow.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Answer.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Card.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/CardHead.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Declension.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/RatingRow.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Sentence.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Translation.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/features/practice/pf/questions/Declension.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Sentence.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Translation.tsx
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/V2FlashcardPracticePage.test.tsx
  learn-greek-easy-frontend/src/services/studyAPI.ts
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
  learn-greek-easy-frontend/tests/visual/v2-practice.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(MOB-14): ONB-01 Noto Serif font + badge-recommended over-photo token
  docs/design-system.md
  learn-greek-easy-mobile/package-lock.json
  learn-greek-easy-mobile/package.json
  learn-greek-easy-mobile/src/app/_layout.tsx
  learn-greek-easy-mobile/src/global.css
  learn-greek-easy-mobile/tailwind.config.js
Due: none

fix(PRACT2-5-01): center top progress bar ticks under the card
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
Due: frontend-prettier

fix(MOB-14): correct primary-15 token to rgb(36,99,235) (221 83% 53%)
  learn-greek-easy-mobile/tailwind.config.js
Due: none

feat(PRACT2-5-02): remove POS pill + article/gender dot from card head
  docs/design-system.md
  learn-greek-easy-frontend/src/features/practice/pf/CardHead.tsx
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(MOB-14): ONB-02 backend proficiency_level + learning_goal columns + endpoint dict
  learn-greek-easy-backend/alembic/versions/20260604_onb_02_add_proficiency_learning_goal.py
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/user.py
  learn-greek-easy-backend/tests/integration/api/test_user_settings.py
  learn-greek-easy-backend/tests/unit/schemas/test_user_schemas.py
Due: none

feat(MOB-14): ONB-04 settings read/PATCH hook, api.patch, user types, cache invalidation
  learn-greek-easy-mobile/src/hooks/use-user-settings.ts
  learn-greek-easy-mobile/src/lib/api-client.ts
  learn-greek-easy-mobile/src/types/user.ts
Due: none

feat(PRACT2-5-03/04): single language source — delete in-card toggle, drive gloss + chrome from global switcher
  learn-greek-easy-frontend/src/features/practice/pf/CardHead.tsx
  learn-greek-easy-frontend/src/features/practice/pf/TopBar.tsx
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/features/practice/pf/questions/Sentence.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(MOB-14): ONB-03 onboarding Zustand store (skip defaults, minutes→daily_goal, injected submit)
  learn-greek-easy-mobile/src/stores/onboarding-store.ts
Due: none

feat(MOB-14): ONB-05 (onboarding) route group + third root guard with combined auth+settings gate
  learn-greek-easy-mobile/src/app/(onboarding)/_layout.tsx
  learn-greek-easy-mobile/src/app/(onboarding)/goal.tsx
  learn-greek-easy-mobile/src/app/(onboarding)/level.tsx
  learn-greek-easy-mobile/src/app/(onboarding)/summary.tsx
  learn-greek-easy-mobile/src/app/(onboarding)/time.tsx
  learn-greek-easy-mobile/src/app/_layout.tsx
Due: none

feat(PRACT2-5-05): suppress duplicate example text on sentence-family reveals
  learn-greek-easy-frontend/src/features/practice/pf/Answer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs(PRACT2-5-05): update design-system rows for sentence-family example suppression
  docs/design-system.md
Due: none

feat(PRACT2-5-06): unbox the reveal example panel
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
Due: frontend-prettier

feat(MOB-14): ONB-06 onboarding shell/progress/tile chrome + extract GlassFill + Space Mono kicker font
  learn-greek-easy-mobile/package-lock.json
  learn-greek-easy-mobile/package.json
  learn-greek-easy-mobile/src/app/(auth)/login.tsx
  learn-greek-easy-mobile/src/app/_layout.tsx
  learn-greek-easy-mobile/src/components/glass-fill.tsx
  learn-greek-easy-mobile/src/components/onboarding/onboarding-shell.tsx
  learn-greek-easy-mobile/src/components/onboarding/progress-bar.tsx
  learn-greek-easy-mobile/src/components/onboarding/select-tile.tsx
  learn-greek-easy-mobile/tailwind.config.js
Due: none

feat(MOB-14): ONB-07 Step 1 Level screen
  learn-greek-easy-mobile/src/app/(onboarding)/level.tsx
Due: none

feat(MOB-14): ONB-08 Step 2 Goal screen (lucide icons, recolor on select)
  learn-greek-easy-mobile/src/app/(onboarding)/goal.tsx
  learn-greek-easy-mobile/src/components/onboarding/select-tile.tsx
Due: none
