Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

[STATS-03] Simplify Profile Page - Remove Statistics Section
  learn-greek-easy-frontend/src/pages/Profile.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GOAL] + [RUSLANG] + [NOTIF] + [STATS] Daily Goal, Russian Language, Notifications & Statistics Refactor (#95)
  learn-greek-easy-frontend/docs/Components-Reference.md
  learn-greek-easy-frontend/docs/components/settings-components.md
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/notifications/NotificationItem.tsx
  learn-greek-easy-frontend/src/components/notifications/NotificationsDropdown.tsx
  learn-greek-easy-frontend/src/components/notifications/index.ts
  learn-greek-easy-frontend/src/components/notifications/mockNotifications.ts
  learn-greek-easy-frontend/src/components/profile/PreferencesSection.tsx
  learn-greek-easy-frontend/src/components/settings/AppPreferencesSection.tsx
  learn-greek-easy-frontend/src/components/settings/index.ts
  learn-greek-easy-frontend/src/components/statistics/AchievementsGrid.tsx
  learn-greek-easy-frontend/src/components/statistics/ActivityTimeline.tsx
  learn-greek-easy-frontend/src/components/statistics/LevelProgressCard.tsx
  learn-greek-easy-frontend/src/components/statistics/StatsGrid.tsx
  learn-greek-easy-frontend/src/components/statistics/index.ts
  learn-greek-easy-frontend/src/pages/Profile.tsx
  learn-greek-easy-frontend/src/pages/Settings.tsx
  learn-greek-easy-frontend/src/pages/Statistics.tsx
  learn-greek-easy-frontend/src/types/auth.ts
  learn-greek-easy-frontend/src/types/index.ts
  learn-greek-easy-frontend/src/types/notification.ts
  learn-greek-easy-frontend/src/types/user.ts
  learn-greek-easy-frontend/tests/e2e/settings.spec.ts
  learn-greek-easy-frontend/tests/integration/settings.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[I18N-01] Add i18n library setup and configuration
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/i18n/constants.ts
  learn-greek-easy-frontend/src/i18n/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/types.ts
  learn-greek-easy-frontend/src/main.tsx
  learn-greek-easy-frontend/tsconfig.app.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[I18N-02] Add translation file structure and initial English translations
  learn-greek-easy-frontend/src/i18n/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/auth.json
  learn-greek-easy-frontend/src/i18n/locales/el/deck.json
  learn-greek-easy-frontend/src/i18n/locales/el/feedback.json
  learn-greek-easy-frontend/src/i18n/locales/el/profile.json
  learn-greek-easy-frontend/src/i18n/locales/el/review.json
  learn-greek-easy-frontend/src/i18n/locales/el/settings.json
  learn-greek-easy-frontend/src/i18n/locales/el/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/en/auth.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/en/feedback.json
  learn-greek-easy-frontend/src/i18n/locales/en/profile.json
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/en/settings.json
  learn-greek-easy-frontend/src/i18n/locales/en/statistics.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[I18N-03] Add Language Context and Provider
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/contexts/LanguageContext.tsx
  learn-greek-easy-frontend/src/contexts/index.ts
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useLanguage.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[I18N-04] Backend: Add preferred_language to User Settings
  learn-greek-easy-backend/alembic/versions/20251219_1206_2c5f04bd7dfd_add_preferred_language_to_user_settings.py
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/repositories/user.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/user.py
Due: none

[I18N-05] Add Language Switcher UI component
  learn-greek-easy-frontend/src/components/i18n/LanguageSwitcher.tsx
  learn-greek-easy-frontend/src/components/i18n/index.ts
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/settings/LanguageSection.tsx
  learn-greek-easy-frontend/src/components/settings/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/settings.json
  learn-greek-easy-frontend/src/i18n/locales/en/settings.json
  learn-greek-easy-frontend/src/pages/Settings.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[I18N-07] Complete Greek translations for all namespaces
  learn-greek-easy-frontend/src/i18n/locales/el/auth.json
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/el/deck.json
  learn-greek-easy-frontend/src/i18n/locales/el/review.json
  learn-greek-easy-frontend/src/i18n/locales/el/settings.json
Due: frontend-prettier

[I18N-08] Integrate PostHog analytics with i18n
  learn-greek-easy-frontend/src/contexts/LanguageContext.tsx
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/lib/analytics/languageAnalytics.ts
  learn-greek-easy-frontend/src/providers/PostHogProvider.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[I18N-09] Add comprehensive i18n tests
  learn-greek-easy-frontend/src/components/i18n/__tests__/LanguageSwitcher.test.tsx
  learn-greek-easy-frontend/src/contexts/__tests__/LanguageContext.test.tsx
  learn-greek-easy-frontend/src/i18n/__tests__/i18n.test.ts
  learn-greek-easy-frontend/tests/e2e/i18n/authenticated-sync.spec.ts
  learn-greek-easy-frontend/tests/e2e/i18n/language-detection.spec.ts
  learn-greek-easy-frontend/tests/e2e/i18n/language-switcher.spec.ts
  learn-greek-easy-frontend/tests/visual/i18n.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[I18N-FIX] Fix E2E test failures - LanguageSwitcher on auth pages
  learn-greek-easy-frontend/docs/patterns/authentication-patterns.md
  learn-greek-easy-frontend/src/components/auth/AuthLayout.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/auth.json
  learn-greek-easy-frontend/src/i18n/locales/en/auth.json
  learn-greek-easy-frontend/src/i18n/locales/ru/statistics.json
  learn-greek-easy-frontend/src/lib/test-utils.tsx
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/DecksPage.tsx
  learn-greek-easy-frontend/src/pages/Settings.tsx
  learn-greek-easy-frontend/src/pages/auth/__tests__/Login.integration.test.tsx
  learn-greek-easy-frontend/tests/e2e/i18n/authenticated-sync.spec.ts
  learn-greek-easy-frontend/tests/e2e/i18n/language-detection.spec.ts
  learn-greek-easy-frontend/tests/e2e/i18n/language-switcher.spec.ts
  learn-greek-easy-frontend/tests/e2e/sample.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[I18N-10] Add Russian interface language support
  learn-greek-easy-frontend/src/components/i18n/__tests__/LanguageSwitcher.test.tsx
  learn-greek-easy-frontend/src/i18n/__tests__/i18n.test.ts
  learn-greek-easy-frontend/src/i18n/constants.ts
  learn-greek-easy-frontend/src/i18n/index.ts
  learn-greek-easy-frontend/src/i18n/locales/ru/auth.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/feedback.json
  learn-greek-easy-frontend/src/i18n/locales/ru/profile.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/settings.json
  learn-greek-easy-frontend/src/i18n/types.ts
  learn-greek-easy-frontend/tests/e2e/i18n/language-detection.spec.ts
  learn-greek-easy-frontend/tests/e2e/i18n/language-switcher.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[I18N-FIX] Fix accessibility and keyboard navigation test failures
  learn-greek-easy-frontend/src/components/settings/LanguageSection.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/settings.json
  learn-greek-easy-frontend/src/i18n/locales/en/settings.json
  learn-greek-easy-frontend/src/i18n/locales/ru/settings.json
  learn-greek-easy-frontend/tests/e2e/keyboard-navigation.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[XP-01] Add database models and migrations for XP and Achievements
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20251221_1016_56fef805c407_add_xp_and_achievements_tables.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/xp_achievements.py
Due: none

[XP-01] Fix enum creation with checkfirst=True
  learn-greek-easy-backend/alembic/versions/20251221_1016_56fef805c407_add_xp_and_achievements_tables.py
Due: none

[XP-02] Add XP Service - Calculation & Level Logic
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/xp_constants.py
  learn-greek-easy-backend/src/services/xp_service.py
  learn-greek-easy-backend/tests/unit/services/test_xp_constants.py
  learn-greek-easy-backend/tests/unit/services/test_xp_service.py
Due: none

[XP-03] Add Achievement Service with unlock logic and progress tracking
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/achievement_definitions.py
  learn-greek-easy-backend/src/services/achievement_service.py
  learn-greek-easy-backend/tests/unit/services/test_achievement_definitions.py
  learn-greek-easy-backend/tests/unit/services/test_achievement_service.py
Due: none

[XP-04] Add XP and Achievements API endpoints
  learn-greek-easy-backend/src/api/v1/router.py
  learn-greek-easy-backend/src/api/v1/xp.py
  learn-greek-easy-backend/src/schemas/xp.py
  learn-greek-easy-backend/tests/integration/api/test_xp.py
Due: none

[XP-05] Add XP Card frontend components
  learn-greek-easy-frontend/src/components/xp/XPCard.tsx
  learn-greek-easy-frontend/src/components/xp/XPGainAnimation.tsx
  learn-greek-easy-frontend/src/components/xp/index.ts
  learn-greek-easy-frontend/src/services/xpAPI.ts
  learn-greek-easy-frontend/src/stores/xpStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[XP-06] Frontend Achievement Gallery Page
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/achievements/AchievementCard.tsx
  learn-greek-easy-frontend/src/components/achievements/AchievementCategory.tsx
  learn-greek-easy-frontend/src/components/achievements/index.ts
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/layout/MobileNav.tsx
  learn-greek-easy-frontend/src/components/xp/XPCard.tsx
  learn-greek-easy-frontend/src/components/xp/XPGainAnimation.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/AchievementsPage.tsx
  learn-greek-easy-frontend/src/services/xpAPI.ts
  learn-greek-easy-frontend/src/stores/xpStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[XP-07] Achievement Celebration Animations & Notifications
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/xp/AchievementNotificationManager.tsx
  learn-greek-easy-frontend/src/components/xp/AchievementToast.tsx
  learn-greek-easy-frontend/src/components/xp/LevelUpCelebration.tsx
  learn-greek-easy-frontend/src/components/xp/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[XP-08] E2E Seed Data & Tests for XP/Achievements
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/tests/e2e/achievements.spec.ts
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[XP-01] Fix enum creation with postgresql.ENUM(create_type=False)
  learn-greek-easy-backend/alembic/versions/20251221_1016_56fef805c407_add_xp_and_achievements_tables.py
Due: none

[XP-01] Remove redundant UniqueConstraint in user_xp migration
  learn-greek-easy-backend/alembic/versions/20251221_1016_56fef805c407_add_xp_and_achievements_tables.py
Due: none

[XP-04] Fix factory method calls in XP integration tests
  learn-greek-easy-backend/tests/integration/api/test_xp.py
Due: none

[XP-08] Add E2E tests for XP endpoints and exclude static files from coverage
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/tests/e2e/scenarios/test_xp_endpoints.py
Due: none

[XP-08] Exclude XP/Achievement services from E2E coverage (unit tested)
  learn-greek-easy-backend/pyproject.toml
Due: none

[TEST] Add E2E tests for auth profile update and card 404 errors
  learn-greek-easy-backend/src/api/v1/cards.py
  learn-greek-easy-backend/tests/e2e/workflows/test_admin_content_management.py
  learn-greek-easy-backend/tests/e2e/workflows/test_session_management.py
Due: none

[XP-PR] Fix achievements E2E test selectors for Playwright strict mode
  learn-greek-easy-frontend/tests/e2e/achievements.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[XP-PR] Fix E2E-ACH-02, ACH-12, ACH-13 selector strict mode violations
  learn-greek-easy-frontend/tests/e2e/achievements.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[XP-PR] Add achievement icon mapping component
  learn-greek-easy-frontend/src/components/achievements/AchievementCard.tsx
  learn-greek-easy-frontend/src/components/achievements/AchievementIcon.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NOTIF-01] Add Notification model and migration
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20251222_0912_f34cfe534789_add_notifications_table.py
  learn-greek-easy-backend/src/db/models.py
Due: none

[NOTIF-02] Add NotificationService and NotificationRepository
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/notification.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/notification_service.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[NOTIF-03] Add Notification API endpoints
  learn-greek-easy-backend/src/api/v1/notifications.py
  learn-greek-easy-backend/src/api/v1/router.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/notification.py
Due: none

[NOTIF-04] Frontend NotificationContext and Hooks
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/contexts/NotificationContext.tsx
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useNotifications.ts
  learn-greek-easy-frontend/src/services/index.ts
  learn-greek-easy-frontend/src/services/notificationAPI.ts
  learn-greek-easy-frontend/src/types/index.ts
  learn-greek-easy-frontend/src/types/notification.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NOTIF-05] NotificationBell and NotificationCenter Components
  learn-greek-easy-frontend/src/components/notifications/NotificationItem.tsx
  learn-greek-easy-frontend/src/components/notifications/NotificationsDropdown.tsx
  learn-greek-easy-frontend/src/components/notifications/index.ts
  learn-greek-easy-frontend/src/components/notifications/mockNotifications.ts
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NOTIF-06] NotificationToast Component
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/notifications/NotificationToast.tsx
  learn-greek-easy-frontend/src/components/notifications/NotificationToastContainer.tsx
  learn-greek-easy-frontend/src/components/notifications/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck
