Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

feat(admin2-18): add GET /api/v1/admin/tab-counts endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

test(admin2-18): cover GET /admin/tab-counts endpoint
  learn-greek-easy-backend/tests/unit/api/test_admin_tab_counts.py
Due: none

refactor(admin2-18): wire get_admin_stats through count_active_decks helper
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/services/admin_counts_service.py
Due: none

feat(admin2-18): add getAdminTabCounts to adminAPI
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-18): add useAdminTabCountsStore zustand store
  learn-greek-easy-frontend/src/stores/adminTabCountsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-18): wire AdminPage tab strip to useAdminTabCountsStore
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-18): refetch tab counts after admin mutations
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementComposeDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/decks/DeckSettingsTab.tsx
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/stores/adminAnnouncementStore.ts
  learn-greek-easy-frontend/src/stores/adminCardErrorStore.ts
  learn-greek-easy-frontend/src/stores/adminChangelogStore.ts
  learn-greek-easy-frontend/src/stores/adminFeedbackStore.ts
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
  learn-greek-easy-frontend/src/stores/adminSituationStore.ts
  learn-greek-easy-frontend/src/stores/adminTabCountsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(admin2-18): cover AdminPage tab badge rendering
  learn-greek-easy-frontend/src/pages/__tests__/AdminPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(admin2-18): add Playwright regression for false-zero badge bug
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-frontend/tests/e2e/admin-tab-counts.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin2-18): coderabbit — serialize per-session queries + guard stale refetches
  learn-greek-easy-backend/src/services/admin_counts_service.py
  learn-greek-easy-frontend/src/stores/adminTabCountsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-18): add AdminCountsService + extract _count_active_decks helper
  learn-greek-easy-backend/src/services/admin_counts_service.py
Due: none

feat(admin2-18): add AdminTabCountsResponse schema
  learn-greek-easy-backend/src/schemas/admin.py
Due: none

fix(admin-feedback): restore card grid layout — give .fb-card-clickable display:contents
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

feat(admin-feedback): drop page actions, add "oldest awaiting" sub
  learn-greek-easy-frontend/src/components/admin/AdminFeedbackSection.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/AdminFeedbackDelete.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/AdminFeedbackSection.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/pageHeadPropsFor.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin-feedback): drawer i18n, fix delete aria-label, drop compliment filter, polish reply card
  learn-greek-easy-frontend/src/components/admin/AdminFeedbackCard.tsx
  learn-greek-easy-frontend/src/components/admin/AdminFeedbackSection.tsx
  learn-greek-easy-frontend/src/components/admin/FeedbackDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/AdminFeedbackCard.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/AdminFeedbackDelete.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/AdminFeedbackSection.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/FeedbackDrawer.test.tsx
  learn-greek-easy-frontend/src/components/ui/seg-control.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin-feedback): widen vote rail to 56px, add placeholder empty state
  learn-greek-easy-frontend/src/components/admin/AdminFeedbackSection.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/AdminFeedbackDelete.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/AdminFeedbackSection.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin-feedback): full-screen drawer, enriched head, footer delete, save guard
  learn-greek-easy-frontend/src/components/admin/AdminFeedbackSection.tsx
  learn-greek-easy-frontend/src/components/admin/FeedbackDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/AdminFeedbackSection.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/FeedbackDrawer.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-20): SidePanel size="half" + CloseButton position prop
  learn-greek-easy-frontend/src/components/ui/__tests__/side-panel.test.tsx
  learn-greek-easy-frontend/src/components/ui/side-panel.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-20): announcement details drawer half-width + close-right
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailsDrawer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-20): drop read_percentage from announcement API + recompute on FE
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/announcement.py
  learn-greek-easy-backend/src/services/announcement_service.py
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailsDrawer.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-20): remove read-progress section from announcement drawer
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailsDrawer.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-20): remove read-timeline section from announcement drawer
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailsDrawer.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-20): remove click-through (Переходы) reach tile from drawer
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailsDrawer.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-20): remove resend-to-unread placeholder button from drawer
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailsDrawer.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-20): drop creator from announcement API responses
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/repositories/announcement.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/announcement.py
  learn-greek-easy-backend/tests/integration/api/test_admin_announcements.py
  learn-greek-easy-backend/tests/unit/schemas/test_announcement_schemas.py
Due: none

feat(admin2-20): drop "от <name>" creator label from announcement drawer
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailsDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementsTab.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-20): drop peopleReached + withLink stat cards from announcements tab
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementsTab.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(admin2-20): sweep orphan announcements.* i18n keys
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

test(admin2-20): update + extend tests for drawer/list cleanup
  learn-greek-easy-backend/tests/integration/api/test_admin_announcements.py
  learn-greek-easy-backend/tests/unit/schemas/test_announcement_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_announcement_service.py
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementDetailsDrawer.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementsTab.test.tsx
  learn-greek-easy-frontend/tests/e2e/admin-announcements.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(admin2-20): drop dead i18n entries from AnnouncementsTab mock dict
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementsTab.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck
