Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

fix(tnews): update SSE S3 key tests to use desc_id (not news_item_id)
  learn-greek-easy-backend/tests/unit/api/test_admin_news_b2_a2_audio_stream.py
Due: none

feat(ncrud-01): make news_items.situation_id NOT NULL with CASCADE
  learn-greek-easy-backend/alembic/versions/20260403_ncrud_01_make_situation_id_not_null.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/tests/unit/repositories/test_news_item_repository.py
Due: none

feat(ncrud-02): replace news schemas with Situation-aligned field names
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
  learn-greek-easy-backend/tests/unit/test_news_country.py
Due: none

feat(ncrud-03): implement NewsItemService create/update/delete
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/repositories/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
Due: none

test(ncrud-03): remove stale delete NotImplementedError test
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

test(ncrud-05): rewrite admin CRUD tests for new service implementation
  learn-greek-easy-backend/tests/integration/api/test_admin_news.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

fix(ncrud-01): update nmig test for ondelete=CASCADE behavior
  learn-greek-easy-backend/tests/integration/models/test_nmig_news_data_migration.py
Due: none

feat(nwire-06): delete dead news B2/A2 SSE audio endpoints
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

feat(nwire-01): update NewsItemCreate/Update types and remove dead news types
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(nwire-02): rewire newsJsonValidation to use new field names
  learn-greek-easy-frontend/src/components/admin/news/newsJsonValidation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(nwire-03): remove dead Q/EN/RU badges from NewsItemsTable
  learn-greek-easy-frontend/src/components/admin/news/NewsItemsTable.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(nwire-04): strip audio/question UI from NewsItemEditModal, rename fields
  learn-greek-easy-frontend/src/components/admin/news/NewsItemEditModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(nwire-05): remove dead EN/RU branches from NewsCard.getLocalizedContent
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(nwire-07): remove stale tests for deleted audio SSE, question, and translation badge features
  learn-greek-easy-backend/tests/unit/api/test_admin_news_b2_a2_audio_stream.py
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsItemEditModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsItemsTable.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsGrid.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/adminNewsStore.sse.test.ts
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(nwire-01): allow null for NewsItemUpdate A2 fields
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(nclean-01): remove CultureQuestion from news module, add audio_count to list response
  learn-greek-easy-backend/src/api/v1/news.py
  learn-greek-easy-backend/src/repositories/news_item.py
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
Due: none

feat(nclean-02): remove CultureQuestion/CultureDeck creation from news seed methods
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

feat(nclean-04): remove card_id/deck_id from NewsItemResponse type and test factories
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsItemEditModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsItemsTable.test.tsx
  learn-greek-easy-frontend/src/components/dashboard/__tests__/NewsSection.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsGrid.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/NewsPage.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(nclean-03): update backend tests for news cleanup changes
  learn-greek-easy-backend/tests/integration/api/test_news.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
Due: none

fix: add country_counts to OpenAPI example, fix stale test docstring
  learn-greek-easy-backend/src/api/v1/news.py
  learn-greek-easy-backend/tests/integration/api/test_news.py
Due: none

fix(landing): show full descriptions on mobile, fix Cyprus independence dates
  learn-greek-easy-frontend/src/components/landing/Features.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: delete orphaned GET /admin/news/questions/{id} endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

feat(api): add source_image_url to learner situation list response
  learn-greek-easy-backend/src/api/v1/situations.py
  learn-greek-easy-backend/src/schemas/learner_situation.py
  learn-greek-easy-backend/tests/integration/api/test_learner_situations.py
Due: none

feat(types): add source_image_url to LearnerSituationListItem
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(situations): polish list page to match decks visual quality
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/SituationsPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(situations): match search field width with decks page
  learn-greek-easy-frontend/src/pages/SituationsPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ui): rename nav to Support, collapsible filters on mobile
  learn-greek-easy-frontend/src/components/decks/DeckFilters.tsx
  learn-greek-easy-frontend/src/components/layout/__tests__/Header.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/SituationsPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(schemas): add exercise-by-situation response schemas (SITEX-01)
  learn-greek-easy-backend/src/schemas/situation.py
Due: none

feat(i18n): add exercises tab keys for EN and RU (SITEX-05)
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

feat(admin): add GET /situations/{id}/exercises endpoint (SITEX-02)
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

feat(frontend): add exercise types and API method (SITEX-04)
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(admin): add exercises-by-situation endpoint tests (SITEX-03)
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/listening_dialog.py
  learn-greek-easy-backend/tests/integration/api/test_admin_situation_exercises.py
Due: none

feat(admin): add Exercises tab to situation detail modal (SITEX-06)
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationExercisesTab.tsx
  learn-greek-easy-frontend/src/components/admin/situations/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin): address CodeRabbit review comments
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin): remove exercise count from tab label and fix crash on expand
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationExercisesTab.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin): remove item_count pill from exercise accordion
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-backend/tests/integration/api/test_admin_situation_exercises.py
  learn-greek-easy-frontend/src/components/admin/situations/SituationExercisesTab.tsx
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): improve exercise item display with audio, Greek text, 2x2 grid
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-frontend/src/components/admin/situations/SituationExercisesTab.tsx
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): show description text for reading exercises
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-frontend/src/components/admin/situations/SituationExercisesTab.tsx
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin): fix correct answer highlighting in exercise display
  learn-greek-easy-frontend/src/components/admin/situations/SituationExercisesTab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(tests): align factory exercise payloads to production format + add visual tests
  learn-greek-easy-backend/tests/factories/listening_dialog.py
  learn-greek-easy-backend/tests/factories/situation_description.py
  learn-greek-easy-backend/tests/factories/situation_picture.py
  learn-greek-easy-frontend/tests/visual/admin-situation-exercises.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
