Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

test(LEXGEN-12-03): QA adversarial coverage — analytics, null values, flagged morphology, no-leak
  learn-greek-easy-frontend/src/components/admin/__tests__/LexgenProposalDetail.test.tsx
  learn-greek-easy-frontend/src/pages/admin/__tests__/LexgenInboxView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(NEWS-08): address CodeRabbit — stale-response guard, search aria-label, test assertions
  learn-greek-easy-backend/tests/integration/api/test_news_search.py
  learn-greek-easy-frontend/src/components/news/NewsFilters.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsFilters.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsReaderSheet.test.tsx
  learn-greek-easy-frontend/src/pages/NewsPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

i18n(LEXGEN-12-04): complete + parity-guard lexgenInbox EN/RU keys
  learn-greek-easy-frontend/src/i18n/__tests__/lexgenInbox.i18n.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-12-05): E2E acceptance spec for verification inbox (queue, detail no-scores, empty state)
  learn-greek-easy-frontend/tests/e2e/admin-lexgen-inbox.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-12-05): seed + clear routes for verification inbox E2E; lexgenInbox tab helper
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-frontend/tests/e2e/helpers/admin-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-12): align admin-shell smoke with new lexgenInbox tab (11 tabs + H1 coverage)
  learn-greek-easy-frontend/tests/e2e/admin-shell-smoke.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(LEXGEN-12): CodeRabbit — hasOwnProperty label lookup, relax ru-placeholder i18n check
  learn-greek-easy-frontend/src/components/admin/LexgenProposalDetail.tsx
  learn-greek-easy-frontend/src/i18n/__tests__/lexgenInbox.i18n.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ui): align legacy page titles to dx-index-head pattern
  learn-greek-easy-frontend/src/i18n/locales/en/achievements.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/en/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/ru/achievements.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/statistics.json
  learn-greek-easy-frontend/src/pages/AchievementsPage.tsx
  learn-greek-easy-frontend/src/pages/MyDecksPage.tsx
  learn-greek-easy-frontend/src/pages/NewsPage.tsx
  learn-greek-easy-frontend/src/pages/SituationsPage.tsx
  learn-greek-easy-frontend/src/pages/Statistics.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs(CLAUDE.md): enforce one-line MEMORY.md index entries
  CLAUDE.md
Due: none

feat(news): karaoke word-highlighting in the news reader drawer
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-frontend/src/components/news/NewsReaderSheet.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsReaderSheet.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-13-01): RED model+migration acceptance tests for review_log & proposal_attempt
  learn-greek-easy-backend/tests/integration/migrations/test_lexgen13_tables.py
  learn-greek-easy-backend/tests/unit/db/test_proposal_attempt_model.py
  learn-greek-easy-backend/tests/unit/db/test_review_log_model.py
Due: none

feat(LEXGEN-13-01): review_log & proposal_attempt models + migration
  learn-greek-easy-backend/alembic/versions/20260622_1200_lexgen13_review_tables_word_proposal_review_log_and_proposal_attempt.py
  learn-greek-easy-backend/src/db/models.py
Due: none

test(LEXGEN-13-01): QA Mode B adversarial edge coverage
  learn-greek-easy-backend/tests/unit/db/test_lexgen13_adversarial.py
Due: none

test(LEXGEN-13-02): RED tests for LexgenReviewService approve/edit/regenerate/reject + per-field logging
  learn-greek-easy-backend/src/services/lexgen_review_service.py
  learn-greek-easy-backend/tests/integration/services/test_lexgen_review_service.py
  learn-greek-easy-backend/tests/unit/core/test_word_proposal_state.py
Due: none

feat(LEXGEN-13-02): LexgenReviewService approve/edit/regenerate/reject + per-field logging + needs_review→generating guard edge
  learn-greek-easy-backend/src/core/word_proposal_state.py
  learn-greek-easy-backend/src/services/lexgen_review_service.py
  learn-greek-easy-backend/tests/unit/core/test_word_proposal_state.py
Due: none

test(LEXGEN-13-02): QA Mode B — fix chain-mock self-binding + adversarial coverage
  learn-greek-easy-backend/tests/integration/services/test_lexgen_review_service.py
Due: none

test(LEXGEN-13-03): RED tests for admin review-action endpoints (approve/edit/regenerate/reject)
  learn-greek-easy-backend/tests/integration/api/test_lexgen_review_endpoints.py
Due: none

feat(LEXGEN-13-03): admin review-action endpoints (approve/edit/regenerate/reject) + request schemas
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/lexgen_generator_service.py
  learn-greek-easy-backend/src/services/lexgen_judge_service.py
  learn-greek-easy-backend/src/services/lexgen_review_service.py
Due: none

revert: drop out-of-scope null-evidence guards from LEXGEN-13-03 (see QA notes)
  learn-greek-easy-backend/src/services/lexgen_generator_service.py
  learn-greek-easy-backend/src/services/lexgen_judge_service.py
  learn-greek-easy-backend/src/services/lexgen_review_service.py
  learn-greek-easy-backend/tests/integration/api/test_lexgen_review_endpoints.py
Due: none

feat(LEXGEN-13-04): inbox review action controls + inline per-field edit + mutation hooks
  learn-greek-easy-frontend/src/components/admin/LexgenProposalActions.tsx
  learn-greek-easy-frontend/src/components/admin/LexgenProposalDetail.tsx
  learn-greek-easy-frontend/src/hooks/useLexgenProposals.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/admin/LexgenInboxView.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-13-04): QA Mode B — component tests for review action controls + edit affordance
  learn-greek-easy-frontend/src/components/admin/__tests__/LexgenProposalActions.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(LEXGEN-13-05): EN+RU i18n for inbox review actions (RU quality pass + key reconciliation)
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

feat(LEXGEN-13-06): E2E flows + deterministic fake LLM + test-read endpoints + seed packets
  .github/workflows/test.yml
  docs/e2e-seeding.md
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/services/lexgen_fake_openrouter.py
  learn-greek-easy-backend/src/services/lexgen_review_service.py
  learn-greek-easy-backend/tests/integration/api/test_lexgen_seed_read_endpoints.py
  learn-greek-easy-backend/tests/integration/services/test_lexgen_fake_openrouter_chain.py
  learn-greek-easy-frontend/tests/e2e/lexgen-inbox-actions.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(LEXGEN-13-01): align migration column comments with models (alembic check drift)
  learn-greek-easy-backend/alembic/versions/20260622_1200_lexgen13_review_tables_word_proposal_review_log_and_proposal_attempt.py
Due: none

fix(LEXGEN-13): update LEXGEN-12 tests for 13-04 hooks + resolve E2E proposal id via test endpoint (admin endpoint needs auth raw request lacks)
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/tests/integration/api/test_lexgen_seed_read_endpoints.py
  learn-greek-easy-frontend/src/components/admin/__tests__/LexgenProposalDetail.test.tsx
  learn-greek-easy-frontend/src/pages/admin/__tests__/LexgenInboxView.test.tsx
  learn-greek-easy-frontend/tests/e2e/lexgen-inbox-actions.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(LEXGEN-13-06): update LEXGEN-12 e2e for added actions + dedicated approve deck in lexgen seed (robust deck Select)
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/tests/integration/api/test_lexgen_seed_read_endpoints.py
  learn-greek-easy-frontend/tests/e2e/admin-lexgen-inbox.spec.ts
  learn-greek-easy-frontend/tests/e2e/lexgen-inbox-actions.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(LEXGEN-13-06): self-heal approve deck before inbox nav (deck-only seed) to survive concurrent seed/all truncation
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/api/test_lexgen_seed_read_endpoints.py
  learn-greek-easy-frontend/tests/e2e/lexgen-inbox-actions.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(i18n): shorten RU wont_fix label to 'Не планируется'
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

fix(LEXGEN-13-06): retry approve-deck select to tolerate concurrent seed/all decks-table truncation
  learn-greek-easy-frontend/tests/e2e/lexgen-inbox-actions.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(a11y): darken kicker label color to --fg-2 for WCAG AA contrast (Dashboard accessibility — firefox shard CI)
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

chore(LEXGEN-13-06): TEMP diagnostic — capture decks-table state + /admin/decks response in approve flow
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/tests/integration/api/test_lexgen_seed_read_endpoints.py
  learn-greek-easy-frontend/tests/e2e/lexgen-inbox-actions.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(LEXGEN-13): deck Select page_size 200→100 + revert diagnostic/workarounds
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/api/test_lexgen_seed_read_endpoints.py
  learn-greek-easy-frontend/src/components/admin/LexgenProposalActions.tsx
  learn-greek-easy-frontend/tests/e2e/lexgen-inbox-actions.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(LEXGEN-13): CodeRabbit — uq_proposal_attempt(proposal_id,attempt_no) + idempotent approve-deck seed + unconditional idempotency assert
  learn-greek-easy-backend/alembic/versions/20260622_1200_lexgen13_review_tables_word_proposal_review_log_and_proposal_attempt.py
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/tests/integration/api/test_lexgen_seed_read_endpoints.py
Due: none

test(LEXGEN-14-01): RED tests for LexgenPipelineService.run_for_lemma
  learn-greek-easy-backend/src/services/lexgen_pipeline_service.py
  learn-greek-easy-backend/tests/integration/services/test_lexgen_pipeline_service.py
Due: none

feat(LEXGEN-14-01): LexgenPipelineService.run_for_lemma assemble→generate→verify→reconcile→judge
  learn-greek-easy-backend/src/services/lexgen_pipeline_service.py
Due: none

test(LEXGEN-14-01): QA Mode B — edge coverage (mid-chain reject, requested_by None, old-service import guard)
  learn-greek-easy-backend/tests/integration/services/test_lexgen_pipeline_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_pipeline_service_imports.py
Due: none

test(LEXGEN-14-02): RED tests for submit endpoint + cutover removal guards
  learn-greek-easy-backend/tests/integration/api/test_lexgen_submit_endpoint.py
  learn-greek-easy-backend/tests/unit/api/test_lexgen_cutover_removal.py
Due: none

feat(LEXGEN-14-02): POST /lexgen/proposals submit endpoint + schemas
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/cross_ai_verification_service.py
  learn-greek-easy-backend/src/services/local_verification_service.py
  learn-greek-easy-backend/src/services/noun_data_generation_service.py
  learn-greek-easy-backend/src/services/verification_tier.py
  learn-greek-easy-backend/src/services/wiktionary_verification_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry.py
  learn-greek-easy-backend/tests/unit/api/test_admin_verification_wiring.py
  learn-greek-easy-backend/tests/unit/api/v1/test_admin_generate_stream.py
  learn-greek-easy-backend/tests/unit/services/test_cross_ai_verification_service.py
  learn-greek-easy-backend/tests/unit/services/test_local_verification_service.py
  learn-greek-easy-backend/tests/unit/services/test_noun_data_generation_service.py
  learn-greek-easy-backend/tests/unit/services/test_verification_tier.py
  learn-greek-easy-backend/tests/unit/services/test_wiktionary_verification_service.py
Due: none

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
