Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

fix(admin): has_picture flag requires generated image, not just row
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/integration/api/test_admin_situations.py
Due: none

refactor(situations): drop unused partial_ready status
  learn-greek-easy-backend/alembic/versions/20260503_sitst_01_drop_partial_ready.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/tests/factories/situation.py
  learn-greek-easy-backend/tests/integration/api/test_admin_situations.py
  learn-greek-easy-backend/tests/integration/api/test_learner_situation_exercises.py
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/components/admin/situations/situationBadges.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
  learn-greek-easy-frontend/src/types/situation.ts
  learn-greek-easy-frontend/tests/visual/admin-situation-exercises.visual.spec.ts
  learn-greek-easy-frontend/tests/visual/admin-situations-list.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(news): clear waveform overlap with description
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(config): add required PICTURE_HOUSE_STYLE_DEFAULT setting (SPP-01)
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/tests/conftest.py
  learn-greek-easy-backend/tests/unit/test_config.py
Due: none

feat(db): add scene_en/scene_el/style_en columns to situation_pictures (SPP-02)
  learn-greek-easy-backend/alembic/versions/20260504_scene_01_add_structured_picture_prompt.py
  learn-greek-easy-backend/src/db/models.py
Due: none

feat(schemas): add paired scene_en/scene_el + style_en to NewsItemCreate (SPP-03)
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

feat(news): compose image_prompt from structured scene + style fields (SPP-04)
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

feat(api): add scene_en/scene_el/style_en optional fields to NewsItemCreate (SPP-05)
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Revert "feat(api): add scene_en/scene_el/style_en optional fields to NewsItemCreate (SPP-05)"
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): paired scene + length validation in news JSON validator (SPP-06)
  learn-greek-easy-frontend/src/components/admin/news/__tests__/newsJsonValidation.test.ts
  learn-greek-easy-frontend/src/components/admin/news/newsJsonValidation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(i18n): add EN+RU keys for scene validation messages (SPP-07)
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

docs(deployment): document required PICTURE_HOUSE_STYLE_DEFAULT env var (SPP-08)
  docs/deployment-guide.md
Due: none

ci(workflows): add PICTURE_HOUSE_STYLE_DEFAULT to backend env-needing steps (SPP-01 follow-up)
  .github/workflows/test.yml
Due: none

fix(scene): address CodeRabbit review feedback
  docs/deployment-guide.md
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-frontend/src/components/admin/news/__tests__/newsJsonValidation.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(scene-02): add scene_ru column with backfill migration
  learn-greek-easy-backend/alembic/versions/20260504_scru_01_add_scene_ru_to_situation_pictures.py
  learn-greek-easy-backend/src/db/models.py
Due: none

feat(scene-02): add scene_ru to NewsItemCreate with trilingual validator
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

feat(scene-02): add scene_ru fallback in NewsItemService.create
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

feat(scene-02): extend admin JSON validator for scene_ru
  learn-greek-easy-frontend/src/components/admin/news/__tests__/newsJsonValidation.test.ts
  learn-greek-easy-frontend/src/components/admin/news/newsJsonValidation.ts
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(scene-02): update scenePaired i18n message for trilingual scene parity
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

fix(scene-02): address CodeRabbit findings on PR #475
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
  learn-greek-easy-frontend/src/components/admin/news/newsJsonValidation.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(pedit-01): lift picture-style fallback to shared picture_prompt module
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/src/services/picture_prompt.py
  learn-greek-easy-backend/tests/unit/services/test_picture_prompt.py
Due: none

feat(pedit-02): add PictureUpdate schema + extend PictureNested with scene/style fields
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-backend/tests/schemas/test_situation_schemas.py
Due: none

feat(scene-03): add situations.detail.picturePrompt i18n keys for EN and RU
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

feat(pedit-03): add PATCH /api/v1/admin/situations/{id}/picture endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

fix(scene-03): skip image_prompt update when scene_en cleared (NOT NULL constraint)
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

feat(pedit-05): extend PictureNested type and add updateSituationPicture API client
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(scene-03): add integration tests for picture update endpoint
  learn-greek-easy-backend/tests/integration/api/test_admin_situation_picture_update.py
Due: none

feat(scene-03): add PicturePromptForm and wire into Picture tab (PEDIT-07)
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationPicturePromptForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(pedit-08): add Vitest/RTL coverage for SituationPicturePromptForm
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationDetailModal.picturePromptForm.test.tsx
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationPicturePromptForm.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(pedit-09): add E2E spec for admin situation picture prompt edit
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/tests/e2e/admin-situation-picture-prompt.spec.ts
  learn-greek-easy-frontend/tests/e2e/helpers/admin-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(scene-03): click situation-edit-btn to open detail modal in E2E spec
  learn-greek-easy-frontend/tests/e2e/admin-situation-picture-prompt.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(scene-03): scope toast assertion with .first() to avoid strict-mode collision on chromium
  learn-greek-easy-frontend/tests/e2e/admin-situation-picture-prompt.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(scene-03): address CodeRabbit feedback on PR #476
  learn-greek-easy-backend/src/services/picture_prompt.py
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationPicturePromptForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(scene-03): throw on E2E seed failure for clearer hook errors
  learn-greek-easy-frontend/tests/e2e/admin-situation-picture-prompt.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(picgen): add OpenRouter image-generation config (PICGEN-01)
  learn-greek-easy-backend/.env.example
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/tests/unit/test_config.py
Due: none

feat(picgen): add OpenRouterService.generate_image() (PICGEN-02)
  learn-greek-easy-backend/src/core/exceptions.py
  learn-greek-easy-backend/src/schemas/nlp.py
  learn-greek-easy-backend/src/services/openrouter_service.py
  learn-greek-easy-backend/tests/unit/services/test_openrouter_service.py
Due: none

fix(picgen): send OpenRouter image config in camelCase (PICGEN-02)
  learn-greek-easy-backend/src/services/openrouter_service.py
  learn-greek-easy-backend/tests/unit/services/test_openrouter_service.py
Due: none

feat(picgen): add situation_picture_service primitives (PICGEN-03)
  learn-greek-easy-backend/src/services/situation_picture_service.py
  learn-greek-easy-backend/tests/unit/services/test_situation_picture_service.py
Due: none

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
