Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

[LDLG-POL-02] Add cefrFilter state and setCefrFilter action to adminDialogStore
  learn-greek-easy-frontend/src/stores/adminDialogStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LDLG-POL-03] ListeningDialogsTab UI polish: summary cards, search, CEFR filter, badge pills, Edit button
  learn-greek-easy-frontend/src/components/admin/ListeningDialogsTab.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: include C1/C2 CEFR levels in summary cards and filter dropdown
  learn-greek-easy-frontend/src/components/admin/ListeningDialogsTab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LDLG-POL] Admin Listening Tab Polish (#382)
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-frontend/src/components/admin/ListeningDialogsTab.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminDialogStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-12-01] DB migration + shared greek_articles utility
  learn-greek-easy-backend/alembic/versions/20260314_1000_add_reverse_lookup_lower_index.py
  learn-greek-easy-backend/src/services/local_verification_service.py
  learn-greek-easy-backend/src/utils/__init__.py
  learn-greek-easy-backend/src/utils/greek_articles.py
  learn-greek-easy-backend/tests/unit/utils/test_greek_articles.py
Due: none

[NGEN-12-02] Backend Reverse Lookup Service + Endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/reverse_lookup_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_reverse_lookup.py
  learn-greek-easy-backend/tests/unit/services/test_reverse_lookup_service.py
Due: none

[NGEN-12-03] Frontend script detection + reverse lookup integration
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/utils/__tests__/greekValidation.test.ts
  learn-greek-easy-frontend/src/utils/greekValidation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-12-04] Component tests + polish for reverse lookup
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: use unique revision ID for reverse lookup migration
  learn-greek-easy-backend/alembic/versions/20260314_1000_add_reverse_lookup_lower_index.py
Due: none

fix: address CodeRabbit review comments
  learn-greek-easy-backend/alembic/versions/20260314_1000_add_reverse_lookup_lower_index.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-12] Reverse Lookup — DB Migration, Backend Service, Frontend Integration (#383)
  learn-greek-easy-backend/alembic/versions/20260314_1000_add_reverse_lookup_lower_index.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/local_verification_service.py
  learn-greek-easy-backend/src/services/reverse_lookup_service.py
  learn-greek-easy-backend/src/utils/__init__.py
  learn-greek-easy-backend/src/utils/greek_articles.py
  learn-greek-easy-backend/tests/unit/api/test_admin_reverse_lookup.py
  learn-greek-easy-backend/tests/unit/services/test_reverse_lookup_service.py
  learn-greek-easy-backend/tests/unit/utils/test_greek_articles.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/utils/__tests__/greekValidation.test.ts
  learn-greek-easy-frontend/src/utils/greekValidation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[DECL-01] Backend — Generator Method + Schema + Tests
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/word_entries.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/schemas/card_record.py
  learn-greek-easy-backend/src/services/card_generator_service.py
  learn-greek-easy-backend/tests/unit/services/test_card_generator_service.py
Due: none

[DECL-02] Wire generate_declension_cards into all call sites, delete bulk upload endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/word_entries.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/src/services/word_entry_linking_service.py
  learn-greek-easy-backend/tests/integration/api/test_word_entry_audio_url.py
Due: none

fix(reverse-lookup): replace exact-match with regex word-boundary + pg_trgm fuzzy search
  learn-greek-easy-backend/alembic/versions/20260314_1100_add_translations_trgm_index.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/reverse_lookup_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_reverse_lookup.py
  learn-greek-easy-backend/tests/unit/services/test_reverse_lookup_service.py
Due: none

fix(reverse-lookup): replace exact-match with regex word-boundary + pg_trgm fuzzy search (#385)
  learn-greek-easy-backend/alembic/versions/20260314_1100_add_translations_trgm_index.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/reverse_lookup_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_reverse_lookup.py
  learn-greek-easy-backend/tests/unit/services/test_reverse_lookup_service.py
Due: none

fix: resolve Alembic revision ID collision in trgm migration
  learn-greek-easy-backend/alembic/versions/20260314_1100_add_translations_trgm_index.py
Due: none

perf(reverse-lookup): use GIN-indexed % operator as pre-filter for word_similarity
  learn-greek-easy-backend/src/services/reverse_lookup_service.py
  learn-greek-easy-backend/tests/unit/services/test_reverse_lookup_service.py
Due: none

fix: add IF NOT EXISTS to trgm index migration
  learn-greek-easy-backend/alembic/versions/20260314_1100_add_translations_trgm_index.py
Due: none

[DECL-03] Frontend declension card support: eligibility, labels, i18n, tests
  learn-greek-easy-frontend/src/components/admin/WordEntryCards.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryCards.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/lib/__tests__/cardTypeEligibility.test.ts
  learn-greek-easy-frontend/src/lib/__tests__/variantKeyLabels.test.ts
  learn-greek-easy-frontend/src/lib/cardTypeEligibility.ts
  learn-greek-easy-frontend/src/lib/variantKeyLabels.ts
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: add CREATE EXTENSION pg_trgm to trgm index migration
  learn-greek-easy-backend/alembic/versions/20260314_1100_add_translations_trgm_index.py
Due: none

fix: CodeRabbit fixes — arrow notation, gender validation
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-frontend/src/lib/__tests__/variantKeyLabels.test.ts
  learn-greek-easy-frontend/src/lib/variantKeyLabels.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[DECL] Declension Cards Generator (#384)
  learn-greek-easy-backend/alembic/versions/20260314_1100_add_translations_trgm_index.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/word_entries.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/schemas/card_record.py
  learn-greek-easy-backend/src/services/card_generator_service.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/src/services/word_entry_linking_service.py
  learn-greek-easy-backend/tests/integration/api/test_word_entry_audio_url.py
  learn-greek-easy-backend/tests/unit/services/test_card_generator_service.py
  learn-greek-easy-frontend/src/components/admin/WordEntryCards.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryCards.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/lib/__tests__/cardTypeEligibility.test.ts
  learn-greek-easy-frontend/src/lib/__tests__/variantKeyLabels.test.ts
  learn-greek-easy-frontend/src/lib/cardTypeEligibility.ts
  learn-greek-easy-frontend/src/lib/variantKeyLabels.ts
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LDLG-POL2-01] Extract shared badge constants + strip SSE/delete/generate code
  learn-greek-easy-frontend/src/components/admin/DialogDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/ListeningDialogsTab.tsx
  learn-greek-easy-frontend/src/components/admin/dialogBadges.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LDLG-POL2-02] Modal header restructure + metadata badges + tabs
  learn-greek-easy-frontend/src/components/admin/DialogDetailModal.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LDLG-POL2-03] Chat-bubble transcript layout
  learn-greek-easy-frontend/src/components/admin/DialogDetailModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor: hoist splitScenario result to avoid repeated parsing
  learn-greek-easy-frontend/src/components/admin/DialogDetailModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LDLG-POL2] Dialog Detail Polish (#386)
  learn-greek-easy-frontend/src/components/admin/DialogDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/ListeningDialogsTab.tsx
  learn-greek-easy-frontend/src/components/admin/dialogBadges.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: [LDLG-POL3-01] add word_timestamps karaoke timing to dialog lines backend
  learn-greek-easy-backend/alembic/versions/20260314_1200_add_word_timestamps_to_dialog_lines.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_dialog_audio.py
Due: none

fix(ui): move voice speed toggle to bottom-right with label on word reference page
  learn-greek-easy-frontend/src/components/ui/AudioSpeedToggle.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ui): increase speaker icon size on word reference page
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: remove C1/C2 CEFR levels from listening dialogs
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-frontend/src/components/admin/ListeningDialogsTab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(i18n): update generate noun placeholder to reflect multilingual input
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

feat: [LDLG-POL3-02] add karaoke word rendering to DialogDetailModal frontend
  learn-greek-easy-frontend/src/components/admin/DialogDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DialogDetailModal.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin): suppress redundant duplicate messages when word already in current deck
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: [LDLG-POL3] CodeRabbit fixes — dialogue_input_index, WordTimestamp model, narrow exception, typed test fixture
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-frontend/src/components/admin/__tests__/DialogDetailModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: restore Approve & Save flow via new POST /api/v1/admin/word-entries endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-backend/tests/unit/api/test_admin_create_word_entry.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/services/index.ts
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LDLG-POL3] Karaoke Highlighting — Backend word_timestamps (#387)
  learn-greek-easy-backend/alembic/versions/20260314_1200_add_word_timestamps_to_dialog_lines.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_dialog_audio.py
  learn-greek-easy-frontend/src/components/admin/DialogDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DialogDetailModal.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: restore Approve & Save flow via new POST /api/v1/admin/word-entries endpoint (#388)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-backend/tests/unit/api/test_admin_create_word_entry.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/services/index.ts
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(RLOOK-01-01): four-tier scoring, NOUN filter, fuzzy threshold, score in API
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/reverse_lookup_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_reverse_lookup.py
  learn-greek-easy-backend/tests/unit/services/test_reverse_lookup_service.py
Due: none
