Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

[AUDIO-02.1] Add ElevenLabs exception classes
  learn-greek-easy-backend/src/core/exceptions.py
Due: none

[AUDIO-02.2] Create ElevenLabsService class structure with singleton
  learn-greek-easy-backend/src/services/elevenlabs_service.py
Due: none

[AUDIO-02.3] Implement list_voices() with cache
  learn-greek-easy-backend/src/services/elevenlabs_service.py
Due: none

[AUDIO-02.4] Implement generate_speech() with voice selection and retry
  learn-greek-easy-backend/src/core/exceptions.py
  learn-greek-easy-backend/src/services/elevenlabs_service.py
Due: none

[AUDIO-02.5] Add unit tests for ElevenLabs exception classes
  learn-greek-easy-backend/tests/unit/core/test_elevenlabs_exceptions.py
Due: none

[AUDIO-02.6] Add unit tests for service core (singleton, config, headers)
  learn-greek-easy-backend/tests/unit/services/test_elevenlabs_service.py
Due: none

[AUDIO-02.7] Add unit tests for list_voices() and cache behavior
  learn-greek-easy-backend/tests/unit/services/test_elevenlabs_service.py
Due: none

[AUDIO-02.8] Add unit tests for generate_speech() and TTS API
  learn-greek-easy-backend/tests/unit/services/test_elevenlabs_service.py
Due: none

[AUDIO-02] ElevenLabs Text-to-Speech Service (#277)
  learn-greek-easy-backend/src/core/exceptions.py
  learn-greek-easy-backend/src/services/elevenlabs_service.py
  learn-greek-easy-backend/tests/unit/core/test_elevenlabs_exceptions.py
  learn-greek-easy-backend/tests/unit/services/test_elevenlabs_service.py
Due: none

[AUDIO-03.1] Add generate_audio_for_news_item_task function shell
  learn-greek-easy-backend/src/tasks/background.py
Due: none

[AUDIO-03.2] Implement TTS -> S3 -> DB update flow in background task
  learn-greek-easy-backend/src/tasks/background.py
Due: none

[AUDIO-03.3] Export generate_audio_for_news_item_task in __init__.py
  learn-greek-easy-backend/src/tasks/__init__.py
Due: none

[AUDIO-03.4] Wire audio generation task into create_news_item endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

[AUDIO-03.5] Wire audio generation task into update_news_item endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

[AUDIO-03.6] Add unit tests for generate_audio_for_news_item_task
  learn-greek-easy-backend/tests/unit/tasks/test_audio_generation_task.py
Due: none

[AUDIO-03.7] Add unit tests for admin endpoint audio task integration
  learn-greek-easy-backend/tests/unit/api/test_admin_audio_integration.py
Due: none

[AUDIO-03] Update test_all_exports_defined for new task export
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
Due: none

[AUDIO-03] News Article Audio Generation Pipeline (#278)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/tasks/__init__.py
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/tests/unit/api/test_admin_audio_integration.py
  learn-greek-easy-backend/tests/unit/tasks/test_audio_generation_task.py
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
Due: none

[ADAUD-01] Expose audio metadata fields in NewsItemResponse
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
Due: none

[ADAUD-01] Add tests for audio metadata fields in API responses
  learn-greek-easy-backend/tests/integration/api/test_news.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_audio_metadata.py
Due: none

[ADAUD-02] Add regenerate audio endpoint for news items
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_audio_integration.py
Due: none

[ADAUD-03] Add audio metadata types and regenerateAudio API method
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADAUD-04] Add regenerateAudio action with cooldown to adminNewsStore
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADAUD-05] Add frontend i18n audio translation keys
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

[ADAUD-06] Add audio status indicator and regenerate button to news table
  learn-greek-easy-frontend/src/components/admin/news/NewsItemsTable.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsTab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADAUD-07] Add audio status section and regenerate button to NewsItemEditModal
  learn-greek-easy-frontend/src/components/admin/news/NewsItemEditModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADAUD] Admin Audio Dashboard - Audio Status & Regeneration (#279)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/integration/api/test_news.py
  learn-greek-easy-backend/tests/unit/api/test_admin_audio_integration.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_audio_metadata.py
  learn-greek-easy-frontend/src/components/admin/news/NewsItemEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsItemsTable.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsTab.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[APRV-01] Wire real audio playback into WaveformPlayer
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[APRV-02] Add showSpeedControl prop to hide speed pills
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[APRV-03] Add variant prop for admin vs culture styling
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[APRV-04] Add disabled state to WaveformPlayer
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[APRV-05] Add i18n keys for audio player
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

[APRV-06] Fix store reactivity for selectedItem after regeneration
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[APRV-07] Integrate WaveformPlayer into NewsItemEditModal
  learn-greek-easy-frontend/src/components/admin/news/NewsItemEditModal.tsx
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[APRV-08] Add comprehensive tests for new WaveformPlayer props
  learn-greek-easy-frontend/src/components/culture/__tests__/WaveformPlayer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[APRV] Admin Audio Preview Player (#280)
  learn-greek-easy-frontend/src/components/admin/news/NewsItemEditModal.tsx
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/WaveformPlayer.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Include ElevenLabs response body in 401 error messages
  learn-greek-easy-backend/src/services/elevenlabs_service.py
Due: none

[A06-01] Add news_item_id FK and audio_s3_key to CultureQuestion
  learn-greek-easy-backend/alembic/versions/20260213_1939_aed6e9269356_add_news_item_id_and_audio_s3_key_to_.py
  learn-greek-easy-backend/src/db/models.py
Due: none

[A06-02] Add audio_url field to CultureQuestionQueueItem
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/tests/unit/services/test_culture_question_service.py
Due: none

[A06-03] Propagate audio_s3_key to linked CultureQuestions
  learn-greek-easy-backend/src/tasks/background.py
Due: none
