Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

feat(expra-05): add ExercisePracticePage full-screen session
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/ExercisePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(expra-07): add unit tests for store and SelectCorrectAnswerRenderer
  learn-greek-easy-frontend/src/components/exercises/__tests__/SelectCorrectAnswerRenderer.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/exercisePracticeStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(expra-06): register exercise practice routes and nav links
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/layout/MobileNav.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(test): update learner situations test URL to remove trailing slash
  learn-greek-easy-backend/tests/integration/api/test_learner_situations.py
Due: none

fix: remove max-w constraints from pages for consistent full-width layout
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckPage.tsx
  learn-greek-easy-frontend/src/pages/DeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/MockExamResultsPage.tsx
  learn-greek-easy-frontend/src/pages/MockExamSessionPage.tsx
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
  learn-greek-easy-frontend/src/pages/UpgradePage.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(expra): address CodeRabbit review comments
  learn-greek-easy-frontend/src/components/exercises/SelectCorrectAnswerRenderer.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/ExercisePracticePage.tsx
  learn-greek-easy-frontend/src/stores/exercisePracticeStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(nav): move Situations from Practice to Decks dropdown
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/layout/MobileNav.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sitdp): redesign situation detail page with source metadata and two-column layout
  learn-greek-easy-backend/alembic/versions/20260402_sitdp_01_add_source_metadata_to_situations.py
  learn-greek-easy-backend/src/api/v1/situations.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/learner_situation.py
  learn-greek-easy-backend/tests/integration/api/test_learner_situations.py
  learn-greek-easy-frontend/src/components/situations/SourceCard.tsx
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(situations): improve detail page layout — swap A2/B1 columns, align players, enlarge source card
  learn-greek-easy-frontend/src/components/situations/SourceCard.tsx
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(situations): show Greek title with UI-language subtitle on situation cards
  learn-greek-easy-frontend/src/pages/SituationsPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(situations): bottom-align card pills and add audio badge
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/SituationsPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(karaoke): start with gray text before audio plays for consistent appearance
  learn-greek-easy-frontend/src/components/shared/KaraokeText.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sitdp-02): add i18n keys and situation_id type to exerciseAPI
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/services/exerciseAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sitdp): add situation_id filter to exercise queue endpoint
  learn-greek-easy-backend/src/api/v1/exercises.py
  learn-greek-easy-backend/src/repositories/exercise_record.py
  learn-greek-easy-backend/src/services/exercise_sm2_service.py
  learn-greek-easy-backend/tests/integration/api/test_exercise_queue.py
Due: none

feat(sitdp-03): restructure SituationDetailPage with hero section and tabs
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sitdp-04): add ExercisePreviewCard component with unit tests
  learn-greek-easy-frontend/src/components/exercises/ExercisePreviewCard.tsx
  learn-greek-easy-frontend/src/components/exercises/__tests__/ExercisePreviewCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sitdp-05): wire exercises tab with live data and ExercisePreviewCard
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(test): update DialogDetailModal karaoke test to match new KaraokeText span rendering at t=0
  learn-greek-easy-frontend/src/components/admin/__tests__/DialogDetailModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(expra): address CodeRabbit review comments — type guard, localized badges, negative tests, correct exercise counts
  learn-greek-easy-backend/tests/integration/api/test_exercise_queue.py
  learn-greek-easy-frontend/src/components/exercises/ExercisePreviewCard.tsx
  learn-greek-easy-frontend/src/components/exercises/__tests__/ExercisePreviewCard.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(landing): update landing page copy for EN and RU
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-prettier

feat(sitdp-07-01): add scenePlaceholder i18n keys for EN and RU
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-prettier

feat(sitdp-07-02): add ScenePlaceholder component and image row to About tab
  learn-greek-easy-frontend/src/components/situations/ScenePlaceholder.tsx
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(landing): remove testimonials and stats section
  learn-greek-easy-frontend/src/components/landing/SocialProof.tsx
  learn-greek-easy-frontend/src/components/landing/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
  learn-greek-easy-frontend/src/pages/LandingPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(landing): update FAQ section — remove 3 items, revise 4 answers
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-prettier

fix(landing): remove deleted FAQ keys from component hardcoded list
  learn-greek-easy-frontend/src/components/landing/FAQ.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(landing): expand footer copyright to include Greece and worldwide
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-prettier

fix(sitdp-07-02): make image grid single-column when source_url is absent
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(landing): remove SocialProof section and its E2E test assertion
  learn-greek-easy-frontend/src/components/landing/SocialProof.tsx
  learn-greek-easy-frontend/src/components/landing/index.ts
  learn-greek-easy-frontend/src/pages/LandingPage.tsx
  learn-greek-easy-frontend/tests/e2e/landing-page.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(infra): add greeklish.eu custom domain to production config
  .github/workflows/deploy-production.yml
  .railway/variables.json
Due: none

fix(landing): update SEO meta tags for greeklish.eu domain
  learn-greek-easy-frontend/src/pages/LandingPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(landing): update index.html meta tags and add OG tags
  learn-greek-easy-frontend/index.html
Due: none

fix(landing): hide CTA button on mobile to prevent header overflow
  learn-greek-easy-frontend/src/components/landing/Header.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(tnews-01): add scenario_el_a2 to situations, strip news_items content columns
  learn-greek-easy-backend/alembic/versions/20260402_tnews_01_add_scenario_el_a2_drop_news_content.py
  learn-greek-easy-backend/src/db/models.py
Due: none

feat(tnews-03): rewrite news repo and service with JOIN-based queries
  learn-greek-easy-backend/src/repositories/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
Due: none

feat(tnews-04): update schemas, SSE pipelines, seed service for thin NewsItem
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

feat(tnews-05): rewrite factories and tests for thinned NewsItem model
  learn-greek-easy-backend/tests/factories/news.py
  learn-greek-easy-backend/tests/integration/api/test_admin_news.py
  learn-greek-easy-backend/tests/integration/api/test_news.py
  learn-greek-easy-backend/tests/unit/api/test_admin_news_b2_a2_audio_stream.py
  learn-greek-easy-backend/tests/unit/repositories/test_news_item_repository.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_audio_metadata.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
  learn-greek-easy-backend/tests/unit/test_news_country.py
Due: none

fix(tnews): update seed_service tests for thinned NewsItem model
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
Due: none

fix(tnews): seed Situation+SituationDescription for seeded NewsItems; delete admin create E2E tests
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/tests/e2e/news-country-filter.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(tnews): use DRAFT status for news seed situations; remove NEWSFEED-06 E2E test
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/tests/e2e/news-feed.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(tnews): apply CodeRabbit review fixes
  learn-greek-easy-backend/alembic/versions/20260402_tnews_01_add_scenario_el_a2_drop_news_content.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/factories/news.py
Due: none

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
