Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

feat(NEWS-07): restyle filter bar + grid spacing (NWSR-04, NWSR-06)
  docs/design-system.md
  learn-greek-easy-frontend/src/components/news/NewsFilters.tsx
  learn-greek-easy-frontend/src/components/news/NewsGrid.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsGrid.test.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(LEXGEN-10-04): regenerate x2 -> flag loop (Check E self-heal + bounded flag)
  learn-greek-easy-backend/src/services/lexgen_verify_service.py
  learn-greek-easy-backend/tests/integration/services/test_lexgen_verify_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_verify_regen.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_verify_service_adversarial.py
Due: none

test(LEXGEN-10-04): adversarial coverage for regen loop
  learn-greek-easy-backend/tests/unit/services/test_lexgen_verify_regen.py
Due: none

feat(NEWS-07): two-zone NewsCard + footer + skeleton + player restyle (NWSR-01/02/03/05)
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/WaveformPlayer.test.tsx
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/NewsCardSkeleton.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsGrid.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/AudioSurface.test.tsx
  learn-greek-easy-frontend/src/utils/audioSpeed.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(NEWS-07): in-app reader sheet + card→reader wiring + analytics (NWSR-07/08/09)
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/NewsGrid.tsx
  learn-greek-easy-frontend/src/components/news/NewsReaderSheet.tsx
  learn-greek-easy-frontend/src/components/news/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/NewsPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(NEWS-07): reader + two-zone card coverage (NWSR-11)
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsReaderSheet.test.tsx
  learn-greek-easy-frontend/src/hooks/__tests__/useAudioPlayer.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(NEWS-07): legible news-mini speed pills on light surface + final verify (NWSR-05/10/12)
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/WaveformPlayer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(LEXGEN-10): CodeRabbit — map gate→field + include warns in terminal flags; tighten ADV-06b/ADV-09; drop stale RED comments
  learn-greek-easy-backend/src/services/lexgen_verify_service.py
  learn-greek-easy-backend/tests/integration/services/test_lexgen_verify_service.py
  learn-greek-easy-backend/tests/unit/core/test_lexgen_verify.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_verify_regen.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_verify_service_adversarial.py
Due: none

fix(NEWS-07): dashboard NewsCard renders as anchor link (reader mode stays button) — fixes NEWSFEED-12
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(NEWS-07): reader Open-original CTA is a real anchor + NEWSFEED-PAGE-06 tests reader flow
  learn-greek-easy-frontend/src/components/news/NewsReaderSheet.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsReaderSheet.test.tsx
  learn-greek-easy-frontend/tests/e2e/news-page.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(NEWS-07): UTC-safe publication date + restrict outbound links to http(s) (CodeRabbit)
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/NewsReaderSheet.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsReaderSheet.test.tsx
  learn-greek-easy-frontend/src/utils/__tests__/newsFormat.test.ts
  learn-greek-easy-frontend/src/utils/newsFormat.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-11-01): RED schema tests for JudgeRubric/JudgeBlockingIssue
  learn-greek-easy-backend/tests/unit/schemas/test_lexgen_judge_schemas.py
Due: none

feat(LEXGEN-11-01): JudgeRubric/JudgeBlockingIssue content-only rubric schemas
  learn-greek-easy-backend/src/schemas/lexgen.py
Due: none

test(LEXGEN-11-01): adversarial schema coverage (content-field vocab, type strictness, required dims)
  learn-greek-easy-backend/tests/unit/schemas/test_lexgen_judge_schemas.py
Due: none

test(LEXGEN-11-02): RED service tests — ensemble call, disagreement, persistence, binary routing
  learn-greek-easy-backend/tests/unit/services/test_lexgen_judge_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_judge_service_adversarial.py
Due: none

feat(LEXGEN-11-02): LexgenJudgeService — ensemble judge, disagreement, judge_scores, binary routing
  learn-greek-easy-backend/src/services/lexgen_judge_service.py
Due: none

test(LEXGEN-11-02): adversarial coverage — D1 boundary, both-errored, dedup, recursive no-aggregate-key
  learn-greek-easy-backend/tests/unit/services/test_lexgen_judge_service_adv2.py
Due: none

design(tokens): repo follows Claude Design for token values + flip source-of-truth
  CLAUDE.md
  docs/design-system.md
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

feat(LEXGEN-11-03): judge model + cost-guardrail config; simplify service settings reads
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/services/lexgen_judge_service.py
  learn-greek-easy-backend/tests/unit/test_config.py
Due: none

test(LEXGEN-11-03): assert exactly two distinct-family judge slugs
  learn-greek-easy-backend/tests/unit/test_config.py
Due: none

fix(LEXGEN-11): CodeRabbit — bound judge config (exactly 2 distinct slugs, positive attempts/tokens), ASCII x in descriptions, refresh stale test headers
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_judge_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_judge_service_adversarial.py
Due: none

docs(design): add Claude Design project IDs for /design-pull
  CLAUDE.md
Due: none

test(NWS8-01): RED tests for news search q param
  learn-greek-easy-backend/tests/integration/api/test_news_search.py
Due: none

feat(NWS8-01): add q search param to GET /api/v1/news (accent-insensitive)
  learn-greek-easy-backend/src/api/v1/news.py
  learn-greek-easy-backend/src/repositories/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
Due: none

test(NWS8-01): fix test helper double-description bug + adversarial edge coverage
  learn-greek-easy-backend/tests/integration/api/test_news_search.py
Due: none

test(NWS8-04): RED tests for localized long-month date
  learn-greek-easy-frontend/src/utils/__tests__/newsFormat.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-12-01): RED acceptance tests for read-only proposal inbox API
  learn-greek-easy-backend/tests/factories/word_proposal.py
  learn-greek-easy-backend/tests/integration/api/test_admin_lexgen_inbox.py
Due: none

feat(LEXGEN-12-01): read-only admin LEXGEN proposal inbox API (list + detail, scores excluded)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
Due: none

fix(NWS8-04): localize formatPublicationDate to long month with active UI language
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/NewsReaderSheet.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.eager.adversarial.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.srcset.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsReaderSheet.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/utils/newsFormat.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(NWS8-02): add debounced search input to NewsFilters
  learn-greek-easy-frontend/src/components/news/NewsFilters.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsFilters.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(NWS8-03): wire q param through getNewsItems and NewsPage
  learn-greek-easy-frontend/src/pages/NewsPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/NewsPage.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-12-01): QA adversarial coverage — ordering edge cases, score poison-pill, content-null
  learn-greek-easy-backend/tests/integration/api/test_admin_lexgen_inbox.py
Due: none

test(NWS8-02/03/05): QA Mode B — adversarial coverage for search input, q wiring, sr-only a11y
  learn-greek-easy-frontend/src/components/news/__tests__/NewsFilters.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsReaderSheet.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/NewsPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(LEXGEN-12-02): admin verification inbox queue view (read-only)
  learn-greek-easy-frontend/src/hooks/useLexgenProposals.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/pages/admin/LexgenInboxView.tsx
  learn-greek-easy-frontend/src/pages/admin/__tests__/LexgenInboxView.test.tsx
  learn-greek-easy-frontend/src/pages/admin/types.ts
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(NWS8-06): align news E2E specs with search input + sr-only reader title
  learn-greek-easy-frontend/src/components/news/__tests__/NewsFilters.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-12-02): QA adversarial coverage — counts, dates, no-score, a11y
  learn-greek-easy-frontend/src/pages/admin/__tests__/LexgenInboxView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-12-03): RED component tests + stub for proposal detail view
  learn-greek-easy-frontend/src/components/admin/LexgenProposalDetail.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/LexgenProposalDetail.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(LEXGEN-12-03): read-only proposal detail view (provenance, flagged markers, scores hidden)
  learn-greek-easy-frontend/src/components/admin/LexgenProposalDetail.tsx
  learn-greek-easy-frontend/src/hooks/useLexgenProposals.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/admin/LexgenInboxView.tsx
  learn-greek-easy-frontend/src/pages/admin/__tests__/LexgenInboxView.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(NWS8-01): Greek case-insensitive search — lower + final-sigma normalize
  learn-greek-easy-backend/src/repositories/news_item.py
Due: none
