Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

test(admin/announcements): add toolbar search + sort integration tests (ANLP-07)
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementsTab.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e/announcements): exclude trash-button testid from row selector
  learn-greek-easy-frontend/tests/e2e/admin-announcements.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin/announcements): apply CodeRabbit feedback on PR #499
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementsTab.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementHistoryRows.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementsTab.test.tsx
  learn-greek-easy-frontend/tests/e2e/admin-announcements.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(e2e): add ANND-E2E-08 search + clear flow on admin announcements
  learn-greek-easy-frontend/tests/e2e/admin-announcements.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin/announcements): consolidate ANLP cleanup — constants, exports, testids, guard, tests
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementHistoryRows.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementsTab.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementsToolbar.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementHistoryRows.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementsTab.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/announcementsConstants.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-16): define drawer-head-content + title/breadcrumb/head-row CSS atoms
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

feat(admin2-16): add btn class + icons + testid to drawer footer buttons
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailsDrawer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

style(design-system): align --accent token with design-handoff spec
  docs/design-system.md
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

feat(admin2-16): wrap details-drawer header in .drawer-head-content
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailsDrawer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs(design-system): document drawer-head chrome atom family
  docs/design-system.md
Due: none

test(admin2-16): header DOM + footer button classlist assertions
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementDetailsDrawer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-17): add .drawer-tab-group CSS atom
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

feat(admin2-17): wire Dialog.Title/Description into SidePanel a11y
  learn-greek-easy-frontend/src/components/admin/FeedbackDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementComposeDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailsDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogEditorDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/decks/DeckDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/side-panel.test.tsx
  learn-greek-easy-frontend/src/components/ui/side-panel.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-17): add header meta row + rename cl-version-pill → cl-preview-v
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogEditorDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogTimeline.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-17): single-line drawer-tabs via drawer-tabs-spacer
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogEditorDrawer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-17): inline auto-translate row + wand icon
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogEditorDrawer.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-17): wrap changelog toolbar + timeline in va-panel
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogTab.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(admin2-17): derive changelog sparkline bars per card
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogTab.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogTab.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin2-17): export markdown button icon alignment
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin2-17): default admin changelog pageSize 100 → 20 to avoid 500
  learn-greek-easy-frontend/src/stores/__tests__/adminChangelogStore.test.ts
  learn-greek-easy-frontend/src/stores/adminChangelogStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(admin2-17): cover meta row, tabs row, panel, sparkline, a11y
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogEditorDrawer.test.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogTab.test.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogTimeline.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin2-17): coderabbit — normalize empty SidePanel titles to safeTitle
  learn-greek-easy-frontend/src/components/admin/decks/DeckDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.tsx
  learn-greek-easy-frontend/src/components/ui/side-panel.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin2-18): add AdminTabCountsResponse schema
  learn-greek-easy-backend/src/schemas/admin.py
Due: none

feat(admin2-18): add AdminCountsService + extract _count_active_decks helper
  learn-greek-easy-backend/src/services/admin_counts_service.py
Due: none
