Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

Deleted playwright
  .playwright-mcp/dashboard-news-greek.png
  .playwright-mcp/dashboard-news-mobile.png
  .playwright-mcp/dashboard-news-section-visible.png
  .playwright-mcp/dashboard-news-section.png
  .playwright-mcp/news-tab-empty.png
  .playwright-mcp/news-tab-full.png
Due: none

[BUGFIX-0126-01] Change dashboard news section title
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-prettier

[BUGFIX-0126-02] Add question field to NewsItemCreate interface
  learn-greek-easy-frontend/src/components/admin/news/NewsTab.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-0126-03] Handle empty review queue in culture practice page
  learn-greek-easy-frontend/src/i18n/locales/el/culture.json
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-0126-04] Increase admin deck detail modal width
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-0126-05] Update news creation placeholder with full schema
  learn-greek-easy-frontend/src/components/admin/news/NewsTab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-0126] January 26 Bug Fixes and UX Improvements (#206)
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsTab.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/el/culture.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-0126-01] Fail loudly when creating news with invalid deck
  .playwright-mcp/dashboard-desktop-news.png
  .playwright-mcp/dashboard-full-page.png
  .playwright-mcp/dashboard-large-viewport.png
  .playwright-mcp/dashboard-news-cards-full.png
  .playwright-mcp/dashboard-news-cards.png
  .playwright-mcp/dashboard-news-section-scrolled.png
  .playwright-mcp/dashboard-news-section.png
  .playwright-mcp/element-2026-01-26T18-05-07-412Z.png
  .playwright-mcp/news-cards-with-questions.png
  .playwright-mcp/news-section-scrolled.png
  .playwright-mcp/page-2026-01-26T18-05-17-366Z.png
  .playwright-mcp/page-2026-01-26T18-05-27-675Z.png
  .playwright-mcp/page-2026-01-26T18-05-40-046Z.png
  .playwright-mcp/questions-button-element.png
  .playwright-mcp/questions-practice-page.png
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-0126-02] Fix "Return to Deck" button 404 error
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-0126-03] Add "Practice Anyway" option when no questions due
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-0126-04] Fix duplicate news items in admin list
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

[BUGFIX-0126-05] Display news content always in Greek
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-0126] News Questions Feature Bug Fixes (#207)
  .playwright-mcp/dashboard-desktop-news.png
  .playwright-mcp/dashboard-full-page.png
  .playwright-mcp/dashboard-large-viewport.png
  .playwright-mcp/dashboard-news-cards-full.png
  .playwright-mcp/dashboard-news-cards.png
  .playwright-mcp/dashboard-news-section-scrolled.png
  .playwright-mcp/dashboard-news-section.png
  .playwright-mcp/element-2026-01-26T18-05-07-412Z.png
  .playwright-mcp/news-cards-with-questions.png
  .playwright-mcp/news-section-scrolled.png
  .playwright-mcp/page-2026-01-26T18-05-17-366Z.png
  .playwright-mcp/page-2026-01-26T18-05-27-675Z.png
  .playwright-mcp/page-2026-01-26T18-05-40-046Z.png
  .playwright-mcp/questions-button-element.png
  .playwright-mcp/questions-practice-page.png
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: make deck counter text contextual for vocabulary vs cultural decks
  learn-greek-easy-frontend/src/components/display/DeckCard.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/deck.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/types/dashboard.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: show source article link before answering cultural questions
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/culture.json
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: move audio and questions buttons onto news card
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: news card hover effect visual glitch
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: add coming soon state to audio button
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-0127] January 27 Bug Fixes (#208)
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
  learn-greek-easy-frontend/src/components/display/DeckCard.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/el/culture.json
  learn-greek-easy-frontend/src/i18n/locales/el/deck.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/types/dashboard.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NEWSFEED-01] Extract shared NewsCard components
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/NewsCardSkeleton.tsx
  learn-greek-easy-frontend/src/components/news/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NEWSFEED-02] Add translation keys for news feed page
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-prettier

[NEWSFEED-03] Create pagination component
  learn-greek-easy-frontend/src/components/news/NewsPagination.tsx
  learn-greek-easy-frontend/src/components/news/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NEWSFEED-04] Create responsive NewsGrid component
  learn-greek-easy-frontend/src/components/news/NewsGrid.tsx
  learn-greek-easy-frontend/src/components/news/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NEWSFEED-05] Add PostHog analytics for news page
  learn-greek-easy-frontend/src/lib/analytics/__tests__/newsAnalytics.test.ts
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/lib/analytics/newsAnalytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NEWSFEED-06] Create NewsPage component
  learn-greek-easy-frontend/src/pages/NewsPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NEWSFEED-07] Add /news route and navigation
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/layout/MobileNav.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NEWSFEED-08] Add 'See all news' link to dashboard
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(backend): add E2E seeding endpoint for news feed page
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

feat(e2e): add news feed page E2E tests
  learn-greek-easy-frontend/tests/e2e/news-page.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NEWSFEED] News Feed Page (#209)
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/layout/MobileNav.tsx
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/NewsCardSkeleton.tsx
  learn-greek-easy-frontend/src/components/news/NewsGrid.tsx
  learn-greek-easy-frontend/src/components/news/NewsPagination.tsx
  learn-greek-easy-frontend/src/components/news/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/lib/analytics/__tests__/newsAnalytics.test.ts
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/lib/analytics/newsAnalytics.ts
  learn-greek-easy-frontend/src/pages/NewsPage.tsx
  learn-greek-easy-frontend/tests/e2e/news-page.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEXTFIX] January 2026 text content updates
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/landing.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
  learn-greek-easy-frontend/src/pages/auth/Callback.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEXTFIX] January 2026 text content updates (#210)
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/landing.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
  learn-greek-easy-frontend/src/pages/auth/Callback.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ANNOUNCE-01] Add announcement_campaigns table and model
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20260127_1130_e9377d765b32_add_announcement_campaigns_table_and_.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/announcement.py
  learn-greek-easy-backend/tests/integration/models/__init__.py
  learn-greek-easy-backend/tests/integration/models/test_announcement_campaign.py
  learn-greek-easy-backend/tests/unit/models/__init__.py
  learn-greek-easy-backend/tests/unit/models/test_announcement_campaign.py
Due: none

[ANNOUNCE-02] Build announcement schemas and service layer
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/announcement.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/announcement.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/announcement_service.py
  learn-greek-easy-backend/src/tasks/__init__.py
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/tests/integration/services/__init__.py
  learn-greek-easy-backend/tests/integration/services/test_announcement_service.py
  learn-greek-easy-backend/tests/unit/schemas/test_announcement_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_announcement_service.py
Due: none

fix(announcement): use cast for JSON field query compatibility
  .playwright-mcp/audio-button-card.png
  .playwright-mcp/audio-button-news-section.png
  .playwright-mcp/audio-button-tooltip.png
  .playwright-mcp/audio-button-verification.png
  .playwright-mcp/audio-button-visible.png
  .playwright-mcp/audio-button-with-tooltip.png
  .playwright-mcp/dashboard-desktop-news.png
  .playwright-mcp/dashboard-full-page.png
  .playwright-mcp/dashboard-large-viewport.png
  .playwright-mcp/dashboard-news-cards-full.png
  .playwright-mcp/dashboard-news-cards.png
  .playwright-mcp/dashboard-news-section-scrolled.png
  .playwright-mcp/dashboard-news-section-verification.png
  .playwright-mcp/dashboard-news-section.png
  .playwright-mcp/element-2026-01-26T18-05-07-412Z.png
  .playwright-mcp/full-page-dashboard.png
  .playwright-mcp/news-cards-with-questions.png
  .playwright-mcp/news-section-scrolled.png
  .playwright-mcp/page-2026-01-26T18-05-17-366Z.png
  .playwright-mcp/page-2026-01-26T18-05-27-675Z.png
  .playwright-mcp/page-2026-01-26T18-05-40-046Z.png
  .playwright-mcp/questions-button-element.png
  .playwright-mcp/questions-practice-page-verification.png
  .playwright-mcp/questions-practice-page.png
  learn-greek-easy-backend/src/repositories/announcement.py
  learn-greek-easy-backend/tests/integration/api/test_seed.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
  learn-greek-easy-frontend/src/components/news/__tests__/NewsGrid.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsPagination.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/NewsPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ANNOUNCE-03] Implement admin announcement API endpoints
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/repositories/announcement.py
  learn-greek-easy-backend/tests/integration/api/test_admin_announcements.py
Due: none

[ANNOUNCE-04] Add Announcements tab and create form in Admin Panel
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementCreateForm.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementPreviewModal.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementsTab.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementCreateForm.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementPreviewModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/index.ts
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ANNOUNCE-05] Implement announcement history and stats view
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementHistoryTable.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementsTab.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementDetailModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementHistoryTable.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminAnnouncementStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ANNOUNCE-06] Display announcements in learner notification center
  learn-greek-easy-frontend/src/components/notifications/NotificationItem.tsx
  learn-greek-easy-frontend/src/types/notification.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(announcement): fix ADMIN_ANNOUNCEMENT enum case mismatch
  learn-greek-easy-backend/alembic/versions/20260127_1345_f1d6e4ac4839_fix_admin_announcement_enum_case.py
Due: none
