Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

fix misleading mastery indicator aria label
  learn-greek-easy-frontend/src/features/decks/components/WordCard.tsx
  learn-greek-easy-frontend/src/features/decks/components/__tests__/WordCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

add per-card-type mastery dots with popover breakdown
  learn-greek-easy-backend/src/api/v1/decks.py
  learn-greek-easy-backend/src/repositories/card_record_statistics.py
  learn-greek-easy-backend/src/schemas/deck.py
  learn-greek-easy-frontend/src/components/shared/MasteryDots.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/WordGrid.tsx
  learn-greek-easy-frontend/src/features/decks/components/WordCard.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/services/progressAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(i18n): use translated labels in mastery dots popover
  learn-greek-easy-frontend/src/components/shared/MasteryDots.tsx
  learn-greek-easy-frontend/src/features/decks/components/WordCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix popover layout for RU: widen popover and shorten plural label
  learn-greek-easy-frontend/src/components/shared/MasteryDots.tsx
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(wcrd-01): add i18n keys for Cards tab in word reference
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-prettier

feat(wcrd-03): add useWordMastery hook with mastery status derivation
  learn-greek-easy-frontend/src/features/words/hooks/__tests__/useWordMastery.test.ts
  learn-greek-easy-frontend/src/features/words/hooks/index.ts
  learn-greek-easy-frontend/src/features/words/hooks/useWordMastery.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(wcrd-02): refactor WordReferencePage with tab layout
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordReferencePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(wcrd-04): add Cards tab components (CardsSummaryBar, CardTypeGroup, CardItem)
  learn-greek-easy-frontend/src/features/words/components/CardItem.tsx
  learn-greek-easy-frontend/src/features/words/components/CardTypeGroup.tsx
  learn-greek-easy-frontend/src/features/words/components/CardsSummaryBar.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/CardItem.test.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/CardTypeGroup.test.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/CardsSummaryBar.test.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/cardGrouping.test.ts
  learn-greek-easy-frontend/src/features/words/components/cardGrouping.ts
  learn-greek-easy-frontend/src/features/words/components/index.ts
  learn-greek-easy-frontend/src/features/words/hooks/useWordMastery.ts
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordReferencePage.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(wcrd-05): add PostHog analytics for tab switch and card expand
  learn-greek-easy-frontend/src/features/words/components/CardItem.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordReferencePage.test.tsx
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/lib/analytics/wordReferenceAnalytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(wcrd-06): add E2E tests for Cards tab on Word Reference page
  learn-greek-easy-frontend/tests/e2e/word-reference-cards.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(wcrd): remove duplicate report-error-button (main already placed it in header)
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(wcrd-06): correct deck name to 'E2E V2 Nouns Deck (A1)' in E2E beforeAll
  learn-greek-easy-frontend/tests/e2e/word-reference-cards.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(wcrd): localize Notes heading per CodeRabbit (deck:wordReference.notes)
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(cpol-01): full-width tabs and card-style group containers
  learn-greek-easy-frontend/src/features/words/components/CardTypeGroup.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(cpol-02): MiniFlipCard component + extend CardMasteryItem with id field
  learn-greek-easy-frontend/src/features/words/components/MiniFlipCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/CardItem.test.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/MiniFlipCard.test.tsx
  learn-greek-easy-frontend/src/features/words/components/index.ts
  learn-greek-easy-frontend/src/features/words/hooks/__tests__/useWordMastery.test.ts
  learn-greek-easy-frontend/src/features/words/hooks/useWordMastery.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(cpol-03): wire MiniFlipCard grid, tab reset, delete CardItem, swap analytics
  learn-greek-easy-frontend/src/features/words/components/CardItem.tsx
  learn-greek-easy-frontend/src/features/words/components/CardTypeGroup.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/CardItem.test.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/CardTypeGroup.test.tsx
  learn-greek-easy-frontend/src/features/words/components/index.ts
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/lib/analytics/wordReferenceAnalytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(cpol-04): add i18n flip-card keys (EN+RU), add overflow-hidden to MiniFlipCard
  learn-greek-easy-frontend/src/features/words/components/MiniFlipCard.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(cpol-03): update E2E tests for MiniFlipCard (card-item- → mini-flip-card-, flip not collapse)
  learn-greek-easy-frontend/tests/e2e/word-reference-cards.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(cpol): address CodeRabbit review comments
  learn-greek-easy-frontend/src/features/words/components/CardTypeGroup.tsx
  learn-greek-easy-frontend/src/features/words/components/MiniFlipCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/CardTypeGroup.test.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/MiniFlipCard.test.tsx
  learn-greek-easy-frontend/tests/e2e/word-reference-cards.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(cfix-01): replace aspect-[4/3] with h-32 on MiniFlipCard
  learn-greek-easy-frontend/src/features/words/components/MiniFlipCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(cfix-02): per-card-type mastery dots using deriveCardTypeMasteryStatus
  learn-greek-easy-frontend/src/features/words/hooks/__tests__/useWordMastery.test.ts
  learn-greek-easy-frontend/src/features/words/hooks/useWordMastery.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(cfix-03): make MiniFlipCard language-aware for Russian content
  learn-greek-easy-frontend/src/features/words/components/MiniFlipCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/MiniFlipCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(bsse-01): add news B2 and A2 audio SSE pipeline endpoints
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

feat(bsse-02): add culture question audio SSE pipeline endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

refactor(bsse-03): remove background task audio code and old SSE relay endpoints
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/core/event_bus.py
  learn-greek-easy-backend/src/tasks/__init__.py
  learn-greek-easy-backend/src/tasks/background.py
Due: none

feat(bsse-04): migrate news audio to direct SSE POST streams
  learn-greek-easy-frontend/src/components/admin/news/NewsItemEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsItemEditModal.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(bsse-05): migrate culture question audio to SSE stream
  learn-greek-easy-frontend/src/components/admin/CardEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardEditModal.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(bsse-06): delete obsolete background task audio test files
  learn-greek-easy-backend/tests/unit/api/test_admin_a2_audio.py
  learn-greek-easy-backend/tests/unit/api/test_admin_audio_integration.py
  learn-greek-easy-backend/tests/unit/api/test_admin_culture_audio.py
  learn-greek-easy-backend/tests/unit/api/test_admin_news_audio_stream.py
  learn-greek-easy-backend/tests/unit/api/test_admin_news_b2_a2_audio_stream.py
  learn-greek-easy-backend/tests/unit/tasks/test_a2_audio_generation_task.py
  learn-greek-easy-backend/tests/unit/tasks/test_audio_generation_task.py
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
  learn-greek-easy-backend/tests/unit/tasks/test_culture_question_audio_task.py
Due: none

docs(bsse-07): add SSE pipeline convention documentation
  docs/conventions.md
  docs/sse-pipelines.md
Due: none

fix(bsse-04): use i18n keys for SSE onError toast messages in NewsItemEditModal
  learn-greek-easy-frontend/src/components/admin/news/NewsItemEditModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(adec-01): create AudioGenerationService with generate_single()
  learn-greek-easy-backend/src/services/audio_generation_service.py
  learn-greek-easy-backend/tests/unit/services/test_audio_generation_service.py
Due: none

feat(adec-02): add generate_dialog() method to AudioGenerationService
  learn-greek-easy-backend/src/services/audio_generation_service.py
  learn-greek-easy-backend/tests/unit/services/test_audio_generation_service.py
Due: none

refactor(adec-03): migrate single-narrator audio pipelines to AudioGenerationService
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/services/audio_generation_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_news_b2_a2_audio_stream.py
Due: none

refactor(adec-04): migrate word audio pipeline to AudioGenerationService
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_word_audio_stream.py
Due: none

refactor(adec-05): migrate dialog audio pipeline to AudioGenerationService
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_dialog_audio.py
Due: none

refactor(adec-06): delete dead helper functions from admin.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_dialog_audio.py
  learn-greek-easy-backend/tests/unit/test_forced_alignment.py
  learn-greek-easy-backend/tests/unit/test_redistribute_timing.py
Due: none

docs(adec-07): update SSE pipeline doc to reference AudioGenerationService
  docs/sse-pipelines.md
Due: none

fix(adec): add mypy override for audio_generation_service to allow mutagen calls
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/src/services/audio_generation_service.py
Due: none

fix(adec): model on_progress callbacks in S3 upload failure test
  learn-greek-easy-backend/tests/unit/api/test_admin_word_audio_stream.py
Due: none
