Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

Fix E2E route interception using function-based URL matching
  learn-greek-easy-frontend/tests/e2e/card-audio-playback.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix E2E mock: cards API returns array directly not wrapped in { cards: [...] }
  learn-greek-easy-frontend/tests/e2e/card-audio-playback.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix CodeRabbit review findings on card audio playback
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/PracticeCard.test.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordPracticePage.tsx
  learn-greek-easy-frontend/tests/e2e/card-audio-playback.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CAUDIO] Card Audio Playback (#318)
  learn-greek-easy-frontend/src/components/ui/SpeakerButton.tsx
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/PracticeCard.test.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordPracticePage.tsx
  learn-greek-easy-frontend/tests/e2e/card-audio-playback.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LOGINUX-01] Replace Purple Gradient Buttons with shadcn Default Variant
  learn-greek-easy-frontend/src/components/auth/LoginForm.tsx
  learn-greek-easy-frontend/src/components/auth/RegisterForm.tsx
  learn-greek-easy-frontend/src/components/forms/SubmitButton.tsx
  learn-greek-easy-frontend/src/pages/auth/ForgotPassword.tsx
  learn-greek-easy-frontend/src/pages/auth/ResetPassword.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LOGINUX-03] Replace Hand-Rolled OAuth Divider with shadcn Separator
  learn-greek-easy-backend/src/utils/greek_text.py
  learn-greek-easy-backend/tests/unit/utils/test_greek_text.py
  learn-greek-easy-frontend/src/components/auth/LoginForm.tsx
  learn-greek-easy-frontend/src/components/auth/RegisterForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LOGINUX-04] Fix AuthLayout and Icon Circle Gradients from Purple to Blue
  learn-greek-easy-frontend/src/components/auth/AuthLayout.tsx
  learn-greek-easy-frontend/src/pages/auth/ForgotPassword.tsx
  learn-greek-easy-frontend/src/pages/auth/ResetPassword.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[AART-01, AART-02] Add resolve_tts_text utility and wire into audio generation
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/word_entries.py
  learn-greek-easy-backend/src/utils/greek_text.py
Due: none

[LOGINUX-02] Replace Hardcoded Red Error Colors with shadcn Semantic Tokens
  learn-greek-easy-frontend/src/components/auth/LoginForm.tsx
  learn-greek-easy-frontend/src/components/auth/RegisterForm.tsx
  learn-greek-easy-frontend/src/pages/auth/ForgotPassword.tsx
  learn-greek-easy-frontend/src/pages/auth/ResetPassword.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MCNEWS-01] Backend: Enum, Model, Migration & Schema
  learn-greek-easy-backend/alembic/versions/20260226_0836_897ffd7f7e1e_add_country_column_to_news_items.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/factories/news.py
  learn-greek-easy-backend/tests/integration/api/test_admin_news.py
  learn-greek-easy-backend/tests/unit/api/test_admin_audio_integration.py
  learn-greek-easy-backend/tests/unit/repositories/test_news_item_repository.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_audio_metadata.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

[MCNEWS-02] Backend: Service & Repository Logic (Filter, Counts, Question Skip)
  learn-greek-easy-backend/src/repositories/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
Due: none

[MCNEWS-03] Backend: API Endpoints & Seeding
  learn-greek-easy-backend/src/api/v1/news.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[MCNEWS-05] Frontend: Types, API Client & Store Updates
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MCNEWS-04] Backend: Unit Tests for multi-country news
  learn-greek-easy-backend/tests/unit/test_news_country.py
Due: none

[MCNEWS-06] Frontend: NewsCard Country Pill & NewsPage Filter Tabs
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/countryConfig.ts
  learn-greek-easy-frontend/src/components/news/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/NewsPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/NewsPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MCNEWS-07] Frontend: Admin Table Badge, Filter & Create/Edit Modal
  learn-greek-easy-frontend/src/components/admin/news/NewsItemEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsItemsTable.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsTab.tsx
  learn-greek-easy-frontend/src/components/news/countryConfig.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MCNEWS-08] Frontend: Unit Tests for multi-country news
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsItemEditModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsItemsTable.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/NewsPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MCNEWS-09] E2E & Visual Tests for multi-country news
  learn-greek-easy-frontend/tests/e2e/news-country-filter.spec.ts
  learn-greek-easy-frontend/tests/visual/news-country.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix NewsCountry enum: use SAEnum with values_callable to store lowercase values
  learn-greek-easy-backend/src/db/models.py
Due: none

Fix invalid TypeScript import in NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix E2E test interactions for shadcn Select and robust delete wait
  learn-greek-easy-frontend/tests/e2e/news-country-filter.spec.ts
  learn-greek-easy-frontend/tests/e2e/news-feed.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix NEWSFEED-06: check deleted item row disappears, not count decrease
  learn-greek-easy-frontend/tests/e2e/news-feed.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix CodeRabbit review findings: localStorage key, question data, test assertions
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.test.tsx
  learn-greek-easy-frontend/tests/e2e/news-country-filter.spec.ts
  learn-greek-easy-frontend/tests/visual/news-country.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix E2E-04 and E2E-07 test assertions
  learn-greek-easy-frontend/tests/e2e/news-country-filter.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[EXRD-01] Add ReadinessConstants and CultureReadinessResponse schema
  learn-greek-easy-backend/src/constants.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/culture.py
Due: none

[EXRD-07] Add cultureReadiness i18n namespace to EN and RU statistics
  learn-greek-easy-frontend/src/i18n/locales/en/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/ru/statistics.json
Due: frontend-prettier

[EXRD-02] Add get_culture_readiness service method
  learn-greek-easy-backend/src/services/culture_question_service.py
Due: none

[EXPC-01] Add CategoryReadiness schema and extend CultureReadinessResponse
  learn-greek-easy-backend/src/constants.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/culture.py
Due: none

[EXMM-01] Add motivation constants and MotivationMessage schema
  learn-greek-easy-backend/src/constants.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/culture.py
Due: none

[EXRD-03] Add GET /readiness endpoint to culture router
  learn-greek-easy-backend/src/api/v1/culture/router.py
Due: none

[EXAC-01] Add accuracy constants and extend CategoryReadiness schema
  learn-greek-easy-backend/src/constants.py
  learn-greek-easy-backend/src/schemas/culture.py
Due: none

[EXMM-02] Add _compute_motivation() to CultureQuestionService
  learn-greek-easy-backend/src/services/culture_question_service.py
Due: none

[EXPC-02] Extend get_culture_readiness with per-category GROUP BY computation
  learn-greek-easy-backend/src/services/culture_question_service.py
Due: none

[EXAC-02, EXPC-06, EXMM-05] Per-category accuracy, category i18n, motivation i18n
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-frontend/src/i18n/locales/en/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/ru/statistics.json
Due: frontend-prettier

[EXRD-04, EXRD-05, EXPC-04, EXMM-04, EXWS-03, EXAC-06] Tests, types, i18n
  learn-greek-easy-backend/tests/integration/api/test_culture_readiness.py
  learn-greek-easy-backend/tests/unit/services/test_culture_readiness.py
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useCultureReadiness.ts
  learn-greek-easy-frontend/src/i18n/locales/en/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/ru/statistics.json
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[EXRD-06, EXMM-03] CultureReadinessCard component and motivation unit tests
  learn-greek-easy-backend/tests/unit/services/test_culture_motivation.py
  learn-greek-easy-frontend/src/components/statistics/CultureReadinessCard.tsx
  learn-greek-easy-frontend/src/components/statistics/index.ts
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[EXPC-05, EXWS-01, EXPC-03, EXAC-03] CategoryBreakdown, utility, backend tests
  learn-greek-easy-backend/tests/unit/services/test_culture_readiness.py
  learn-greek-easy-frontend/src/components/statistics/CategoryBreakdown.tsx
  learn-greek-easy-frontend/src/components/statistics/index.ts
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
  learn-greek-easy-frontend/src/lib/__tests__/cultureReadinessUtils.test.ts
  learn-greek-easy-frontend/src/lib/cultureReadinessUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[EXRD-08, EXWS-02, EXMM-06] Statistics wiring, WeakAreaCTA, MotivationalMessageCard
  learn-greek-easy-frontend/src/components/statistics/MotivationalMessageCard.tsx
  learn-greek-easy-frontend/src/components/statistics/WeakAreaCTA.tsx
  learn-greek-easy-frontend/src/components/statistics/index.ts
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
  learn-greek-easy-frontend/src/pages/Statistics.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
