Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

feat(sit-07-01): add with_timestamps support to generate_single()
  learn-greek-easy-backend/src/services/audio_generation_service.py
  learn-greek-easy-backend/tests/unit/services/test_audio_generation_service.py
Due: none

feat(sit-07-02): add word_timestamps columns to situation_descriptions
  learn-greek-easy-backend/alembic/versions/20260329_0700_sit_07_02_add_word_timestamps_to_descriptions.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sit-07-03): add SSE endpoint for description audio generation
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_description_audio_stream.py
Due: none

feat(sit-07-04): add regenerate audio buttons to Description tab
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(sit-07-02): use JSONB (not JSON) in migration for word_timestamps columns
  learn-greek-easy-backend/alembic/versions/20260329_0700_sit_07_02_add_word_timestamps_to_descriptions.py
Due: none

fix(sit-07-02): shorten migration revision ID to fit varchar(32)
  learn-greek-easy-backend/alembic/versions/20260329_0700_sit_07_02_add_word_timestamps_to_descriptions.py
Due: none

fix(sit-07): address CodeRabbit review comments
  learn-greek-easy-backend/src/services/audio_generation_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_description_audio_stream.py
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TCLN-01] Update TRUNCATION_ORDER to cover all 43 database tables
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[TCLN-04] Remove permanently-skipped and xfail dead test code
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_practice.py
  learn-greek-easy-backend/tests/integration/test_redis_sessions.py
  learn-greek-easy-backend/tests/unit/api/test_admin_dialog_exercises.py
Due: none

[TCLN-05] Create docs/testing.md with test strategy, fixtures, and coverage guide
  CLAUDE.md
  docs/conventions.md
  docs/testing.md
Due: none

[TCLN-02] Remove dead seed_decks_and_cards() and V1 deck seeding
  docs/e2e-seeding.md
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/unit/api/test_seed.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
Due: none

feat(kara-01): extract useAudioTimeMs hook and KaraokeText component
  learn-greek-easy-frontend/src/components/admin/KaraokeText.tsx
  learn-greek-easy-frontend/src/hooks/useAudioTimeMs.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(kara-02): wire description karaoke in SituationDetailModal
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TCLN-03] Add seed_situations() with 3 Situation + SituationDescription records
  docs/e2e-seeding.md
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

refactor(kara-03): replace inline karaoke with shared KaraokeText and useAudioTimeMs
  learn-greek-easy-frontend/src/components/admin/DialogDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TCLN-06] Enable frontend coverage thresholds in vitest.config.ts
  learn-greek-easy-frontend/vitest.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(kara): sync final timestamp on audio ended before stopping rAF loop
  learn-greek-easy-frontend/src/hooks/useAudioTimeMs.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TCLN] Fix deck-language-switching E2E test after V1 seed removal
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/tests/e2e/admin-word-entry-detail-redesign.spec.ts
  learn-greek-easy-frontend/tests/e2e/word-reference-cards.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TCLN] Fix remaining E2E tests referencing old V2 Nouns deck name
  learn-greek-easy-frontend/tests/e2e/card-audio-playback.spec.ts
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(tcln): address CodeRabbit review — remove wiktionary_morphology from truncation, add situations unit test, fix coverage docs
  docs/conventions.md
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/unit/api/test_seed.py
Due: none

fix: log actual exception when forced_align fails in generate_single
  learn-greek-easy-backend/src/services/audio_generation_service.py
Due: none

fix: properly log forced_align errors with loguru and response body
  learn-greek-easy-backend/src/services/audio_generation_service.py
  learn-greek-easy-backend/src/services/elevenlabs_service.py
Due: none

chore: bust Railway frontend Docker cache
  learn-greek-easy-frontend/package.json
Due: frontend-prettier

fix(kara): use MutationObserver to find audio element in useAudioTimeMs
  learn-greek-easy-frontend/src/hooks/useAudioTimeMs.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(kara): use callback refs instead of useRef for useAudioTimeMs containers
  learn-greek-easy-frontend/src/components/admin/DialogDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/hooks/useAudioTimeMs.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(kara): pass duration to WaveformPlayer in SituationDetailModal
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(sit): add timestamps count pill to situation list
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(sit): add tests for description_timestamps_count in situation list
  learn-greek-easy-backend/tests/integration/api/test_admin_situations.py
Due: none

[ESM2-01] Alembic migration: add exercise SM-2 tables, drop dialog_exercise_attempts/dialog_progress
  learn-greek-easy-backend/alembic/versions/20260330_0900_esm2_01_exercise_sm2_tables.py
Due: none

[ESM2-03] Add derive_exercise_quality() to src/core/sm2.py
  learn-greek-easy-backend/src/core/sm2.py
Due: none

feat(unex-01): add select_correct_answer exercise type
  learn-greek-easy-backend/alembic/versions/20260330_1200_sca_01_select_correct_answer.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/exercise_payload.py
  learn-greek-easy-backend/tests/unit/schemas/test_exercise_payload.py
Due: none

[ESM2-02] Add Exercise/ExerciseRecord/ExerciseReview models; remove DialogExerciseAttempt/DialogProgress
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/src/db/models.py
Due: none

[ESM2-04] Add ExerciseRepository, ExerciseRecordRepository, ExerciseReviewRepository
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/exercise.py
  learn-greek-easy-backend/src/repositories/exercise_record.py
  learn-greek-easy-backend/src/repositories/exercise_review.py
Due: none

[ESM2-06] Update TRUNCATION_ORDER: add exercise tables, remove dropped dialog tables
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[ESM2-07] Add ExerciseFactory, ExerciseRecordFactory, ExerciseReviewFactory test factories
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/exercise.py
Due: none

[ESM2-05] Wire ExerciseRepository.create_for_dialog() hook into DialogExercise creation
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

[ESM2-08] Add unit tests for derive_exercise_quality and integration tests for exercise models/repos
  learn-greek-easy-backend/tests/integration/models/test_esm2_exercise_models.py
  learn-greek-easy-backend/tests/integration/repositories/__init__.py
  learn-greek-easy-backend/tests/integration/repositories/test_exercise_repositories.py
  learn-greek-easy-backend/tests/unit/core/test_derive_exercise_quality.py
Due: none

[ESM2] Merge heads: combine esm2_01 and sca_01_select_correct_answer
  learn-greek-easy-backend/alembic/versions/20260330_1300_esm2_merge_heads.py
Due: none

fix(esm2): align migration index/constraint names with model to pass alembic check
  learn-greek-easy-backend/alembic/versions/20260330_0900_esm2_01_exercise_sm2_tables.py
  learn-greek-easy-backend/src/db/models.py
Due: none

fix(esm2): add TimestampMixin column comments to exercises/exercise_records migration
  learn-greek-easy-backend/alembic/versions/20260330_0900_esm2_01_exercise_sm2_tables.py
Due: none
