Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

[TEST-FIX-2] Enable and fix authStore unit tests (#72)
  learn-greek-easy-frontend/src/stores/__tests__/authStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-3] Enable and fix deckStore unit tests
  learn-greek-easy-frontend/src/stores/__tests__/deckStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-3] Enable and fix deckStore unit tests (#73)
  learn-greek-easy-frontend/src/stores/__tests__/deckStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-4] Enable and fix auth-dependent hook tests
  learn-greek-easy-frontend/src/hooks/__tests__/useAnalytics.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useAuth.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/usePremiumAccess.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-4] Enable and fix auth-dependent hook tests (#74)
  learn-greek-easy-frontend/src/hooks/__tests__/useAnalytics.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useAuth.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/usePremiumAccess.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-5] Document remaining skipped tests and fix failing integration tests
  learn-greek-easy-frontend/docs/test-coverage-report.md
  learn-greek-easy-frontend/src/pages/auth/__tests__/Login.integration.test.tsx
  learn-greek-easy-frontend/src/pages/auth/__tests__/Register.integration.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-5] Fix E2E test hydration race condition
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
  learn-greek-easy-frontend/src/stores/authStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-5] Fix hydration race condition using Zustand persist API
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
  learn-greek-easy-frontend/src/stores/authStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-5] Use useSyncExternalStore for hydration tracking
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Optimize CI/CD: Draft PR + Label-based full test triggers
  .github/workflows/ci-quick.yml
  .github/workflows/preview.yml
  CLAUDE.md
Due: none

[TEST-FIX-5] Fix addInitScript timing - use context.addInitScript()
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
  learn-greek-easy-frontend/tests/e2e/helpers/diagnostics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-5] Combine init scripts into single atomic script
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
  learn-greek-easy-frontend/tests/e2e/helpers/diagnostics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-5] Add test mode bypass in RouteGuard for E2E tests
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-5] Add test mode bypass in ProtectedRoute for E2E tests
  learn-greek-easy-frontend/src/components/auth/ProtectedRoute.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST-FIX-5] Fix E2E test selector - wait for 'main' element
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Optimize CI/CD: Draft PR + Label-based full test triggers (#76)
  .github/workflows/ci-quick.yml
  .github/workflows/preview.yml
  CLAUDE.md
Due: none

[SEED-01] Add configuration settings for E2E database seeding
  learn-greek-easy-backend/.env.example
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/tests/unit/test_config_seed.py
Due: none

[SEED-02] Create SeedService for E2E database seeding
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/test_seed_service.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
Due: none

[SEED-03.1] Add seed exception classes for E2E database seeding
  learn-greek-easy-backend/src/core/exceptions.py
Due: none

[SEED-03.1] Add seed exception classes for E2E database seeding (#79)
  learn-greek-easy-backend/src/core/exceptions.py
Due: none

[SEED-03.2] Create seed API schemas
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/seed.py
Due: none

[SEED-03.2] Create seed API schemas (#80)
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/seed.py
Due: none

[SEED-03.3] Add seed API endpoints and mount router
  learn-greek-easy-backend/src/api/v1/router.py
  learn-greek-easy-backend/src/api/v1/test/__init__.py
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/tests/integration/api/test_seed.py
  learn-greek-easy-backend/tests/unit/api/test_seed.py
Due: none

[SEED-04] Add startup auto-seeding hook in lifespan
  learn-greek-easy-backend/src/main.py
  learn-greek-easy-backend/tests/unit/test_main_seed.py
Due: none

[SEED-05] Add CLI script for manual E2E database seeding
  learn-greek-easy-backend/scripts/seed_e2e_data.py
Due: none

[SEED-07] Add E2E database seeding documentation
  CLAUDE.md
Due: none

[SEED-08] Exclude seed test infrastructure from E2E coverage
  learn-greek-easy-backend/pyproject.toml
Due: none

[SEED-09] Fix integration test failures for seed service
  learn-greek-easy-backend/tests/integration/api/test_seed.py
  learn-greek-easy-backend/tests/integration/test_seed_service.py
Due: none

[SEED-06] Add CI integration for E2E database seeding
  .github/workflows/test.yml
Due: none

[SEED-10] Add database seeding to PR preview deployments
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
  CLAUDE.md
Due: none

[SEED-11] Enable E2E tests with seed data
  learn-greek-easy-frontend/tests/e2e/accessibility.spec.ts
  learn-greek-easy-frontend/tests/e2e/analytics.spec.ts
  learn-greek-easy-frontend/tests/e2e/deck-browsing.spec.ts
  learn-greek-easy-frontend/tests/e2e/flashcard-review.spec.ts
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SEED-04] Fix CI failures: database URL, test isolation, accessibility
  .github/workflows/test.yml
  learn-greek-easy-backend/tests/unit/test_config_seed.py
  learn-greek-easy-frontend/src/components/display/DeckCard.tsx
  learn-greek-easy-frontend/src/components/forms/PasswordField.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SEED-04] Fix E2E auth race condition: use evaluate() instead of addInitScript()
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
  learn-greek-easy-frontend/tests/e2e/helpers/diagnostics.ts
  learn-greek-easy-frontend/tests/visual/helpers/visual-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[E2E-FIX] Fix auth race condition: restore addInitScript() for window.playwright
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[E2E-FIX] Fix backend test deadlocks and accessibility color contrast
  learn-greek-easy-backend/tests/fixtures/database.py
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

[E2E-FIX] Add Dashboard heading for E2E tests and accessibility
  learn-greek-easy-frontend/src/components/display/WelcomeSection.tsx
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[E2E-FIX] Fix test selectors and skip unavailable chart tests
  learn-greek-easy-frontend/tests/e2e/analytics.spec.ts
  learn-greek-easy-frontend/tests/e2e/deck-browsing.spec.ts
  learn-greek-easy-frontend/tests/e2e/flashcard-review.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[E2E-FIX] Fix 5 remaining E2E test failures
  learn-greek-easy-frontend/src/components/review/FlashcardContainer.tsx
  learn-greek-easy-frontend/src/components/ui/slider.tsx
  learn-greek-easy-frontend/tailwind.config.js
  learn-greek-easy-frontend/tests/e2e/auth.spec.ts
  learn-greek-easy-frontend/tests/e2e/flashcard-review.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SEED] E2E Test Database Seeding Infrastructure (#81)
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
  .github/workflows/test.yml
  CLAUDE.md
  learn-greek-easy-backend/.env.example
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/scripts/seed_e2e_data.py
  learn-greek-easy-backend/src/api/v1/router.py
  learn-greek-easy-backend/src/api/v1/test/__init__.py
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/core/exceptions.py
  learn-greek-easy-backend/src/main.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/seed.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/fixtures/database.py
  learn-greek-easy-backend/tests/integration/api/test_seed.py
  learn-greek-easy-backend/tests/integration/test_seed_service.py
  learn-greek-easy-backend/tests/unit/api/test_seed.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
  learn-greek-easy-backend/tests/unit/test_config_seed.py
  learn-greek-easy-backend/tests/unit/test_main_seed.py
  learn-greek-easy-frontend/src/components/display/DeckCard.tsx
  learn-greek-easy-frontend/src/components/display/WelcomeSection.tsx
  learn-greek-easy-frontend/src/components/forms/PasswordField.tsx
  learn-greek-easy-frontend/src/components/review/FlashcardContainer.tsx
  learn-greek-easy-frontend/src/components/ui/slider.tsx
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/tailwind.config.js
  learn-greek-easy-frontend/tests/e2e/accessibility.spec.ts
  learn-greek-easy-frontend/tests/e2e/analytics.spec.ts
  learn-greek-easy-frontend/tests/e2e/auth.spec.ts
  learn-greek-easy-frontend/tests/e2e/deck-browsing.spec.ts
  learn-greek-easy-frontend/tests/e2e/flashcard-review.spec.ts
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
  learn-greek-easy-frontend/tests/e2e/helpers/diagnostics.ts
  learn-greek-easy-frontend/tests/visual/helpers/visual-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix PR cleanup workflow: install curl and jq in Railway container
  .github/workflows/preview-cleanup.yml
Due: none
