Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

fix(e2e): Fix race condition in waitForAuthCheck helper
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs: Update e2e-test-fixes.md with final race condition fix
  .claude/e2e-test-fixes.md
Due: none

chore: Add .claude/ to gitignore and remove from tracking
  .claude/e2e-test-fixes.md
  .gitignore
Due: none

fix(e2e): Implement app ready signal for deterministic test waiting
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
  learn-greek-easy-frontend/src/stores/appStore.ts
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
  learn-greek-easy-frontend/tests/e2e/settings.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

debug(e2e): Add comprehensive logging to investigate auth timing
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/auth/ProtectedRoute.tsx
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
  learn-greek-easy-frontend/src/stores/appStore.ts
  learn-greek-easy-frontend/src/stores/authStore.ts
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
  learn-greek-easy-frontend/tests/e2e/settings.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(auth): Handle network errors gracefully in checkAuth
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
  learn-greek-easy-frontend/src/services/api.ts
  learn-greek-easy-frontend/src/services/authAPI.ts
  learn-greek-easy-frontend/src/stores/authStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: Remove debug logging from E2E race condition fix
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/auth/ProtectedRoute.tsx
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
  learn-greek-easy-frontend/src/stores/appStore.ts
  learn-greek-easy-frontend/src/stores/authStore.ts
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
  learn-greek-easy-frontend/tests/e2e/settings.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): Use storageState pattern for unauthenticated tests
  learn-greek-easy-frontend/tests/e2e/sample.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): Make Profile heading always visible for desktop viewport
  learn-greek-easy-frontend/src/pages/Profile.tsx
  learn-greek-easy-frontend/tests/e2e/deck-browsing.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs: Add E2E Test Fixes section to testing guide
  learn-greek-easy-frontend/docs/testing-guide.md
Due: frontend-prettier

fix(e2e): Remove obsolete diagnostic-publicroute.spec.ts test
  learn-greek-easy-frontend/tests/e2e/diagnostic-publicroute.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): Use storageState pattern for mobile login page test
  learn-greek-easy-frontend/tests/e2e/mobile-responsive.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix nginx stale DNS causing backend timeout after redeploy
  learn-greek-easy-frontend/nginx.conf.template
Due: none

[BUG] Fix CI workflow inefficiency: skip quick checks when full tests run
  .github/workflows/ci-quick.yml
Due: none

[BUG] Fix nginx stale DNS causing backend timeout after redeploy (#83)
  .github/workflows/ci-quick.yml
  learn-greek-easy-frontend/nginx.conf.template
Due: none

[POSTHOG-01] Configure test environments for PostHog analytics
  .github/workflows/ci-quick.yml
  .github/workflows/preview.yml
  .github/workflows/test.yml
  learn-greek-easy-backend/.env.example
  learn-greek-easy-frontend/.env.example
  learn-greek-easy-frontend/playwright.config.ts
  learn-greek-easy-frontend/vitest.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[POSTHOG-02] Add PostHog frontend SDK integration
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/env.d.ts
  learn-greek-easy-frontend/src/lib/test-setup.ts
  learn-greek-easy-frontend/src/providers/PostHogProvider.tsx
  learn-greek-easy-frontend/src/providers/index.ts
  learn-greek-easy-frontend/src/utils/analytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[POSTHOG-03] Add useTrackEvent hook for PostHog analytics
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
  learn-greek-easy-frontend/src/lib/test-setup.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[POSTHOG-04] Add PostHog backend SDK integration
  learn-greek-easy-backend/poetry.lock
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/core/__init__.py
  learn-greek-easy-backend/src/core/posthog.py
  learn-greek-easy-backend/src/main.py
Due: none

[POSTHOG-05] Add auth events integration for PostHog analytics
  learn-greek-easy-frontend/src/stores/authStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[POSTHOG-06] Add study session events tracking
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
  learn-greek-easy-frontend/src/pages/FlashcardReviewPage.tsx
  learn-greek-easy-frontend/src/pages/SessionSummaryPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/FlashcardReviewPage.analytics.test.tsx
  learn-greek-easy-frontend/src/stores/reviewStore.ts
  learn-greek-easy-frontend/src/utils/__tests__/analytics.test.ts
  learn-greek-easy-frontend/src/utils/analytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[POSTHOG-07] Add card review events tracking
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.analytics.test.ts
  learn-greek-easy-frontend/src/stores/reviewStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[POSTHOG-08] Add engagement events tracking
  learn-greek-easy-backend/src/api/v1/reviews.py
  learn-greek-easy-backend/src/services/sm2_service.py
  learn-greek-easy-frontend/src/components/decks/DecksGrid.tsx
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[POSTHOG-09] Add PostHog unit and integration tests
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/tests/unit/core/test_posthog.py
  learn-greek-easy-frontend/src/hooks/__tests__/useTrackEvent.test.ts
  learn-greek-easy-frontend/src/providers/__tests__/PostHogProvider.test.tsx
  learn-greek-easy-frontend/tests/e2e/posthog-disabled.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[POSTHOG] PostHog Analytics Integration (#84)
  .github/workflows/ci-quick.yml
  .github/workflows/preview.yml
  .github/workflows/test.yml
  learn-greek-easy-backend/.env.example
  learn-greek-easy-backend/poetry.lock
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/src/api/v1/reviews.py
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/core/__init__.py
  learn-greek-easy-backend/src/core/posthog.py
  learn-greek-easy-backend/src/main.py
  learn-greek-easy-backend/src/services/sm2_service.py
  learn-greek-easy-backend/tests/unit/core/test_posthog.py
  learn-greek-easy-frontend/.env.example
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/playwright.config.ts
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/decks/DecksGrid.tsx
  learn-greek-easy-frontend/src/env.d.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useTrackEvent.test.ts
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
  learn-greek-easy-frontend/src/lib/test-setup.ts
  learn-greek-easy-frontend/src/pages/FlashcardReviewPage.tsx
  learn-greek-easy-frontend/src/pages/SessionSummaryPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/FlashcardReviewPage.analytics.test.tsx
  learn-greek-easy-frontend/src/providers/PostHogProvider.tsx
  learn-greek-easy-frontend/src/providers/__tests__/PostHogProvider.test.tsx
  learn-greek-easy-frontend/src/providers/index.ts
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.analytics.test.ts
  learn-greek-easy-frontend/src/stores/authStore.ts
  learn-greek-easy-frontend/src/stores/reviewStore.ts
  learn-greek-easy-frontend/src/utils/__tests__/analytics.test.ts
  learn-greek-easy-frontend/src/utils/analytics.ts
  learn-greek-easy-frontend/tests/e2e/posthog-disabled.spec.ts
  learn-greek-easy-frontend/vitest.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Saved
  learn-greek-easy-frontend/Dockerfile
Due: none

[BUG] Fix TrustedHostMiddleware blocking Railway domains
  learn-greek-easy-backend/src/main.py
Due: none

[BUG] Fix TrustedHostMiddleware blocking backend public domain
  learn-greek-easy-backend/src/main.py
Due: none

[BUG] Add PostHog build arguments to frontend Dockerfile
  learn-greek-easy-frontend/Dockerfile
Due: none

[UI] Standardize CEFR level color labels on decks page
  learn-greek-easy-frontend/docs/components/deck-components.md
  learn-greek-easy-frontend/docs/components/review-components.md
  learn-greek-easy-frontend/src/components/decks/DeckBadge.tsx
  learn-greek-easy-frontend/src/components/decks/DeckFilters.tsx
  learn-greek-easy-frontend/src/components/review/shared/LevelBadge.tsx
  learn-greek-easy-frontend/src/lib/cefrColors.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[UI] Standardize CEFR level color labels on decks page (#85)
  learn-greek-easy-frontend/docs/components/deck-components.md
  learn-greek-easy-frontend/docs/components/review-components.md
  learn-greek-easy-frontend/src/components/decks/DeckBadge.tsx
  learn-greek-easy-frontend/src/components/decks/DeckFilters.tsx
  learn-greek-easy-frontend/src/components/review/shared/LevelBadge.tsx
  learn-greek-easy-frontend/src/lib/cefrColors.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Remove redundant Quick Checks on push to main
  .github/workflows/ci-quick.yml
  CLAUDE.md
Due: none

[BUG] Remove redundant Quick Checks on push to main (#86)
  .github/workflows/ci-quick.yml
  CLAUDE.md
Due: none

[BUG] Fix Lighthouse score mismatch by using single run
  learn-greek-easy-frontend/lighthouserc.cjs
  learn-greek-easy-frontend/lighthouserc.mobile.cjs
Due: none

[BUG] Fix Lighthouse score mismatch by using single run (#87)
  learn-greek-easy-frontend/lighthouserc.cjs
  learn-greek-easy-frontend/lighthouserc.mobile.cjs
Due: none

[BUG] Remove duplicate Settings nav and fix Settings page width
  learn-greek-easy-frontend/src/components/layout/AppLayout.tsx
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/layout/MobileNav.tsx
  learn-greek-easy-frontend/src/pages/Settings.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Remove duplicate Settings nav and fix Settings page width (#88)
  learn-greek-easy-frontend/src/components/layout/AppLayout.tsx
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/layout/MobileNav.tsx
  learn-greek-easy-frontend/src/pages/Settings.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[UI] Rename 'All Decks' to 'Decks' and move analytics to Statistics page
  learn-greek-easy-frontend/docs/components/layout-navigation-components.md
  learn-greek-easy-frontend/docs/components/ui-components.md
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/layout/AppLayout.tsx
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/Decks.tsx
  learn-greek-easy-frontend/src/pages/Statistics.tsx
  learn-greek-easy-frontend/tests/visual/authenticated.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TEST] Fix E2E analytics test to match Dashboard metrics
  learn-greek-easy-frontend/tests/e2e/analytics.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
