Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

[CONNPOOL][ACHIEVE] Fix SQLAlchemy Connection Pool and Background Task Issues (#232)
  learn-greek-easy-backend/src/services/sm2_service.py
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/src/tasks/scheduled.py
  learn-greek-easy-backend/tests/integration/test_sm2_integration.py
  learn-greek-easy-backend/tests/unit/services/test_sm2_service.py
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler.py
  learn-greek-easy-backend/tests/unit/tasks/test_stats_aggregate.py
  learn-greek-easy-backend/tests/unit/tasks/test_streak_reset.py
Due: none

feat(changelog): Remove Greek language support from database model
  learn-greek-easy-backend/alembic/versions/20260203_1711_d3269c256843_remove_greek_changelog_columns.py
  learn-greek-easy-backend/src/db/models.py
Due: none

feat(changelog): Remove Greek support from service layer
  learn-greek-easy-backend/src/api/v1/changelog.py
  learn-greek-easy-backend/src/schemas/changelog.py
  learn-greek-easy-backend/src/services/changelog_service.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

fix(changelog): Update docstring to reflect Greek removal
  learn-greek-easy-backend/src/services/changelog_service.py
Due: none

test(changelog): Update backend tests for Greek removal
  learn-greek-easy-backend/tests/unit/api/test_admin_changelog.py
  learn-greek-easy-backend/tests/unit/api/test_changelog.py
  learn-greek-easy-backend/tests/unit/repositories/test_changelog_repository.py
  learn-greek-easy-backend/tests/unit/schemas/test_changelog_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_changelog_service.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
Due: none

feat(changelog): Remove Greek language support from frontend
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogFormModal.tsx
  learn-greek-easy-frontend/src/types/changelog.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(changelog): Update frontend tests for Greek removal
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogFormModal.test.tsx
  learn-greek-easy-frontend/tests/e2e/changelog.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[RMGRC] Remove Greek from Changelog (#233)
  learn-greek-easy-backend/alembic/versions/20260203_1711_d3269c256843_remove_greek_changelog_columns.py
  learn-greek-easy-backend/src/api/v1/changelog.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/changelog.py
  learn-greek-easy-backend/src/services/changelog_service.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/unit/api/test_admin_changelog.py
  learn-greek-easy-backend/tests/unit/api/test_changelog.py
  learn-greek-easy-backend/tests/unit/repositories/test_changelog_repository.py
  learn-greek-easy-backend/tests/unit/schemas/test_changelog_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_changelog_service.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogFormModal.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogFormModal.test.tsx
  learn-greek-easy-frontend/src/types/changelog.ts
  learn-greek-easy-frontend/tests/e2e/changelog.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[RMACC-01] Remove accuracy from frontend session summary types and utilities
  learn-greek-easy-frontend/src/lib/__tests__/sessionSummaryUtils.test.ts
  learn-greek-easy-frontend/src/lib/sessionSummaryUtils.ts
  learn-greek-easy-frontend/src/types/review.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[RMACC-02] Update review store and session summary component
  learn-greek-easy-frontend/src/components/review/SessionSummary.tsx
  learn-greek-easy-frontend/src/stores/reviewStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[RMACC-04] Update i18n translations
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
Due: frontend-prettier

[RMACC-05] Update all related tests
  learn-greek-easy-frontend/src/components/review/__tests__/SessionSummary.integration.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/FlashcardReviewPage.integration.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/analyticsStore.test.ts
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.analytics.test.ts
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[RMACC] Remove Accuracy Metric from Frontend (#234)
  learn-greek-easy-frontend/src/components/review/SessionSummary.tsx
  learn-greek-easy-frontend/src/components/review/__tests__/SessionSummary.integration.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
  learn-greek-easy-frontend/src/lib/__tests__/sessionSummaryUtils.test.ts
  learn-greek-easy-frontend/src/lib/sessionSummaryUtils.ts
  learn-greek-easy-frontend/src/pages/__tests__/FlashcardReviewPage.integration.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/analyticsStore.test.ts
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.analytics.test.ts
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.test.ts
  learn-greek-easy-frontend/src/stores/reviewStore.ts
  learn-greek-easy-frontend/src/types/review.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CHJSON-01] Add i18n translation keys for changelog JSON input
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

[CHJSON-02] Create JSON validation utility for changelog input
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/changelogJsonValidation.test.ts
  learn-greek-easy-frontend/src/components/admin/changelog/changelogJsonValidation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CHJSON-03] Update ChangelogTab with JSON Creation Card
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogTab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CHJSON-04] Convert ChangelogFormModal to JSON Edit Modal
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogFormModal.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogTab.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogEditModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogFormModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogTab.test.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CHJSON] Changelog JSON Input (#235)
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogFormModal.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogTab.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogEditModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogFormModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogTab.test.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/changelogJsonValidation.test.ts
  learn-greek-easy-frontend/src/components/admin/changelog/changelogJsonValidation.ts
  learn-greek-easy-frontend/src/components/admin/changelog/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CDERR-01] Add card_error_reports table migration
  learn-greek-easy-backend/alembic/versions/20260204_0627_e4d348b9edab_add_card_error_reports.py
Due: none

[CDERR-01b] Add admin workflow fields to card_error_reports
  learn-greek-easy-backend/alembic/versions/20260204_0636_770a1b39d506_add_admin_fields_to_card_error_reports.py
Due: none

[CDERR-02] Add CardErrorReport model and enums
  learn-greek-easy-backend/src/db/models.py
Due: none

[CDERR-03] Add Pydantic schemas for card error reports
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/card_error.py
Due: none

[CDERR-04] Add CardErrorReportRepository
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/card_error.py
Due: none

[CDERR-05][CDERR-06] Add service layer and API endpoint
  learn-greek-easy-backend/src/api/v1/card_errors.py
  learn-greek-easy-backend/src/api/v1/router.py
  learn-greek-easy-backend/src/core/exceptions.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/card_error_service.py
Due: none

[CDERR-07] Add frontend types and API client
  learn-greek-easy-frontend/src/services/cardErrorAPI.ts
  learn-greek-easy-frontend/src/services/index.ts
  learn-greek-easy-frontend/src/types/cardError.ts
  learn-greek-easy-frontend/src/types/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CDERR-08][CDERR-09][CDERR-12] Add ReportErrorButton, ReportErrorModal, and analytics
  learn-greek-easy-frontend/src/components/card-errors/ReportErrorButton.tsx
  learn-greek-easy-frontend/src/components/card-errors/ReportErrorModal.tsx
  learn-greek-easy-frontend/src/components/card-errors/index.ts
  learn-greek-easy-frontend/src/lib/analytics/cardErrorAnalytics.ts
  learn-greek-easy-frontend/src/lib/analytics/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CDERR-10][CDERR-11] Integrate error reporting in FlashcardContainer and QuestionFeedback
  learn-greek-easy-frontend/src/components/culture/QuestionFeedback.tsx
  learn-greek-easy-frontend/src/components/review/FlashcardContainer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CDERR-13] Add i18n translations for error reporting UI
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
Due: frontend-prettier

[CDERR-14] Add E2E tests for card error reporting
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CDERR-01c] Add column comments for card error reports
  learn-greek-easy-backend/alembic/versions/20260204_0722_b433bd53507e_add_column_comments.py
Due: none

[FIX] Use correct toast import in ReportErrorModal
  learn-greek-easy-frontend/src/components/card-errors/ReportErrorModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FIX] Fix toast API usage in ReportErrorModal and E2E test selector
  learn-greek-easy-frontend/src/components/card-errors/ReportErrorModal.tsx
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FIX] Fix E2E test toast selector to avoid strict mode violation
  culture-feedback-with-report-button.png
  culture-mcq-buttons.png
  docker-compose.dev.yml
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
  vocabulary-error-report-submit-failure.png
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FIX] Simplify E2E test to not check toast implementation
  docker-compose.dev.yml
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SKIP] Temporarily skip culture E2E tests due to environmental issues
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CDERR] Card Error Reporting (#236)
  culture-feedback-with-report-button.png
  culture-mcq-buttons.png
  docker-compose.dev.yml
  learn-greek-easy-backend/alembic/versions/20260204_0627_e4d348b9edab_add_card_error_reports.py
  learn-greek-easy-backend/alembic/versions/20260204_0636_770a1b39d506_add_admin_fields_to_card_error_reports.py
  learn-greek-easy-backend/alembic/versions/20260204_0722_b433bd53507e_add_column_comments.py
  learn-greek-easy-backend/src/api/v1/card_errors.py
  learn-greek-easy-backend/src/api/v1/router.py
  learn-greek-easy-backend/src/core/exceptions.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/card_error.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/card_error.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/card_error_service.py
  learn-greek-easy-frontend/src/components/card-errors/ReportErrorButton.tsx
  learn-greek-easy-frontend/src/components/card-errors/ReportErrorModal.tsx
  learn-greek-easy-frontend/src/components/card-errors/index.ts
  learn-greek-easy-frontend/src/components/culture/QuestionFeedback.tsx
  learn-greek-easy-frontend/src/components/review/FlashcardContainer.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
  learn-greek-easy-frontend/src/lib/analytics/cardErrorAnalytics.ts
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/services/cardErrorAPI.ts
  learn-greek-easy-frontend/src/services/index.ts
  learn-greek-easy-frontend/src/types/cardError.ts
  learn-greek-easy-frontend/src/types/index.ts
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
  vocabulary-error-report-submit-failure.png
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CERAD-01] Add admin service methods for card error reports
  learn-greek-easy-backend/src/services/card_error_service.py
  learn-greek-easy-backend/tests/unit/services/test_card_error_service.py
Due: none

[CERAD-02] Add backend admin card error API endpoints
  docker-compose.dev.yml
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/repositories/card_error.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/card_error_admin_service.py
  learn-greek-easy-backend/src/services/card_error_service.py
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/card_error.py
  learn-greek-easy-backend/tests/integration/api/test_admin_card_errors.py
  learn-greek-easy-backend/tests/unit/services/test_card_error_admin_service.py
  learn-greek-easy-backend/tests/unit/services/test_card_error_service.py
Due: none

[CERAD-03] Add frontend types and API client for admin card errors
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/types/cardError.ts
  learn-greek-easy-frontend/src/types/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CERAD-04] Add admin card error Zustand store
  learn-greek-easy-frontend/src/stores/adminCardErrorStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck
