Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

test(e2e): dispatch click directly for deck-card action buttons under sticky header
  learn-greek-easy-frontend/tests/e2e/deck-creation.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(decks): CardRow RU answer lang + rename dxPulse keyframe to kebab-case
  learn-greek-easy-frontend/src/features/decks/dx/dx.css
  learn-greek-easy-frontend/src/features/words/components/CardRow.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/CardRow.test.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(decks): render deck cover images on grid cards, gradient as fallback
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckCard.test.tsx
  learn-greek-easy-frontend/src/features/decks/dx/DxCover.tsx
  learn-greek-easy-frontend/src/features/decks/dx/__tests__/deckGradient.test.tsx
  learn-greek-easy-frontend/src/features/decks/dx/dx.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(decks): strengthen scrim on photo covers for left-column legibility
  learn-greek-easy-frontend/src/features/decks/dx/DxCover.tsx
  learn-greek-easy-frontend/src/features/decks/dx/__tests__/deckGradient.test.tsx
  learn-greek-easy-frontend/src/features/decks/dx/dx.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(decks): stack deck-card progress under meta in the dark left column
  learn-greek-easy-frontend/src/features/decks/dx/dx.css
Due: frontend-prettier

fix(decks): load dx.css on deck detail deep-links
  learn-greek-easy-frontend/src/features/decks/dx/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(decks): import dx.css in the deck detail route module
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckPage.tsx
  learn-greek-easy-frontend/src/features/decks/dx/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(s3): raise default presigned-URL expiry to 24h (SCACHE-01)
  learn-greek-easy-backend/src/config.py
Due: none

feat(s3): deterministic presigned URLs + Cache-Control on write (SCACHE-02)
  learn-greek-easy-backend/src/services/s3_service.py
Due: none

i18n(culture): add Russian translations for all CX-01 redesign keys
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
Due: frontend-prettier

feat(culture): redesign learner Culture surface (CX-01)
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/culture/QuestionDetailDialog.tsx
  learn-greek-easy-frontend/src/components/culture/redesign/CultureHero.tsx
  learn-greek-easy-frontend/src/components/culture/redesign/CultureMetricStrip.tsx
  learn-greek-easy-frontend/src/components/decks/DecksGrid.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/culture/CulturePage.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureReadinessPage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePage.test.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CultureReadinessPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(s3): version deck & culture-deck cover image keys (SCACHE-03)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/culture/router.py
Due: none

feat(s3): version situation picture image keys + prior-key cleanup (SCACHE-04)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/services/situation_picture_service.py
Due: none

feat(s3): version dialog & description audio keys + prior-key cleanup on regenerate (SCACHE-05)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/services/description_audio_service.py
Due: none

feat(s3): enable Cache-Control immutable now that all keys are versioned (INFRA-01)
  learn-greek-easy-backend/src/services/s3_service.py
Due: none

feat(s3): one-shot bucket-wide Cache-Control backfill script (SCACHE-06)
  learn-greek-easy-backend/src/scripts/backfill_s3_cache_control.py
Due: none

test(s3): unit tests for presigned-URL determinism + Cache-Control (SCACHE-07)
  learn-greek-easy-backend/tests/unit/services/test_s3_service.py
Due: none

test(s3): migrate caller tests to versioned key shape + old-key deletion (SCACHE-08)
  learn-greek-easy-backend/tests/helpers/assertions.py
  learn-greek-easy-backend/tests/integration/api/test_admin_deck_cover_image.py
  learn-greek-easy-backend/tests/integration/api/test_culture_deck_cover_image.py
  learn-greek-easy-backend/tests/unit/api/test_admin_description_audio_stream.py
  learn-greek-easy-backend/tests/unit/api/test_admin_dialog_audio.py
  learn-greek-easy-backend/tests/unit/api/test_admin_situation_picture_stream.py
  learn-greek-easy-backend/tests/unit/services/test_situation_picture_service.py
Due: none

fix(s3): replace direct botocore.auth attr access with getattr/setattr (SCACHE-02)
  learn-greek-easy-backend/src/services/s3_service.py
Due: none

fix(s3): delete prior cover object after commit (best-effort) + clarify first-gen orchestrators (CodeRabbit)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/services/description_audio_service.py
  learn-greek-easy-backend/src/services/situation_picture_service.py
Due: none

INFRA-01: S3 Asset Cache Optimization (#516)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/scripts/backfill_s3_cache_control.py
  learn-greek-easy-backend/src/services/description_audio_service.py
  learn-greek-easy-backend/src/services/s3_service.py
  learn-greek-easy-backend/src/services/situation_picture_service.py
  learn-greek-easy-backend/tests/helpers/assertions.py
  learn-greek-easy-backend/tests/integration/api/test_admin_deck_cover_image.py
  learn-greek-easy-backend/tests/integration/api/test_culture_deck_cover_image.py
  learn-greek-easy-backend/tests/unit/api/test_admin_description_audio_stream.py
  learn-greek-easy-backend/tests/unit/api/test_admin_dialog_audio.py
  learn-greek-easy-backend/tests/unit/api/test_admin_situation_picture_stream.py
  learn-greek-easy-backend/tests/unit/services/test_s3_service.py
  learn-greek-easy-backend/tests/unit/services/test_situation_picture_service.py
Due: none

fix(culture): make mock-exam CTA a single link element; fix E2E
  learn-greek-easy-frontend/src/pages/culture/CulturePage.tsx
  learn-greek-easy-frontend/tests/e2e/culture-page-split.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(culture): redesign learner Culture surface (CX-01) (#517)
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/culture/QuestionDetailDialog.tsx
  learn-greek-easy-frontend/src/components/culture/redesign/CultureHero.tsx
  learn-greek-easy-frontend/src/components/culture/redesign/CultureMetricStrip.tsx
  learn-greek-easy-frontend/src/components/decks/DecksGrid.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/culture/CulturePage.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureReadinessPage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePage.test.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CultureReadinessPage.test.tsx
  learn-greek-easy-frontend/tests/e2e/culture-page-split.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(culture): add exam-prep clause to Culture subtitle (en + ru)
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
Due: frontend-prettier

fix(culture): align metric-strip tones with CX-01 prototype
  learn-greek-easy-frontend/src/components/culture/redesign/CultureMetricStrip.tsx
  learn-greek-easy-frontend/src/features/decks/dx/dx.css
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
  learn-greek-easy-frontend/src/pages/culture/CulturePage.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureReadinessPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(decks): add name_el/description_el to deck write+read schemas (DGREEK-01)
  learn-greek-easy-backend/src/schemas/deck.py
  learn-greek-easy-backend/tests/unit/schemas/test_deck_schemas.py
Due: none

fix(decks): persist provided name_el/description_el, stop en->el overwrite (DGREEK-02)
  learn-greek-easy-backend/src/api/v1/decks.py
Due: none

feat(decks): expose raw name_el/description_el on all read responses (DGREEK-03)
  learn-greek-easy-backend/src/api/v1/decks.py
Due: none

test(decks): integration tests for Greek persistence & raw response (DGREEK-04)
  learn-greek-easy-backend/tests/integration/api/test_decks.py
Due: none

feat(admin): add Greek (el) tab to deck create & edit forms (DGREEK-05)
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckCreateForm.tsx
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/decks/DeckSettingsTab.tsx
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(decks): constant Greek subtitle from name_el + hero dedup guard (DGREEK-06)
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/DxResumeHero.tsx
  learn-greek-easy-frontend/src/services/deckAPI.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(decks): record A1 deck Greek-name backfill SQL (DGREEK-07)
  learn-greek-easy-backend/scripts/backfill_a1_deck_greek_names.sql
Due: none

test(decks): unit + E2E for constant Greek subtitle & dedup (DGREEK-08)
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/DxResumeHero.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/deckStore.test.ts
  learn-greek-easy-frontend/tests/e2e/deck-greek-subtitle.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(decks): address CodeRabbit — drop stray description assert; seed e2e locale via addInitScript
  learn-greek-easy-backend/tests/integration/api/test_decks.py
  learn-greek-easy-frontend/tests/e2e/deck-greek-subtitle.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(gamification): per-surface streak functions + dashboard fields (STRK-01..03)
  learn-greek-easy-backend/src/repositories/exercise_review.py
  learn-greek-easy-backend/src/schemas/progress.py
  learn-greek-easy-backend/src/services/gamification/streak.py
  learn-greek-easy-backend/src/services/progress_service.py
  learn-greek-easy-backend/tests/unit/services/test_progress_service.py
Due: none

test(decks): drop brittle API-mock equal-case e2e; equal-case is unit-covered (DGREEK-08)
  learn-greek-easy-frontend/tests/e2e/deck-greek-subtitle.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(gamification): per-surface streak unit + integration tests (STRK-04)
  learn-greek-easy-backend/tests/integration/services/test_streak_integration.py
  learn-greek-easy-backend/tests/unit/services/gamification/test_streak.py
Due: none

feat(culture): wire Culture streak tile to culture_current_streak + FE streak types (STRK-05, STRK-06)
  learn-greek-easy-frontend/src/pages/culture/CulturePage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePage.test.tsx
  learn-greek-easy-frontend/src/services/progressAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(culture): unit tests for wired Culture streak tile (STRK-07)
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck
