Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

[BACKEND] Refactor middleware from BaseHTTPMiddleware to pure ASGI (#119)
  learn-greek-easy-backend/src/middleware/auth.py
  learn-greek-easy-backend/src/middleware/error_handler.py
  learn-greek-easy-backend/src/middleware/logging.py
  learn-greek-easy-backend/src/middleware/rate_limit.py
  learn-greek-easy-backend/tests/unit/middleware/test_error_handler_middleware.py
Due: none

Fix auth race condition causing UNAUTHORIZED errors (#120)
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/contexts/NotificationContext.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix incomplete auth race condition in AchievementNotificationManager
  learn-greek-easy-frontend/src/components/xp/AchievementNotificationManager.tsx
  learn-greek-easy-frontend/src/contexts/NotificationContext.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ci): update preview workflow to use --ci flag for sequential deploys [CICD-01]
  .github/workflows/preview.yml
Due: none

feat(ci): add production deploy workflow with sequential deploys [CICD-02]
  .github/workflows/deploy-production.yml
Due: none

docs: add deployment guide and update CLAUDE.md [CICD-03]
  CLAUDE.md
  docs/deployment-guide.md
Due: none

[CI/CD] Implement sequential deploy pipeline (Backend -> Frontend) (#121)
  .github/workflows/deploy-production.yml
  .github/workflows/preview.yml
  CLAUDE.md
  docs/deployment-guide.md
Due: none

Fix culture deck category bug: governance->politics, add practical category
  learn-greek-easy-backend/alembic/versions/20251228_2207_a484d1ae5325_change_governance_category_to_politics.py
  learn-greek-easy-frontend/src/components/culture/CultureBadge.tsx
  learn-greek-easy-frontend/src/types/culture.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix multiple UI bugs and remove time estimation feature
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/components/decks/DeckFilters.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckFilters.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/deck.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/DeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/DecksPage.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
  learn-greek-easy-frontend/src/stores/__tests__/deckStore.test.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
  learn-greek-easy-frontend/tests/e2e/deck-filter-culture-level.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix E2E test selectors to use exact: true for deck type buttons
  learn-greek-easy-frontend/tests/e2e/deck-filter-culture-level.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix Completed button selector in E2E test
  learn-greek-easy-frontend/tests/e2e/deck-filter-culture-level.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix E2E test heading selector ambiguity
  learn-greek-easy-frontend/tests/e2e/deck-filter-culture-level.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX] Multiple bug fixes and cleanup (#122)
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/components/decks/DeckFilters.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckFilters.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/deck.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/DeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/DecksPage.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
  learn-greek-easy-frontend/src/stores/__tests__/deckStore.test.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
  learn-greek-easy-frontend/tests/e2e/deck-filter-culture-level.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CULTFIX-00] Add category field to CultureQuestionQueue backend response
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_practice.py
Due: none

[CULTFIX-01] Add getQuestionQueue and submitAnswer methods to cultureDeckAPI
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CULTFIX-02] Update CulturePracticePage to use real API calls
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CULTFIX-03] Align frontend types with backend and update tests
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/types/culture.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CULTFIX] Culture Deck Practice API - Add Category to Backend Response (#123)
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_practice.py
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
  learn-greek-easy-frontend/src/types/culture.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(caddy): add request buffering to prevent body parsing race condition
  learn-greek-easy-frontend/Caddyfile
  learn-greek-easy-frontend/Caddyfile.dev
Due: none

fix(caddy): add request buffering to prevent body parsing race condition (#124)
  learn-greek-easy-frontend/Caddyfile
  learn-greek-easy-frontend/Caddyfile.dev
Due: none

perf: optimize database queries in answer submission flow
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/src/services/xp_service.py
Due: none

perf: move non-critical answer operations to background tasks
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/src/tasks/__init__.py
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_practice.py
  learn-greek-easy-backend/tests/unit/services/test_culture_question_service.py
Due: none

test: update test_background.py to include process_answer_side_effects_task exports
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
Due: none

perf: implement early response pattern for answer submission
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/src/tasks/__init__.py
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/tests/unit/services/test_culture_question_service.py
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
Due: none

test: update E2E tests for PERF-03 fast response schema
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_practice.py
Due: none

test: fix 4 remaining tests after PERF-03 background processing
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_practice.py
  learn-greek-easy-backend/tests/integration/api/test_culture_question.py
Due: none

fix(culture): use synchronous processing when background tasks disabled
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_practice.py
Due: none

[PERF-02] Optimize Database Queries in Answer Submission Flow (#125)
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/src/services/xp_service.py
  learn-greek-easy-backend/src/tasks/__init__.py
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_practice.py
  learn-greek-easy-backend/tests/integration/api/test_culture_question.py
  learn-greek-easy-backend/tests/unit/services/test_culture_question_service.py
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
Due: none

[PERF-01] Reduce Unused JavaScript - Route-Level Code Splitting
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/auth/AuthRoutesWrapper.tsx
  learn-greek-easy-frontend/src/components/auth/index.ts
  learn-greek-easy-frontend/src/components/errors/ChunkErrorBoundary.tsx
  learn-greek-easy-frontend/src/components/errors/index.ts
  learn-greek-easy-frontend/src/components/feedback/PageLoader.tsx
  learn-greek-easy-frontend/src/components/feedback/index.ts
  learn-greek-easy-frontend/src/lib/lazyWithRetry.ts
  learn-greek-easy-frontend/vite.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PERF-05] Reduce unused CSS by removing chart and sidebar variables
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

[PERF-02] Add preconnect hints for external origins
  learn-greek-easy-frontend/index.html
Due: none

[PERF-03] Optimize Largest Contentful Paint (LCP)
  learn-greek-easy-frontend/index.html
  learn-greek-easy-frontend/src/components/errors/ErrorBoundary.tsx
  learn-greek-easy-frontend/src/components/errors/ErrorFallback.tsx
  learn-greek-easy-frontend/src/contexts/LanguageContext.tsx
  learn-greek-easy-frontend/src/i18n/__tests__/i18n.test.ts
  learn-greek-easy-frontend/src/i18n/index.ts
  learn-greek-easy-frontend/src/i18n/lazy-resources.ts
  learn-greek-easy-frontend/src/lib/__tests__/logger.test.ts
  learn-greek-easy-frontend/src/lib/logger.ts
  learn-greek-easy-frontend/src/lib/sentry-queue.ts
  learn-greek-easy-frontend/src/main.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): improve auth test stability with robust app ready waits
  learn-greek-easy-frontend/index.html
  learn-greek-easy-frontend/src/components/feedback/PageLoader.tsx
  learn-greek-easy-frontend/src/main.tsx
  learn-greek-easy-frontend/tests/e2e/auth.setup.ts
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(auth): resolve E2E auth test failures
  learn-greek-easy-frontend/src/components/auth/AuthRoutesWrapper.tsx
  learn-greek-easy-frontend/src/components/auth/GoogleSignInButton.tsx
  learn-greek-easy-frontend/src/components/errors/ChunkErrorBoundary.tsx
  learn-greek-easy-frontend/src/components/errors/__tests__/ChunkErrorBoundary.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Improve
  CLAUDE.md
Due: none

fix(i18n): pre-load language resources before i18n.init()
  learn-greek-easy-frontend/src/components/feedback/__tests__/PageLoader.test.tsx
  learn-greek-easy-frontend/src/i18n/__tests__/i18n.test.ts
  learn-greek-easy-frontend/src/i18n/index.ts
  learn-greek-easy-frontend/src/i18n/init.ts
  learn-greek-easy-frontend/src/lib/__tests__/lazyWithRetry.test.tsx
  learn-greek-easy-frontend/src/lib/test-setup.ts
  learn-greek-easy-frontend/src/main.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): use specific test IDs instead of generic h1/h2 selectors
  learn-greek-easy-frontend/tests/e2e/accessibility.spec.ts
  learn-greek-easy-frontend/tests/e2e/keyboard-navigation.spec.ts
  learn-greek-easy-frontend/tests/e2e/mobile-responsive.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(docker): upgrade to Node.js 20 for Vite 7.x compatibility
  learn-greek-easy-frontend/Dockerfile
Due: none

[PERF] Frontend Performance Optimizations (#126)
  learn-greek-easy-frontend/Dockerfile
  learn-greek-easy-frontend/index.html
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/auth/AuthRoutesWrapper.tsx
  learn-greek-easy-frontend/src/components/auth/GoogleSignInButton.tsx
  learn-greek-easy-frontend/src/components/auth/index.ts
  learn-greek-easy-frontend/src/components/errors/ChunkErrorBoundary.tsx
  learn-greek-easy-frontend/src/components/errors/ErrorBoundary.tsx
  learn-greek-easy-frontend/src/components/errors/ErrorFallback.tsx
  learn-greek-easy-frontend/src/components/errors/__tests__/ChunkErrorBoundary.test.tsx
  learn-greek-easy-frontend/src/components/errors/index.ts
  learn-greek-easy-frontend/src/components/feedback/PageLoader.tsx
  learn-greek-easy-frontend/src/components/feedback/__tests__/PageLoader.test.tsx
  learn-greek-easy-frontend/src/components/feedback/index.ts
  learn-greek-easy-frontend/src/contexts/LanguageContext.tsx
  learn-greek-easy-frontend/src/i18n/__tests__/i18n.test.ts
  learn-greek-easy-frontend/src/i18n/index.ts
  learn-greek-easy-frontend/src/i18n/init.ts
  learn-greek-easy-frontend/src/i18n/lazy-resources.ts
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/src/lib/__tests__/lazyWithRetry.test.tsx
  learn-greek-easy-frontend/src/lib/__tests__/logger.test.ts
  learn-greek-easy-frontend/src/lib/lazyWithRetry.ts
  learn-greek-easy-frontend/src/lib/logger.ts
  learn-greek-easy-frontend/src/lib/sentry-queue.ts
  learn-greek-easy-frontend/src/lib/test-setup.ts
  learn-greek-easy-frontend/src/main.tsx
  learn-greek-easy-frontend/tailwind.config.js
  learn-greek-easy-frontend/tests/e2e/accessibility.spec.ts
  learn-greek-easy-frontend/tests/e2e/auth.setup.ts
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
  learn-greek-easy-frontend/tests/e2e/keyboard-navigation.spec.ts
  learn-greek-easy-frontend/tests/e2e/mobile-responsive.spec.ts
  learn-greek-easy-frontend/vite.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: remove floating toast notifications, keep notification center
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/notifications/NotificationToast.tsx
  learn-greek-easy-frontend/src/components/notifications/NotificationToastContainer.tsx
  learn-greek-easy-frontend/src/components/notifications/index.ts
  learn-greek-easy-frontend/src/contexts/NotificationContext.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck
