Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

fix: add timeouts to notification toggle visibility checks in E2E tests
  learn-greek-easy-frontend/tests/e2e/notification-preferences.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: improve notification preferences E2E test stability
  learn-greek-easy-frontend/tests/e2e/notification-preferences.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: simplify notification preferences E2E tests
  learn-greek-easy-frontend/tests/e2e/notification-preferences.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: send preferences to backend API in updateProfile
  learn-greek-easy-frontend/src/stores/authStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[AVATAR] Avatar Upload Feature (#186)
  learn-greek-easy-backend/alembic/versions/20260120_1355_037928b86d1e_add_avatar_url_to_users.py
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/user.py
  learn-greek-easy-backend/src/services/s3_service.py
  learn-greek-easy-backend/tests/integration/api/test_auth_avatar.py
  learn-greek-easy-backend/tests/unit/services/test_s3_service_avatar.py
  learn-greek-easy-frontend/src/components/profile/PersonalInfoSection.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/profile.json
  learn-greek-easy-frontend/src/i18n/locales/en/profile.json
  learn-greek-easy-frontend/src/i18n/locales/ru/profile.json
  learn-greek-easy-frontend/src/services/authAPI.ts
  learn-greek-easy-frontend/src/stores/authStore.ts
  learn-greek-easy-frontend/tests/e2e/notification-preferences.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: return presigned avatar URL instead of S3 key in profile responses
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/tests/integration/api/test_auth_avatar.py
Due: none

[VECTOR-01] Update docker-compose.dev.yml to use pgvector image
  docker-compose.dev.yml
Due: none

[VECTOR-02] Add pgvector Python dependency
  learn-greek-easy-backend/poetry.lock
  learn-greek-easy-backend/pyproject.toml
Due: none

[VECTOR-03] Add embedding columns to CultureQuestion model
  learn-greek-easy-backend/src/db/models.py
Due: none

[VECTOR-04] Add Alembic migration for pgvector embedding columns
  learn-greek-easy-backend/alembic/versions/20260121_1205_7b0abae73df7_add_vector_embedding_columns_to_culture_questions.py
Due: none

[VECTOR-05] Add pgvector integration tests
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/tests/conftest.py
  learn-greek-easy-backend/tests/integration/test_pgvector_integration.py
Due: none

[VECTOR-05] Add pgvector extension to test database setup
  learn-greek-easy-backend/tests/fixtures/database.py
Due: none

[VECTOR] Update CI workflows to use pgvector-enabled Postgres image
  .github/workflows/ci-quick.yml
  .github/workflows/test.yml
Due: none

[VECTOR] Add pgvector index filter to Alembic env.py
  learn-greek-easy-backend/alembic/env.py
Due: none

[VECTOR] Vector Storage Implementation (#187)
  .github/workflows/ci-quick.yml
  .github/workflows/test.yml
  docker-compose.dev.yml
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20260121_1205_7b0abae73df7_add_vector_embedding_columns_to_culture_questions.py
  learn-greek-easy-backend/poetry.lock
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/tests/conftest.py
  learn-greek-easy-backend/tests/fixtures/database.py
  learn-greek-easy-backend/tests/integration/test_pgvector_integration.py
Due: none

[SOURCES-01] Add NewsSource model and migration
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20260121_1543_29695fa3f73f_add_news_sources_table.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/tests/unit/db/test_news_source_model.py
Due: none

feat(backend): add NewsSourceRepository with CRUD and URL checks
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/news_source.py
  learn-greek-easy-backend/tests/unit/repositories/test_news_source.py
Due: none

feat(backend): add NewsSourceService with CRUD and URL validation
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/news_source_service.py
  learn-greek-easy-backend/tests/unit/services/test_news_source_service.py
Due: none

feat(backend): add news sources admin API endpoints
  docs/architecture/SOURCES-architecture.md
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/services/news_source_service.py
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/culture.py
  learn-greek-easy-backend/tests/integration/api/test_admin_sources.py
Due: none

feat(frontend): add NewsSource API service and types
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/services/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): add NewsSource management components
  learn-greek-easy-frontend/src/components/admin/NewsSourceDeleteDialog.tsx
  learn-greek-easy-frontend/src/components/admin/NewsSourceFormDialog.tsx
  learn-greek-easy-frontend/src/components/admin/NewsSourcesSection.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(i18n): add NewsSource translations for EN, EL, RU
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

feat(seed): add news sources E2E seed data
  docs/e2e-seeding.md
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

test(admin): add E2E and visual tests for news sources
  learn-greek-easy-frontend/tests/e2e/admin-sources.spec.ts
  learn-greek-easy-frontend/tests/visual/admin-sources.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: add missing table UI component and fix vector extension race condition
  learn-greek-easy-backend/tests/fixtures/database.py
  learn-greek-easy-frontend/src/components/ui/table.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): prevent admin-sources test from breaking parallel tests
  learn-greek-easy-frontend/tests/e2e/admin-sources.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(sources): fix validation and duplicate URL error detection
  learn-greek-easy-frontend/src/components/admin/NewsSourceFormDialog.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(sources): improve WebKit compatibility for E2E tests
  learn-greek-easy-frontend/src/components/admin/NewsSourceFormDialog.tsx
  learn-greek-easy-frontend/tests/e2e/admin-sources.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SOURCES] Culture Website Sources Config (#188)
  docs/architecture/SOURCES-architecture.md
  docs/e2e-seeding.md
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20260121_1543_29695fa3f73f_add_news_sources_table.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/news_source.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/news_source_service.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/culture.py
  learn-greek-easy-backend/tests/fixtures/database.py
  learn-greek-easy-backend/tests/integration/api/test_admin_sources.py
  learn-greek-easy-backend/tests/unit/db/test_news_source_model.py
  learn-greek-easy-backend/tests/unit/repositories/test_news_source.py
  learn-greek-easy-backend/tests/unit/services/test_news_source_service.py
  learn-greek-easy-frontend/src/components/admin/NewsSourceDeleteDialog.tsx
  learn-greek-easy-frontend/src/components/admin/NewsSourceFormDialog.tsx
  learn-greek-easy-frontend/src/components/admin/NewsSourcesSection.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/components/ui/table.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/services/index.ts
  learn-greek-easy-frontend/tests/e2e/admin-sources.spec.ts
  learn-greek-easy-frontend/tests/visual/admin-sources.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(db): add SourceFetchHistory model and migration
  docs/architecture/SCRAPER-architecture.md
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20260122_1605_910421a50d22_add_source_fetch_history_table.py
  learn-greek-easy-backend/src/db/models.py
Due: none

feat(backend): add SourceFetchHistory repository and fetch service
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/source_fetch_history.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/source_fetch_service.py
  learn-greek-easy-backend/tests/unit/repositories/test_source_fetch_history.py
  learn-greek-easy-backend/tests/unit/services/test_source_fetch_service.py
Due: none

feat(api): add fetch history API endpoints
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/culture.py
  learn-greek-easy-backend/tests/integration/api/test_admin_fetch_history.py
Due: none

feat(scheduler): add daily news source fetch task
  learn-greek-easy-backend/src/tasks/scheduled.py
  learn-greek-easy-backend/src/tasks/scheduler.py
  learn-greek-easy-backend/tests/unit/tasks/test_fetch_sources_task.py
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler.py
Due: none

feat(frontend): add Culture admin tabs and fetch history UI
  learn-greek-easy-frontend/src/components/admin/CultureAdminTabs.tsx
  learn-greek-easy-frontend/src/components/admin/FetchHistoryTable.tsx
  learn-greek-easy-frontend/src/components/admin/HtmlViewerModal.tsx
  learn-greek-easy-frontend/src/components/admin/NewsSourcesSection.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(seed): add fetch history seeding and E2E tests
  docs/e2e-seeding.md
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/tests/e2e/admin-fetch-history.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): use correct toast selector for Radix/shadcn toast
  learn-greek-easy-frontend/tests/e2e/admin-fetch-history.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): update admin-sources tests for tabbed UI
  learn-greek-easy-frontend/tests/e2e/admin-sources.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): fix undefined table reference in E2E-SOURCES-13
  learn-greek-easy-frontend/tests/e2e/admin-sources.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SCRAPER] Culture News HTML Scraper (#189)
  docs/architecture/SCRAPER-architecture.md
  docs/e2e-seeding.md
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20260122_1605_910421a50d22_add_source_fetch_history_table.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/source_fetch_history.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/src/services/source_fetch_service.py
  learn-greek-easy-backend/src/tasks/scheduled.py
  learn-greek-easy-backend/src/tasks/scheduler.py
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/culture.py
  learn-greek-easy-backend/tests/integration/api/test_admin_fetch_history.py
  learn-greek-easy-backend/tests/unit/repositories/test_source_fetch_history.py
  learn-greek-easy-backend/tests/unit/services/test_source_fetch_service.py
  learn-greek-easy-backend/tests/unit/tasks/test_fetch_sources_task.py
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler.py
  learn-greek-easy-frontend/src/components/admin/CultureAdminTabs.tsx
  learn-greek-easy-frontend/src/components/admin/FetchHistoryTable.tsx
  learn-greek-easy-frontend/src/components/admin/HtmlViewerModal.tsx
  learn-greek-easy-frontend/src/components/admin/NewsSourcesSection.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/tests/e2e/admin-fetch-history.spec.ts
  learn-greek-easy-frontend/tests/e2e/admin-sources.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Fix Culture Decks showing only first character of names
  learn-greek-easy-frontend/src/components/admin/CultureAdminTabs.tsx
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
