Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

fix: refresh user settings after commit in auth0 login
  learn-greek-easy-backend/src/services/auth_service.py
Due: none

fix: re-query user with selectinload instead of refresh
  learn-greek-easy-backend/src/services/auth_service.py
Due: none

fix: refresh user settings BEFORE commit to ensure they're loaded
  learn-greek-easy-backend/src/services/auth_service.py
Due: none

fix: re-fetch user AFTER commit to avoid lazy loading + update tests
  learn-greek-easy-backend/src/services/auth_service.py
  learn-greek-easy-backend/tests/unit/services/test_auth_service_auth0.py
Due: none

fix: increase Railway DNS propagation wait to 60 seconds
  .github/workflows/deploy-production.yml
  .github/workflows/preview.yml
Due: none

[AUTH-CLEANUP] Authentication System Cleanup & Fix (#158)
  .github/workflows/deploy-production.yml
  .github/workflows/preview.yml
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/src/main.py
  learn-greek-easy-backend/src/schemas/user.py
  learn-greek-easy-backend/src/services/auth_service.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/test_seed_service.py
  learn-greek-easy-backend/tests/unit/services/test_auth_service_auth0.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
  learn-greek-easy-frontend/playwright.config.ts
  learn-greek-easy-frontend/src/components/auth/Auth0LoginForm.tsx
  learn-greek-easy-frontend/src/components/auth/__tests__/ProtectedRoute.integration.test.tsx
  learn-greek-easy-frontend/src/hooks/useAuth0Integration.ts
  learn-greek-easy-frontend/src/pages/auth/Callback.tsx
  learn-greek-easy-frontend/src/services/authAPI.ts
  learn-greek-easy-frontend/src/services/index.ts
  learn-greek-easy-frontend/src/stores/authStore.ts
  learn-greek-easy-frontend/tests/e2e/auth.setup.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: improve Caddy DNS resolution for Railway deployments
  learn-greek-easy-frontend/Caddyfile
  learn-greek-easy-frontend/docker-entrypoint.sh
Due: none

fix: improve Caddy DNS resolution for Railway deployments (#159)
  learn-greek-easy-frontend/Caddyfile
  learn-greek-easy-frontend/docker-entrypoint.sh
Due: none

feat(db): make option_c and option_d nullable for variable answer count
  learn-greek-easy-backend/alembic/versions/20260112_1100_ceda38aaf6b3_make_option_c_d_nullable.py
  learn-greek-easy-backend/src/db/models.py
Due: none

feat(schemas): support variable answer counts (2-4 options)
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/tests/unit/schemas/test_culture_schemas.py
Due: none

feat(service): support variable answer counts in culture questions
  learn-greek-easy-backend/src/services/culture_question_service.py
Due: none

test(integration): add variable answer count API tests
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/tests/integration/api/test_culture_variable_options.py
  learn-greek-easy-backend/tests/unit/services/test_culture_question_service.py
Due: none

feat(types): add option_count to culture question types
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
  learn-greek-easy-frontend/src/types/culture.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(hooks): make keyboard shortcuts dynamic based on option count
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/hooks/__tests__/useMCQKeyboardShortcuts.test.ts
  learn-greek-easy-frontend/src/hooks/useMCQKeyboardShortcuts.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(i18n): add dynamic keyboard hint translations
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/culture.json
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(frontend): add variable option count tests for MCQComponent
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: implement admin feedback UI and verify user edit/delete
  learn-greek-easy-frontend/src/components/admin/AdminFeedbackCard.tsx
  learn-greek-easy-frontend/src/components/admin/AdminFeedbackResponseDialog.tsx
  learn-greek-easy-frontend/src/components/admin/AdminFeedbackSection.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminFeedbackStore.ts
  learn-greek-easy-frontend/src/types/feedback.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: move DNS wait to after frontend deploy for reliable health checks
  .github/workflows/preview.yml
Due: none

revert: undo DNS timing change (actual issue was missing migration)
  .github/workflows/preview.yml
Due: none

[VAC + BUG] Variable Answer Count & Feedback UI Fixes (#161)
  .github/workflows/preview.yml
  learn-greek-easy-backend/alembic/versions/20260112_1100_ceda38aaf6b3_make_option_c_d_nullable.py
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/tests/integration/api/test_culture_variable_options.py
  learn-greek-easy-backend/tests/unit/schemas/test_culture_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_culture_question_service.py
  learn-greek-easy-frontend/src/components/admin/AdminFeedbackCard.tsx
  learn-greek-easy-frontend/src/components/admin/AdminFeedbackResponseDialog.tsx
  learn-greek-easy-frontend/src/components/admin/AdminFeedbackSection.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
  learn-greek-easy-frontend/src/hooks/__tests__/useMCQKeyboardShortcuts.test.ts
  learn-greek-easy-frontend/src/hooks/useMCQKeyboardShortcuts.ts
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/el/culture.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
  learn-greek-easy-frontend/src/stores/adminFeedbackStore.ts
  learn-greek-easy-frontend/src/types/culture.ts
  learn-greek-easy-frontend/src/types/feedback.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(auth): use store user with backend UUID instead of Auth0 sub
  learn-greek-easy-frontend/src/hooks/useAuth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(db): add UPPERCASE enum values for feedback notifications
  learn-greek-easy-backend/alembic/versions/20260112_1600_b0161f8a_add_uppercase_feedback_notification_enum.py
  learn-greek-easy-backend/tests/unit/services/test_notification_service.py
Due: none

[BUG] Feedback Auth ID Mismatch & Missing Notification Enum (#162)
  learn-greek-easy-backend/alembic/versions/20260112_1600_b0161f8a_add_uppercase_feedback_notification_enum.py
  learn-greek-easy-backend/tests/unit/services/test_notification_service.py
  learn-greek-easy-frontend/src/hooks/useAuth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: change completion gate from full CI/CD to deploy + smoke tests
  RALPH_PROMPT.md
Due: none

[BUG-01] Fix missing option_count in practice quiz mapping
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-02] Add variable answer count support to seed data and E2E tests
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/tests/e2e/culture-practice.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-03] Fix culture deck cards responsive design
  learn-greek-easy-frontend/src/components/decks/DeckBadge.tsx
  learn-greek-easy-frontend/src/components/display/DeckCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Practice Quiz & Culture Deck Fixes (#163)
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/src/components/decks/DeckBadge.tsx
  learn-greek-easy-frontend/src/components/display/DeckCard.tsx
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/tests/e2e/culture-practice.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(theme): add ThemeContext and ThemeProvider
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/contexts/ThemeContext.tsx
  learn-greek-easy-frontend/src/contexts/__tests__/ThemeContext.test.tsx
  learn-greek-easy-frontend/src/contexts/index.ts
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(theme): add ThemeSwitcher component to headers
  .playwright-mcp/dark-mode-landing-page.png
  .playwright-mcp/light-mode-landing-page.png
  learn-greek-easy-frontend/src/components/landing/Header.tsx
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/layout/__tests__/Header.test.tsx
  learn-greek-easy-frontend/src/components/theme/ThemeSwitcher.tsx
  learn-greek-easy-frontend/src/components/theme/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(theme): add flash prevention script to index.html
  .playwright-mcp/qa-darkmode-01-initial-light-mode.png
  .playwright-mcp/qa-darkmode-02-dark-mode-active.png
  .playwright-mcp/qa-darkmode-03-back-to-light-mode.png
  learn-greek-easy-frontend/index.html
Due: none

feat(theme): wire up Settings page theme card
  .playwright-mcp/darkmode-verification.png
  learn-greek-easy-frontend/src/components/profile/PreferencesSection.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/profile.json
  learn-greek-easy-frontend/src/i18n/locales/en/profile.json
  learn-greek-easy-frontend/src/i18n/locales/ru/profile.json
  learn-greek-easy-frontend/src/lib/test-utils.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(theme): use CSS variables for secondary color in tailwind config
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

fix(theme): update LandingPage background for dark mode
  learn-greek-easy-frontend/src/pages/LandingPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(backend): add theme field to UserSettings
  learn-greek-easy-backend/alembic/versions/20260113_1626_f9230d7fa07a_add_theme_to_user_settings.py
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/user.py
  learn-greek-easy-backend/tests/integration/api/test_user_settings.py
Due: none

feat(theme): add API integration and analytics
  learn-greek-easy-frontend/src/contexts/ThemeContext.tsx
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/lib/analytics/themeAnalytics.ts
  learn-greek-easy-frontend/src/services/authAPI.ts
  learn-greek-easy-frontend/src/stores/authStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(e2e): add comprehensive dark mode tests
  learn-greek-easy-frontend/tests/e2e/dark-mode.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): update deck-filter test to use semantic classes
  learn-greek-easy-frontend/tests/e2e/deck-filter-culture-level.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck
