Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

feat(picgen): add SSE wrapper + POST /situations/{id}/picture/stream (PICGEN-04)
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

test(picgen): add SSE pipeline route tests (PICGEN-05)
  learn-greek-easy-backend/tests/unit/api/test_admin_situation_picture_stream.py
Due: none

feat(picgen): expose image_url on PictureNested (PICGEN-04A)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-backend/tests/integration/api/test_admin_situation_picture_update.py
  learn-greek-easy-backend/tests/integration/api/test_admin_situations.py
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(picgen): add PictureGenerationPanel + SSE wiring (PICGEN-06)
  learn-greek-easy-frontend/src/components/admin/situations/PictureGenerationPanel.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(picgen): add PictureGenerationPanel Vitest suite (PICGEN-07)
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/PictureGenerationPanel.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(picgen): map auth errors and offload S3 upload (CodeRabbit feedback)
  learn-greek-easy-backend/src/services/situation_picture_service.py
  learn-greek-easy-backend/tests/unit/services/test_situation_picture_service.py
Due: none

feat(newsfix-01): mirror news article URL/titles onto Situation
  learn-greek-easy-backend/src/services/news_item_service.py
Due: none

test(newsfix-01): cover Situation source-field mirroring in NewsItemService
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

feat(newsfix-01): add picture_url to LearnerSituationDetailResponse
  learn-greek-easy-backend/src/schemas/learner_situation.py
Due: none

feat(newsfix-01): surface picture_url on learner detail endpoint
  learn-greek-easy-backend/src/api/v1/situations.py
Due: none

test(newsfix-01): cover picture_url presence on learner detail endpoint
  learn-greek-easy-backend/tests/integration/api/test_learner_situations.py
Due: none

feat(newsfix-01): add picture_url to LearnerSituationDetailResponse FE type
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(newsfix-01): unconditional 2-col About grid with variant placeholders
  learn-greek-easy-frontend/src/components/situations/ScenePlaceholder.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(newsfix-01): cover About-tab 2-col grid in 3 source/picture states
  learn-greek-easy-frontend/src/pages/__tests__/SituationDetailPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(newsfix-01): capture situation_id before service.update() in pipeline tests
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

fix(newsfix-01): test source_url mirroring via _patch_situation directly
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

feat(AUTOPIC-01): add run_picture_generation_pipeline orchestrator
  learn-greek-easy-backend/src/services/situation_picture_service.py
Due: none

test(AUTOPIC-01): unit tests for run_picture_generation_pipeline orchestrator
  learn-greek-easy-backend/tests/unit/services/test_situation_picture_service.py
Due: none

feat(AUTOPIC-01): add generate_picture_task background task
  learn-greek-easy-backend/src/tasks/picture_generation.py
Due: none

test(AUTOPIC-01): unit tests for generate_picture_task
  learn-greek-easy-backend/tests/unit/tasks/test_picture_generation.py
Due: none

feat(AUTOPIC-01): dispatch generate_picture_task on news creation
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

test(AUTOPIC-01): integration tests for picture-task dispatch on news create
  learn-greek-easy-backend/tests/integration/api/test_admin_news.py
Due: none

fix(AUTOPIC-01): mock generate_picture_task in pre-existing exception test
  learn-greek-easy-backend/tests/integration/api/test_admin_news.py
Due: none

fix(situation): pass real audio duration to A2/B1 WaveformPlayer
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(AUTOEX-01): add ExerciseDraft schema and optional exercise field on NewsItemCreate
  learn-greek-easy-backend/src/schemas/news_item.py
Due: none

feat(AUTOEX-01): fan out exercise creation in NewsItemService.create() [ATEX-02]
  learn-greek-easy-backend/src/services/news_item_service.py
Due: none

test(AUTOEX-01): unit tests for ExerciseDraft delta and NewsItemCreate plumbing [ATEX-03]
  learn-greek-easy-backend/tests/unit/schemas/test_news_item_exercise_draft.py
Due: none

test(AUTOEX-01): integration tests for POST /admin/news exercise fan-out [ATEX-04]
  learn-greek-easy-backend/tests/integration/api/test_admin_news.py
Due: none

refactor(AUTOEX-01): use model_dump(mode='json') for JSONB payload safety
  learn-greek-easy-backend/src/services/news_item_service.py
Due: none

feat(AUTOEX-02): add ExerciseDraft and MultilingualField types [ATEX-06]
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(AUTOEX-02): validate and forward exercise field in newsJsonValidation [ATEX-07]
  learn-greek-easy-frontend/src/components/admin/news/newsJsonValidation.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(AUTOEX-02): unit tests for validateNewsItemJson exercise field [ATEX-08]
  learn-greek-easy-frontend/src/components/admin/news/__tests__/newsJsonValidation.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(AUTOEX-02): remove misleading fake key from exercise JSON_PLACEHOLDER
  learn-greek-easy-frontend/src/components/admin/news/newsJsonValidation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(admin): drop 1000-char cap on picture scene/style fields
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-backend/tests/integration/api/test_admin_situation_picture_update.py
  learn-greek-easy-backend/tests/schemas/test_situation_schemas.py
  learn-greek-easy-frontend/src/components/admin/situations/SituationPicturePromptForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(IA-01): scaffold /culture route and CulturePage shell [DCSPL-01]
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/decks/DecksGrid.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
  learn-greek-easy-frontend/src/lib/cultureDeckTransform.ts
  learn-greek-easy-frontend/src/pages/culture/CulturePage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePage.test.tsx
  learn-greek-easy-frontend/src/stores/deckStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(IA-01): add mock-exam CTA to /culture page [DCSPL-02]
  learn-greek-easy-frontend/src/pages/culture/CulturePage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(IA-01): add Culture entry to Header + MobileNav with prefix-aware active state [DCSPL-03]
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/layout/MobileNav.tsx
  learn-greek-easy-frontend/src/components/layout/__tests__/Header.test.tsx
  learn-greek-easy-frontend/src/components/layout/__tests__/MobileNav.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(IA-01): make /decks vocabulary-only and remove dead deckType state [DCSPL-04]
  learn-greek-easy-frontend/src/components/decks/DeckFilters.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckFilters.test.tsx
  learn-greek-easy-frontend/src/components/decks/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/pages/DecksPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/DecksPage.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/deckStore.test.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(IA-01): formalize i18n keys for mock-exam CTA + sweep orphan deckType locale [DCSPL-05]
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-prettier
