Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

test(LEXGEN-14-02/03): QA Mode B — KEPT-definition guards + cutover edge coverage
  learn-greek-easy-backend/tests/unit/api/test_lexgen_cutover_removal.py
Due: none

feat(LEXGEN-14-04): thin submit-lemma form replaces generate dialog + UnifiedVerificationTable
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/DeclensionTable.tsx
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/LexgenSubmitDialog.tsx
  learn-greek-easy-frontend/src/components/admin/UnifiedVerificationTable.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardCreateModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardEditModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DecisionPill.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DeckDetailModal.bulkActions.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DeckDetailModal.delete.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DeckDetailModal.searchFilterSort.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DeckDetailModal.wordEntryDetail.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.audio.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.sse.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/UnifiedVerificationTable.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementComposeDrawer.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementsTab.test.tsx
  learn-greek-easy-frontend/src/components/admin/decks/VocabDrawerBody.tsx
  learn-greek-easy-frontend/src/components/admin/decks/__tests__/VocabDrawerBody.test.tsx
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationPicturePromptForm.test.tsx
  learn-greek-easy-frontend/src/components/dashboard/__tests__/NewsSection.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/__tests__/AdminPage.deactivateToast.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/AdminPage.handleSaveDeck.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/AdminPage.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/NewsPage.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/utils/__tests__/nounPayloadBuilder.test.ts
  learn-greek-easy-frontend/src/utils/nounPayloadBuilder.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(LEXGEN-14-04): remove stale nounPayloadBuilder ref from greekToLatin comment
  learn-greek-easy-frontend/src/utils/greekToLatin.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(LEXGEN-14): judge tolerates sanctioned check_e_regens metadata key in generated_content; seed real requested_by user in pipeline integration tests
  learn-greek-easy-backend/src/services/lexgen_judge_service.py
  learn-greek-easy-backend/tests/integration/services/test_lexgen_pipeline_service.py
  learn-greek-easy-backend/tests/unit/services/test_lexgen_judge_service.py
Due: none

test(LEXGEN-14-04): LexgenSubmitDialog two-outcome render test
  learn-greek-easy-frontend/src/components/admin/__tests__/LexgenSubmitDialog.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(LEXGEN-14-05): E2E rewired submit→inbox + never-invent reject
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-frontend/tests/e2e/admin-lexgen-submit.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(LEXGEN-14-01): _fake_generate_exhausted takes self (class-patched method)
  learn-greek-easy-backend/tests/integration/services/test_lexgen_pipeline_service.py
Due: none

fix(LEXGEN-14): address CodeRabbit — chain HTTPException (B904), tighten kept-route guards (reject 404/405), fix B10 decorator-context filter
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/integration/api/test_lexgen_submit_endpoint.py
  learn-greek-easy-backend/tests/unit/api/test_lexgen_cutover_removal.py
Due: none

feat(SIT-27-01): Situations design primitives — q-card/pip/toolbar/danger-tone classes + cover-props adapter
  docs/design-system.md
  learn-greek-easy-frontend/src/components/situations/situationToCoverProps.ts
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(SIT-27-01): QA unit tests for situationToCoverProps adapter — 24 cases green
  learn-greek-easy-frontend/src/components/situations/__tests__/situationToCoverProps.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(SIT-27-02): RED Mode A — situations.domain + description_source_type test specs
  learn-greek-easy-backend/tests/integration/api/test_learner_situations.py
  learn-greek-easy-backend/tests/integration/migrations/test_sit_27_02_situation_domain.py
Due: none

feat(SIT-27-02): Situation.domain + description_source_type on learner list + migration + admin + backfill
  learn-greek-easy-backend/alembic/versions/20260623_1200_sit_27_02_situation_domain.py
  learn-greek-easy-backend/scripts/backfill_sit_27_02_situation_domain.sql
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/situations.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/learner_situation.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-frontend/src/components/admin/situations/SituationCreateValidation.ts
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.description.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationPicturePromptForm.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(SIT-27-02): adversarial unit tests for domain field on SituationCreate/Update schemas
  learn-greek-easy-backend/tests/schemas/test_situation_schemas.py
Due: none

test(SIT-27-03/04): RED test specs for exercise topic taxonomy and comprehension endpoint
  learn-greek-easy-backend/tests/unit/api/v1/test_situation_comprehension.py
  learn-greek-easy-backend/tests/unit/api/v1/test_situation_exercises_topic.py
  learn-greek-easy-backend/tests/unit/core/test_exercise_topic.py
  learn-greek-easy-backend/tests/unit/services/test_situation_comprehension_service.py
Due: none

feat(LEXGEN-15): structured per-stage pipeline logging for Sentry Logs
  learn-greek-easy-backend/src/services/lexgen_pipeline_service.py
  learn-greek-easy-backend/tests/integration/services/test_lexgen_pipeline_service.py
Due: none

feat(SIT-27-03/04): exercise topic taxonomy + situation comprehension/stats endpoints
  learn-greek-easy-backend/src/api/v1/situations.py
  learn-greek-easy-backend/src/core/exercise_topic.py
  learn-greek-easy-backend/src/schemas/exercise_queue.py
  learn-greek-easy-backend/src/schemas/learner_situation.py
  learn-greek-easy-backend/src/services/situation_comprehension_service.py
  learn-greek-easy-frontend/src/services/exerciseAPI.ts
  learn-greek-easy-frontend/src/services/situationAPI.ts
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(SIT-27-04): add Mode B adversarial edge tests for comprehension service
  learn-greek-easy-backend/tests/unit/services/test_situation_comprehension_service.py
Due: none

feat(SIT-27-05): hub redesign — resume hero + metrics + news/everyday sections + rich cards
  learn-greek-easy-frontend/src/components/situations/SituationCard.tsx
  learn-greek-easy-frontend/src/components/situations/SituationsHero.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/SituationsPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/SituationsPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(SIT-27-06/07/08): situation detail relayout — hero, metric strip, action panel, exercise grid, preview modal
  learn-greek-easy-frontend/src/components/situations/SituationActionPanel.tsx
  learn-greek-easy-frontend/src/components/situations/SituationDetailHero.tsx
  learn-greek-easy-frontend/src/components/situations/SituationExerciseGrid.tsx
  learn-greek-easy-frontend/src/components/situations/SituationExercisePreviewModal.tsx
  learn-greek-easy-frontend/src/components/situations/SituationExerciseQCard.tsx
  learn-greek-easy-frontend/src/components/situations/SituationExerciseToolbar.tsx
  learn-greek-easy-frontend/src/components/situations/__tests__/exerciseGridHelpers.test.ts
  learn-greek-easy-frontend/src/components/situations/exerciseGridHelpers.ts
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(SIT-27-09/10): situations comprehension overview page + route
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/situations/SituationTopicCatRow.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/pages/SituationsComprehensionPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/SituationsComprehensionPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(SIT-27-11): i18n audit + Vitest/E2E coverage + comprehension seed signal
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
  learn-greek-easy-frontend/src/components/situations/__tests__/SituationExercisePreviewModal.test.tsx
  learn-greek-easy-frontend/src/components/situations/__tests__/SituationExerciseQCard.test.tsx
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/SituationsPage.test.tsx
  learn-greek-easy-frontend/tests/e2e/situation-browsing.spec.ts
  learn-greek-easy-frontend/tests/e2e/situations-comprehension.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(SIT-27-02): add column comment to domain migration to satisfy alembic check
  learn-greek-easy-backend/alembic/versions/20260623_1200_sit_27_02_situation_domain.py
Due: none

fix(SIT-27): resolve UniqueViolation + racy boundary in Mode A tests
  learn-greek-easy-backend/tests/unit/api/v1/test_situation_comprehension.py
  learn-greek-easy-backend/tests/unit/api/v1/test_situation_exercises_topic.py
  learn-greek-easy-backend/tests/unit/services/test_situation_comprehension_service.py
Due: none

feat(ADMIN2-43-01): remove announcements stat cards + dead code & i18n cleanup
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementsTab.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementsTab.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/announcementsConstants.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/tests/e2e/admin-announcements.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-43-02): contained panel + column-header row + persistent footer
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementHistoryRows.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementsTab.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementHistoryRows.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-43-03): restyle sort toolbar + add row Details (pencil) action
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementHistoryRows.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementsToolbar.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementHistoryRows.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementsTab.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementsToolbar.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ADMIN2-43-02): move toolbar inside the contained panel
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementsTab.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-43-04): details breadcrumb + % read badge + 2-tile skeleton
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementDetailsDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementDetailsDrawer.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-43-05): compose drawer copy + drawer-chrome CSS
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

test(ADMIN2-43-06): RED specs for read-only JSON payload view
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementJsonView.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementJsonView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-43-06): read-only serialized JSON payload view (replaces paste/validate)
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementComposeDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementJsonInput.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementJsonView.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementComposeDrawer.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementJsonInput.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementsTab.test.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-43-07): page-header kicker + subtitle copy (System · Announcements)
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/__tests__/pageHeadPropsFor.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(ADMIN2-43-06): adversarial edge coverage for JSON payload view
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementJsonView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ADMIN2-43): exclude details action from e2e row-count locators (+ audit serial-skipped specs)
  learn-greek-easy-frontend/tests/e2e/admin-announcements.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ADMIN2-43): associate Raw-payload label with the textarea (a11y)
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementJsonView.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(announcements): restore Claude Design fidelity on list panel + compose drawer
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementComposeDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementsToolbar.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ADMIN2-43): compose drawer footer CD-fidelity (buttons + RU wrap)
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementComposeDrawer.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ADMIN2-43): single-row footer — drop the redundant audience helper
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementComposeDrawer.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ADMIN2-43): strip filler from the JSON tab — raw payload field only
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementComposeDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementJsonView.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/__tests__/AnnouncementComposeDrawer.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(ADMIN2-44): remove changelog stat cards + dead code & i18n cleanup
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogTab.tsx
  learn-greek-easy-frontend/src/components/admin/changelog/__tests__/ChangelogTab.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/tests/e2e/admin-changelog-timeline.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck
