Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

fix(e2e): make changelog tests more flexible with variable seed data
  learn-greek-easy-frontend/tests/e2e/changelog.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-01] Add expand/collapse for long announcement notifications
  learn-greek-easy-frontend/src/components/notifications/NotificationItem.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-02] Fix level up notification redirect to achievements
  learn-greek-easy-backend/src/services/notification_service.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/factories/notification.py
  learn-greek-easy-backend/tests/unit/services/test_notification_service.py
Due: none

[BUGFIX-03] Fix news card button overflow by capping grid to 3 columns
  learn-greek-easy-frontend/src/components/news/NewsGrid.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsGrid.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-04] Refresh user profile on session restore for Auth0 users
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-05] Disable password change for Google OAuth users
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/src/schemas/user.py
  learn-greek-easy-frontend/src/components/profile/SecuritySection.tsx
  learn-greek-easy-frontend/src/components/profile/__tests__/SecuritySection.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/profile.json
  learn-greek-easy-frontend/src/i18n/locales/en/profile.json
  learn-greek-easy-frontend/src/i18n/locales/ru/profile.json
  learn-greek-easy-frontend/src/services/authAPI.ts
  learn-greek-easy-frontend/src/stores/authStore.ts
  learn-greek-easy-frontend/src/types/auth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-06] Fix Practice Anyway button width mismatch
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX-07] Fix infinite loop in admin changelog tab
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogTab.tsx
  learn-greek-easy-frontend/src/stores/adminChangelogStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Add Russian language support to news JSON submission
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
  learn-greek-easy-frontend/src/components/admin/news/NewsTab.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX] January 2026 Bug Fixes (#213)
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/schemas/user.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/src/services/notification_service.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/factories/notification.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
  learn-greek-easy-backend/tests/unit/services/test_notification_service.py
  learn-greek-easy-frontend/src/components/admin/changelog/ChangelogTab.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsTab.tsx
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
  learn-greek-easy-frontend/src/components/news/NewsGrid.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsGrid.test.tsx
  learn-greek-easy-frontend/src/components/notifications/NotificationItem.tsx
  learn-greek-easy-frontend/src/components/profile/SecuritySection.tsx
  learn-greek-easy-frontend/src/components/profile/__tests__/SecuritySection.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/el/profile.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/profile.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/profile.json
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/services/authAPI.ts
  learn-greek-easy-frontend/src/stores/adminChangelogStore.ts
  learn-greek-easy-frontend/src/stores/authStore.ts
  learn-greek-easy-frontend/src/types/auth.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): add culture question API methods
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): add CultureCardForm component
  learn-greek-easy-frontend/src/components/admin/CultureCardForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): add CardCreateModal component
  learn-greek-easy-frontend/src/components/admin/CardCreateModal.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): add CardEditModal component
  learn-greek-easy-frontend/src/components/admin/CardEditModal.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): add edit button to culture questions in DeckDetailModal
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): add Create Card button to DeckDetailModal
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): add Create Card button to AdminPage action bar
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(admin): add unit tests for CultureCardForm
  learn-greek-easy-frontend/src/components/admin/__tests__/CultureCardForm.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(admin): add unit tests for CardCreateModal and CardEditModal
  learn-greek-easy-frontend/src/components/admin/__tests__/CardCreateModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardEditModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(e2e): add E2E tests for culture card create/edit
  learn-greek-easy-frontend/tests/e2e/admin-culture-cards.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(visual): add Chromatic visual tests for culture card components
  learn-greek-easy-frontend/tests/visual/admin-culture-cards.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): scope culture card form selectors to visible tab
  learn-greek-easy-frontend/tests/e2e/admin-culture-cards.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CULTURECARD] Admin Create Culture Cards (#214)
  learn-greek-easy-frontend/src/components/admin/CardCreateModal.tsx
  learn-greek-easy-frontend/src/components/admin/CardEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/CultureCardForm.tsx
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardCreateModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardEditModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CultureCardForm.test.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/tests/e2e/admin-culture-cards.spec.ts
  learn-greek-easy-frontend/tests/visual/admin-culture-cards.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX] Fix changelog language selector - pass Accept-Language header
  learn-greek-easy-frontend/src/pages/ChangelogPage.tsx
  learn-greek-easy-frontend/src/services/changelogAPI.ts
  learn-greek-easy-frontend/src/stores/changelogStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX] Fix changelog pagination preserves language setting
  learn-greek-easy-frontend/src/pages/ChangelogPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/ChangelogPage.test.tsx
  learn-greek-easy-frontend/src/stores/changelogStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX] Preserve line breaks in changelog content display
  learn-greek-easy-frontend/src/components/changelog/ChangelogCard.tsx
  learn-greek-easy-frontend/src/components/changelog/__tests__/ChangelogCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX] Center buttons on All Caught Up page
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX] Fix password change visibility for OAuth users
  learn-greek-easy-frontend/src/components/profile/SecuritySection.tsx
  learn-greek-easy-frontend/src/components/profile/__tests__/SecuritySection.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX] Fix level up notification URL and seed service action URLs
  learn-greek-easy-backend/alembic/versions/20260128_1145_5208d6f4ad95_fix_level_up_notification_url.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[BUGFIX] Remove overlapping close icon from admin deck modal
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/ui/dialog.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX] Move difficulty badge to avoid overlap with action buttons
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[UI] Rename All Decks to Public Decks in dropdown
  learn-greek-easy-frontend/src/components/layout/__tests__/Header.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/tests/e2e/deck-browsing.spec.ts
  learn-greek-easy-frontend/tests/e2e/flashcard-review.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[UI] Truncate immersion section text on landing page
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
Due: frontend-prettier

[UI] Remove Russian phrase from landing page audio dialogs
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-prettier

[BUGFIX] Fix migration enum case for level_up notification
  learn-greek-easy-backend/alembic/versions/20260128_1145_5208d6f4ad95_fix_level_up_notification_url.py
Due: none

[BUGFIX] January 2026 UI Fixes Batch 2 (#215)
  learn-greek-easy-backend/alembic/versions/20260128_1145_5208d6f4ad95_fix_level_up_notification_url.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/changelog/ChangelogCard.tsx
  learn-greek-easy-frontend/src/components/changelog/__tests__/ChangelogCard.test.tsx
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/components/layout/__tests__/Header.test.tsx
  learn-greek-easy-frontend/src/components/profile/SecuritySection.tsx
  learn-greek-easy-frontend/src/components/profile/__tests__/SecuritySection.test.tsx
  learn-greek-easy-frontend/src/components/ui/dialog.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
  learn-greek-easy-frontend/src/pages/ChangelogPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/ChangelogPage.test.tsx
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/services/changelogAPI.ts
  learn-greek-easy-frontend/src/stores/changelogStore.ts
  learn-greek-easy-frontend/tests/e2e/deck-browsing.spec.ts
  learn-greek-easy-frontend/tests/e2e/flashcard-review.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LANDINGFIX-01] Fix Cyprus vs Greece references in landing page i18n
  learn-greek-easy-frontend/src/i18n/locales/el/landing.json
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-prettier

[LANDINGFIX-02] Fix Russian pluralization in mockup counts
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-prettier

[LANDINGFIX-03] Show English translations in Greek interface mockups
  learn-greek-easy-frontend/src/i18n/locales/el/landing.json
Due: frontend-prettier
