Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

test(PERF-08-02): adversarial coverage — detail path eager-load preserved + list filter guards
  learn-greek-easy-backend/tests/unit/repositories/test_deck_repository.py
Due: none

perf(PERF-08-03): split font loading — critical first-paint weights blocking, defer Mono/Serif/extra weights
  learn-greek-easy-frontend/index.html
Due: none

ci(MOB-16): harden Maestro install (retry+verify) + assert dashboard content row
  .github/workflows/release-verify.yml
  learn-greek-easy-mobile/.maestro/onboarding.yaml
Due: none

fix(PERF-08-02): expunge identity map in detail-path eager-load tests
  learn-greek-easy-backend/tests/unit/repositories/test_deck_repository.py
Due: none

feat(ADMIN2-31): NBUG-01..07 News bug-sweep fixes
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.image.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.linkedSituation.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsToolbar.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(ADMIN2-31): NBUG-08 retarget masking tests to resolved copy/testids/roles
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.image.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsToolbar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(ADMIN2-31): NBUG-08 retarget NewsTab missing-key masking tests to real admin.json existence checks
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsTab.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-31): NBUG-09 port RU news.drawer.* subtree + adjacent keys (formal вы, interpolation preserved)
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

feat(INFRA-06): kill i18n masking-test pattern + backfill news.stats keys [I18NG-04]
  .github/workflows/test.yml
  learn-greek-easy-frontend/docs/testing-guide.md
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/scripts/check-no-raw-i18n-keys.sh
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.audio.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.body.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.image.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.linkedSituation.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.translations.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsGrid.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsTab.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(INFRA-06): guard covers getByLabelText + getByRole name forms [I18NG-04]
  learn-greek-easy-frontend/docs/testing-guide.md
  learn-greek-easy-frontend/scripts/check-no-raw-i18n-keys.sh
Due: frontend-prettier

fix(a11y): darken --fg-3 light token 56%→45% for WCAG-AA contrast
  docs/design-system.md
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

fix(ADMIN2-31): normalize region-qualified language tags in getDateLocale
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PERF-08): Performance Quick Wins (PostHog, decks over-fetch, fonts) (#576)
  learn-greek-easy-backend/src/repositories/deck.py
  learn-greek-easy-backend/tests/unit/repositories/test_deck_repository.py
  learn-greek-easy-frontend/index.html
  learn-greek-easy-frontend/src/providers/PostHogProvider.tsx
  learn-greek-easy-frontend/src/providers/__tests__/PostHogProvider.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(INFRA-06): make typecheck:test standalone + fix shared test helpers [I18NG-01]
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/lib/__tests__/env.test.ts
  learn-greek-easy-frontend/src/lib/__tests__/sentry-queue.test.ts
  learn-greek-easy-frontend/src/lib/__tests__/spacedRepetition.test.ts
  learn-greek-easy-frontend/src/lib/__tests__/versionCheck.test.ts
  learn-greek-easy-frontend/src/lib/analytics/__tests__/superProperties.test.ts
  learn-greek-easy-frontend/tests/e2e/helpers/admin-helpers.ts
  learn-greek-easy-frontend/tests/e2e/helpers/auth-helpers.ts
  learn-greek-easy-frontend/tests/e2e/helpers/diagnostics.ts
  learn-greek-easy-frontend/tests/e2e/helpers/grammar-helpers.ts
  learn-greek-easy-frontend/tests/e2e/helpers/navigation-helpers.ts
  learn-greek-easy-frontend/tests/visual/helpers/visual-helpers.ts
  learn-greek-easy-frontend/tsconfig.json
  learn-greek-easy-frontend/tsconfig.test.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-31): News Tab Bug Sweep (#577)
  docs/design-system.md
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.image.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.linkedSituation.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsToolbar.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.image.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsTab.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsToolbar.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(INFRA-06): remove TranslationKey=string placeholder [I18NG-01]
  learn-greek-easy-frontend/src/i18n/types.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(INFRA-06): en↔ru deep key-path parity across 17 namespaces [I18NG-02]
  learn-greek-easy-frontend/src/i18n/__tests__/parity.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(INFRA-06): RED specs for loud missing-key handler [I18NG-03]
  learn-greek-easy-frontend/src/i18n/__tests__/missingKeyHandler.integration.test.tsx
  learn-greek-easy-frontend/src/i18n/__tests__/missingKeyHandler.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(INFRA-06): loud missing-key handler — throw in tests, Sentry Logs in prod [I18NG-03]
  learn-greek-easy-frontend/src/components/review/grammar/GenderBadge.tsx
  learn-greek-easy-frontend/src/i18n/__tests__/i18n.test.ts
  learn-greek-easy-frontend/src/i18n/init.ts
  learn-greek-easy-frontend/src/i18n/missingKeyHandler.ts
  learn-greek-easy-frontend/src/lib/test-setup.ts
  learn-greek-easy-frontend/tsconfig.test.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(INFRA-06): use shared missing-key handler in test-setup + fix unit-test mock hoisting [I18NG-03]
  learn-greek-easy-frontend/src/i18n/__tests__/missingKeyHandler.test.ts
  learn-greek-easy-frontend/src/i18n/missingKeyHandler.ts
  learn-greek-easy-frontend/src/lib/test-setup.ts
  learn-greek-easy-frontend/tsconfig.test.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: wake dev preview env for mobile verification
  .preview-wake.txt
Due: none

fix(ADMIN2-32): card-errors breadcrumb Dashboard→Admin (ATBUG-01)
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

refactor(ADMIN2-32): rename News base level B2→B1 (ATBUG-02)
  learn-greek-easy-frontend/src/components/admin/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.audio.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.body.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsToolbar.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(ADMIN2-32): delete phantom News B1 tier; audio tab '2 levels'; subtitle B1+A2 (ATBUG-03)
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.audio.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsToolbar.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

i18n(ADMIN2-32): mirror RU News B2→B1; drop dead B2 keys in both locales (ATBUG-04)
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

test(ADMIN2-32): update News masking tests for B1/A2-only (ATBUG-05)
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsCard.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.audio.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.body.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.image.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.linkedSituation.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsToolbar.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/adminNewsStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ADMIN2-32): standardize admin drawers to size=half (ATBUG-06)
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementComposeDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/decks/DeckDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseBody.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-32): red-dot non-functional News-drawer stubs; normalize Unlink/Regenerate to true-disabled (ATBUG-07)
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.audio.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.linkedSituation.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.linkedSituation.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(ADMIN2-32): remove all admin_* PostHog events + masking tests (ATBUG-08)
  learn-greek-easy-frontend/src/components/admin/CardErrorDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseAudioBar.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseBody.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesSection.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesToolbar.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/__tests__/AdminExercisesSection.test.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/__tests__/AdminExercisesToolbar.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.test.tsx
  learn-greek-easy-frontend/src/components/admin/situations/PictureGenerationPanel.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.exercises.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationDrawer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ADMIN2-32): remove misleading hardcoded 'All checks passed' footer badge (ATBUG-09)
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(ADMIN2-32): update admin-news E2E spec for B1/A2-only audio + true-disabled linked-situation stubs (ATBUG-05 follow-up)
  learn-greek-easy-frontend/tests/e2e/admin-news.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs(ADMIN2-32): fix stale AnnouncementComposeDrawer JSDoc (full→half width) [CodeRabbit]
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementComposeDrawer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(ADMIN2-32): Admin Tab Bug Sweep (#580)
  learn-greek-easy-frontend/src/components/admin/CardErrorDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/announcements/AnnouncementComposeDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/decks/DeckDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseAudioBar.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseBody.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesSection.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesToolbar.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/__tests__/AdminExercisesSection.test.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/__tests__/AdminExercisesToolbar.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.audio.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.body.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.linkedSituation.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsEditDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsToolbar.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsCard.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.audio.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.body.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.image.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.linkedSituation.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsEditDrawer.test.tsx
  learn-greek-easy-frontend/src/components/admin/news/__tests__/NewsToolbar.test.tsx
  learn-greek-easy-frontend/src/components/admin/situations/PictureGenerationPanel.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.exercises.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/situations/__tests__/SituationDrawer.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/stores/__tests__/adminNewsStore.test.ts
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
  learn-greek-easy-frontend/tests/e2e/admin-news.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(ADMIN2-32): finish News B1 rename, enforce draft gating, backfill news levels
  learn-greek-easy-backend/alembic/versions/20260609_admin2_32_backfill_news_levels.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/repositories/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/integration/api/test_admin_news.py
  learn-greek-easy-backend/tests/integration/api/test_news.py
  learn-greek-easy-backend/tests/unit/repositories/test_news_item_repository.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
  learn-greek-easy-frontend/src/components/admin/culture/__tests__/CultureQuestionChips.test.tsx
  learn-greek-easy-frontend/src/components/culture/QuestionDetailDialog.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/QuestionDetailDialog.test.tsx
  learn-greek-easy-frontend/src/components/dashboard/__tests__/NewsSection.test.tsx
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/NewsFilters.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.test.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsFilters.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/lib/__tests__/cultureCompleteness.test.ts
  learn-greek-easy-frontend/src/lib/__tests__/deckCompletion.test.ts
  learn-greek-easy-frontend/src/lib/cultureCompleteness.ts
  learn-greek-easy-frontend/src/lib/deckCompletion.ts
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/__tests__/adminNewsStore.test.ts
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
  learn-greek-easy-frontend/src/utils/__tests__/newsLevel.test.ts
  learn-greek-easy-frontend/src/utils/newsLevel.ts
  learn-greek-easy-frontend/tests/e2e/culture-deck-detail.spec.ts
  learn-greek-easy-frontend/tests/e2e/news-country-filter.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(admin): align typography across admin tabs and drawers
  docs/design-system.md
  learn-greek-easy-frontend/src/components/admin/WordEntryCards.tsx
  learn-greek-easy-frontend/src/components/admin/decks/VocabWordDetail.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseBody.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseRow.tsx
  learn-greek-easy-frontend/src/components/admin/news/NewsItemDeleteDialog.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): mark seeded news items PUBLISHED so the public feed renders
  learn-greek-easy-backend/src/services/seed_service.py
Due: none
