Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

feat(culture): create ScoreCard component with SVG progress ring [SCRD-01]
  learn-greek-easy-frontend/src/components/culture/ScoreCard.tsx
  learn-greek-easy-frontend/src/components/culture/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(culture): add title, stats row, and Try Again button to ScoreCard [SCRD-02]
  learn-greek-easy-frontend/src/components/culture/ScoreCard.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(culture): add comprehensive unit tests for ScoreCard [SCRD-04]
  learn-greek-easy-frontend/src/components/culture/__tests__/ScoreCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SCRD] ScoreCard Component Redesign (#270)
  learn-greek-easy-frontend/src/components/culture/ScoreCard.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/ScoreCard.test.tsx
  learn-greek-easy-frontend/src/components/culture/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CPINT-01] Rewrite page layout and header for CulturePracticePage
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CPINT-02] Remove feedback phase rendering and wire inline feedback
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CPINT-03] Replace summary navigation with inline ScoreCard
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CPINT-04] Remove feedback phase transition from answerQuestion
  learn-greek-easy-frontend/src/stores/cultureSessionStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CPINT-05] Add fadeIn animation key to CulturePracticePage
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CPINT-06] Add comprehensive tests for CulturePracticePage
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CPINT] Culture Practice Page Integration (#271)
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.test.tsx
  learn-greek-easy-frontend/src/stores/cultureSessionStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MXALN-02] Align MockExamHeader styling with design tokens
  learn-greek-easy-frontend/src/components/mockExam/MockExamHeader.tsx
  learn-greek-easy-frontend/src/pages/MockExamSessionPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MXALN-03] Align MockExamResultsPage typography and colors
  learn-greek-easy-frontend/src/pages/MockExamResultsPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MXALN-04] Add regression tests for MockExamSessionPage and MockExamResultsPage
  learn-greek-easy-frontend/src/pages/__tests__/MockExamResultsPage.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/MockExamSessionPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MXALN] Mock Exam Alignment with Design Tokens (#272)
  learn-greek-easy-frontend/src/components/mockExam/MockExamHeader.tsx
  learn-greek-easy-frontend/src/pages/MockExamResultsPage.tsx
  learn-greek-easy-frontend/src/pages/MockExamSessionPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/MockExamResultsPage.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/MockExamSessionPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(RMDEP-01): delete QuestionFeedback component and clean up references
  docs/analytics-events.md
  learn-greek-easy-frontend/src/components/card-errors/ReportErrorButton.tsx
  learn-greek-easy-frontend/src/components/culture/QuestionFeedback.tsx
  learn-greek-easy-frontend/src/components/culture/index.ts
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(RMDEP-02): remove dead CultureSessionSummaryPage
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureSessionSummaryPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(RMDEP-03): remove unused CultureSessionPhase type and phase field
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.progressbar.test.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.test.tsx
  learn-greek-easy-frontend/src/stores/cultureSessionStore.ts
  learn-greek-easy-frontend/src/types/cultureSession.ts
  learn-greek-easy-frontend/tests/e2e/culture-practice.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[RMDEP-04] Remove orphaned npm dependencies (framer-motion, canvas-confetti)
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
Due: frontend-prettier

fix: align culture deck localization with vocabulary deck pattern
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_deck_service.py
  learn-greek-easy-backend/tests/unit/schemas/test_culture_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_culture_deck_service.py
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[RMDEP] Remove Deprecated Culture Components (#273)
  docs/analytics-events.md
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_deck_service.py
  learn-greek-easy-backend/tests/unit/schemas/test_culture_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_culture_deck_service.py
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/card-errors/ReportErrorButton.tsx
  learn-greek-easy-frontend/src/components/culture/QuestionFeedback.tsx
  learn-greek-easy-frontend/src/components/culture/index.ts
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureSessionSummaryPage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.progressbar.test.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.test.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
  learn-greek-easy-frontend/src/stores/cultureSessionStore.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
  learn-greek-easy-frontend/src/types/cultureSession.ts
  learn-greek-easy-frontend/tests/e2e/culture-practice.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VCPOL-02] Fix question card bottom padding when no image/audio
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VCPOL-03] Add correct_option to question queue response
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.test.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
  learn-greek-easy-frontend/src/types/culture.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VCPOL-01] Align DeckBadge category and CEFR level styles with CultureBadge
  learn-greek-easy-frontend/src/components/decks/DeckBadge.tsx
  learn-greek-easy-frontend/src/lib/cefrColors.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VCPOL-04] Implement optimistic answer feedback
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VCPOL-05] Move XP refresh to session completion only
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VCPOL-06] Align Premium badge with dot+opacity pattern
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VCPOL] Visual Consistency Polish (#274)
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
  learn-greek-easy-frontend/src/components/decks/DeckBadge.tsx
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckCard.test.tsx
  learn-greek-easy-frontend/src/lib/cefrColors.ts
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.test.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
  learn-greek-easy-frontend/src/types/culture.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CQIMG-01] Copy image_key during create_with_question
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

[CQIMG-02] Backfill image_key for news-derived culture questions
  learn-greek-easy-backend/alembic/versions/20260212_1955_c24dff20b712_backfill_culture_question_image_key.py
Due: none

[CQIMG] Culture Question Images (#275)
  learn-greek-easy-backend/alembic/versions/20260212_1955_c24dff20b712_backfill_culture_question_image_key.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

[AUDIO-01.2] Add ElevenLabs config section to .env.example
  learn-greek-easy-backend/.env.example
Due: none

[AUDIO-01.3] Add audio columns to NewsItem model
  learn-greek-easy-backend/src/db/models.py
Due: none

[AUDIO-01.5] Add audio_url to NewsItemResponse schema
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[AUDIO-01.4] Generate Alembic migration for audio columns
  learn-greek-easy-backend/alembic/versions/20260213_0502_9822ff96fec6_add_audio_columns_to_news_items.py
Due: none

[AUDIO-01.6] Update _to_response() to generate audio presigned URL
  learn-greek-easy-backend/src/services/news_item_service.py
Due: none

[AUDIO-01.8] Add audio URL test coverage and factory support
  learn-greek-easy-backend/tests/factories/news.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

[AUDIO-01.1] Add ElevenLabs configuration settings
  learn-greek-easy-backend/src/config.py
Due: none

[AUDIO-01] News Article Audio Infrastructure (#276)
  learn-greek-easy-backend/.env.example
  learn-greek-easy-backend/alembic/versions/20260213_0502_9822ff96fec6_add_audio_columns_to_news_items.py
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/factories/news.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck
