Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

test(frontend): add unit tests for premium badge feature
  learn-greek-easy-frontend/src/components/admin/__tests__/CultureDeckEditForm.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/VocabularyDeckEditForm.test.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckCard.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/AdminPage.premium.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(e2e): add E2E tests and seed data for premium badge
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/tests/e2e/premium-badge.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(backend): add server_default to is_premium model fields
  learn-greek-easy-backend/src/db/models.py
Due: none

Skip admin E2E tests due to flaky auth in CI
  learn-greek-easy-frontend/tests/e2e/premium-badge.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix: remove premium status from culture decks in seed data
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

Fix: restore premium culture decks and update E2E tests
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/tests/e2e/culture-deck-browsing.spec.ts
  learn-greek-easy-frontend/tests/e2e/culture-practice.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PREMBDG] Premium Badge for Decks (#171)
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20260115_2103_0243cb807282_add_is_premium_to_decks.py
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/api/v1/decks.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/schemas/deck.py
  learn-greek-easy-backend/src/services/culture_deck_service.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/api/test_culture_crud.py
  learn-greek-easy-backend/tests/integration/api/test_decks.py
  learn-greek-easy-backend/tests/unit/api/test_decks.py
  learn-greek-easy-backend/tests/unit/db/test_deck_models.py
  learn-greek-easy-backend/tests/unit/schemas/test_culture_schemas.py
  learn-greek-easy-backend/tests/unit/schemas/test_deck_schemas.py
  learn-greek-easy-frontend/src/components/admin/CultureDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CultureDeckEditForm.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/VocabularyDeckEditForm.test.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckCard.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/lib/analytics/adminAnalytics.ts
  learn-greek-easy-frontend/src/lib/analytics/deckAnalytics.ts
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/AdminPage.premium.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
  learn-greek-easy-frontend/src/services/deckAPI.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
  learn-greek-easy-frontend/tests/e2e/culture-deck-browsing.spec.ts
  learn-greek-easy-frontend/tests/e2e/culture-practice.spec.ts
  learn-greek-easy-frontend/tests/e2e/premium-badge.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Fix admin deck edit modal dark mode text visibility
  learn-greek-easy-frontend/src/components/ui/input.tsx
  learn-greek-easy-frontend/src/components/ui/label.tsx
  learn-greek-easy-frontend/src/components/ui/textarea.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-002] Fix premium toggle not persisting for decks
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/AdminPage.handleSaveDeck.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-003] Fix premium and category badges stacking vertically
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX] Admin deck bugs - dark mode, premium toggle, badge stacking (#172)
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckCard.test.tsx
  learn-greek-easy-frontend/src/components/ui/input.tsx
  learn-greek-easy-frontend/src/components/ui/label.tsx
  learn-greek-easy-frontend/src/components/ui/textarea.tsx
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/AdminPage.handleSaveDeck.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-001] Add is_premium field to admin deck list API response
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin.py
Due: none

[BUG-002] Fix mobile burger menu not opening sidebar
  learn-greek-easy-frontend/src/contexts/LayoutContext.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[TECH-DEBT-001] Replace hardcoded colors with semantic CSS variables
  learn-greek-easy-frontend/src/components/culture/AnswerOption.tsx
  learn-greek-easy-frontend/src/components/culture/LanguageSelector.tsx
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/components/culture/QuestionFeedback.tsx
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMIN-FIXES] Admin deck bugs, mobile menu, and color system migration (#173)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin.py
  learn-greek-easy-frontend/src/components/culture/AnswerOption.tsx
  learn-greek-easy-frontend/src/components/culture/LanguageSelector.tsx
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/components/culture/QuestionFeedback.tsx
  learn-greek-easy-frontend/src/contexts/LayoutContext.tsx
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-001] Fix inconsistent primary action button styling
  learn-greek-easy-frontend/src/components/display/WelcomeSection.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-002] Fix practice page background to respect theme settings
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-003] Remove accuracy and XP display from practice page
  learn-greek-easy-frontend/src/components/culture/QuestionFeedback.tsx
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-004] Fix oversized gray area in Audio Dialogs card
  learn-greek-easy-frontend/src/components/landing/Features.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-005] Replace Lock icon with Crown for premium deck indicator
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckCard.test.tsx
  learn-greek-easy-frontend/src/pages/DeckDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-006] Make premium decks visually distinguishable with blur and overlay
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-005] Update E2E tests for premium content aria-label
  learn-greek-easy-frontend/tests/e2e/premium-badge.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG-005] Update remaining E2E tests for premium content aria-label
  learn-greek-easy-frontend/tests/e2e/culture-deck-browsing.spec.ts
  learn-greek-easy-frontend/tests/e2e/culture-practice.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUGFIX] UI Consistency Fixes - 6 Bug Fixes (#174)
  learn-greek-easy-frontend/src/components/culture/QuestionFeedback.tsx
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckCard.test.tsx
  learn-greek-easy-frontend/src/components/display/WelcomeSection.tsx
  learn-greek-easy-frontend/src/components/landing/Features.tsx
  learn-greek-easy-frontend/src/pages/DeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/tests/e2e/culture-deck-browsing.spec.ts
  learn-greek-easy-frontend/tests/e2e/culture-practice.spec.ts
  learn-greek-easy-frontend/tests/e2e/premium-badge.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

removed
  .playwright-mcp/auth-cleanup-auth0-not-configured-error.png
  .playwright-mcp/auth-cleanup-login-page-verification.png
  .playwright-mcp/auth-cleanup-verification-login-page.png
  .playwright-mcp/dark-mode-landing-page.png
  .playwright-mcp/darkmode-verification.png
  .playwright-mcp/dashboard-stats-verification.png
  .playwright-mcp/light-mode-landing-page.png
  .playwright-mcp/qa-darkmode-01-initial-light-mode.png
  .playwright-mcp/qa-darkmode-02-dark-mode-active.png
  .playwright-mcp/qa-darkmode-03-back-to-light-mode.png
  .playwright-mcp/theme-light-mode-landing.png
Due: none

feat(backend): add owner_id column to decks table
  learn-greek-easy-backend/alembic/versions/20260116_1623_2cb115953b2a_add_owner_id_to_decks_table.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/tests/fixtures/deck.py
  learn-greek-easy-backend/tests/unit/db/test_deck_models.py
Due: none

feat(backend): add GET /api/v1/decks/mine endpoint
  learn-greek-easy-backend/src/api/v1/decks.py
  learn-greek-easy-backend/src/repositories/deck.py
  learn-greek-easy-backend/tests/conftest.py
  learn-greek-easy-backend/tests/fixtures/deck.py
  learn-greek-easy-backend/tests/integration/api/test_decks.py
  learn-greek-easy-backend/tests/unit/api/test_decks.py
Due: none

feat(backend): add E2E seeding for user-owned decks
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
Due: none

feat(frontend): add i18n keys for My Decks feature
  learn-greek-easy-frontend/src/i18n/locales/el/common.json
  learn-greek-easy-frontend/src/i18n/locales/el/deck.json
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-prettier

feat(frontend): add navigation dropdown for Decks
  learn-greek-easy-frontend/src/components/layout/AppLayout.tsx
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/layout/MobileNav.tsx
  learn-greek-easy-frontend/src/components/layout/__tests__/Header.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): create My Decks page
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/pages/MyDecksPage.tsx
  learn-greek-easy-frontend/src/services/deckAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): add access control for My Decks
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/pages/MyDeckDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): add PostHog analytics for My Decks
  learn-greek-easy-frontend/src/lib/analytics/myDecksAnalytics.ts
  learn-greek-easy-frontend/src/pages/MyDeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/MyDecksPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(e2e): add navigation and content tests for My Decks
  learn-greek-easy-frontend/tests/e2e/my-decks.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(e2e): add security and access control tests for My Decks
  learn-greek-easy-frontend/tests/e2e/my-decks.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(e2e): add admin flow tests for My Decks
  learn-greek-easy-frontend/tests/e2e/my-decks.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(visual): add visual regression tests for My Decks
  learn-greek-easy-frontend/tests/visual/my-decks.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix E2E tests for deck navigation dropdown
  learn-greek-easy-frontend/tests/e2e/deck-browsing.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): Update flashcard-review test for dropdown navigation
  learn-greek-easy-frontend/tests/e2e/flashcard-review.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): Navigate to /my-decks/:id when clicking deck in My Decks page
  learn-greek-easy-frontend/src/pages/MyDecksPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck
