Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

feat(i18n): add missing earlyPractice translation keys to Russian locale
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
Due: frontend-prettier

[GRAMUI] New Grammar UI - Tabs Component and Enhancements (#223)
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/components/review/CardContent.tsx
  learn-greek-easy-frontend/src/components/review/FlashcardContainer.tsx
  learn-greek-easy-frontend/src/components/review/grammar/AdjectiveDeclensionTables.tsx
  learn-greek-easy-frontend/src/components/review/grammar/ExampleSentences.tsx
  learn-greek-easy-frontend/src/components/review/grammar/GenderTabs.tsx
  learn-greek-easy-frontend/src/components/review/grammar/TenseTabs.tsx
  learn-greek-easy-frontend/src/components/review/grammar/VerbConjugationGrid.tsx
  learn-greek-easy-frontend/src/components/review/grammar/VoiceToggle.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/AdjectiveDeclensionTables.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/ExampleSentences.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/GenderTabs.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/TenseTabs.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/VoiceToggle.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
  learn-greek-easy-frontend/src/components/ui/__tests__/tabs.test.tsx
  learn-greek-easy-frontend/src/components/ui/tabs.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
  learn-greek-easy-frontend/src/lib/analytics/__tests__/grammarAnalytics.test.ts
  learn-greek-easy-frontend/src/lib/analytics/grammarAnalytics.ts
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/pages/__tests__/FlashcardReviewPage.integration.test.tsx
  learn-greek-easy-frontend/tests/e2e/fixtures/grammar-mock-data.ts
  learn-greek-easy-frontend/tests/e2e/grammar-ui.spec.ts
  learn-greek-easy-frontend/tests/e2e/helpers/grammar-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Saved
  docker-compose.dev.yml
Due: none

[GRAMREF-01] Remove ProgressHeader from FlashcardContainer
  learn-greek-easy-frontend/src/components/review/FlashcardContainer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix avatar URL expiration and profile refresh bugs
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-02] Clean up sessionStats time-related fields
  learn-greek-easy-frontend/src/components/review/ProgressHeader.tsx
  learn-greek-easy-frontend/src/pages/FlashcardReviewPage.tsx
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.analytics.test.ts
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.test.ts
  learn-greek-easy-frontend/src/stores/reviewStore.ts
  learn-greek-easy-frontend/src/types/review.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-03] Remove minRemaining i18n key
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
Due: frontend-prettier

[GRAMREF-05] Delete orphaned ProgressHeader component
  learn-greek-easy-frontend/docs/Components-Reference.md
  learn-greek-easy-frontend/docs/components/review-components.md
  learn-greek-easy-frontend/src/components/review/ProgressHeader.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-06] Refactor CardContent to vertical stack layout
  learn-greek-easy-frontend/src/components/review/CardContent.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-08] Add LanguageSwitcher to FlashcardReviewPage
  learn-greek-easy-frontend/src/pages/FlashcardReviewPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-10] Add language selector E2E tests
  learn-greek-easy-frontend/tests/e2e/grammar-ui.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-11] Create SectionHeader component
  learn-greek-easy-frontend/src/components/review/SectionHeader.tsx
  learn-greek-easy-frontend/src/components/review/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-12] Add TRANSLATION section header
  learn-greek-easy-frontend/src/components/review/CardContent.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-13] Add dynamic Declension/Conjugation section header
  learn-greek-easy-frontend/src/components/review/CardContent.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-14] Replace Examples h3 with SectionHeader
  learn-greek-easy-frontend/src/components/review/CardContent.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-15] Add section header i18n keys
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
Due: frontend-prettier

[GRAMREF-16] Create GenderBadge component
  learn-greek-easy-frontend/src/components/review/grammar/GenderBadge.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-17] Replace gender text with GenderBadge in CardHeader
  learn-greek-easy-frontend/src/components/review/CardHeader.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-18] Add GenderBadge unit tests
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/GenderBadge.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-19] Remove numbering from ExampleSentences
  learn-greek-easy-frontend/src/components/review/grammar/ExampleSentences.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/ExampleSentences.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-20] Add TenseBadge component for examples
  learn-greek-easy-frontend/src/components/review/grammar/TenseBadge.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-21] Display tense badges on verb examples
  learn-greek-easy-frontend/src/components/review/grammar/ExampleSentences.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF-23] Update ExampleSentences tests for tense badge
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/ExampleSentences.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/TenseBadge.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMREF] Fix E2E test seed configuration in conftest
  learn-greek-easy-backend/tests/conftest.py
Due: none

Fix E2E test failure: disable background tasks in test configuration
  learn-greek-easy-backend/tests/conftest.py
Due: none

[GRAMREF] Update seed service test expectations
  learn-greek-easy-backend/tests/integration/test_seed_service.py
Due: none

[GRAMREF] Update avatar URL expiry to 30 days (2592000s)
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/tests/integration/api/test_auth_avatar.py
Due: none

[GRAMREF] Grammar UI Refinement (#224)
  learn-greek-easy-backend/tests/conftest.py
  learn-greek-easy-backend/tests/integration/api/test_auth_avatar.py
  learn-greek-easy-backend/tests/integration/test_seed_service.py
  learn-greek-easy-frontend/docs/Components-Reference.md
  learn-greek-easy-frontend/docs/components/review-components.md
  learn-greek-easy-frontend/src/components/review/CardContent.tsx
  learn-greek-easy-frontend/src/components/review/CardHeader.tsx
  learn-greek-easy-frontend/src/components/review/FlashcardContainer.tsx
  learn-greek-easy-frontend/src/components/review/ProgressHeader.tsx
  learn-greek-easy-frontend/src/components/review/SectionHeader.tsx
  learn-greek-easy-frontend/src/components/review/grammar/ExampleSentences.tsx
  learn-greek-easy-frontend/src/components/review/grammar/GenderBadge.tsx
  learn-greek-easy-frontend/src/components/review/grammar/TenseBadge.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/ExampleSentences.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/GenderBadge.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/TenseBadge.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
  learn-greek-easy-frontend/src/components/review/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
  learn-greek-easy-frontend/src/pages/FlashcardReviewPage.tsx
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.analytics.test.ts
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.test.ts
  learn-greek-easy-frontend/src/stores/reviewStore.ts
  learn-greek-easy-frontend/src/types/review.ts
  learn-greek-easy-frontend/tests/e2e/grammar-ui.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-01] Add VocabularyCardForm base component
  learn-greek-easy-frontend/src/components/admin/VocabularyCardForm.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-02] Add BasicInfoTab component for vocabulary card forms
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/components/admin/vocabulary/BasicInfoTab.tsx
  learn-greek-easy-frontend/src/components/admin/vocabulary/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-03] Add NounGrammarForm component with declension table
  learn-greek-easy-frontend/src/components/admin/vocabulary/grammar/NounGrammarForm.tsx
  learn-greek-easy-frontend/src/components/admin/vocabulary/grammar/index.ts
  learn-greek-easy-frontend/src/components/admin/vocabulary/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-04] Add VerbGrammarForm component with conjugation tabs
  learn-greek-easy-frontend/src/components/admin/vocabulary/grammar/VerbGrammarForm.tsx
  learn-greek-easy-frontend/src/components/admin/vocabulary/grammar/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-05] Add AdjectiveGrammarForm component with gender tabs
  learn-greek-easy-frontend/src/components/admin/vocabulary/grammar/AdjectiveGrammarForm.tsx
  learn-greek-easy-frontend/src/components/admin/vocabulary/grammar/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-06] Add AdverbGrammarForm component
  learn-greek-easy-frontend/src/components/admin/vocabulary/grammar/AdverbGrammarForm.tsx
  learn-greek-easy-frontend/src/components/admin/vocabulary/grammar/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-07] Add GrammarTab component with conditional grammar form rendering
  learn-greek-easy-frontend/src/components/admin/vocabulary/GrammarTab.tsx
  learn-greek-easy-frontend/src/components/admin/vocabulary/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-08] Add ExamplesTab component with dynamic example management
  learn-greek-easy-frontend/src/components/admin/vocabulary/ExamplesTab.tsx
  learn-greek-easy-frontend/src/components/admin/vocabulary/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-09] Add VocabularyCardCreateModal with tabs and success state
  learn-greek-easy-frontend/src/components/admin/vocabulary/VocabularyCardCreateModal.tsx
  learn-greek-easy-frontend/src/components/admin/vocabulary/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/services/cardAPI.ts
  learn-greek-easy-frontend/src/services/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-10] Add VocabularyCardEditModal with data loading and partial updates
  learn-greek-easy-frontend/src/components/admin/vocabulary/VocabularyCardEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/vocabulary/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/services/cardAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-11] Integrate vocabulary card modals into DeckDetailModal
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMCARD-12] Add BulkUploadsTab for JSON bulk card creation
  learn-greek-easy-frontend/src/components/admin/BulkUploadsTab.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/cardAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
