Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

fix(tests): align exercise factory default type to match payload
  learn-greek-easy-backend/tests/factories/listening_dialog.py
  learn-greek-easy-backend/tests/factories/situation_description.py
  learn-greek-easy-backend/tests/factories/situation_picture.py
Due: none

fix(test): fix flaky UserDeckEditModal missing deck ID test
  learn-greek-easy-frontend/src/components/decks/__tests__/UserDeckEditModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): remove dead ListeningDialogs CRUD code (ADEX-01)
  learn-greek-easy-frontend/src/components/admin/DialogCreateModal.tsx
  learn-greek-easy-frontend/src/components/admin/DialogDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/ListeningDialogsTab.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DialogDetailModal.test.tsx
  learn-greek-easy-frontend/src/components/admin/dialogBadges.ts
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminDialogStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): add GET /admin/exercises endpoint (ADEX-02)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/situation.py
Due: none

test(admin): add integration tests for GET /admin/exercises (ADEX-03)
  learn-greek-easy-backend/tests/integration/api/test_admin_exercises_list.py
Due: none

feat(admin): add Listening and Reading exercise tabs (ADEX-04)
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): add frontend types, API method, and i18n for exercise list (ADEX-05)
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): add AdminExerciseList component + shared ExerciseItemPayload (ADEX-06)
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseList.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/ExerciseItemPayload.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/index.ts
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/components/admin/situations/SituationExercisesTab.tsx
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(test): use separate situations/descriptions to avoid unique constraint violations
  learn-greek-easy-backend/tests/integration/api/test_admin_exercises_list.py
Due: none

fix(admin): fix retry no-op and localize hardcoded strings
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseList.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(exercises): tighten word_timestamps type and add content step i18n keys
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/services/exerciseAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(exercises): add ExerciseContentStep component
  learn-greek-easy-frontend/src/components/exercises/ExerciseContentStep.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(exercises): wire ExerciseContentStep into practice page, add audio analytics + unit tests
  learn-greek-easy-frontend/src/components/exercises/__tests__/ExerciseContentStep.test.tsx
  learn-greek-easy-frontend/src/pages/ExercisePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(exercises): group by modality + Greek-only text in preview cards
  learn-greek-easy-frontend/src/components/exercises/ExercisePreviewCard.tsx
  learn-greek-easy-frontend/src/components/exercises/__tests__/ExercisePreviewCard.test.tsx
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(exercises): collapse modality groups by default
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(exercises): use common namespace for modality group titles
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(exercises): correct i18n key for modality group titles
  learn-greek-easy-frontend/src/pages/SituationDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(egress): remove broken SSE hook and fix CultureDeck lazy loading
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-frontend/src/hooks/__tests__/useAnalyticsSSE.test.ts
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useAnalyticsSSE.ts
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(claude): remove low-signal E2E seeding commands and dev ports from CLAUDE.md
  CLAUDE.md
Due: none

Saved progress
  RALPH_PROMPT.md
  docs/precompact-hook-setup.md
Due: none

feat(perf-01): extract singleton QueryClient to @/lib/queryClient
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/lib/queryClient.ts
  learn-greek-easy-frontend/src/lib/test-utils.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(perf-01): add slim useDateRangeStore Zustand store
  learn-greek-easy-frontend/src/stores/dateRangeStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(perf-01): rewrite useAnalytics as TanStack Query hook
  learn-greek-easy-frontend/src/components/analytics/TimeStudiedWidget.tsx
  learn-greek-easy-frontend/src/hooks/useAnalytics.ts
  learn-greek-easy-frontend/src/stores/analyticsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(perf-01): clear analytics query cache on logout
  learn-greek-easy-frontend/src/stores/authStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(perf-01): remove 5-min analytics polling from Dashboard
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(perf-01): migrate read-only analytics consumers to useAnalytics hook
  learn-greek-easy-frontend/src/components/xp/XPCard.tsx
  learn-greek-easy-frontend/src/hooks/__tests__/useDeckPerformance.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useProgressData.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useStudyStreak.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useTourAutoTrigger.test.ts
  learn-greek-easy-frontend/src/hooks/useDeckPerformance.ts
  learn-greek-easy-frontend/src/hooks/useProgressData.ts
  learn-greek-easy-frontend/src/hooks/useStudyStreak.ts
  learn-greek-easy-frontend/src/hooks/useTourAutoTrigger.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(perf-01): invalidate analytics after review session completion
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/V2FlashcardPracticePage.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/analyticsStore.test.ts
  learn-greek-easy-frontend/src/stores/analyticsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(perf-01): strip analyticsStore down to pure helpers
  learn-greek-easy-frontend/src/hooks/__tests__/useAnalytics.test.ts
  learn-greek-easy-frontend/src/stores/__tests__/analyticsStore.test.ts
  learn-greek-easy-frontend/src/stores/analyticsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(perf-01): relocate analytics helpers to feature folder
  learn-greek-easy-frontend/src/components/analytics/TimeStudiedWidget.tsx
  learn-greek-easy-frontend/src/features/analytics/api/getAnalytics.ts
  learn-greek-easy-frontend/src/features/analytics/index.ts
  learn-greek-easy-frontend/src/features/analytics/lib/transform.ts
  learn-greek-easy-frontend/src/hooks/useAnalytics.ts
  learn-greek-easy-frontend/src/stores/dateRangeStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(perf-01): rewrite analytics tests for TanStack Query hook
  learn-greek-easy-frontend/src/hooks/__tests__/useAnalytics.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useDeckPerformance.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useProgressData.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useStudyStreak.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useTourAutoTrigger.test.ts
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/authStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(perf-01): final cleanup — orphan types, doc refs, unused aliases
  learn-greek-easy-frontend/src/components/analytics/ActivityFeed.tsx
  learn-greek-easy-frontend/src/components/analytics/README.md
  learn-greek-easy-frontend/src/components/charts/README.md
  learn-greek-easy-frontend/src/components/xp/XPCard.tsx
  learn-greek-easy-frontend/src/hooks/__tests__/useAnalytics.test.ts
  learn-greek-easy-frontend/src/hooks/useAnalytics.ts
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/Statistics.tsx
  learn-greek-easy-frontend/src/types/dashboard.ts
  learn-greek-easy-frontend/src/types/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(perf-01): address coderabbit polish — test cleanup, dedupe hook config, expand readme docs
  learn-greek-easy-frontend/src/components/analytics/README.md
  learn-greek-easy-frontend/src/components/charts/README.md
  learn-greek-easy-frontend/src/hooks/__tests__/useAnalytics.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useDeckPerformance.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useProgressData.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useStudyStreak.test.ts
  learn-greek-easy-frontend/src/hooks/useAnalytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs(design-system): introduce v2.4 design system reference
  docs/design-system.md
  docs/design-system/Design-System-v2.4.html
Due: none

docs(claude-md): point agents at design system reference
  CLAUDE.md
Due: none

feat(reskin-01): token foundation [RESKIN-01-01]
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

feat(reskin-01): utilities and fonts [RESKIN-01-02]
  learn-greek-easy-frontend/index.html
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

docs(reskin-01): test impact audit [RESKIN-01-04]
  docs/reskin-01-test-impact-audit.md
Due: none

style(reskin-01): dashboard surface to v2.4 tokens [RESKIN-01-05]
  learn-greek-easy-frontend/src/components/dashboard/NewsSection.tsx
  learn-greek-easy-frontend/src/components/display/DeckCard.tsx
  learn-greek-easy-frontend/src/components/display/MetricCard.tsx
  learn-greek-easy-frontend/src/components/display/WelcomeSection.tsx
  learn-greek-easy-frontend/src/components/display/__tests__/MetricCard.test.tsx
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

style(reskin-01): practice surface to v2.4 tokens [RESKIN-01-06]
  learn-greek-easy-frontend/src/components/review/grammar/GenderBadge.tsx
  learn-greek-easy-frontend/src/components/review/grammar/PartOfSpeechBadge.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/GenderBadge.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/PartOfSpeechBadge.test.tsx
  learn-greek-easy-frontend/src/components/shared/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/components/MiniFlipCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/MiniFlipCard.test.tsx
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck
