Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

[UI] Rename 'All Decks' to 'Decks' and move analytics to Statistics page (#89)
  learn-greek-easy-frontend/docs/components/layout-navigation-components.md
  learn-greek-easy-frontend/docs/components/ui-components.md
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/layout/AppLayout.tsx
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/Decks.tsx
  learn-greek-easy-frontend/src/pages/Statistics.tsx
  learn-greek-easy-frontend/tests/e2e/analytics.spec.ts
  learn-greek-easy-frontend/tests/visual/authenticated.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Fix dark logout overlay to align with theme
  learn-greek-easy-frontend/src/components/ui/dialog.tsx
  learn-greek-easy-frontend/src/components/ui/sheet.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Fix dark logout overlay to align with theme (#90)
  learn-greek-easy-frontend/src/components/ui/dialog.tsx
  learn-greek-easy-frontend/src/components/ui/sheet.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SHADCN-01] Install Inter font and update font configuration
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/main.tsx
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SHADCN-02] Update CSS variables to zinc palette
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

[SHADCN-03] Add dark mode CSS variables
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

[SHADCN-04] Update Tailwind config with sidebar colors and border radius
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

[SHADCN-05] Update components.json configuration
  learn-greek-easy-frontend/components.json
Due: frontend-prettier

[SHADCN] Apply shadcn/ui Vega Preset (#91)
  learn-greek-easy-frontend/components.json
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/src/main.tsx
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FEATURE] Remove inactivity timeout feature
  learn-greek-easy-frontend/docs/Components-Reference.md
  learn-greek-easy-frontend/docs/components/auth-components.md
  learn-greek-easy-frontend/docs/components/auth-patterns.md
  learn-greek-easy-frontend/docs/patterns/dialog-patterns.md
  learn-greek-easy-frontend/docs/patterns/form-protected-route-patterns.md
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/auth/SessionWarningDialog.tsx
  learn-greek-easy-frontend/src/components/auth/index.ts
  learn-greek-easy-frontend/src/components/dialogs/README.md
  learn-greek-easy-frontend/src/components/dialogs/examples.tsx
  learn-greek-easy-frontend/src/hooks/__tests__/useActivityMonitor.test.ts
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useActivityMonitor.ts
  learn-greek-easy-frontend/src/utils/sessionManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FEATURE] Remove inactivity timeout feature (#92)
  learn-greek-easy-frontend/docs/Components-Reference.md
  learn-greek-easy-frontend/docs/components/auth-components.md
  learn-greek-easy-frontend/docs/components/auth-patterns.md
  learn-greek-easy-frontend/docs/patterns/dialog-patterns.md
  learn-greek-easy-frontend/docs/patterns/form-protected-route-patterns.md
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/auth/SessionWarningDialog.tsx
  learn-greek-easy-frontend/src/components/auth/index.ts
  learn-greek-easy-frontend/src/components/dialogs/README.md
  learn-greek-easy-frontend/src/components/dialogs/examples.tsx
  learn-greek-easy-frontend/src/hooks/__tests__/useActivityMonitor.test.ts
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useActivityMonitor.ts
  learn-greek-easy-frontend/src/utils/sessionManager.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FEEDBACK-01] Add Feedback and FeedbackVote database models
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20251218_1441_75d4214a9e4f_add_feedback_and_votes_tables.py
  learn-greek-easy-backend/src/db/models.py
Due: none

[FEEDBACK-02] Add feedback schemas and repository
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/feedback.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/feedback.py
Due: none

[FEEDBACK-03] Add feedback API endpoints
  learn-greek-easy-backend/src/api/v1/feedback.py
  learn-greek-easy-backend/src/api/v1/router.py
Due: none

[FEEDBACK-04] Add frontend API service and types
  learn-greek-easy-frontend/src/services/feedbackAPI.ts
  learn-greek-easy-frontend/src/services/index.ts
  learn-greek-easy-frontend/src/types/feedback.ts
  learn-greek-easy-frontend/src/types/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FEEDBACK-05] Add feedback state store
  learn-greek-easy-frontend/src/stores/feedbackStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FEEDBACK-06] Add feedback page and components
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackCard.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackCategoryBadge.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackFilters.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackList.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackStatusBadge.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackSubmitDialog.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackVoteButton.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/index.ts
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/components/layout/MobileNav.tsx
  learn-greek-easy-frontend/src/components/ui/form.tsx
  learn-greek-easy-frontend/src/components/ui/label.tsx
  learn-greek-easy-frontend/src/components/ui/select.tsx
  learn-greek-easy-frontend/src/components/ui/textarea.tsx
  learn-greek-easy-frontend/src/pages/FeedbackPage.tsx
  learn-greek-easy-frontend/src/types/feedback.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FEEDBACK-07] Add integration and E2E tests for feedback feature
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/feedback.py
  learn-greek-easy-backend/tests/integration/api/test_feedback.py
  learn-greek-easy-backend/tests/integration/conftest.py
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackCard.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackFilters.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackList.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackSubmitDialog.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackVoteButton.tsx
  learn-greek-easy-frontend/src/pages/FeedbackPage.tsx
  learn-greek-easy-frontend/tests/e2e/feedback.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FEEDBACK] Add feedback seed data with upvotes and downvotes
  learn-greek-easy-backend/scripts/seed_e2e_data.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/test_seed_service.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
Due: none

[FEEDBACK-07] Add comprehensive E2E API tests for feedback voting feature
  learn-greek-easy-backend/tests/e2e/scenarios/test_feedback_voting.py
Due: none

[FEEDBACK] Exclude posthog.py from E2E coverage (tested by unit tests)
  learn-greek-easy-backend/pyproject.toml
Due: none

[BUG] Fix transparent dropdowns on Feedback & Ideas page
  learn-greek-easy-frontend/src/components/auth/GoogleSignInButton.tsx
  learn-greek-easy-frontend/src/components/auth/ProtectedRoute.tsx
  learn-greek-easy-frontend/src/components/charts/ChartTooltip.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackVoteButton.tsx
  learn-greek-easy-frontend/src/components/feedback/Loading.tsx
  learn-greek-easy-frontend/src/components/settings/AppPreferencesSection.tsx
  learn-greek-easy-frontend/src/components/settings/DeleteAccountDialog.tsx
  learn-greek-easy-frontend/src/components/settings/ResetProgressDialog.tsx
  learn-greek-easy-frontend/src/components/ui/card.tsx
  learn-greek-easy-frontend/src/components/ui/checkbox.tsx
  learn-greek-easy-frontend/src/components/ui/dialog.tsx
  learn-greek-easy-frontend/src/components/ui/dropdown-menu.tsx
  learn-greek-easy-frontend/src/components/ui/form.tsx
  learn-greek-easy-frontend/src/components/ui/input.tsx
  learn-greek-easy-frontend/src/components/ui/navigation-menu.tsx
  learn-greek-easy-frontend/src/components/ui/select.tsx
  learn-greek-easy-frontend/src/components/ui/sheet.tsx
  learn-greek-easy-frontend/src/components/ui/slider.tsx
  learn-greek-easy-frontend/src/components/ui/textarea.tsx
  learn-greek-easy-frontend/src/components/ui/toast.tsx
  learn-greek-easy-frontend/src/components/ui/tooltip.tsx
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/FeedbackPage.tsx
  learn-greek-easy-frontend/src/pages/Statistics.tsx
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Fix deck level filter 422 error
  learn-greek-easy-frontend/src/stores/deckStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Remove double border on Statistics page charts
  learn-greek-easy-frontend/src/pages/Statistics.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Add hover states to user menu dropdown
  learn-greek-easy-frontend/src/components/ui/dropdown-menu.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Add success variant and make Start Review Session button green
  learn-greek-easy-frontend/src/components/display/WelcomeSection.tsx
  learn-greek-easy-frontend/src/components/ui/button.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BUG] Fix Available Decks page title alignment
  learn-greek-easy-frontend/src/pages/DecksPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[A11Y] Fix destructive button color contrast for WCAG AA compliance
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

[BUG] UI Bug Fixes Batch - 7 Issues Fixed (#94)
  learn-greek-easy-frontend/src/components/auth/GoogleSignInButton.tsx
  learn-greek-easy-frontend/src/components/auth/ProtectedRoute.tsx
  learn-greek-easy-frontend/src/components/charts/ChartTooltip.tsx
  learn-greek-easy-frontend/src/components/display/WelcomeSection.tsx
  learn-greek-easy-frontend/src/components/feedback-voting/FeedbackVoteButton.tsx
  learn-greek-easy-frontend/src/components/feedback/Loading.tsx
  learn-greek-easy-frontend/src/components/settings/AppPreferencesSection.tsx
  learn-greek-easy-frontend/src/components/settings/DeleteAccountDialog.tsx
  learn-greek-easy-frontend/src/components/settings/ResetProgressDialog.tsx
  learn-greek-easy-frontend/src/components/ui/button.tsx
  learn-greek-easy-frontend/src/components/ui/card.tsx
  learn-greek-easy-frontend/src/components/ui/checkbox.tsx
  learn-greek-easy-frontend/src/components/ui/dialog.tsx
  learn-greek-easy-frontend/src/components/ui/dropdown-menu.tsx
  learn-greek-easy-frontend/src/components/ui/form.tsx
  learn-greek-easy-frontend/src/components/ui/input.tsx
  learn-greek-easy-frontend/src/components/ui/navigation-menu.tsx
  learn-greek-easy-frontend/src/components/ui/select.tsx
  learn-greek-easy-frontend/src/components/ui/sheet.tsx
  learn-greek-easy-frontend/src/components/ui/slider.tsx
  learn-greek-easy-frontend/src/components/ui/textarea.tsx
  learn-greek-easy-frontend/src/components/ui/toast.tsx
  learn-greek-easy-frontend/src/components/ui/tooltip.tsx
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/DecksPage.tsx
  learn-greek-easy-frontend/src/pages/FeedbackPage.tsx
  learn-greek-easy-frontend/src/pages/Statistics.tsx
  learn-greek-easy-frontend/src/stores/deckStore.ts
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GOAL-01] Remove AppPreferencesSection from Settings page
  learn-greek-easy-frontend/src/components/settings/index.ts
  learn-greek-easy-frontend/src/pages/Settings.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GOAL-02] Delete AppPreferencesSection component file
  learn-greek-easy-frontend/src/components/settings/AppPreferencesSection.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GOAL-03] Update tests and documentation for daily goal removal from Settings
  learn-greek-easy-frontend/docs/Components-Reference.md
  learn-greek-easy-frontend/docs/components/settings-components.md
  learn-greek-easy-frontend/tests/e2e/settings.spec.ts
  learn-greek-easy-frontend/tests/integration/settings.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[RUSLANG-01] Update Language Type Definition
  learn-greek-easy-frontend/docs/components/settings-components.md
  learn-greek-easy-frontend/src/types/auth.ts
  learn-greek-easy-frontend/src/types/user.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[RUSLANG-02] Add Russian Language Button
  learn-greek-easy-frontend/src/components/profile/PreferencesSection.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NOTIF-01] Create Notification Type Definitions
  learn-greek-easy-frontend/src/types/index.ts
  learn-greek-easy-frontend/src/types/notification.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NOTIF-02] Create Notification Components and Mock Data
  learn-greek-easy-frontend/src/components/notifications/NotificationItem.tsx
  learn-greek-easy-frontend/src/components/notifications/NotificationsDropdown.tsx
  learn-greek-easy-frontend/src/components/notifications/index.ts
  learn-greek-easy-frontend/src/components/notifications/mockNotifications.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NOTIF-03] Integrate NotificationsDropdown into Header
  learn-greek-easy-frontend/src/components/layout/Header.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[STATS-01] Create reusable stats components from StatsSection
  learn-greek-easy-frontend/src/components/statistics/AchievementsGrid.tsx
  learn-greek-easy-frontend/src/components/statistics/ActivityTimeline.tsx
  learn-greek-easy-frontend/src/components/statistics/LevelProgressCard.tsx
  learn-greek-easy-frontend/src/components/statistics/StatsGrid.tsx
  learn-greek-easy-frontend/src/components/statistics/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[STATS-02] Integrate stats components into Statistics page
  learn-greek-easy-frontend/src/pages/Statistics.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck
