Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

test(INFRA-06): RED — scheduler Sentry init ordering + job-exception capture
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler.py
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler_main.py
Due: none

fix(PRACT2-6-02): treat whitespace-only gloss as empty (CodeRabbit)
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(INFRA-06): initialize Sentry in scheduler process + capture job exceptions
  learn-greek-easy-backend/src/scheduler_main.py
  learn-greek-easy-backend/src/tasks/scheduler.py
Due: none

test(INFRA-06): adversarial coverage for sentry init/shutdown ordering + listener branches
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler.py
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler_main.py
Due: none

test(INFRA-08): RED — session_cleanup must not manage Redis lifecycle
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler.py
  learn-greek-easy-backend/tests/unit/tasks/test_session_cleanup.py
Due: none

fix(INFRA-08): session_cleanup uses shared get_redis(), drops self-managed Redis lifecycle; fix stale cadence docstrings
  learn-greek-easy-backend/src/tasks/scheduled.py
Due: none

test(INFRA-08): adversarial — shared redis client survives across runs
  learn-greek-easy-backend/tests/unit/tasks/test_session_cleanup.py
Due: none

test(INFRA-07): RED — session_cleanup decorated with sentry cron monitor (slug)
  learn-greek-easy-backend/tests/unit/tasks/test_session_cleanup_monitor.py
Due: none

feat(INFRA-07): add sentry cron liveness monitor to hourly session_cleanup
  learn-greek-easy-backend/src/tasks/scheduled.py
Due: none

test(INFRA-07): fix cron-monitor spy to model decorator factory + harden import-reload isolation
  learn-greek-easy-backend/tests/unit/tasks/test_session_cleanup_monitor.py
Due: none

docs(PRACT2-6): document .pf-answer__sub in design-system.md
  docs/design-system.md
Due: none

feat(INFRA): scheduler observability & config-crash hardening (#587)
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/scheduler_main.py
  learn-greek-easy-backend/src/tasks/scheduled.py
  learn-greek-easy-backend/src/tasks/scheduler.py
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler.py
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler_main.py
  learn-greek-easy-backend/tests/unit/tasks/test_session_cleanup.py
  learn-greek-easy-backend/tests/unit/tasks/test_session_cleanup_monitor.py
  learn-greek-easy-backend/tests/unit/test_config.py
Due: none

feat(PRACT2-6): RU plural-form answer — Greek form + translation sub-line (#586)
  docs/design-system.md
  learn-greek-easy-frontend/src/features/practice/pf/Answer.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Answer.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/judge.test.ts
  learn-greek-easy-frontend/src/features/practice/pf/judge.ts
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PERF-09-01): RED specs for fire-and-forget locale load
  learn-greek-easy-frontend/src/i18n/__tests__/i18n.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PERF-09-01): fire-and-forget non-EN locale load to unblock LCP
  learn-greek-easy-frontend/src/i18n/init.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PRACT2-7-01): RED — glossary selectors (masteredCount/learnedCount/stageDistribution)
  learn-greek-easy-frontend/src/lib/__tests__/progressGlossary.test.ts
  learn-greek-easy-frontend/src/lib/progressGlossary.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PERF-09-01): adversarial coverage for fire-and-forget RU locale load
  learn-greek-easy-frontend/src/i18n/__tests__/i18n-adversarial.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(INFRA-09-01): RED specs for query-param JWT redaction
  learn-greek-easy-backend/tests/unit/middleware/test_logging_middleware.py
Due: none

feat(PRACT2-7-01): glossary module + docs — masteredCount/learnedCount/stageDistribution
  docs/conventions.md
  docs/progress-glossary.md
  learn-greek-easy-frontend/src/lib/progressGlossary.ts
  learn-greek-easy-frontend/src/services/progressAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(INFRA-09-01): redact sensitive query params in request-start log
  learn-greek-easy-backend/src/middleware/logging.py
Due: none

test(PRACT2-7-01): adversarial edge coverage for stageDistribution rounding
  learn-greek-easy-frontend/src/lib/__tests__/progressGlossary.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(INFRA-09-01): adversarial edge coverage for query redaction
  learn-greek-easy-backend/tests/unit/middleware/test_logging_middleware.py
Due: none

test(INFRA-09-01): assemble fake JWT fixtures at runtime to clear secret scanner
  learn-greek-easy-backend/tests/unit/middleware/test_logging_middleware.py
Due: none

test(PRACT2-7-02): RED — pie sums to 100, total excludes due, no relearning slice
  learn-greek-easy-frontend/src/components/charts/__tests__/StageDistributionChart.test.tsx
  learn-greek-easy-frontend/src/features/analytics/lib/__tests__/transform.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PRACT2-7-02): fix pie denominator — exclude due, remove relearning slice
  learn-greek-easy-frontend/src/components/charts/StageDistributionChart.tsx
  learn-greek-easy-frontend/src/features/analytics/lib/transform.ts
  learn-greek-easy-frontend/src/types/analytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PRACT2-7-02): adversarial edge coverage — due overlap, rounding, 4-slice
  learn-greek-easy-frontend/src/components/charts/__tests__/StageDistributionChart.test.tsx
  learn-greek-easy-frontend/src/features/analytics/lib/__tests__/transform.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs(PRACT2-7-02): chart README — 4 segments (relearning slice removed)
  learn-greek-easy-frontend/src/components/charts/README.md
Due: frontend-prettier

fix(PERF-09-01): clean single-path fire-and-forget; behavior-based tests (no microtask-count coupling)
  learn-greek-easy-frontend/src/i18n/__tests__/i18n-adversarial.test.ts
  learn-greek-easy-frontend/src/i18n/__tests__/i18n.test.ts
  learn-greek-easy-frontend/src/i18n/bundle-loader.ts
  learn-greek-easy-frontend/src/i18n/init.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PRACT2-7-03): RED — Statistics 'Выученные слова' = learnedCount, dashboard mastered guard
  learn-greek-easy-frontend/src/components/statistics/__tests__/StatsGrid.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.metrics.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PRACT2-7-03): repoint Statistics wordsLearned + Dashboard mastered to canonical selectors
  learn-greek-easy-frontend/src/components/statistics/__tests__/StatsGrid.test.tsx
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/Statistics.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PERF-09-02): RED specs + contract flips for de-gated anon landing
  learn-greek-easy-frontend/src/components/auth/__tests__/LandingRoute.test.tsx
  learn-greek-easy-frontend/src/components/auth/__tests__/RouteGuard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PRACT2-7-03): Statistics-page-level coverage — tile shows learnedCount not totalCardsReviewed
  learn-greek-easy-frontend/src/pages/__tests__/Statistics.learnedCount.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PERF-09-02): render anon landing immediately; de-gate RouteGuard/LandingRoute from auth init
  learn-greek-easy-frontend/src/components/auth/LandingRoute.tsx
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PERF-09-02): adversarial security + redirect coverage
  learn-greek-easy-frontend/src/components/auth/__tests__/PERF-09-02.adversarial.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PRACT2-7-04): RED — deckCompletionPct coverage; detail headline = coverage not weighted-word
  learn-greek-easy-frontend/src/components/decks/__tests__/DeckCard.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/DxResumeHero.test.tsx
  learn-greek-easy-frontend/src/lib/__tests__/progressGlossary.test.ts
  learn-greek-easy-frontend/src/lib/progressGlossary.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PERF-09-03): RED config-shape specs for armed LCP gate
  learn-greek-easy-frontend/src/lib/__tests__/lighthouserc.config.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PERF-09-03): arm LCP gate to error@4000 on desktop + mobile lighthouse configs
  learn-greek-easy-frontend/lighthouserc.cjs
  learn-greek-easy-frontend/lighthouserc.mobile.cjs
Due: none

feat(PRACT2-7-04): implement deckCompletionPct and wire card + detail headline
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/DxResumeHero.tsx
  learn-greek-easy-frontend/src/lib/progressGlossary.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PRACT2-7-04): adversarial — deckCompletionPct rounding, null headline path
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/DxResumeHero.test.tsx
  learn-greek-easy-frontend/src/lib/__tests__/progressGlossary.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PERF-09-04): enforce lhci assert (remove || true), split assert after upload, keep report posting on failure
  .github/workflows/release-verify.yml
Due: none

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
