Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

[BP04-03] Enforce premium deck gating on review endpoints
  learn-greek-easy-backend/src/api/v1/reviews.py
Due: none

[BP04-03] Enforce premium deck gating on review endpoints
  learn-greek-easy-backend/tests/unit/api/test_reviews.py
Due: none

[BP04-05] Unit tests for subscription module and premium gating
  learn-greek-easy-backend/tests/unit/api/test_reviews_premium_gating.py
  learn-greek-easy-backend/tests/unit/api/test_study_premium_gating.py
  learn-greek-easy-backend/tests/unit/core/test_subscription.py
Due: none

[BP04-06] Integration tests for premium deck enforcement
  learn-greek-easy-backend/tests/integration/api/test_premium_deck_enforcement.py
Due: none

Address CodeRabbit review comments on PR #295
  learn-greek-easy-backend/src/api/v1/reviews.py
  learn-greek-easy-backend/src/api/v1/study.py
  learn-greek-easy-backend/src/core/subscription.py
  learn-greek-easy-backend/tests/unit/api/test_reviews_premium_gating.py
Due: none

Address remaining CodeRabbit comments on PR #295
  learn-greek-easy-backend/src/api/v1/study.py
  learn-greek-easy-backend/tests/integration/api/test_study.py
  learn-greek-easy-backend/tests/unit/api/test_reviews_premium_gating.py
  learn-greek-easy-backend/tests/unit/api/test_study_premium_gating.py
Due: none

Fix 5 unit tests broken by CodeRabbit security fixes
  learn-greek-easy-backend/tests/unit/api/test_reviews.py
  learn-greek-easy-backend/tests/unit/api/test_study.py
Due: none

[BP04] Premium billing - subscription enforcement and deck gating (#295)
  learn-greek-easy-backend/src/api/v1/reviews.py
  learn-greek-easy-backend/src/api/v1/study.py
  learn-greek-easy-backend/src/core/__init__.py
  learn-greek-easy-backend/src/core/exceptions.py
  learn-greek-easy-backend/src/core/subscription.py
  learn-greek-easy-backend/src/repositories/progress.py
  learn-greek-easy-backend/src/schemas/sm2.py
  learn-greek-easy-backend/src/services/sm2_service.py
  learn-greek-easy-backend/tests/integration/api/test_premium_deck_enforcement.py
  learn-greek-easy-backend/tests/integration/api/test_study.py
  learn-greek-easy-backend/tests/unit/api/test_reviews.py
  learn-greek-easy-backend/tests/unit/api/test_reviews_premium_gating.py
  learn-greek-easy-backend/tests/unit/api/test_study.py
  learn-greek-easy-backend/tests/unit/api/test_study_premium_gating.py
  learn-greek-easy-backend/tests/unit/core/test_subscription.py
Due: none

[WAUD01-01] ExampleSentence.id required + audio_key field
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-backend/tests/integration/api/test_word_entries_bulk.py
  learn-greek-easy-backend/tests/integration/api/test_word_entries_get.py
  learn-greek-easy-backend/tests/unit/schemas/test_word_entry_bulk_schemas.py
  learn-greek-easy-backend/tests/unit/schemas/test_word_entry_schemas.py
Due: none

[WAUD01-03] ElevenLabs generate_speech voice_id parameter
  learn-greek-easy-backend/src/services/elevenlabs_service.py
  learn-greek-easy-backend/tests/unit/services/test_elevenlabs_service.py
Due: none

[WAUD01-02] Response Schemas: ExampleSentenceResponse + audio_url
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-backend/tests/unit/schemas/test_word_entry_schemas.py
Due: none

[WAUD01-04] Bulk upsert: preserve audio_key in examples JSONB during upsert
  learn-greek-easy-backend/src/repositories/word_entry.py
  learn-greek-easy-backend/tests/unit/repositories/test_word_entry_repository.py
Due: none

[WAUD02-01] Background task: generate_word_entry_audio_task with lemma + example TTS
  learn-greek-easy-backend/src/tasks/__init__.py
  learn-greek-easy-backend/src/tasks/background.py
Due: none

[WAUD02-01] Fix test_all_exports_defined for new task exports
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
Due: none

[WAUD02-02] Wire generate_word_entry_audio_task into bulk upsert endpoint
  learn-greek-easy-backend/src/api/v1/word_entries.py
Due: none

[WAUD02-02] Fix bulk upload test card count assertions (WAUD01-01 added example ids)
  learn-greek-easy-backend/tests/integration/api/test_word_entries_bulk.py
Due: none

[WAUD02-03] Unit and integration tests for generate_word_entry_audio_task
  learn-greek-easy-backend/tests/integration/api/test_word_entries_bulk_audio.py
  learn-greek-easy-backend/tests/unit/tasks/test_generate_word_entry_audio.py
Due: none

[WAUD03-01] Presigned URL helper word_entry_to_response + 3 endpoint wiring
  learn-greek-easy-backend/src/api/v1/decks.py
  learn-greek-easy-backend/src/api/v1/word_entries.py
  learn-greek-easy-backend/src/services/word_entry_response.py
  learn-greek-easy-backend/tests/integration/api/test_word_entry_audio_url.py
  learn-greek-easy-backend/tests/unit/services/test_word_entry_response.py
Due: none

[WAUD03-01] Add bulk endpoint integration test for audio_url
  learn-greek-easy-backend/tests/integration/api/test_word_entry_audio_url.py
Due: none

[WAUD03-02] Add audio_url TypeScript types to WordEntry interfaces
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
  learn-greek-easy-frontend/src/types/grammar.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WAUD05-01] Study queue audio enrichment: audio_url + word_entry_id on StudyQueueCard
  learn-greek-easy-backend/src/schemas/card.py
  learn-greek-easy-backend/src/schemas/sm2.py
  learn-greek-easy-backend/src/services/sm2_service.py
  learn-greek-easy-backend/tests/unit/services/test_study_queue_audio.py
Due: none

[WAUD04-01] useAudioPlayer hook with lazy Audio creation and stable callbacks
  learn-greek-easy-frontend/src/hooks/__tests__/useAudioPlayer.test.ts
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useAudioPlayer.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WAUD04-02] SpeakerButton component, i18n keys, and tests
  learn-greek-easy-frontend/src/components/ui/SpeakerButton.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/SpeakerButton.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WAUD05-02] Frontend types, reviewStore, and audio analytics module
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
  learn-greek-easy-frontend/src/lib/analytics/__tests__/audioAnalytics.test.ts
  learn-greek-easy-frontend/src/lib/analytics/audioAnalytics.ts
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/services/studyAPI.ts
  learn-greek-easy-frontend/src/stores/reviewStore.ts
  learn-greek-easy-frontend/src/types/grammar.ts
  learn-greek-easy-frontend/src/types/review.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WAUD05-03] Wire SpeakerButton into CardHeader with audio analytics
  learn-greek-easy-frontend/src/components/review/CardHeader.tsx
  learn-greek-easy-frontend/src/components/review/__tests__/CardHeader.audio.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WAUD05-04] Wire SpeakerButton into ExampleSentences (review)
  learn-greek-easy-frontend/src/components/review/CardContent.tsx
  learn-greek-easy-frontend/src/components/review/grammar/ExampleSentences.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/ExampleSentences.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WAUD05-05] Wire SpeakerButton into Reference Page (FINAL)
  learn-greek-easy-frontend/src/features/words/components/ExamplesSection.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/ExamplesSection.test.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordReferencePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix TestGetStudyQueue tests broken by _enrich_cards_with_audio addition
  learn-greek-easy-backend/tests/unit/services/test_sm2_service.py
Due: none

Fix unwanted hover effects on word reference page
  learn-greek-easy-frontend/src/components/review/grammar/GenderBadge.tsx
  learn-greek-easy-frontend/src/components/review/grammar/PartOfSpeechBadge.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix admin DeckDetailModal to show word entries for V2 decks
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/tests/visual/admin-deck-detail-vocabulary.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix admin DeckDetailModal to show word entries for V2 decks (#297)
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/tests/visual/admin-deck-detail-vocabulary.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET01-01] Add i18n translations and PostHog analytics for word entry detail view
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/lib/analytics/adminAnalytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET01-02] Add view state and word entry detail view to DeckDetailModal
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET01-03] Unit tests for word entry detail navigation
  learn-greek-easy-frontend/src/components/admin/__tests__/DeckDetailModal.wordEntryDetail.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WDET03-01] AudioStatus enum + WordEntry columns + Alembic migration
  learn-greek-easy-backend/alembic/versions/20260219_1542_cbf1800e4269_add_audio_status_to_word_entries.py
  learn-greek-easy-backend/src/db/models.py
Due: none

[WDET03-02] Backend: audio_status in schemas, response builder, and background task
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-backend/src/services/word_entry_response.py
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/tests/unit/services/test_word_entry_response.py
  learn-greek-easy-backend/tests/unit/tasks/test_generate_word_entry_audio.py
Due: none

[WDET04-01] Backend: Fix translation_ru_plural schema gap + Create admin update endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/schemas/word_entry.py
Due: none

[WDET05-01/02] Backend: Per-part audio generation task + admin endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/tasks/__init__.py
  learn-greek-easy-backend/src/tasks/background.py
Due: none

[WDET02-01] Add i18n translations for word entry content display
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
