Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

fix(admin): simplify Generate Noun modal layout and remove source badges
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/UnifiedVerificationTable.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/UnifiedVerificationTable.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: add check constraints and missing indexes to dialog progress tables
  learn-greek-easy-backend/alembic/versions/20260312_0704_8b5463ae5571_add_dialog_progress_tables.py
  learn-greek-easy-backend/src/db/models.py
Due: none

[LDLG] Listening Dialog Student Progress (#369)
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20260312_0704_8b5463ae5571_add_dialog_progress_tables.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/services/xp_constants.py
Due: none

fix(ngen): lexicon-first spellcheck verification + allow multiline in Local column
  learn-greek-easy-backend/src/services/local_verification_service.py
  learn-greek-easy-backend/tests/unit/services/test_local_verification_service.py
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/src/components/admin/UnifiedVerificationTable.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LDLG-04] Admin Dialog List & Shell
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-frontend/src/components/admin/ListeningDialogsTab.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/lib/analytics/adminAnalytics.ts
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminDialogStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LDLG-04] Add admin listening dialogs tests and fix CASCADE drop
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/listening_dialog.py
  learn-greek-easy-backend/tests/fixtures/database.py
  learn-greek-easy-backend/tests/unit/api/test_admin_listening_dialogs.py
Due: none

fix: lexicon-first lemma spellcheck and fix test article-stripping coverage
  learn-greek-easy-backend/src/services/local_verification_service.py
  learn-greek-easy-backend/tests/unit/services/test_local_verification_service.py
Due: none

[LDLG-04] Admin Dialog List & Shell (#370)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/services/local_verification_service.py
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/listening_dialog.py
  learn-greek-easy-backend/tests/fixtures/database.py
  learn-greek-easy-backend/tests/unit/api/test_admin_listening_dialogs.py
  learn-greek-easy-backend/tests/unit/services/test_local_verification_service.py
  learn-greek-easy-frontend/src/components/admin/ListeningDialogsTab.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/lib/analytics/adminAnalytics.ts
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminDialogStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-08-06-04] Backend schema fix + click-to-select in UnifiedVerificationTable
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-backend/tests/unit/schemas/test_word_entry_bulk_schemas.py
  learn-greek-easy-frontend/src/components/admin/UnifiedVerificationTable.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/UnifiedVerificationTable.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-08-06-05] Editable fields + Approve & Save flow in GenerateNounDialog
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/utils/nounPayloadBuilder.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-08-06-06] Tests + Final Polish
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/utils/__tests__/nounPayloadBuilder.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: address CodeRabbit review comments for PR #371
  learn-greek-easy-backend/src/repositories/word_entry.py
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/UnifiedVerificationTable.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/utils/__tests__/nounPayloadBuilder.test.ts
  learn-greek-easy-frontend/src/utils/nounPayloadBuilder.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-08-06] Approve & Persist Flow (#371)
  learn-greek-easy-backend/src/repositories/word_entry.py
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-backend/tests/unit/schemas/test_word_entry_bulk_schemas.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/UnifiedVerificationTable.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/UnifiedVerificationTable.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/utils/__tests__/nounPayloadBuilder.test.ts
  learn-greek-easy-frontend/src/utils/nounPayloadBuilder.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WEDEL-01] Backend delete endpoint + S3 cleanup + frontend API method
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_word_entry_delete.py
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WEDEL-02] Frontend delete routing + dialog text + tests
  learn-greek-easy-frontend/src/components/admin/CardDeleteDialog.tsx
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardDeleteDialog.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DeckDetailModal.bulkActions.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DeckDetailModal.delete.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WEDEL] Word Entry Deletion (#372)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_word_entry_delete.py
  learn-greek-easy-frontend/src/components/admin/CardDeleteDialog.tsx
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardDeleteDialog.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DeckDetailModal.bulkActions.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DeckDetailModal.delete.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-11-01] Add article-prefixed reference values in Local column
  learn-greek-easy-backend/src/services/local_verification_service.py
  learn-greek-easy-backend/tests/unit/services/test_local_verification_service.py
Due: none

[NGEN-11-02] PillState data model + nounPayloadBuilder refactor
  learn-greek-easy-frontend/src/utils/__tests__/nounPayloadBuilder.test.ts
  learn-greek-easy-frontend/src/utils/nounPayloadBuilder.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): PillState data model + nounPayloadBuilder refactor
  learn-greek-easy-frontend/src/components/admin/UnifiedVerificationTable.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-11-03] DecisionPill component + table column rebalance
  learn-greek-easy-frontend/src/components/admin/UnifiedVerificationTable.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): GenerateNounDialog state migration + section cleanup
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-11-05] Tests + Polish — DecisionPill unit tests + cell-click pill sync
  learn-greek-easy-frontend/src/components/admin/__tests__/DecisionPill.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/UnifiedVerificationTable.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: address CodeRabbit review issues
  learn-greek-easy-backend/src/services/local_verification_service.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/UnifiedVerificationTable.tsx
  learn-greek-easy-frontend/src/utils/nounPayloadBuilder.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): restructure flat tab bar into grouped dropdown navigation
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/tests/e2e/admin-culture-cards.spec.ts
  learn-greek-easy-frontend/tests/e2e/admin-deck-multilang.spec.ts
  learn-greek-easy-frontend/tests/e2e/admin-vocabulary-card-create.spec.ts
  learn-greek-easy-frontend/tests/e2e/admin-vocabulary-card-edit.spec.ts
  learn-greek-easy-frontend/tests/e2e/admin-word-entries-bulk.spec.ts
  learn-greek-easy-frontend/tests/e2e/admin-word-entry-detail-redesign.spec.ts
  learn-greek-easy-frontend/tests/e2e/announcements.spec.ts
  learn-greek-easy-frontend/tests/e2e/changelog.spec.ts
  learn-greek-easy-frontend/tests/e2e/helpers/admin-helpers.ts
  learn-greek-easy-frontend/tests/e2e/news-country-filter.spec.ts
  learn-greek-easy-frontend/tests/e2e/news-feed.spec.ts
  learn-greek-easy-frontend/tests/visual/admin-announcements.visual.spec.ts
  learn-greek-easy-frontend/tests/visual/news-country.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-11] Inline Resolution (#373)
  learn-greek-easy-backend/src/services/local_verification_service.py
  learn-greek-easy-backend/tests/unit/services/test_local_verification_service.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/UnifiedVerificationTable.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/DecisionPill.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/UnifiedVerificationTable.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/utils/__tests__/nounPayloadBuilder.test.ts
  learn-greek-easy-frontend/src/utils/nounPayloadBuilder.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(frontend): [LDLG-05] dialog creation modal and API wiring
  learn-greek-easy-frontend/src/components/admin/DialogCreateModal.tsx
  learn-greek-easy-frontend/src/components/admin/ListeningDialogsTab.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminDialogStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(backend): [LDLG-05-01] add alembic migration for dialog schema changes
  learn-greek-easy-backend/alembic/versions/20260312_1200_drop_text_approved_and_voice_name.py
  learn-greek-easy-backend/tests/factories/listening_dialog.py
Due: none

feat(backend): [LDLG-05-02] update SQLAlchemy models for dialog schema
  learn-greek-easy-backend/src/db/models.py
Due: none

feat(backend): [LDLG-05-03] add Pydantic schemas for dialog creation
  learn-greek-easy-backend/src/schemas/admin.py
Due: none

feat(backend): [LDLG-05-04] add POST endpoint for dialog creation
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

fix(backend): [LDLG-05-01] fix duplicate Alembic revision ID
  learn-greek-easy-backend/alembic/versions/20260312_1200_drop_text_approved_and_voice_name.py
Due: none

fix(backend): [LDLG-05-01] drop/restore column default around enum swap
  learn-greek-easy-backend/alembic/versions/20260312_1200_drop_text_approved_and_voice_name.py
Due: none

fix(ldlg-05): address CodeRabbit review comments
  learn-greek-easy-backend/alembic/versions/20260312_1200_drop_text_approved_and_voice_name.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

docs: update CLAUDE.md to prefer Sentry Logs over Railway for log investigation
  CLAUDE.md
Due: none

fix(cross-ai): strip think tags, remove reasoning param, populate comparisons on failure
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/services/cross_ai_verification_service.py
  learn-greek-easy-backend/tests/unit/services/test_cross_ai_verification_service.py
  learn-greek-easy-frontend/src/utils/__tests__/nounPayloadBuilder.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LDLG-05] Dialog Creation Modal (#374)
  learn-greek-easy-backend/alembic/versions/20260312_1200_drop_text_approved_and_voice_name.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/factories/listening_dialog.py
  learn-greek-easy-frontend/src/components/admin/DialogCreateModal.tsx
  learn-greek-easy-frontend/src/components/admin/ListeningDialogsTab.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminDialogStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LDLG-08-01] Add elevenlabs_dialog_model_id config setting
  learn-greek-easy-backend/src/config.py
Due: none

[LDLG-08-02] Add generate_dialog_audio method to ElevenLabsService
  learn-greek-easy-backend/src/services/elevenlabs_service.py
Due: none

[LDLG-08-03] Add SSE pipeline and endpoint for dialog audio generation
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none
