Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

Add fallback to agent prompt files when subagent spawning fails
  RALPH_TEAMS_PROMPT.md
Due: none

[V2DEF] Change default card system from V1 to V2
  learn-greek-easy-backend/alembic/versions/change_deck_card_system_default_to_v2.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/deck.py
  learn-greek-easy-backend/tests/factories/content.py
  learn-greek-easy-backend/tests/unit/db/test_deck_models.py
  learn-greek-easy-backend/tests/unit/schemas/test_deck_schemas.py
Due: none

fix: use unique Alembic revision ID to avoid collision
  learn-greek-easy-backend/alembic/versions/change_deck_card_system_default_to_v2.py
Due: none

fix: explicitly set card_system=V1 for E2E seed decks
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[V2DEF] Change Default Card System from V1 to V2 (#245)
  learn-greek-easy-backend/alembic/versions/change_deck_card_system_default_to_v2.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/deck.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/factories/content.py
  learn-greek-easy-backend/tests/unit/db/test_deck_models.py
  learn-greek-easy-backend/tests/unit/schemas/test_deck_schemas.py
Due: none

[VSEED-01] Refactor deck cleanup and creation scaffolding
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[VSEED-02] Add 10 A1-level Greek nouns to V2 Nouns Deck vocabulary
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[VSEED-03] Add V2 A2 Verbs Deck vocabulary data
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[VSEED-04] Add V2 Mixed Deck vocabulary and update docstrings
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/tests/e2e/deck-v1-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VSEED] V2 Deck Seeding Expansion - Multi-Deck Structure (#246)
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/tests/e2e/deck-v1-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[RBU-02] Remove V1 bulk upload from frontend
  learn-greek-easy-frontend/src/components/admin/BulkUploadsTab.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/cardAPI.ts
  learn-greek-easy-frontend/tests/e2e/admin-bulk-upload.spec.ts
  learn-greek-easy-frontend/tests/visual/admin-bulk-upload.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[RBU-01] Remove V1 bulk upload from backend
  learn-greek-easy-backend/src/api/v1/cards.py
  learn-greek-easy-backend/src/repositories/card.py
  learn-greek-easy-backend/src/schemas/card.py
  learn-greek-easy-backend/tests/e2e/edge_cases/test_data_consistency.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_card_operations.py
  learn-greek-easy-backend/tests/e2e/workflows/test_admin_content_management.py
  learn-greek-easy-backend/tests/integration/api/test_cards_bulk.py
  learn-greek-easy-backend/tests/unit/api/test_cards.py
  learn-greek-easy-backend/tests/unit/repositories/test_repositories.py
Due: none

Consolidate /ralph and /ralph-teams into single unified workflow
  RALPH_PROMPT.md
  RALPH_TEAMS_PROMPT.md
Due: none

[RBU] Remove V1 Bulk Upload (#247)
  RALPH_PROMPT.md
  RALPH_TEAMS_PROMPT.md
  learn-greek-easy-backend/src/api/v1/cards.py
  learn-greek-easy-backend/src/repositories/card.py
  learn-greek-easy-backend/src/schemas/card.py
  learn-greek-easy-backend/tests/e2e/edge_cases/test_data_consistency.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_card_operations.py
  learn-greek-easy-backend/tests/e2e/workflows/test_admin_content_management.py
  learn-greek-easy-backend/tests/integration/api/test_cards_bulk.py
  learn-greek-easy-backend/tests/unit/api/test_cards.py
  learn-greek-easy-backend/tests/unit/repositories/test_repositories.py
  learn-greek-easy-frontend/src/components/admin/BulkUploadsTab.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/cardAPI.ts
  learn-greek-easy-frontend/tests/e2e/admin-bulk-upload.spec.ts
  learn-greek-easy-frontend/tests/visual/admin-bulk-upload.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG-04] Update CEFR badge styling to pill shape
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/WordGrid.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/WordBrowser.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/WordGrid.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG-04] Update CEFR badge styling to pill shape
  learn-greek-easy-frontend/src/components/decks/DeckBadge.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG-02] Update word detail page UI to use shadcn components
  learn-greek-easy-frontend/src/features/words/components/ExamplesSection.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG-05] Remove Greek language tab from admin deck modals
  learn-greek-easy-frontend/src/components/admin/CultureDeckCreateForm.tsx
  learn-greek-easy-frontend/src/components/admin/CultureDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckCreateForm.tsx
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CultureDeckEditForm.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/VocabularyDeckEditForm.test.tsx
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/types/deck.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG-06] Fix Russian translation persistence in deck admin
  learn-greek-easy-backend/src/api/v1/decks.py
  learn-greek-easy-backend/src/schemas/deck.py
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/AdminPage.handleSaveDeck.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG-03] Fix deck count labels and word entry counting
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/repositories/deck.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/factories/content.py
  learn-greek-easy-backend/tests/fixtures/deck.py
  learn-greek-easy-backend/tests/unit/repositories/conftest.py
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG-05] Update E2E multilang tests for bilingual (EN/RU) modals
  learn-greek-easy-frontend/tests/e2e/admin-deck-multilang.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG] Fix deck name/description language switching
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/DeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/DecksPage.tsx
  learn-greek-easy-frontend/src/services/api.ts
  learn-greek-easy-frontend/tests/e2e/deck-language-switching.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Revert "[VBUG] Fix deck name/description language switching"
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/DeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/DecksPage.tsx
  learn-greek-easy-frontend/src/services/api.ts
  learn-greek-easy-frontend/tests/e2e/deck-language-switching.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Remove QA Plan stage from Ralph workflow (5 → 4 stages)
  RALPH_PROMPT.md
Due: none

[VBUG] Fix deck name/description language switching (client-side resolution)
  learn-greek-easy-backend/src/api/v1/decks.py
  learn-greek-easy-backend/src/schemas/deck.py
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckHeader.tsx
  learn-greek-easy-frontend/src/lib/deckLocale.ts
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/pages/DeckDetailPage.tsx
  learn-greek-easy-frontend/src/services/deckAPI.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
  learn-greek-easy-frontend/src/types/deck.ts
  learn-greek-easy-frontend/tests/e2e/deck-language-switching.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix empty deck titles on My Decks page
  learn-greek-easy-frontend/src/lib/deckLocale.ts
  learn-greek-easy-frontend/src/pages/MyDecksPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix deck language switching E2E test
  learn-greek-easy-frontend/tests/e2e/deck-language-switching.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG] V2 Visual Bug Fixes (#248)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/decks.py
  learn-greek-easy-backend/src/repositories/deck.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/schemas/deck.py
  learn-greek-easy-backend/tests/factories/content.py
  learn-greek-easy-backend/tests/fixtures/deck.py
  learn-greek-easy-backend/tests/unit/repositories/conftest.py
  learn-greek-easy-frontend/src/components/admin/CultureDeckCreateForm.tsx
  learn-greek-easy-frontend/src/components/admin/CultureDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckCreateForm.tsx
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CultureDeckEditForm.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/VocabularyDeckEditForm.test.tsx
  learn-greek-easy-frontend/src/components/decks/DeckBadge.tsx
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckHeader.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/WordGrid.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/WordBrowser.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/WordGrid.test.tsx
  learn-greek-easy-frontend/src/features/words/components/ExamplesSection.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/lib/deckLocale.ts
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/pages/DeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/MyDecksPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/AdminPage.handleSaveDeck.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/services/deckAPI.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
  learn-greek-easy-frontend/src/types/deck.ts
  learn-greek-easy-frontend/tests/e2e/admin-deck-multilang.spec.ts
  learn-greek-easy-frontend/tests/e2e/deck-language-switching.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WEUP-01] Update V2 word entry pronunciation from IPA to learner-friendly format
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[WEUP-02] Update OpenAPI example pronunciations to syllable notation
  learn-greek-easy-backend/src/api/v1/word_entries.py
Due: none

[WEUP-03] Update schema pronunciation field descriptions to syllable notation
  learn-greek-easy-backend/src/schemas/word_entry.py
Due: none

[WEUP-05] Add JSON placeholder constant with syllable pronunciation example
  learn-greek-easy-frontend/src/components/admin/WordEntriesTab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[WEUP-04] Update backend integration test fixtures to syllable pronunciation
  learn-greek-easy-backend/tests/integration/api/test_deck_word_entries.py
  learn-greek-easy-backend/tests/integration/api/test_word_entries_bulk.py
  learn-greek-easy-backend/tests/integration/api/test_word_entries_get.py
Due: none

[WEUP-06] Remove unused jsonPlaceholder i18n keys
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

[VSED-01] Add V2 deck seeding step to seed_all()
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/api/test_seed.py
  learn-greek-easy-backend/tests/integration/test_seed_service.py
Due: none

[VSED-02] Remove obsolete seed_dual_decks method and /dual-decks endpoint
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[VSED-03] Update backend integration test for V2 deck seeding
  learn-greek-easy-backend/tests/integration/test_seed_service.py
Due: none

[VSED-04] Update E2E test to use seed/all instead of seed/dual-decks
  learn-greek-easy-frontend/tests/e2e/deck-v1-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VSED-04] Fix E2E auth invalidation after seed/all truncation
  learn-greek-easy-frontend/tests/e2e/deck-v1-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VSED-04] Fix E2E test to query existing deck IDs instead of re-seeding
  learn-greek-easy-frontend/tests/e2e/deck-v1-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
