Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

feat(SCRUD-03): add list and detail endpoints for situations
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

test(SCRUD-04): add integration tests for situation CRUD endpoints
  learn-greek-easy-backend/tests/integration/api/test_admin_situations.py
Due: none

fix: address CodeRabbit review comments
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/situation.py
Due: none

feat(SUI-01): add situation types and Zustand store with mock data
  learn-greek-easy-frontend/src/stores/adminSituationStore.ts
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(SUI-02): add SituationsTab component with filters, table, and AdminPage wiring
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/components/admin/situations/index.ts
  learn-greek-easy-frontend/src/components/admin/situations/situationBadges.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(SUI-02): search includes scenario_ru, remove misleading filteredCount display
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/stores/adminSituationStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(SUI-03): add SituationCreateModal, SituationDetailModal, SituationDeleteDialog
  learn-greek-easy-frontend/src/components/admin/situations/SituationCreateModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationCreateValidation.ts
  learn-greek-easy-frontend/src/components/admin/situations/SituationDeleteDialog.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/components/admin/situations/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(SUI-03): add AudioPlaceholder to picture tab, fix situationToDelete type
  learn-greek-easy-frontend/src/components/admin/situations/SituationDeleteDialog.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: address CodeRabbit review comments
  learn-greek-easy-frontend/src/components/admin/situations/SituationCreateValidation.ts
  learn-greek-easy-frontend/src/components/admin/situations/SituationDeleteDialog.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/stores/adminSituationStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(COVDEL-01): add DELETE cover-image endpoints for vocab and culture decks
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/culture/router.py
Due: none

test(COVDEL-03): add DELETE cover image integration tests for vocab and culture decks
  learn-greek-easy-backend/tests/integration/api/test_admin_deck_cover_image.py
  learn-greek-easy-backend/tests/integration/api/test_culture_deck_cover_image.py
Due: none

feat(COVDEL-02): add Remove Image button to deck edit forms
  learn-greek-easy-frontend/src/components/admin/CultureDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/DeckEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckEditForm.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(COVDEL-04): add Remove Image button tests for VocabularyDeckEditForm and CultureDeckEditForm
  learn-greek-easy-frontend/src/components/admin/__tests__/CultureDeckEditForm.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/VocabularyDeckEditForm.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: address CodeRabbit review comments
  learn-greek-easy-backend/tests/integration/api/test_admin_deck_cover_image.py
  learn-greek-easy-backend/tests/integration/api/test_culture_deck_cover_image.py
  learn-greek-easy-frontend/src/components/admin/__tests__/CultureDeckEditForm.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/VocabularyDeckEditForm.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(RESIN-01): add EmailService with Resend SDK integration
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/email_service.py
Due: none

chore: update poetry.lock with resend dependency
  learn-greek-easy-backend/poetry.lock
Due: none

feat(RESIN-02): add EmailService unit tests
  learn-greek-easy-backend/tests/unit/services/test_email_service.py
Due: none

feat(WL-01): add waitlist subscribe and confirm endpoints with Resend Contacts API
  learn-greek-easy-backend/src/api/v1/router.py
  learn-greek-easy-backend/src/api/v1/waitlist.py
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/services/waitlist_service.py
  learn-greek-easy-backend/tests/unit/api/test_waitlist.py
Due: none

feat(WL-02): convert landing page to waitlist-collection mode
  learn-greek-easy-frontend/src/components/landing/FinalCTA.tsx
  learn-greek-easy-frontend/src/components/landing/Footer.tsx
  learn-greek-easy-frontend/src/components/landing/Header.tsx
  learn-greek-easy-frontend/src/components/landing/Hero.tsx
  learn-greek-easy-frontend/src/components/landing/WaitlistForm.tsx
  learn-greek-easy-frontend/src/i18n/constants.ts
  learn-greek-easy-frontend/src/i18n/init.ts
  learn-greek-easy-frontend/src/i18n/lazy-resources.ts
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/en/waitlist.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/waitlist.json
  learn-greek-easy-frontend/src/pages/LandingPage.tsx
  learn-greek-easy-frontend/src/services/waitlistAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(WL-03): add WaitlistConfirmPage and /waitlist/confirm route
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/pages/waitlist/WaitlistConfirmPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(RESIN-01): use Any type for resend.Emails.send params
  learn-greek-easy-backend/src/services/email_service.py
Due: none

fix(WL-02): update keyboard navigation E2E test for waitlist CTA
  learn-greek-easy-frontend/tests/e2e/keyboard-navigation.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(WL-02): update landing page E2E tests for waitlist conversion
  learn-greek-easy-frontend/tests/e2e/landing-page.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(WL-02): add .first() to waitlist-email-input test selectors
  learn-greek-easy-frontend/tests/e2e/landing-page.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(WL-02): simplify Join Waitlist scroll test to avoid viewport flakiness
  learn-greek-easy-frontend/tests/e2e/landing-page.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SWIRE-01] Add situation API methods, fix selectPagination re-render bug, replace mock data with real API calls
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminSituationStore.ts
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(SWIRE-02): add i18n keys for situations error messages and wire up components
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(SWIRE): apply CodeRabbit suggestions — narrow status type, clear stale selectedSituation
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminSituationStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(WL): match waitlist input height and border-radius to button
  learn-greek-easy-frontend/src/components/landing/WaitlistForm.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(WL): guard waitlist service with resend_configured check
  learn-greek-easy-backend/src/services/waitlist_service.py
  learn-greek-easy-backend/tests/unit/services/test_waitlist_service.py
Due: none

fix(WL): shorten Russian waitlist button text
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-prettier

feat(SIT): wire WaveformPlayer + Regenerate button to SituationDetailModal Dialog tab
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-backend/tests/integration/api/test_admin_situations.py
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(SIT): add karaoke highlighting and move audio player above dialog bubbles
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(news): remove dead NewsItemService.create() method and its tests
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

refactor(SIT): drop cefr_level from situations table and remove date from list
  learn-greek-easy-backend/alembic/versions/20260322_0900_sit_drop_cefr_level_from_situations.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-backend/tests/factories/situation.py
  learn-greek-easy-backend/tests/integration/api/test_admin_situations.py
  learn-greek-easy-frontend/src/components/admin/situations/SituationCreateValidation.ts
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/components/admin/situations/situationBadges.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminSituationStore.ts
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(alembic): shorten migration revision ID to fit varchar(32)
  learn-greek-easy-backend/alembic/versions/20260322_0900_sit_drop_cefr_level_from_situations.py
Due: none

feat(NMIG-01): model and schema updates for news-to-situation migration
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-backend/tests/integration/models/test_sit_02_description_model.py
Due: none

feat(landing): add Listening Exercises and Reading Comprehension feature cards
  learn-greek-easy-frontend/src/components/landing/Features.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(NMIG-02): Alembic migration for news-to-situation data migration
  learn-greek-easy-backend/alembic/versions/20260323_1000_nmig_news_data_migration.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-backend/tests/factories/situation.py
  learn-greek-easy-backend/tests/integration/api/test_admin_situations.py
Due: none

fix(landing): fix Reading Comprehension card layout and shorten descriptions
  learn-greek-easy-frontend/src/components/landing/Features.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck
