Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

[NGEN-10-06] Existing API endpoint updates for junction table
  learn-greek-easy-backend/src/api/v1/word_entries.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_cards.py
Due: none

[NGEN-10-08] Frontend Updates for word entry sharing
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/WordEntryContent.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-10-08] Frontend updates for word entry sharing
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryContent.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: alembic check - add TimestampMixin column comments to deck_word_entries migration
  learn-greek-easy-backend/alembic/versions/20260305_0800_word_entry_sharing_model.py
Due: none

fix: CodeRabbit review + remaining test fixes
  learn-greek-easy-backend/alembic/versions/20260305_0800_word_entry_sharing_model.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/repositories/card_record.py
  learn-greek-easy-backend/tests/integration/api/test_deck_word_entries.py
  learn-greek-easy-backend/tests/integration/api/test_word_entries_bulk.py
  learn-greek-easy-backend/tests/integration/api/test_word_entries_get.py
  learn-greek-easy-backend/tests/integration/api/test_word_entry_audio_url.py
  learn-greek-easy-backend/tests/integration/api/test_word_entry_cards.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry_audio.py
  learn-greek-easy-backend/tests/unit/api/test_admin_update_word_entry.py
  learn-greek-easy-backend/tests/unit/repositories/test_card_record_repository.py
  learn-greek-easy-backend/tests/unit/services/test_study_queue_audio.py
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/WordEntryContent.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: update model and test files for NGEN-10 schema changes
  learn-greek-easy-backend/tests/unit/models/test_card_record.py
  learn-greek-easy-backend/tests/unit/models/test_word_entry.py
Due: none

fix: integration test failures from CI
  learn-greek-easy-backend/tests/integration/api/test_word_entries_bulk.py
  learn-greek-easy-backend/tests/integration/services/test_duplicate_detection_service.py
Due: none

chore: remove ci-quick workflow
  .github/workflows/ci-quick.yml
Due: none

fix: use UserFactory for duplicate detection test to avoid FK violation
  learn-greek-easy-backend/tests/integration/services/test_duplicate_detection_service.py
Due: none

fix: update NGEN-08 tests to use NGEN-10 schema (matched_decks instead of matched_deck_id)
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry.py
Due: none

fix: grammar badge mismatch and example dot alignment in admin word detail
  learn-greek-easy-frontend/src/components/admin/WordEntryContent.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VRES-01] Backend verification schemas and combined tier logic
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/schemas/nlp.py
  learn-greek-easy-backend/src/services/verification_tier.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry.py
  learn-greek-easy-backend/tests/unit/services/test_verification_tier.py
Due: none

[VRES-02] Wire verification pipeline into generate_word_entry endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

[VRES-04] Frontend verification pipeline TypeScript types
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VRES-05] Frontend Verification Results UI Components
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VRES-03] Add unit tests for verification pipeline wiring
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_verification_wiring.py
Due: none

fix: CodeRabbit review — noqa RUF001, range guard, i18n hardcoded labels
  learn-greek-easy-backend/src/services/verification_tier.py
  learn-greek-easy-backend/tests/unit/api/test_admin_verification_wiring.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VRES] Verification Pipeline - Schemas, Tier Logic, and API Integration (#347)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/schemas/nlp.py
  learn-greek-easy-backend/src/services/verification_tier.py
  learn-greek-easy-backend/tests/unit/api/test_admin_generate_word_entry.py
  learn-greek-easy-backend/tests/unit/api/test_admin_verification_wiring.py
  learn-greek-easy-backend/tests/unit/services/test_verification_tier.py
  learn-greek-easy-frontend/src/components/admin/GenerateNounDialog.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/GenerateNounDialog.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[QAUDIO-04] Frontend: SpeakerButton for Culture Questions in MCQ Practice
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[QAUDIO-01] Add culture question audio generation endpoint and background task
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/tasks/__init__.py
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/tests/unit/api/test_admin_culture_audio.py
  learn-greek-easy-backend/tests/unit/tasks/test_culture_question_audio_task.py
Due: none

[QAUDIO-02] Auto-generate audio on culture question creation
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/tests/unit/api/test_admin_culture_audio.py
Due: none

[QAUDIO-05] Dynamic A2/B2 toggle visibility per question in CulturePracticePage
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[QAUDIO-03] Frontend: Admin Audio Generate/Regenerate Button
  learn-greek-easy-frontend/src/components/admin/CardEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardEditModal.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: add generate_audio_for_culture_question_task to test_all_exports_defined
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
Due: none

fix: CodeRabbit review — safe error detail, explicit test patches, optional audio duration, async i18n copy
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/tests/unit/api/test_admin_culture_audio.py
  learn-greek-easy-frontend/src/components/admin/__tests__/CardEditModal.test.tsx
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[QAUDIO] Culture Question Audio Generation (#348)
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/tasks/__init__.py
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/tests/unit/api/test_admin_culture_audio.py
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
  learn-greek-easy-backend/tests/unit/tasks/test_culture_question_audio_task.py
  learn-greek-easy-frontend/src/components/admin/CardEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardEditModal.test.tsx
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CDMETA-01] Backend Schema & Endpoint Extension
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_culture_list.py
Due: none

[CDMETA-01] Backend schema & endpoint extension for culture question metadata
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_culture_list.py
Due: none

[CDMETA-02] Culture Question Badges frontend
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/culture/CultureQuestionChips.tsx
  learn-greek-easy-frontend/src/components/admin/culture/__tests__/CultureQuestionChips.test.tsx
  learn-greek-easy-frontend/src/lib/__tests__/cultureCompleteness.test.ts
  learn-greek-easy-frontend/src/lib/cultureCompleteness.ts
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CDMETA-03] Search, filter, sort toolbar & i18n for culture questions
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CDMETA] Culture Question Metadata Badges (#349)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/unit/api/test_admin_culture_list.py
  learn-greek-easy-frontend/src/components/admin/DeckDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/culture/CultureQuestionChips.tsx
  learn-greek-easy-frontend/src/components/admin/culture/__tests__/CultureQuestionChips.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/lib/__tests__/cultureCompleteness.test.ts
  learn-greek-easy-frontend/src/lib/cultureCompleteness.ts
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat: add "news" culture deck category
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/tests/factories/culture.py
  learn-greek-easy-frontend/src/components/admin/CultureDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/culture/CultureBadge.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/types/culture.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: audio regenerate no longer closes culture question modal + upgrade audio section
  learn-greek-easy-frontend/src/components/admin/CardEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardEditModal.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: add missing "news" category translation in admin locale files
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

fix: block audio regeneration on news-linked culture questions
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/tests/unit/api/test_admin_culture_audio.py
  learn-greek-easy-frontend/src/components/admin/CardEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardEditModal.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: localize deck names/descriptions on dashboard
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: remove leftover screenshot files
  culture-feedback-with-report-button.png
  culture-mcq-buttons.png
  decks-page-english-final.png
  decks-page-english.png
  decks-page-russian.png
  dev-stuck-screen.png
  vocabulary-error-report-submit-failure.png
Due: none

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
