Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

docs(ralph): close G8/G9 structurally-lite — spawn-fail halts, fast-convergence surfaces, one poll constant
  RALPH_PROMPT.md
Due: none

fix(release-verify): wait for dashboard loaded state before web-verify screenshot (PERF-15)
  learn-greek-easy-frontend/scripts/release-web-verify.cjs
Due: none

fix(news): card Play button opens reader + autostarts playback/karaoke in one click
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/WaveformPlayer.test.tsx
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/news/NewsGrid.tsx
  learn-greek-easy-frontend/src/components/news/NewsReaderSheet.tsx
  learn-greek-easy-frontend/src/components/news/__tests__/NewsCard.test.tsx
  learn-greek-easy-frontend/src/pages/NewsPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PERF-23-01): RED AC tests for per-URL mobile LCP assertMatrix (pre-implementation)
  learn-greek-easy-frontend/src/lib/__tests__/lighthouserc.config.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(PERF-23-01): scope mobile LCP per URL — /register warn, others error@4000 (assertMatrix)
  learn-greek-easy-frontend/lighthouserc.mobile.cjs
Due: none

test(PERF-23-01): QA adversarial edge coverage for assertMatrix scoping
  learn-greek-easy-frontend/src/lib/__tests__/lighthouserc.config.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

ci(PERF-23-02): bound e2e-tests shards at timeout-minutes 22 (webkit p95 14.3 × 1.5)
  .github/workflows/test.yml
Due: none

test(DASH2-02-01): RED — culture current_streak on readiness response
  learn-greek-easy-backend/tests/unit/services/test_culture_readiness.py
Due: none

feat(DASH2-02-01): wire culture current_streak onto readiness + accuracy doc-drift fix
  learn-greek-easy-backend/src/constants.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
Due: none

test(DASH2-02-01): QA adversarial coverage — current_streak required/ge0/independent
  learn-greek-easy-backend/tests/unit/services/test_culture_readiness.py
Due: none

test(DASH2-02-02): RED — cultureMotivation i18n key-set + placeholder shape
  learn-greek-easy-frontend/src/i18n/__tests__/cultureMotivation.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(DASH2-02-02): author 27 cultureMotivation i18n keys (EN+RU) + shape test green
  learn-greek-easy-frontend/src/i18n/locales/en/mockExam.json
  learn-greek-easy-frontend/src/i18n/locales/ru/mockExam.json
Due: frontend-prettier

test(DASH2-02-02): QA adversarial — variant distinctness + untranslated-RU guard
  learn-greek-easy-frontend/src/i18n/__tests__/cultureMotivation.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(DASH2-02-03): RED — interpolated motivation render + hide-on-empty
  learn-greek-easy-frontend/src/pages/__tests__/MockExamPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(DASH2-02-03): render interpolated motivation copy, hide on empty key
  learn-greek-easy-frontend/src/pages/MockExamPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(DASH2-02-03): QA adversarial — stagnant/declining render + nudge co-existence
  learn-greek-easy-frontend/src/pages/__tests__/MockExamPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(DASH2-02-04): RED — streak tile reads current_streak (number/zero/degrade)
  learn-greek-easy-frontend/src/pages/__tests__/MockExamPage.test.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(DASH2-02-04): wire Streak tile to readiness.current_streak (0 shows 0, — on failure)
  learn-greek-easy-frontend/src/pages/MockExamPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(DASH2-02-04): QA adversarial — large streak, sibling tiles unregressed, undefined degrades
  learn-greek-easy-frontend/src/pages/__tests__/MockExamPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(DASH2-02-05): readiness clarity — mastered-count lead + category legend (EN+RU)
  learn-greek-easy-frontend/src/i18n/locales/en/mockExam.json
  learn-greek-easy-frontend/src/i18n/locales/ru/mockExam.json
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/src/pages/MockExamPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/MockExamPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(DASH2-02-05): label readiness % on category row (CodeRabbit) + legend clarity EN+RU
  learn-greek-easy-frontend/src/i18n/locales/en/mockExam.json
  learn-greek-easy-frontend/src/i18n/locales/ru/mockExam.json
  learn-greek-easy-frontend/src/pages/MockExamPage.tsx
  learn-greek-easy-frontend/src/pages/__tests__/MockExamPage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(PERF-23): pivot mobile LCP gate to flat error@7000 tripwire on all URLs (user decision; 4000 restore tracked in PERF-24)
  learn-greek-easy-frontend/lighthouserc.mobile.cjs
  learn-greek-easy-frontend/src/lib/__tests__/lighthouserc.config.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PERF-16-01): RED single-flight get_or_set specs
  learn-greek-easy-backend/tests/unit/core/test_cache_service.py
Due: none

feat(PERF-16-01): single-flight SET NX PX guard in get_or_set
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/core/cache.py
Due: none

test(PERF-16-01): QA adversarial single-flight edge coverage
  learn-greek-easy-backend/tests/unit/core/test_cache_service.py
Due: none

test(PERF-16-02): RED invalidation + TTL + webhook both-paths specs
  learn-greek-easy-backend/tests/integration/api/test_auth_me_cache.py
  learn-greek-easy-backend/tests/unit/api/v1/test_billing.py
  learn-greek-easy-backend/tests/unit/core/test_cache_service.py
  learn-greek-easy-backend/tests/unit/core/test_dependencies.py
  learn-greek-easy-backend/tests/unit/repositories/test_user_repository.py
  learn-greek-easy-backend/tests/unit/services/test_user_deletion_service.py
  learn-greek-easy-backend/tests/unit/services/test_user_progress_reset_service.py
  learn-greek-easy-backend/tests/unit/services/test_webhook_service.py
  learn-greek-easy-backend/tests/unit/test_config.py
Due: none

feat(PERF-16-02): identity TTL 900 + invalidate_user_identity + wire 13 mutation points
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/src/api/v1/billing.py
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/core/cache.py
  learn-greek-easy-backend/src/core/dependencies.py
  learn-greek-easy-backend/src/repositories/user.py
  learn-greek-easy-backend/src/services/user_deletion_service.py
  learn-greek-easy-backend/src/services/webhook_service.py
  learn-greek-easy-backend/tests/unit/core/test_dependencies_email_reconciliation.py
  learn-greek-easy-backend/tests/unit/core/test_dependencies_email_reconciliation_adversarial.py
Due: none

test(PERF-16-02): QA adversarial invalidation + webhook both-paths edge coverage
  learn-greek-easy-backend/tests/unit/core/test_cache_service.py
  learn-greek-easy-backend/tests/unit/services/test_user_deletion_service.py
  learn-greek-easy-backend/tests/unit/services/test_webhook_service.py
Due: none

test(PERF-16-03): RED /auth/me body-cache + never-raise-helper specs
  learn-greek-easy-backend/tests/integration/api/test_auth_me_cache.py
  learn-greek-easy-backend/tests/unit/api/test_auth_me_body_cache.py
  learn-greek-easy-backend/tests/unit/core/test_cache_service.py
  learn-greek-easy-backend/tests/unit/test_config.py
Due: none

test(PERF-17-01): RED AC tests for slim /news list DTO
  learn-greek-easy-backend/tests/integration/api/test_dashboard_summary.py
  learn-greek-easy-backend/tests/integration/api/test_news.py
Due: none

feat(PERF-16-03): cache /auth/me body via get_or_set + harden invalidate_user_identity
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/core/cache.py
Due: none

test(PERF-16-03): QA adversarial body-cache + fallback + missing-greenlet-safety coverage
  learn-greek-easy-backend/tests/unit/api/test_auth_me_body_cache.py
Due: none

feat(PERF-17-01): slim /news list DTO + PERF-15 internal reuse
  learn-greek-easy-backend/src/api/v1/news.py
  learn-greek-easy-backend/src/schemas/dashboard.py
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/services/dashboard_summary_service.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/tests/integration/api/test_news.py
Due: none

docs(PERF-16-04): auth-path caching note + Sentry post-deploy checklist
  docs/token-refresh-architecture.md
Due: none

test(PERF-17-01): QA adversarial/edge coverage for slim /news list DTO
  learn-greek-easy-backend/tests/integration/api/test_admin_news.py
  learn-greek-easy-backend/tests/unit/services/test_news_item_service.py
Due: none

test(PERF-17-02): RED AC tests for /news caching (ETag/Redis/invalidation)
  learn-greek-easy-backend/tests/integration/api/test_news_cache.py
  learn-greek-easy-backend/tests/unit/api/test_news_cache_key.py
  learn-greek-easy-backend/tests/unit/api/test_news_list_cache.py
Due: none

feat(PERF-17-02): /news Cache-Control + ETag + Redis cache + post-commit admin invalidation
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/news.py
  learn-greek-easy-backend/src/config.py
Due: none

test(PERF-17-02): QA adversarial coverage for /news caching + flip stale RED annotations
  learn-greek-easy-backend/tests/integration/api/test_news_cache.py
  learn-greek-easy-backend/tests/unit/api/test_news_cache_key.py
  learn-greek-easy-backend/tests/unit/api/test_news_list_cache.py
Due: none

test(PERF-16-03): wire live Redis for body-cache integration tests + fix factory session
  learn-greek-easy-backend/tests/integration/api/test_auth_me_cache.py
Due: none

test(PERF-17-03): RED AC tests for /exercises/queue summary mode
  learn-greek-easy-backend/tests/integration/api/test_exercise_queue.py
  learn-greek-easy-backend/tests/unit/services/test_exercise_sm2_service.py
Due: none

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
