Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

style: Fix prettier formatting in analyticsStore
  learn-greek-easy-frontend/src/stores/analyticsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

style: Fix isort import ordering in culture_question_stats.py
  learn-greek-easy-backend/src/repositories/culture_question_stats.py
Due: none

[DASHBOARD] Real stats + Safari Google Sign-In fix (#141)
  learn-greek-easy-backend/src/repositories/culture_question_stats.py
  learn-greek-easy-backend/src/repositories/review.py
  learn-greek-easy-backend/src/schemas/progress.py
  learn-greek-easy-backend/src/services/progress_service.py
  learn-greek-easy-backend/tests/unit/services/test_progress_service.py
  learn-greek-easy-frontend/src/components/auth/AuthRoutesWrapper.tsx
  learn-greek-easy-frontend/src/components/auth/GoogleSignInButton.tsx
  learn-greek-easy-frontend/src/components/auth/__tests__/GoogleSignInButton.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/auth.json
  learn-greek-easy-frontend/src/i18n/locales/en/auth.json
  learn-greek-easy-frontend/src/i18n/locales/ru/auth.json
  learn-greek-easy-frontend/src/instrument.ts
  learn-greek-easy-frontend/src/lib/test-setup.ts
  learn-greek-easy-frontend/src/services/progressAPI.ts
  learn-greek-easy-frontend/src/stores/analyticsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[STATS] Aggregate culture card sessions in dashboard statistics
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/culture_answer_history.py
  learn-greek-easy-backend/src/services/progress_service.py
  learn-greek-easy-backend/tests/unit/services/test_progress_service.py
Due: none

ci: Remove coverage enforcement from E2E API tests
  .github/workflows/test.yml
Due: none

[STATS] Aggregate culture card sessions in dashboard statistics (#142)
  .github/workflows/test.yml
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/culture_answer_history.py
  learn-greek-easy-backend/src/services/progress_service.py
  learn-greek-easy-backend/tests/unit/services/test_progress_service.py
Due: none

fix(dashboard): show all active decks instead of limiting to 2
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(decks): include learning cards in progress percentage calculation
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/lib/progressUtils.ts
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/DeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(dashboard): show Greek deck names and count learning+mastered for word progress
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(statistics): remove Activity Timeline component
  learn-greek-easy-frontend/src/components/statistics/ActivityTimeline.tsx
  learn-greek-easy-frontend/src/components/statistics/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/en/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/ru/statistics.json
  learn-greek-easy-frontend/src/pages/Statistics.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(statistics): implement real data for Progress Over Time chart
  learn-greek-easy-backend/src/repositories/culture_question_stats.py
  learn-greek-easy-backend/src/repositories/progress.py
  learn-greek-easy-backend/src/schemas/progress.py
  learn-greek-easy-backend/src/services/progress_service.py
  learn-greek-easy-frontend/src/components/charts/ProgressLineChart.tsx
  learn-greek-easy-frontend/src/services/progressAPI.ts
  learn-greek-easy-frontend/src/stores/analyticsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(statistics): implement real data for Accuracy Trend chart with vocab and culture series
  learn-greek-easy-backend/src/repositories/culture_question_stats.py
  learn-greek-easy-backend/src/repositories/review.py
  learn-greek-easy-backend/src/schemas/progress.py
  learn-greek-easy-backend/src/services/progress_service.py
  learn-greek-easy-frontend/src/components/charts/AccuracyAreaChart.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/en/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/ru/statistics.json
  learn-greek-easy-frontend/src/services/progressAPI.ts
  learn-greek-easy-frontend/src/stores/analyticsStore.ts
  learn-greek-easy-frontend/src/types/analytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

style: fix lint and formatting errors
  learn-greek-easy-backend/src/repositories/culture_question_stats.py
  learn-greek-easy-backend/src/services/progress_service.py
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

style: fix E712 lint and remaining prettier issues
  learn-greek-easy-backend/src/repositories/culture_question_stats.py
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/Statistics.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

style: fix black formatting
  learn-greek-easy-backend/src/repositories/culture_question_stats.py
Due: none

fix: resolve mypy type errors for row.count
  learn-greek-easy-backend/src/repositories/culture_question_stats.py
  learn-greek-easy-backend/src/repositories/progress.py
Due: none

fix(tests): Add mocks for new accuracy/status methods in trends tests
  learn-greek-easy-backend/tests/unit/services/test_progress_service.py
Due: none

[STATS-DASHBOARD] Fix 6 statistics and dashboard bugs (#143)
  learn-greek-easy-backend/src/repositories/culture_question_stats.py
  learn-greek-easy-backend/src/repositories/progress.py
  learn-greek-easy-backend/src/repositories/review.py
  learn-greek-easy-backend/src/schemas/progress.py
  learn-greek-easy-backend/src/services/progress_service.py
  learn-greek-easy-backend/tests/unit/services/test_progress_service.py
  learn-greek-easy-frontend/src/components/charts/AccuracyAreaChart.tsx
  learn-greek-easy-frontend/src/components/charts/ProgressLineChart.tsx
  learn-greek-easy-frontend/src/components/decks/DeckCard.tsx
  learn-greek-easy-frontend/src/components/statistics/ActivityTimeline.tsx
  learn-greek-easy-frontend/src/components/statistics/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/en/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/ru/statistics.json
  learn-greek-easy-frontend/src/lib/progressUtils.ts
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/DeckDetailPage.tsx
  learn-greek-easy-frontend/src/pages/Statistics.tsx
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
  learn-greek-easy-frontend/src/services/progressAPI.ts
  learn-greek-easy-frontend/src/stores/analyticsStore.ts
  learn-greek-easy-frontend/src/types/analytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMIN] Fix admin dashboard stats and add deck management features
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_admin_crud.py
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: lint and formatting errors
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_admin_crud.py
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test: update E2E tests for new admin translations
  learn-greek-easy-frontend/tests/e2e/i18n/admin-translations.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ADMIN-DASHBOARD] Fix stats and add deck management features (#144)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_admin_crud.py
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/tests/e2e/i18n/admin-translations.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[DECK-EDIT-01] Database migration: culture deck JSON to string
  learn-greek-easy-backend/alembic/versions/20260107_1530_78dff0112c97_migrate_culture_deck_to_string.py
  learn-greek-easy-backend/src/db/models.py
Due: none

[DECK-EDIT-02] Update schemas and tests for string-based deck names
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_deck_service.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_admin_crud.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_practice.py
  learn-greek-easy-backend/tests/factories/culture.py
  learn-greek-easy-backend/tests/integration/api/test_culture_crud.py
  learn-greek-easy-backend/tests/unit/schemas/test_culture_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_culture_deck_service.py
Due: none

[DECK-EDIT-03] Add DeckEditModal for editing deck metadata
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/components/admin/CultureDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/DeckEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/components/ui/switch.tsx
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[DECK-EDIT-04] Add deactivation warning dialog
  learn-greek-easy-frontend/src/components/admin/CultureDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/DeactivationWarningDialog.tsx
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[DECK-EDIT-05] Add API integration and analytics for deck editing
  learn-greek-easy-frontend/src/components/admin/DeckEditModal.tsx
  learn-greek-easy-frontend/src/lib/analytics/adminAnalytics.ts
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[DECK-EDIT-06] Add translations and polish for deck edit feature
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

fix: format src/schemas/culture.py for CI
  learn-greek-easy-backend/src/schemas/culture.py
Due: none

fix: update seed_service culture decks to use string format
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

fix: update tests to expect string format for culture deck fields
  learn-greek-easy-backend/tests/e2e/workflows/test_admin_culture_crud.py
  learn-greek-easy-backend/tests/unit/repositories/test_culture_question_repository.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
Due: none

fix: update CultureDeck test fixtures to use string format for name/description
  learn-greek-easy-backend/tests/integration/api/test_culture_deck.py
  learn-greek-easy-backend/tests/integration/api/test_culture_question.py
  learn-greek-easy-backend/tests/unit/repositories/test_culture_deck.py
  learn-greek-easy-backend/tests/unit/repositories/test_culture_question_stats.py
  learn-greek-easy-backend/tests/unit/services/test_culture_question_service.py
Due: none

fix: update frontend to handle plain string deck name/description
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
  learn-greek-easy-frontend/src/types/culture.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test: add E2E test for culture deck card names visibility
  learn-greek-easy-frontend/tests/e2e/culture-deck-browsing.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: revert culture deck types to match backend multilingual schema
  learn-greek-easy-frontend/src/pages/culture/CultureDeckDetailPage.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
  learn-greek-easy-frontend/src/types/culture.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[DECK-EDIT] Deck Metadata Edit Feature (#145)
  learn-greek-easy-backend/alembic/versions/20260107_1530_78dff0112c97_migrate_culture_deck_to_string.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/admin.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_deck_service.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_admin_crud.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_culture_practice.py
  learn-greek-easy-backend/tests/e2e/workflows/test_admin_culture_crud.py
  learn-greek-easy-backend/tests/factories/culture.py
  learn-greek-easy-backend/tests/integration/api/test_culture_crud.py
  learn-greek-easy-backend/tests/integration/api/test_culture_deck.py
  learn-greek-easy-backend/tests/integration/api/test_culture_question.py
  learn-greek-easy-backend/tests/unit/repositories/test_culture_deck.py
  learn-greek-easy-backend/tests/unit/repositories/test_culture_question_repository.py
  learn-greek-easy-backend/tests/unit/repositories/test_culture_question_stats.py
  learn-greek-easy-backend/tests/unit/schemas/test_culture_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_culture_deck_service.py
  learn-greek-easy-backend/tests/unit/services/test_culture_question_service.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/components/admin/CultureDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/DeactivationWarningDialog.tsx
  learn-greek-easy-frontend/src/components/admin/DeckEditModal.tsx
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
  learn-greek-easy-frontend/src/components/ui/switch.tsx
  learn-greek-easy-frontend/src/i18n/locales/el/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/lib/analytics/adminAnalytics.ts
  learn-greek-easy-frontend/src/lib/analytics/index.ts
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(frontend): update culture deck types to match backend string format
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Update Vibe Kanban project ID in CLAUDE.md
  CLAUDE.md
Due: none

feat(k6): add project foundation and configuration [K6-PERF-01]
  .gitignore
  k6/config/local.json
  k6/config/preview.json
  k6/lib/config.js
  k6/lib/selectors.js
  k6/reports/.gitkeep
  k6/scripts/verify-config.js
Due: none

feat(k6): add authentication helper library [K6-PERF-02]
  k6/lib/auth.js
Due: none
