Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

[WEUP+VSED] Word Entry Pronunciation Update & V2 Seed Integration (#249)
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/api/v1/word_entries.py
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/api/test_deck_word_entries.py
  learn-greek-easy-backend/tests/integration/api/test_seed.py
  learn-greek-easy-backend/tests/integration/api/test_word_entries_bulk.py
  learn-greek-easy-backend/tests/integration/api/test_word_entries_get.py
  learn-greek-easy-backend/tests/integration/test_seed_service.py
  learn-greek-easy-frontend/src/components/admin/WordEntriesTab.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/tests/e2e/deck-v1-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG2-01] Add locale-aware translation helper and localize WordCard, ExamplesSection, and WordReferencePage
  learn-greek-easy-frontend/src/features/decks/components/WordCard.tsx
  learn-greek-easy-frontend/src/features/decks/components/__tests__/WordCard.test.tsx
  learn-greek-easy-frontend/src/features/words/components/ExamplesSection.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/ExamplesSection.test.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/lib/__tests__/localeUtils.test.ts
  learn-greek-easy-frontend/src/lib/localeUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG2-02] Localize deck detail page breadcrumb and category label
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckHeader.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG2-03] Show article before lemma and localize Practice button
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG2-04] Fix declension table to read V2 nested grammar_data format
  learn-greek-easy-frontend/src/features/words/components/DeclensionTable.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/DeclensionTable.test.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/types/grammar.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG2-05] Fix declension table column width stability across languages
  learn-greek-easy-frontend/src/components/review/grammar/GenderTabs.tsx
  learn-greek-easy-frontend/src/components/review/grammar/NounDeclensionTable.tsx
  learn-greek-easy-frontend/src/features/words/components/DeclensionTable.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG2] Fix declension table column stability, practice button width, and V2 seed translations
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/src/components/review/grammar/GenderTabs.tsx
  learn-greek-easy-frontend/src/components/review/grammar/NounDeclensionTable.tsx
  learn-greek-easy-frontend/src/features/words/components/DeclensionTable.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[VBUG2] V2 Visual Bug Fixes Batch 2 (#250)
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-frontend/src/components/review/grammar/GenderTabs.tsx
  learn-greek-easy-frontend/src/components/review/grammar/NounDeclensionTable.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckHeader.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckPage.tsx
  learn-greek-easy-frontend/src/features/decks/components/WordCard.tsx
  learn-greek-easy-frontend/src/features/decks/components/__tests__/WordCard.test.tsx
  learn-greek-easy-frontend/src/features/words/components/DeclensionTable.tsx
  learn-greek-easy-frontend/src/features/words/components/ExamplesSection.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/DeclensionTable.test.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/ExamplesSection.test.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/lib/__tests__/localeUtils.test.ts
  learn-greek-easy-frontend/src/lib/localeUtils.ts
  learn-greek-easy-frontend/src/types/grammar.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FERR-01] Alembic migration: rename VOCABULARY to WORD in carderrorcardtype enum
  learn-greek-easy-backend/alembic/versions/20260207_1141_663bf29ea685_rename_card_error_vocabulary_to_word.py
Due: none

[FERR-02+03] Rename CardErrorCardType.VOCABULARY to WORD in backend source and tests
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/card_errors.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/repositories/card_error.py
  learn-greek-easy-backend/src/schemas/card_error.py
  learn-greek-easy-backend/src/services/card_error_admin_service.py
  learn-greek-easy-backend/tests/factories/card_error.py
  learn-greek-easy-backend/tests/integration/api/test_admin_card_errors.py
  learn-greek-easy-backend/tests/unit/repositories/test_card_error_repository.py
  learn-greek-easy-backend/tests/unit/services/test_card_error_admin_service.py
  learn-greek-easy-backend/tests/unit/services/test_card_error_service.py
Due: none

[FERR-04] Rename VOCABULARY to WORD across frontend types, components, i18n, and analytics
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorCard.tsx
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorSection.tsx
  learn-greek-easy-frontend/src/components/card-errors/ReportErrorModal.tsx
  learn-greek-easy-frontend/src/components/card-errors/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/lib/analytics/cardErrorAnalytics.ts
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/services/cardErrorAPI.ts
  learn-greek-easy-frontend/src/types/cardError.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FERR-05+07] Move ReportErrorButton to WordReferencePage, add word_reference analytics source
  learn-greek-easy-frontend/src/components/review/FlashcardContainer.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/lib/analytics/cardErrorAnalytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FERR-08+09] Rewrite E2E tests for V2 WordReferencePage, add visual tests
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
  learn-greek-easy-frontend/tests/visual/card-error-reporting.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FERR-01] Add column comment update to migration
  learn-greek-easy-backend/alembic/versions/20260207_1141_663bf29ea685_rename_card_error_vocabulary_to_word.py
Due: none

[FERR-08] Fix E2E strict mode violation in duplicate report test
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[FERR] Card Error Feature Refactor: Rename VOCABULARY to WORD (#251)
  learn-greek-easy-backend/alembic/versions/20260207_1141_663bf29ea685_rename_card_error_vocabulary_to_word.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/card_errors.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/repositories/card_error.py
  learn-greek-easy-backend/src/schemas/card_error.py
  learn-greek-easy-backend/src/services/card_error_admin_service.py
  learn-greek-easy-backend/tests/factories/card_error.py
  learn-greek-easy-backend/tests/integration/api/test_admin_card_errors.py
  learn-greek-easy-backend/tests/unit/repositories/test_card_error_repository.py
  learn-greek-easy-backend/tests/unit/services/test_card_error_admin_service.py
  learn-greek-easy-backend/tests/unit/services/test_card_error_service.py
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorCard.tsx
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorSection.tsx
  learn-greek-easy-frontend/src/components/card-errors/ReportErrorModal.tsx
  learn-greek-easy-frontend/src/components/card-errors/index.ts
  learn-greek-easy-frontend/src/components/review/FlashcardContainer.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/lib/analytics/cardErrorAnalytics.ts
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/services/cardErrorAPI.ts
  learn-greek-easy-frontend/src/types/cardError.ts
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
  learn-greek-easy-frontend/tests/visual/card-error-reporting.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CRSU-01] Add variant_key column to card_records and update unique constraint
  learn-greek-easy-backend/alembic/versions/20260207_1925_e77062d7fecd_add_variant_key_to_card_records.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/tests/unit/models/test_card_record.py
Due: none

[CRSU-03] Add optional id field to ExampleSentence schema and seed data
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-backend/src/services/seed_grammar_data.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/unit/schemas/test_word_entry_schemas.py
Due: none

[CRSU-02] Add CardRecordRepository with bulk upsert and filtered queries
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/card_record.py
Due: none

[CRSU-04] Add CardRecordRepository tests, factory, and constraint tests
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/card_record.py
  learn-greek-easy-backend/tests/unit/repositories/test_card_record_repository.py
Due: none

[CRSU-03] Add migration for word_entries examples column comment update
  learn-greek-easy-backend/alembic/versions/20260207_2018_41e6707eccbd_update_word_entries_examples_comment.py
Due: none

Fix pre-existing flaky tests: UserDeckEditModal mock leakage and Firefox E2E card flip
  learn-greek-easy-frontend/src/components/decks/__tests__/UserDeckEditModal.test.tsx
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CRSU] Card Record Schema Update: Add variant_key (#252)
  learn-greek-easy-backend/alembic/versions/20260207_1925_e77062d7fecd_add_variant_key_to_card_records.py
  learn-greek-easy-backend/alembic/versions/20260207_2018_41e6707eccbd_update_word_entries_examples_comment.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/repositories/__init__.py
  learn-greek-easy-backend/src/repositories/card_record.py
  learn-greek-easy-backend/src/schemas/word_entry.py
  learn-greek-easy-backend/src/services/seed_grammar_data.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/card_record.py
  learn-greek-easy-backend/tests/unit/models/test_card_record.py
  learn-greek-easy-backend/tests/unit/repositories/test_card_record_repository.py
  learn-greek-easy-backend/tests/unit/schemas/test_word_entry_schemas.py
  learn-greek-easy-frontend/src/components/decks/__tests__/UserDeckEditModal.test.tsx
  learn-greek-easy-frontend/tests/e2e/card-error-reporting.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PRAC-06] Add i18n strings for Practice UI (EN + RU)
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-prettier

[PRAC-01] Seed 60 meaning card records in V2 seed flow
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[PRAC-03] Add GET /word-entries/{id}/cards endpoint
  learn-greek-easy-backend/src/api/v1/word_entries.py
Due: none

[PRAC-04] Add backend tests for GET /word-entries/{id}/cards
  learn-greek-easy-backend/tests/integration/api/test_word_entry_cards.py
Due: none

[PRAC-02] Add unit and integration tests for meaning card seeding
  learn-greek-easy-backend/tests/integration/api/test_seed.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
Due: none

[PRAC-05] Add frontend types, API client, and hook for card records
  learn-greek-easy-frontend/src/features/words/hooks/index.ts
  learn-greek-easy-frontend/src/features/words/hooks/useWordEntryCards.ts
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PRAC-07] Add PracticeCard component with flip interaction
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/components/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PRAC-08] Add WordPracticePage and route registration
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordPracticePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PRAC-09] Wire dynamic "Practice this word" button on WordReferencePage
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordReferencePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PRAC-11] Add visual regression tests for practice cards
  learn-greek-easy-frontend/tests/visual/practice-card.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PRAC-10] Add frontend unit tests for practice mode components
  learn-greek-easy-frontend/src/features/words/components/__tests__/PracticeCard.test.tsx
  learn-greek-easy-frontend/src/features/words/hooks/__tests__/useWordEntryCards.test.ts
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordReferencePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PRAC-10] Add missing WordPracticePage unit test file
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordPracticePage.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: Use CardType enum .value for PostgreSQL compatibility
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

fix: use values_callable for CardType enum to match PostgreSQL lowercase values
  learn-greek-easy-backend/src/db/models.py
Due: none

fix: update E2E-DUAL-09 test for enabled Practice button
  learn-greek-easy-frontend/tests/e2e/deck-v1-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PRAC] Practice Cards V2 (#253)
  learn-greek-easy-backend/src/api/v1/word_entries.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/api/test_seed.py
  learn-greek-easy-backend/tests/integration/api/test_word_entry_cards.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
  learn-greek-easy-frontend/src/App.tsx
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/PracticeCard.test.tsx
  learn-greek-easy-frontend/src/features/words/components/index.ts
  learn-greek-easy-frontend/src/features/words/hooks/__tests__/useWordEntryCards.test.ts
  learn-greek-easy-frontend/src/features/words/hooks/index.ts
  learn-greek-easy-frontend/src/features/words/hooks/useWordEntryCards.ts
  learn-greek-easy-frontend/src/features/words/pages/WordPracticePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordPracticePage.test.tsx
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordReferencePage.test.tsx
  learn-greek-easy-frontend/src/features/words/pages/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
  learn-greek-easy-frontend/tests/e2e/deck-v1-v2.spec.ts
  learn-greek-easy-frontend/tests/visual/practice-card.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CGEN-01] Add CardGeneratorService class
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/card_generator_service.py
Due: none
