Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

test(NMIG-03): integration tests for news-to-situation migration schema changes
  learn-greek-easy-backend/tests/integration/models/test_nmig_news_data_migration.py
Due: none

fix(landing): use 2x2 answer grid for Reading and Quiz cards
  learn-greek-easy-frontend/src/components/landing/Features.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore: fix docstring period
  learn-greek-easy-backend/alembic/versions/20260323_1000_nmig_news_data_migration.py
Due: none

fix(landing): shorten RU descriptions and make quiz question Greek
  learn-greek-easy-frontend/src/components/landing/Features.tsx
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(NMIG): fix Alembic multiple heads — chain after sit_drop_cefr_from_situations
  learn-greek-easy-backend/alembic/versions/20260323_1000_nmig_news_data_migration.py
Due: none

fix(landing): fix Reading and Quiz card overflow and answer sizing
  learn-greek-easy-frontend/src/components/landing/Features.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(landing): switch mockup content to Greek for immersion
  learn-greek-easy-frontend/src/components/landing/Features.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(landing): replace Audio Dialogs mockup with chat-style dialog bubbles
  learn-greek-easy-frontend/src/components/landing/Features.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(landing): update News mockup with Greek learning initiative article
  learn-greek-easy-frontend/src/components/landing/Features.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(landing): add Ellinomatheia Exam Practice feature card
  learn-greek-easy-frontend/src/components/landing/Features.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(rename): replace Greekly with Greeklish in EN locale files
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/en/upgrade.json
  learn-greek-easy-frontend/src/i18n/locales/en/waitlist.json
Due: frontend-prettier

feat(rename): replace Greekly with Greeklish in RU locale files
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/upgrade.json
  learn-greek-easy-frontend/src/i18n/locales/ru/waitlist.json
Due: frontend-prettier

feat(rename): update brand Greekly → Greeklish in backend services [REN-01d]
  learn-greek-easy-backend/src/api/v1/waitlist.py
  learn-greek-easy-backend/src/services/notification_service.py
  learn-greek-easy-backend/src/services/waitlist_service.py
Due: none

feat(rename): update seed data brand Greekly → Greeklish [REN-01e]
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

test(rename): update test fixtures brand Greekly → Greeklish [REN-01f]
  learn-greek-easy-backend/tests/factories/notification.py
  learn-greek-easy-backend/tests/unit/services/test_email_service.py
Due: none

feat(rename): replace Greekly with Greeklish in WaitlistConfirmPage
  learn-greek-easy-frontend/src/pages/waitlist/WaitlistConfirmPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(rename): update build & packaging brand Learn Greek Easy → Greeklish [REN-02f]
  learn-greek-easy-frontend/index.html
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
  learn-greek-easy-frontend/src/components/layout/Header.tsx
  learn-greek-easy-frontend/src/pages/LandingPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(rename): update brand Learn Greek Easy → Greeklish in frontend config, constants & stores [REN-02b]
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/lib/config.ts
  learn-greek-easy-frontend/src/lib/constants.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(rename): update brand Learn Greek Easy → Greeklish in frontend i18n & comments [REN-02c]
  learn-greek-easy-frontend/src/components/dialogs/README.md
  learn-greek-easy-frontend/src/i18n/locales/en/common.json
  learn-greek-easy-frontend/src/i18n/locales/ru/common.json
  learn-greek-easy-frontend/src/types/changelog.ts
  learn-greek-easy-frontend/src/types/sse.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(rename): update test fixtures brand Learn Greek Easy → Greeklish in frontend tests [REN-02g]
  learn-greek-easy-frontend/tests/e2e/playwright-setup.spec.ts
  learn-greek-easy-frontend/tests/e2e/sample.spec.ts
  learn-greek-easy-frontend/tests/visual/admin-announcements.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(rename): update brand Learn Greek Easy → Greeklish in backend config, services & logs [REN-02d]
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/main.py
  learn-greek-easy-backend/src/services/email_service.py
Due: none

feat(rename): update brand Learn Greek Easy → Greeklish in backend seed data & docstrings [REN-02e]
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/middleware/__init__.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/src/tasks/scheduled.py
  learn-greek-easy-backend/src/utils/__init__.py
  learn-greek-easy-backend/src/utils/sse.py
Due: none

test(rename): update brand Learn Greek Easy → Greeklish in backend test docstrings [REN-02h]
  learn-greek-easy-backend/tests/base.py
  learn-greek-easy-backend/tests/conftest.py
  learn-greek-easy-backend/tests/helpers/__init__.py
  learn-greek-easy-backend/tests/helpers/api.py
  learn-greek-easy-backend/tests/helpers/assertions.py
  learn-greek-easy-backend/tests/integration/__init__.py
  learn-greek-easy-backend/tests/unit/__init__.py
  learn-greek-easy-backend/tests/utils/__init__.py
Due: none

build(rename): update brand Learn Greek Easy → Greeklish in build & packaging [REN-02f]
  learn-greek-easy-backend/Dockerfile
  learn-greek-easy-backend/docker-entrypoint.sh
  learn-greek-easy-backend/pyproject.toml
Due: none

fix(rename): use APP_NAME constant in Header/RouteGuard, remove PII from email logs
  learn-greek-easy-backend/src/services/email_service.py
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
  learn-greek-easy-frontend/src/components/layout/Header.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(saux-01): add status_counts to list endpoint and description audio URLs to detail endpoint
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-backend/tests/integration/api/test_admin_situations.py
Due: none

feat(saux-02): list view fixes — server status counts, edit button, line-clamp, remove onDelete
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/situations/SituationsTab.tsx
  learn-greek-easy-frontend/src/stores/adminSituationStore.ts
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(saux-03): replace description tab with dual B1/A2 audio sections
  learn-greek-easy-frontend/src/components/admin/situations/SituationDetailModal.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(saux-01): always include all status buckets in status_counts response
  learn-greek-easy-backend/src/api/v1/admin.py
Due: none

fix(landing): improve contrast ratio on highlighted Greek text in feature card
  learn-greek-easy-frontend/src/components/landing/Features.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

remove C1/C2 CEFR levels from entire codebase
  learn-greek-easy-backend/alembic/versions/20260324_1000_drop_c1_c2_from_decklevel_enum.py
  learn-greek-easy-backend/src/api/v1/decks.py
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/src/constants.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/repositories/deck.py
  learn-greek-easy-backend/src/schemas/sm2.py
  learn-greek-easy-backend/src/services/achievement_definitions.py
  learn-greek-easy-backend/src/services/seed_grammar_data.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/factories/content.py
  learn-greek-easy-backend/tests/factories/providers/greek.py
  learn-greek-easy-backend/tests/fixtures/deck.py
  learn-greek-easy-backend/tests/helpers/assertions.py
  learn-greek-easy-backend/tests/integration/api/test_decks.py
  learn-greek-easy-backend/tests/unit/schemas/test_deck_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckCreateForm.tsx
  learn-greek-easy-frontend/src/components/admin/VocabularyDeckEditForm.tsx
  learn-greek-easy-frontend/src/components/admin/vocabulary/BasicInfoTab.tsx
  learn-greek-easy-frontend/src/components/decks/UserDeckForm.tsx
  learn-greek-easy-frontend/src/components/decks/__tests__/UserDeckForm.test.tsx
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
  learn-greek-easy-frontend/src/i18n/locales/en/achievements.json
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/achievements.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/lib/cefrColors.ts
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/services/deckAPI.ts
  learn-greek-easy-frontend/src/types/deck.ts
  learn-greek-easy-frontend/src/types/grammar.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

merge Translations and Sentences filter pills into single Translation button
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckHeader.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/V2DeckHeader.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/stores/__tests__/v2PracticeStore.test.ts
  learn-greek-easy-frontend/src/stores/v2PracticeStore.ts
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

move Report Error button to top-right of word reference header
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

add part of speech label to top-left corner of word cards
  learn-greek-easy-frontend/src/features/decks/components/WordCard.tsx
  learn-greek-easy-frontend/src/features/decks/components/__tests__/WordCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

lower wide card translation threshold from 20 to 17 characters
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/WordGrid.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

sort word cards by mastery status and use dense grid to fill gaps
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/WordBrowser.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/WordGrid.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/WordBrowser.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/WordGrid.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

add Declension filter pill to deck practice modes
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckHeader.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/V2DeckHeader.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(i18n): use singular form for RU translation filter label
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-prettier
