Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

test(decks): backend tests for per-deck streak + weekly activity (DXWIRE-04)
  learn-greek-easy-backend/tests/unit/repositories/test_card_record_review_repository.py
  learn-greek-easy-backend/tests/unit/services/test_progress_service.py
Due: none

feat(culture): CULT2-2 resume most recently practiced deck + hero/strip polish (#524)
  docs/design-system.md
  learn-greek-easy-frontend/src/components/culture/redesign/CultureHero.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/culture.json
  learn-greek-easy-frontend/src/i18n/locales/ru/culture.json
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/src/lib/cultureDeckTransform.ts
  learn-greek-easy-frontend/src/pages/culture/CulturePage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePage.test.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(decks): wire real per-deck streak + weekly heatmap into DxMetricStrip (DXWIRE-05)
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/DxMetricStrip.tsx
  learn-greek-easy-frontend/src/services/progressAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(decks): flip DxMetricStrip tests to wired state + remove orphaned i18n keys (DXWIRE-06)
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/DxMetricStrip.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/DxMetricStrip.test.tsx
  learn-greek-easy-frontend/src/i18n/__tests__/deck-dx.i18n.test.ts
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(e2e): flip deck-detail R1/R2 to wired state — assert no UnwiredDot (DXWIRE-06)
  learn-greek-easy-frontend/tests/e2e/deck-browsing.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(decks): wire per-deck streak & weekly heatmap (DECK2-3) (#525)
  learn-greek-easy-backend/src/repositories/card_record_review.py
  learn-greek-easy-backend/src/schemas/progress.py
  learn-greek-easy-backend/src/services/progress_service.py
  learn-greek-easy-backend/tests/unit/repositories/test_card_record_review_repository.py
  learn-greek-easy-backend/tests/unit/services/test_progress_service.py
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/DxMetricStrip.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/DxMetricStrip.test.tsx
  learn-greek-easy-frontend/src/i18n/__tests__/deck-dx.i18n.test.ts
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/services/progressAPI.ts
  learn-greek-easy-frontend/tests/e2e/deck-browsing.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(practice): show full card-type label in family badge (PRACT2-2-04)
  learn-greek-easy-frontend/src/features/practice/pf/CardHead.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/CardHead.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/families.test.ts
  learn-greek-easy-frontend/src/features/practice/pf/families.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(practice): remove type-mode toggle from live top bar (PRACT2-2-05)
  learn-greek-easy-frontend/src/features/practice/pf/TopBar.tsx
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
  learn-greek-easy-frontend/src/utils/__tests__/practiceSettings.test.ts
  learn-greek-easy-frontend/src/utils/practiceSettings.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(practice): keep top-bar progress bar centred via minmax tracks (PRACT2-2-03)
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
Due: frontend-prettier

feat(practice): reserve stable card frame + match prototype card width (PRACT2-2-01, PRACT2-2-02)
  learn-greek-easy-frontend/src/features/practice/pf/Card.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Card.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(db): sequentialize shared-session concurrent reads (INFRA-01)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/services/gamification/projection.py
  learn-greek-easy-backend/src/services/gamification/streak.py
  learn-greek-easy-backend/src/services/progress_service.py
Due: none

feat(practice): EN/RU toggle switches card translation language via local state (PRACT2-2-06b)
  learn-greek-easy-frontend/src/features/practice/pf/Answer.tsx
  learn-greek-easy-frontend/src/features/practice/pf/CardHead.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Answer.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/CardHead.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/judge.test.ts
  learn-greek-easy-frontend/src/features/practice/pf/judge.ts
  learn-greek-easy-frontend/src/features/practice/pf/questions/Grammar.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Sentence.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Translation.tsx
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(practice): visual + e2e coverage for PRACT2-2 (PRACT2-2-07)
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
  learn-greek-easy-frontend/tests/visual/v2-practice.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

perf(db): reuse global session pool in background tasks (INFRA-02)
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/api/v1/reviews_v2.py
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/src/tasks/description_audio.py
  learn-greek-easy-backend/src/tasks/picture_generation.py
  learn-greek-easy-backend/tests/integration/api/test_admin_news.py
  learn-greek-easy-backend/tests/unit/api/test_reviews_v2.py
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
  learn-greek-easy-backend/tests/unit/tasks/test_picture_generation.py
Due: none

perf(db): pool headroom + scheduler shared engine (INFRA-03)
  docs/supabase-database.md
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/scheduler_main.py
  learn-greek-easy-backend/src/tasks/scheduled.py
  learn-greek-easy-backend/src/tasks/scheduled_gamification.py
  learn-greek-easy-backend/tests/integration/test_trial_lifecycle.py
  learn-greek-easy-backend/tests/unit/tasks/test_scheduled_gamification.py
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler.py
  learn-greek-easy-backend/tests/unit/tasks/test_stats_aggregate.py
  learn-greek-easy-backend/tests/unit/tasks/test_streak_reset.py
Due: none

test/fix(practice): address CodeRabbit review on PRACT2-2 (#526)
  learn-greek-easy-frontend/src/features/practice/pf/Answer.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Answer.test.tsx
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
  learn-greek-easy-frontend/tests/visual/v2-practice.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(practice): PRACT2-2 card sizing, fixed-size reveal & top-bar polish (#526)
  learn-greek-easy-frontend/src/features/practice/pf/Answer.tsx
  learn-greek-easy-frontend/src/features/practice/pf/Card.tsx
  learn-greek-easy-frontend/src/features/practice/pf/CardHead.tsx
  learn-greek-easy-frontend/src/features/practice/pf/TopBar.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Answer.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/Card.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/CardHead.test.tsx
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/families.test.ts
  learn-greek-easy-frontend/src/features/practice/pf/__tests__/judge.test.ts
  learn-greek-easy-frontend/src/features/practice/pf/families.ts
  learn-greek-easy-frontend/src/features/practice/pf/judge.ts
  learn-greek-easy-frontend/src/features/practice/pf/pf.css
  learn-greek-easy-frontend/src/features/practice/pf/questions/Grammar.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Sentence.tsx
  learn-greek-easy-frontend/src/features/practice/pf/questions/Translation.tsx
  learn-greek-easy-frontend/src/pages/V2FlashcardPracticePage.tsx
  learn-greek-easy-frontend/src/utils/__tests__/practiceSettings.test.ts
  learn-greek-easy-frontend/src/utils/practiceSettings.ts
  learn-greek-easy-frontend/tests/e2e/flashcard-review-v2.spec.ts
  learn-greek-easy-frontend/tests/visual/v2-practice.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(db): fix TestTrialExpirationTask for shared session factory (INFRA-03)
  learn-greek-easy-backend/tests/unit/core/test_trial.py
Due: none

fix(db): async session & connection safety (INFRA-01/02/03) (#527)
  docs/supabase-database.md
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/api/v1/reviews_v2.py
  learn-greek-easy-backend/src/config.py
  learn-greek-easy-backend/src/scheduler_main.py
  learn-greek-easy-backend/src/services/gamification/projection.py
  learn-greek-easy-backend/src/services/gamification/streak.py
  learn-greek-easy-backend/src/services/progress_service.py
  learn-greek-easy-backend/src/tasks/background.py
  learn-greek-easy-backend/src/tasks/description_audio.py
  learn-greek-easy-backend/src/tasks/picture_generation.py
  learn-greek-easy-backend/src/tasks/scheduled.py
  learn-greek-easy-backend/src/tasks/scheduled_gamification.py
  learn-greek-easy-backend/tests/integration/api/test_admin_news.py
  learn-greek-easy-backend/tests/integration/test_trial_lifecycle.py
  learn-greek-easy-backend/tests/unit/api/test_reviews_v2.py
  learn-greek-easy-backend/tests/unit/core/test_trial.py
  learn-greek-easy-backend/tests/unit/tasks/test_background.py
  learn-greek-easy-backend/tests/unit/tasks/test_picture_generation.py
  learn-greek-easy-backend/tests/unit/tasks/test_scheduled_gamification.py
  learn-greek-easy-backend/tests/unit/tasks/test_scheduler.py
  learn-greek-easy-backend/tests/unit/tasks/test_stats_aggregate.py
  learn-greek-easy-backend/tests/unit/tasks/test_streak_reset.py
Due: none

feat(decks): DXALIGN-01/02 top-align metric cards + shorten week label
  learn-greek-easy-frontend/src/features/decks/dx/dx.css
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-prettier

feat(decks): DXPROG-01/02/03 word-level deck progress %
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/DxActionPanel.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/DxMetricStrip.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/DxResumeHero.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckHeader.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/DxActionPanel.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/DxMetricStrip.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/DxResumeHero.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/V2DeckHeader.test.tsx
  learn-greek-easy-frontend/src/features/decks/dx/__tests__/wordProgress.test.ts
  learn-greek-easy-frontend/src/features/decks/dx/index.ts
  learn-greek-easy-frontend/src/features/decks/dx/wordProgress.ts
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test: fix lexicon uniqueness test for Greek case syncretism
  learn-greek-easy-backend/tests/unit/services/test_seed_lexicon_data.py
Due: none

feat(decks): DECK2-4 deck-detail polish — alignment, week label & word-level progress (#528)
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/DxActionPanel.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/DxMetricStrip.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/DxResumeHero.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckHeader.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/DxActionPanel.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/DxMetricStrip.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/DxResumeHero.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/V2DeckHeader.test.tsx
  learn-greek-easy-frontend/src/features/decks/dx/__tests__/wordProgress.test.ts
  learn-greek-easy-frontend/src/features/decks/dx/dx.css
  learn-greek-easy-frontend/src/features/decks/dx/index.ts
  learn-greek-easy-frontend/src/features/decks/dx/wordProgress.ts
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test: address CodeRabbit review on PR #529
  learn-greek-easy-backend/tests/unit/repositories/test_deck_repository.py
  learn-greek-easy-backend/tests/unit/services/test_seed_lexicon_data.py
  learn-greek-easy-backend/tests/unit/services/test_seed_translation_data.py
Due: none

feat(mob-01): install expo-dev-client (DCEAS-01)
  learn-greek-easy-mobile/package-lock.json
  learn-greek-easy-mobile/package.json
Due: none

feat(mob-01): app.config.ts with APP_VARIANT variant switch, remove app.json (DCEAS-02)
  learn-greek-easy-mobile/app.config.ts
  learn-greek-easy-mobile/app.json
Due: none

feat(mob-01): eas.json with dev/preview/production build profiles (DCEAS-03)
  learn-greek-easy-mobile/eas.json
Due: none

docs(mob-01): document APP_VARIANT variants, EAS build commands & verification (DCEAS-05)
  learn-greek-easy-mobile/README.md
Due: none

fix(mob-01): validate APP_VARIANT fallback + preview simulator flag (CodeRabbit)
  learn-greek-easy-mobile/app.config.ts
  learn-greek-easy-mobile/eas.json
Due: none

perf(infra2-2): PERF-01 cache-control 1yr, drop prod sourcemaps, caddy zstd+no-cache, stripe out of health poll
  learn-greek-easy-backend/src/services/health_service.py
  learn-greek-easy-backend/src/services/s3_service.py
  learn-greek-easy-backend/tests/unit/services/test_health_service.py
  learn-greek-easy-backend/tests/unit/services/test_s3_service.py
  learn-greek-easy-frontend/Caddyfile
  learn-greek-easy-frontend/vite.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

perf(infra2-2): PERF-02 stabilize situation/news/culture-question presigned image URLs (30d window)
  learn-greek-easy-backend/src/api/v1/culture/mock_exam.py
  learn-greek-easy-backend/src/api/v1/situations.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/src/services/mock_exam_service.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-backend/src/services/picture_match_service.py
  learn-greek-easy-backend/src/services/s3_service.py
  learn-greek-easy-backend/tests/unit/services/test_s3_service.py
Due: none

perf(infra2-2): PERF-04 drop redundant user+settings reload in auth.get_me
  learn-greek-easy-backend/src/api/v1/auth.py
  learn-greek-easy-backend/tests/unit/api/test_auth_get_me.py
Due: none

perf(infra2-2): PERF-05 memoize current user+settings on request.state (per-request)
  learn-greek-easy-backend/src/core/dependencies.py
  learn-greek-easy-backend/tests/unit/core/test_dependencies.py
Due: none

perf(infra2-2): PERF-03 de-duplicate GET /auth/me via authStore in-flight guard + freshness window
  learn-greek-easy-frontend/src/components/auth/LoginForm.tsx
  learn-greek-easy-frontend/src/components/auth/RegisterForm.tsx
  learn-greek-easy-frontend/src/components/auth/__tests__/LoginForm.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/authStore.test.ts
  learn-greek-easy-frontend/src/stores/authStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

perf(infra2-2): PERF-12 de-duplicate deck-detail /progress/decks/{id} fetch
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/V2DeckHeader.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/V2DeckHeader.test.tsx
  learn-greek-easy-frontend/src/stores/deckStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

perf(infra2-2): PERF-06 batch per-deck question counts in list_culture_decks (kill N+1)
  learn-greek-easy-backend/src/services/culture_deck_service.py
  learn-greek-easy-backend/tests/unit/services/test_culture_deck_service.py
Due: none

perf(infra2-2): PERF-07 split posthog-js + supabase-js out of the entry chunk
  learn-greek-easy-frontend/src/providers/PostHogProvider.tsx
  learn-greek-easy-frontend/src/stores/authStore.ts
  learn-greek-easy-frontend/vite.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck
