Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

Fix dev environment lifecycle - create on deploy, delete on merge (#47)
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
Due: none

[task-165] Keep dev env persistent, stop services on cleanup
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
Due: none

Update backend dev URL to shorter domain
  .github/workflows/preview.yml
Due: none

Use GitHub Secrets for dev environment URLs
  .github/workflows/preview.yml
Due: none

Fix: Use workflow env vars instead of secrets for public URLs
  .github/workflows/preview.yml
Due: none

Set DEBUG=true for dev environment to enable API docs
  .github/workflows/preview.yml
Due: none

Fix: Explicitly pass GITHUB_TOKEN to github-script action
  .github/workflows/preview.yml
Due: none

[task-165] Add health and smoke tests for PR preview deployments (#46)
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
  scripts/preview-api-smoke.sh
  scripts/preview-health-check.sh
Due: none

[task-176] Add Redis and Postgres to cleanup workflow
  .github/workflows/preview-cleanup.yml
Due: none

[task-176] Start Postgres and Redis before Backend in preview deploy
  .github/workflows/preview.yml
Due: none

[task-176] Keep Postgres and Redis running, only stop compute services
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
Due: none

[task-176] Keep Postgres/Redis running on cleanup, stop only compute services (#48)
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
Due: none

[task-168] Add axe-core accessibility testing to PR preview workflow
  .github/workflows/preview.yml
  scripts/accessibility-test.js
Due: none

[task-168] Fix module resolution - move accessibility script to frontend directory
  .github/workflows/preview.yml
  learn-greek-easy-frontend/eslint.config.js
  learn-greek-easy-frontend/scripts/accessibility-test.js
Due: frontend-eslint, frontend-prettier

[task-168] Fix OpenAPI schema 502 error in health check
  .railway/variables.json
  scripts/preview-health-check.sh
Due: none

[task-168] Fix ES module error - rename script to .cjs
  .github/workflows/preview.yml
  learn-greek-easy-frontend/scripts/accessibility-test.cjs
Due: none

[task-168] Add axe-core accessibility testing to PR preview workflow (#49)
  .github/workflows/preview.yml
  .railway/variables.json
  learn-greek-easy-frontend/eslint.config.js
  learn-greek-easy-frontend/scripts/accessibility-test.cjs
  scripts/preview-health-check.sh
Due: frontend-eslint, frontend-prettier

[task-166] Add Lighthouse CI for performance testing
  .github/workflows/preview.yml
  learn-greek-easy-frontend/eslint.config.js
  learn-greek-easy-frontend/lighthouserc.cjs
  learn-greek-easy-frontend/lighthouserc.mobile.cjs
Due: frontend-eslint, frontend-prettier

[task-168] Fix mobile Lighthouse config - remove invalid preset
  learn-greek-easy-frontend/lighthouserc.mobile.cjs
Due: none

[task-168] Fix Lighthouse score extraction - use lhr-*.json instead of manifest.json
  .github/workflows/preview.yml
Due: none

[task-166] Add Lighthouse CI for performance testing (#50)
  .github/workflows/preview.yml
  learn-greek-easy-frontend/eslint.config.js
  learn-greek-easy-frontend/lighthouserc.cjs
  learn-greek-easy-frontend/lighthouserc.mobile.cjs
Due: frontend-eslint, frontend-prettier

[task-167] Add Chromatic visual regression testing with Playwright
  .github/workflows/preview.yml
  learn-greek-easy-frontend/.gitignore
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/playwright.visual.config.ts
  learn-greek-easy-frontend/tests/visual/authenticated.spec.ts
  learn-greek-easy-frontend/tests/visual/helpers/visual-helpers.ts
  learn-greek-easy-frontend/tests/visual/pages.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[task-167] Add Chromatic visual regression testing with Playwright (#51)
  .github/workflows/preview.yml
  learn-greek-easy-frontend/.gitignore
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/playwright.visual.config.ts
  learn-greek-easy-frontend/tests/visual/authenticated.spec.ts
  learn-greek-easy-frontend/tests/visual/helpers/visual-helpers.ts
  learn-greek-easy-frontend/tests/visual/pages.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[task-171] Add comprehensive PR preview deployment documentation
  .github/workflows/preview.yml
  CLAUDE.md
  CONTRIBUTING.md
  docs/pr-preview-deployments.md
Due: none

Saved progress
  CONTRIBUTING.md
  docs/pr-preview-deployments.md
  docs/railway-backend-privacy.md
Due: none

[task-180] Implement SM-2 core algorithm
  learn-greek-easy-backend/src/core/__init__.py
  learn-greek-easy-backend/src/core/sm2.py
Due: none

[task-180] Fix vitest config to exclude Playwright visual tests
  learn-greek-easy-frontend/vitest.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[task-180] Fix accessibility test - exclude decorative build hash indicator
  learn-greek-easy-frontend/src/components/VersionIndicator.tsx
  learn-greek-easy-frontend/tests/e2e/accessibility.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[task-180] Implement SM-2 core algorithm (#52)
  learn-greek-easy-backend/src/core/__init__.py
  learn-greek-easy-backend/src/core/sm2.py
  learn-greek-easy-frontend/src/components/VersionIndicator.tsx
  learn-greek-easy-frontend/tests/e2e/accessibility.spec.ts
  learn-greek-easy-frontend/vitest.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[task-181] Add SM-2 Pydantic schemas for algorithm data transfer
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/sm2.py
Due: none

[task-181] Add SM-2 Pydantic schemas for algorithm data transfer (#53)
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/sm2.py
Due: none

Saved
  CLAUDE.md
Due: none

[task-189] Fix visual tests authentication - use valid user ID
  learn-greek-easy-frontend/tests/visual/authenticated.spec.ts
  learn-greek-easy-frontend/tests/visual/helpers/visual-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[task-189] Fix visual tests authentication - use valid user ID (#54)
  learn-greek-easy-frontend/tests/visual/authenticated.spec.ts
  learn-greek-easy-frontend/tests/visual/helpers/visual-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[task-179] Remove custom preview/visual status - use Chromatic native status
  .github/workflows/preview.yml
Due: none

[task-179] Remove custom preview/visual status - use Chromatic native status (#55)
  .github/workflows/preview.yml
Due: none

Saved progress
  learn-greek-easy-frontend/playwright.visual.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[task-185] Implement SM-2 Service Layer
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/sm2_service.py
Due: none

[task-185] Implement SM-2 Service Layer (#56)
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/sm2_service.py
Due: none

[task-184] Add repository methods for SM-2 service
  learn-greek-easy-backend/src/repositories/progress.py
  learn-greek-easy-backend/src/repositories/review.py
  learn-greek-easy-backend/tests/unit/repositories/test_repositories.py
Due: none
