Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

style(admin-card-errors): Noto Serif on Greek headlines (CER-42)
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

refactor(admin): lift StatusGrid primitive, rename fb-* → admin-* (CER-48)
  learn-greek-easy-frontend/src/components/admin/FeedbackDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/StatusGrid.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/FeedbackDrawer.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/StatusGrid.test.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin-card-errors): deck chip, card peek, admin notes block, card-ID stub (CER-12/13/14/15)
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

style(admin-card-errors): JetBrains Mono for IDs and timestamps (CER-41)
  learn-greek-easy-frontend/index.html
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

fix(admin-card-errors): wire section-tab counter to PENDING ∪ REVIEWED (CER-01)
  learn-greek-easy-frontend/src/components/admin/shell/section-tabs.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/AdminPage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(admin-card-errors): unit tests for CardPreview (CER-55)
  learn-greek-easy-frontend/src/components/admin/__tests__/CardPreview.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(admin-card-errors): unit tests for drawer + tabs + footer (CER-54)
  learn-greek-easy-frontend/src/components/admin/__tests__/CardErrorDrawer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin-card-errors): segmented status + type filter chips (CER-09/CER-10)
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorSection.tsx
  learn-greek-easy-frontend/src/stores/adminCardErrorStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(admin-card-errors): extend E2E seed helper for CULTURE + resolved (CER-56)
  learn-greek-easy-backend/src/api/v1/test/seed.py
  learn-greek-easy-backend/tests/unit/api/test_seed.py
  learn-greek-easy-frontend/tests/e2e/helpers/admin-helpers.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin-card-errors): drawer header breadcrumb (CER-21)
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

chore(admin-card-errors): regenerate visual snapshots (CER-58)
  learn-greek-easy-frontend/tests/visual/admin-card-errors.visual.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin-card-errors): the-card tab full CardPreview (CER-34)
  learn-greek-easy-frontend/src/components/admin/CardErrorDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardErrorDrawer.i18n.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(admin-card-errors): align CardErrorsView test to new stats.* i18n keys
  learn-greek-easy-frontend/src/pages/admin/__tests__/CardErrorsView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(admin-card-errors): unit tests for list row + status badge (CER-53)
  learn-greek-easy-frontend/src/components/admin/__tests__/CardErrorRow.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardErrorStatusBadge.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin-card-errors): review tab thread chrome (CER-27)
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

chore(admin-card-errors): tighten search placeholder (CER-11)
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-prettier

feat(admin-card-errors): compact CardPreview component (CER-28)
  learn-greek-easy-frontend/src/components/admin/CardPreview.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

refactor(admin-card-errors): rename modal → drawer, swap Dialog → SidePanel (CER-20)
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorSection.tsx
  learn-greek-easy-frontend/src/components/admin/CardErrorDrawer.tsx
  learn-greek-easy-frontend/src/components/admin/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin): add CannedReplyPills primitive (CER-51)
  learn-greek-easy-frontend/src/components/admin/CannedReplyPills.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CannedReplyPills.test.tsx
  learn-greek-easy-frontend/src/index.css
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin-card-errors): remove hardcoded English labels from status config (CER-47)
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorCard.tsx
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorDetailModal.tsx
  learn-greek-easy-frontend/src/components/admin/CardErrorStatusBadge.tsx
  learn-greek-easy-frontend/src/types/cardError.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

style(admin-card-errors): warning-tinted border, mono timestamp, card peek + ID CSS (CER-16/CER-19)
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

feat(admin-card-errors): replace stub stat tiles with live data + sparklines (CER-02)
  learn-greek-easy-frontend/src/pages/admin/CardErrorsView.tsx
  learn-greek-easy-frontend/src/pages/admin/__tests__/CardErrorsView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin-feedback-e2e): repair pre-existing firefox failures
  learn-greek-easy-frontend/tests/e2e/admin-drawer-close.spec.ts
  learn-greek-easy-frontend/tests/e2e/admin-feedback-drawer.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin-card-errors): drawer size half (not full) — Feedback parity
  learn-greek-easy-frontend/src/components/admin/CardErrorDrawer.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin-card-errors-api): raise page_size cap 100 → 1000
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/integration/api/test_admin_card_errors.py
Due: none

fix(admin-card-errors-api): raise response-schema page_size cap to 1000
  learn-greek-easy-backend/src/schemas/card_error.py
Due: none

chore(admin-card-errors): remove redundant "Open card" row button
  learn-greek-easy-frontend/src/components/admin/AdminCardErrorCard.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/CardErrorRow.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin-exercises): Cluster A — EXR-00 audit, EXR-74 i18n reconcile, EXR-00b component split, EXR-00c action-bar slot
  EXR-00.audit.md
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseAudioBar.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseBody.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseList.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseRow.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesEmptyState.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesPager.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesSection.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesStats.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesToolbar.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/admin/ExercisesView.tsx
  learn-greek-easy-frontend/src/pages/admin/__tests__/ExercisesView.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

chore(admin2-23): remove EXR-00 audit doc from repo
  EXR-00.audit.md
Due: none

feat(admin-exercises): EXR-57+54+53+50+51 — backend payload/filters/word_order + pending status + question columns
  learn-greek-easy-backend/alembic/versions/20260524_exr53_add_word_order_exercise_type.py
  learn-greek-easy-backend/alembic/versions/20260524_exr54_add_question_columns_to_exercise_tables.py
  learn-greek-easy-backend/alembic/versions/20260524_exr57_add_pending_exercise_status.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-backend/tests/factories/__init__.py
  learn-greek-easy-backend/tests/factories/word_order_exercise.py
  learn-greek-easy-backend/tests/integration/api/test_admin_exercises_list.py
Due: none

perf(admin-exercises): EXR-58+59+62 — SQL pushdown, lazy presigning, sort param, admin TTL bump
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/tests/integration/api/test_admin_exercises_list.py
Due: none

feat(admin-exercises): EXR-55+60+63+61 — regenerate endpoint with idempotency/locks/audit, question_en backfill, payload variants
  learn-greek-easy-backend/alembic/versions/20260524_exr63_backfill_question_en_from_situation.py
  learn-greek-easy-backend/src/api/v1/admin.py
  learn-greek-easy-backend/src/schemas/situation.py
  learn-greek-easy-backend/tests/integration/api/test_admin_exercises_list.py
  learn-greek-easy-backend/tests/integration/api/test_admin_exercises_regenerate.py
Due: none

test(admin-exercises): EXR-52+56+64 — empty-data audit notes, seed fixtures, parametrized filter matrix tests
  docs/e2e-seeding.md
  learn-greek-easy-backend/tests/factories/admin_exercises_seed.py
  learn-greek-easy-backend/tests/integration/api/test_admin_exercises_list.py
Due: none

feat(admin-exercises): EXR-09a+09+19a+19b+19c+19e+19f — Zustand store, 4 SegControl filters, URL bridge, clear-filters button, keyboard a11y, stats fallback note
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseRow.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesEmptyState.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesPager.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesSection.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesStats.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesToolbar.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/__tests__/adminExercisesStore.test.ts
  learn-greek-easy-frontend/src/stores/adminExercisesStore.ts
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(admin-exercises-types): align frontend ExerciseType/Status/Level unions with backend
  learn-greek-easy-frontend/src/types/situation.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin-exercises): EXR-01+02+03+04+05+06+07+08+19f — page-head action buttons, 4 live stat tiles with bars, i18n values
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesSection.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesStats.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/__tests__/AdminExercisesStats.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/pages/admin/ExercisesView.tsx
  learn-greek-easy-frontend/src/pages/admin/__tests__/ExercisesView.test.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(admin-exercises): EXR-10..18 + EXR-19d — row header restyle, pager polish, empty-state rewrite, responsive
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExerciseRow.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesEmptyState.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesPager.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesSection.tsx
  learn-greek-easy-frontend/src/components/admin/exercises/AdminExercisesToolbar.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
  learn-greek-easy-frontend/src/stores/adminExercisesStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck
