Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

fix(DASH2-03-05): remove dead scaffold — nav-menu, waveform, use-client, inert selectors
  learn-greek-easy-frontend/package-lock.json
  learn-greek-easy-frontend/package.json
  learn-greek-easy-frontend/src/components/ui/__tests__/waveform.test.tsx
  learn-greek-easy-frontend/src/components/ui/dialog.tsx
  learn-greek-easy-frontend/src/components/ui/dropdown-menu.tsx
  learn-greek-easy-frontend/src/components/ui/form.tsx
  learn-greek-easy-frontend/src/components/ui/navigation-menu.tsx
  learn-greek-easy-frontend/src/components/ui/scroll-area.tsx
  learn-greek-easy-frontend/src/components/ui/separator.tsx
  learn-greek-easy-frontend/src/components/ui/sheet.tsx
  learn-greek-easy-frontend/src/components/ui/toast.tsx
  learn-greek-easy-frontend/src/components/ui/toaster.tsx
  learn-greek-easy-frontend/src/components/ui/waveform.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(DASH2-03-06): drop three zero-consumer Tailwind config landmines
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

fix(DASH2-03-05): drop stale react-navigation-menu manualChunks entry
  learn-greek-easy-frontend/vite.config.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs(DASH2-03-07): reconcile design-system.md with accent-drift cleanup
  docs/design-system.md
Due: none

fix(dashboard): stop "Welcome aboard" onboarding line flashing on refresh
  learn-greek-easy-frontend/src/components/dashboard/DashboardGreeting.tsx
  learn-greek-easy-frontend/src/components/dashboard/__tests__/DashboardGreeting.test.tsx
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(loader): unify pre-React LCP shell with the app spinner to stop load flashing
  learn-greek-easy-frontend/index.html
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(dashboard): full-page pulsing-outline skeleton for the loading state
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(dashboard): deck cover pictures available anywhere without visiting /decks
  learn-greek-easy-frontend/src/components/auth/ProtectedRoute.tsx
  learn-greek-easy-frontend/src/components/auth/RouteGuard.tsx
  learn-greek-easy-frontend/src/components/auth/__tests__/ProtectedRoute.integration.test.tsx
  learn-greek-easy-frontend/src/components/dashboard/FeedCards.tsx
  learn-greek-easy-frontend/src/components/dashboard/__tests__/FeedCards.covers.test.tsx
  learn-greek-easy-frontend/src/hooks/useWarmDeckCovers.ts
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.metrics.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.starter.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.test.tsx
  learn-greek-easy-frontend/src/stores/__tests__/deckStore.test.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(e2e): repair the 4 CI E2E blockers on the deck-covers PR
  learn-greek-easy-frontend/index.html
  learn-greek-easy-frontend/src/main.tsx
  learn-greek-easy-frontend/tests/e2e/admin-changelog-timeline.spec.ts
  learn-greek-easy-frontend/tests/e2e/admin-shell-smoke.spec.ts
  learn-greek-easy-frontend/tests/e2e/landing-page.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(e2e): address CodeRabbit review on the CI-fix PR
  learn-greek-easy-frontend/tests/e2e/admin-changelog-timeline.spec.ts
  learn-greek-easy-frontend/tests/e2e/admin-shell-smoke.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(dashboard): show real covers on all resume-hero stack tiles
  learn-greek-easy-frontend/src/components/dashboard/FeedCards.tsx
  learn-greek-easy-frontend/src/components/dashboard/__tests__/FeedCards.covers.test.tsx
  learn-greek-easy-frontend/src/components/dashboard/lib/__tests__/composeFeed.test.ts
  learn-greek-easy-frontend/src/components/dashboard/lib/composeFeed.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix(dashboard): load dx.css so resume-hero cover tiles are styled
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

perf(caddy): drop non-v1 /api/* at the edge + reformat (PERF-14-01)
  docs/railway-backend-privacy.md
  learn-greek-easy-frontend/Caddyfile
Due: none

perf(caddy): also drop /api/v1/.env at the edge (PERF-14-01, full AC5)
  learn-greek-easy-frontend/Caddyfile
Due: none

ci(caddy): validate + fmt-check the Caddyfile in test.yml (PERF-14-02)
  .github/workflows/test.yml
Due: none

fix(caddy): cover exact .git probes + wrap sourcemap 404 in handle (CodeRabbit)
  learn-greek-easy-frontend/Caddyfile
Due: none

ci(caddy): drop credential persistence on caddy-validate checkout (CodeRabbit)
  .github/workflows/test.yml
Due: none

test(PERF-15-01): RED schema contract tests [skip ci]
  learn-greek-easy-backend/src/schemas/dashboard.py
  learn-greek-easy-backend/tests/unit/schemas/test_dashboard_summary_schema.py
Due: none

feat(PERF-15-01): dashboard summary DTO schemas
  learn-greek-easy-backend/src/schemas/dashboard.py
Due: none

test(PERF-15-01): tighten DTO contract + adversarial coverage
  learn-greek-easy-backend/src/schemas/dashboard.py
  learn-greek-easy-backend/tests/unit/schemas/test_dashboard_summary_schema.py
Due: none

test(PERF-15-02): RED gather-layer + extraction tests [skip ci]
  learn-greek-easy-backend/src/schemas/dashboard.py
  learn-greek-easy-backend/src/services/dashboard_summary_service.py
  learn-greek-easy-backend/src/services/learner_situation_service.py
  learn-greek-easy-backend/src/services/situation_comprehension_service.py
  learn-greek-easy-backend/tests/integration/api/test_decks.py
  learn-greek-easy-backend/tests/integration/services/test_comprehension_count.py
  learn-greek-easy-backend/tests/integration/services/test_dashboard_summary_gather.py
  learn-greek-easy-backend/tests/integration/services/test_learner_situation_service.py
  learn-greek-easy-backend/tests/unit/schemas/test_slim_news_mapping.py
Due: none

feat(PERF-15-02): slim news mapper, gather layer, situation/cover extractions
  learn-greek-easy-backend/src/api/v1/decks.py
  learn-greek-easy-backend/src/api/v1/situations.py
  learn-greek-easy-backend/src/schemas/dashboard.py
  learn-greek-easy-backend/src/services/dashboard_summary_service.py
  learn-greek-easy-backend/src/services/learner_situation_service.py
  learn-greek-easy-backend/src/services/situation_comprehension_service.py
  learn-greek-easy-backend/src/utils/deck_cover.py
  learn-greek-easy-backend/tests/integration/api/test_learner_situations.py
  learn-greek-easy-backend/tests/unit/api/test_deck_cover_variants_helper.py
Due: none

test(PERF-15-02): adversarial coverage + extraction parity guards
  learn-greek-easy-backend/tests/integration/api/test_learner_situations.py
  learn-greek-easy-backend/tests/integration/services/test_comprehension_count.py
  learn-greek-easy-backend/tests/integration/services/test_dashboard_summary_gather.py
  learn-greek-easy-backend/tests/unit/schemas/test_slim_news_mapping.py
Due: none

test(PERF-15-03): RED derivation + feed-composition parity tests [skip ci]
  learn-greek-easy-backend/src/services/dashboard_compose.py
  learn-greek-easy-backend/tests/unit/services/test_compose_feed.py
  learn-greek-easy-backend/tests/unit/services/test_dashboard_derivations.py
Due: none

feat(PERF-15-03): server-side derivations, feed composition & build()
  learn-greek-easy-backend/src/services/dashboard_compose.py
  learn-greek-easy-backend/src/services/dashboard_summary_service.py
Due: none

test(PERF-15-03): build() integration + feed-gate parity guards
  learn-greek-easy-backend/tests/integration/services/test_dashboard_build.py
  learn-greek-easy-backend/tests/unit/services/test_compose_feed.py
  learn-greek-easy-backend/tests/unit/services/test_dashboard_derivations.py
Due: none

test(PERF-15-04): RED endpoint + cache + one-txn tests [skip ci]
  learn-greek-easy-backend/src/api/v1/dashboard.py
  learn-greek-easy-backend/src/api/v1/router.py
  learn-greek-easy-backend/tests/integration/api/test_dashboard_summary.py
  learn-greek-easy-backend/tests/unit/api/test_dashboard_summary_cache.py
  learn-greek-easy-backend/tests/unit/core/test_cache_service.py
Due: none

feat(PERF-15-04): dashboard summary endpoint with per-user Redis cache
  learn-greek-easy-backend/src/api/v1/dashboard.py
  learn-greek-easy-backend/tests/unit/api/test_dashboard_summary_cache.py
Due: none

test(PERF-15-04): cache ValidationError-fallback + endpoint guards
  learn-greek-easy-backend/tests/unit/api/test_dashboard_summary_cache.py
Due: none

feat(PERF-15-05): dashboard consumes summary endpoint; delete client re-derivations
  learn-greek-easy-frontend/src/components/dashboard/DashboardGreeting.tsx
  learn-greek-easy-frontend/src/components/dashboard/FeedCards.tsx
  learn-greek-easy-frontend/src/components/dashboard/HeroEntries.tsx
  learn-greek-easy-frontend/src/components/dashboard/__tests__/DashboardGreeting.test.tsx
  learn-greek-easy-frontend/src/components/dashboard/lib/__tests__/isNewUser.test.ts
  learn-greek-easy-frontend/src/components/dashboard/lib/__tests__/weekHeat.test.ts
  learn-greek-easy-frontend/src/components/dashboard/lib/isNewUser.ts
  learn-greek-easy-frontend/src/components/dashboard/lib/summaryDeckAdapter.ts
  learn-greek-easy-frontend/src/components/dashboard/lib/weekHeat.ts
  learn-greek-easy-frontend/src/hooks/useDashboardSummary.ts
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.metrics.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.starter.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.test.tsx
  learn-greek-easy-frontend/src/services/dashboardAPI.ts
  learn-greek-easy-frontend/src/types/dashboard.ts
  learn-greek-easy-frontend/src/types/deck.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PERF-15-05): harden dashboard summary page tests
  learn-greek-easy-frontend/src/components/dashboard/__tests__/HeroEntries.test.tsx
  learn-greek-easy-frontend/src/components/dashboard/lib/__tests__/summaryDeckAdapter.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PERF-15-05): add all_time_study_time_seconds to summary DTO; drop dashboard useAnalytics
  learn-greek-easy-backend/src/schemas/dashboard.py
  learn-greek-easy-backend/src/services/dashboard_summary_service.py
  learn-greek-easy-backend/tests/integration/api/test_dashboard_summary.py
  learn-greek-easy-backend/tests/integration/services/test_dashboard_build.py
  learn-greek-easy-backend/tests/unit/api/test_dashboard_summary_cache.py
  learn-greek-easy-backend/tests/unit/schemas/test_dashboard_summary_schema.py
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.metrics.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.starter.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.test.tsx
  learn-greek-easy-frontend/src/types/dashboard.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

feat(PERF-15-06): render server-composed feed; kill dup fetches; F1 tour-hook + F2 deck-warm
  learn-greek-easy-backend/src/schemas/dashboard.py
  learn-greek-easy-backend/tests/unit/schemas/test_slim_news_mapping.py
  learn-greek-easy-frontend/src/components/dashboard/Feed.tsx
  learn-greek-easy-frontend/src/components/dashboard/FeedCards.tsx
  learn-greek-easy-frontend/src/components/dashboard/FeedFilters.tsx
  learn-greek-easy-frontend/src/components/dashboard/__tests__/FeedCards.covers.test.tsx
  learn-greek-easy-frontend/src/components/dashboard/lib/__tests__/composeFeed.test.ts
  learn-greek-easy-frontend/src/components/dashboard/lib/composeFeed.ts
  learn-greek-easy-frontend/src/components/dashboard/lib/feedItem.ts
  learn-greek-easy-frontend/src/components/dashboard/lib/summaryDeckAdapter.ts
  learn-greek-easy-frontend/src/components/dashboard/lib/summaryFeed.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useTourAutoTrigger.test.ts
  learn-greek-easy-frontend/src/hooks/__tests__/useWarmDeckCovers.test.tsx
  learn-greek-easy-frontend/src/hooks/useTourAutoTrigger.ts
  learn-greek-easy-frontend/src/hooks/useWarmDeckCovers.ts
  learn-greek-easy-frontend/src/pages/Dashboard.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.metrics.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.starter.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.test.tsx
  learn-greek-easy-frontend/src/types/dashboard.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PERF-15-06): mapSummaryFeed parity + adversarial coverage
  learn-greek-easy-frontend/src/components/dashboard/lib/__tests__/summaryFeed.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs(ralph): add Phase 3.5 whole-surface CD-fidelity capture pilot
  RALPH_PROMPT.md
Due: none

test(PERF-15-07): E2E single-call + payload-size + EN/RU parity for dashboard summary
  learn-greek-easy-frontend/tests/e2e/dashboard-single-call.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

test(PERF-15-02): fix description-exercise unique-constraint collision in seeding
  learn-greek-easy-backend/tests/integration/services/test_learner_situation_service.py
Due: none

docs(pipeline): apply QA-log aggregator harvest — 4 recurring-lesson rules
  CLAUDE.md
  RALPH_PROMPT.md
Due: none

fix(PERF-15): CodeRabbit — feed-source degradation, user-scoped summary key, cache-test isolation, drop E2E networkidle
  learn-greek-easy-backend/src/services/dashboard_summary_service.py
  learn-greek-easy-backend/tests/integration/services/test_dashboard_build.py
  learn-greek-easy-backend/tests/unit/api/test_dashboard_summary_cache.py
  learn-greek-easy-backend/tests/unit/services/test_dashboard_summary_degradation.py
  learn-greek-easy-frontend/src/hooks/__tests__/useTourAutoTrigger.test.ts
  learn-greek-easy-frontend/src/hooks/useDashboardSummary.ts
  learn-greek-easy-frontend/src/hooks/useTourAutoTrigger.ts
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.metrics.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.starter.test.tsx
  learn-greek-easy-frontend/src/pages/__tests__/Dashboard.test.tsx
  learn-greek-easy-frontend/tests/e2e/dashboard-single-call.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck
