Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

[ARTC-03] Implement generate_article_cards() in CardGeneratorService
  learn-greek-easy-backend/src/services/card_generator_service.py
Due: none

[ARTC-05] Wire generate_article_cards() into bulk upload and seed service
  learn-greek-easy-backend/src/api/v1/word_entries.py
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[ARTC-06] Add article card rendering to PracticeCard component
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ARTC-06/07] Add article card unit and component tests
  learn-greek-easy-backend/tests/unit/services/test_card_generator_service.py
  learn-greek-easy-frontend/src/features/words/components/__tests__/PracticeCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ARTC] Article Card Type (#259)
  learn-greek-easy-backend/alembic/versions/20260209_0724_d8c84a489918_add_article_to_cardtype_enum.py
  learn-greek-easy-backend/src/api/v1/word_entries.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/card_record.py
  learn-greek-easy-backend/src/services/card_generator_service.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/unit/models/test_card_record.py
  learn-greek-easy-backend/tests/unit/schemas/test_card_record_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_card_generator_service.py
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/PracticeCard.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Add project memory file path to CLAUDE.md
  CLAUDE.md
Due: none

[PLTR-01] Add translation_ru_plural column to WordEntry model
  learn-greek-easy-backend/alembic/versions/20260209_1745_d0bf063e5db5_add_translation_ru_plural_to_word_.py
  learn-greek-easy-backend/src/db/models.py
Due: none

[PLTR-03] Add translation_ru_plural to frontend TypeScript interfaces
  learn-greek-easy-frontend/src/components/admin/WordEntriesTab.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/WordBrowser.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/WordGrid.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/__tests__/WordCard.test.tsx
  learn-greek-easy-frontend/src/features/decks/hooks/__tests__/useWordEntries.test.ts
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordReferencePage.test.tsx
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PLTR-06] Add translation_ru_plural seed data for V2 nouns and adjectives
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/api/test_seed.py
Due: none

[PLTR-04] Wire plural translations into card generator service
  learn-greek-easy-backend/src/schemas/card_record.py
  learn-greek-easy-backend/src/services/card_generator_service.py
  learn-greek-easy-backend/tests/unit/services/test_card_generator_service.py
Due: none

[PLTR-07] Update PracticeCard for plural translation display
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PLTR-08] Add PracticeCard tests for plural form cards
  learn-greek-easy-frontend/src/features/words/components/__tests__/PracticeCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Fix plural form card prompt translations
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Add articles to meaning cards
  learn-greek-easy-backend/src/services/card_generator_service.py
Due: none

[PLTR] Plural Translation Russian (#260)
  learn-greek-easy-backend/alembic/versions/20260209_1745_d0bf063e5db5_add_translation_ru_plural_to_word_.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/card_record.py
  learn-greek-easy-backend/src/services/card_generator_service.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/integration/api/test_seed.py
  learn-greek-easy-backend/tests/unit/services/test_card_generator_service.py
  learn-greek-easy-frontend/src/components/admin/WordEntriesTab.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/WordBrowser.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/V2DeckPage/__tests__/WordGrid.test.tsx
  learn-greek-easy-frontend/src/features/decks/components/__tests__/WordCard.test.tsx
  learn-greek-easy-frontend/src/features/decks/hooks/__tests__/useWordEntries.test.ts
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/PracticeCard.test.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordPracticePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordReferencePage.test.tsx
  learn-greek-easy-frontend/src/services/wordEntryAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[DTKN-01] Add CSS custom properties for culture card colors
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

[DTKN-02] Add font family custom properties and Tailwind extensions
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

[DTKN-03] Add keyframe animations and Tailwind animation utilities
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

[DTKN] Design Tokens for Culture Cards (#261)
  learn-greek-easy-frontend/src/index.css
  learn-greek-easy-frontend/tailwind.config.js
Due: frontend-eslint, frontend-prettier

[MBADG-01] Create getMediaType helper and types
  learn-greek-easy-frontend/src/components/review/grammar/MediaBadge.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CBADG-01] Define category color map and types for CultureBadge
  learn-greek-easy-frontend/src/components/culture/CultureBadge.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MBADG-01] Add getMediaType helper tests
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/MediaBadge.getMediaType.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MBADG-02] Implement MediaBadge component
  learn-greek-easy-frontend/src/components/review/grammar/MediaBadge.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CBADG-02] Rewrite CultureBadge component with native span and colored dots
  learn-greek-easy-frontend/src/components/culture/CultureBadge.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[MBADG-03] Add unit tests for MediaBadge component
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/MediaBadge.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[CBADG-03] Add unit tests for CultureBadge component
  learn-greek-easy-frontend/src/components/culture/__tests__/CultureBadge.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[BADGE] MediaBadge Component + CultureBadge Redesign (#262)
  learn-greek-easy-frontend/src/components/culture/CultureBadge.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/CultureBadge.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/MediaBadge.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/MediaBadge.getMediaType.test.ts
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/MediaBadge.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
  learn-greek-easy-frontend/src/i18n/locales/en/deck.json
  learn-greek-easy-frontend/src/i18n/locales/ru/deck.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PBAR-01] Add ProgressBar component with 3px bar and monospace counter
  learn-greek-easy-frontend/src/components/culture/ProgressBar.tsx
  learn-greek-easy-frontend/src/components/culture/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LTOGGL-01] Add pill to LanguageSelector variant type
  learn-greek-easy-frontend/src/components/culture/LanguageSelector.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PBAR-02] Integrate ProgressBar into CulturePracticePage
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PBAR-03] Add unit tests for ProgressBar component
  learn-greek-easy-frontend/src/components/culture/__tests__/ProgressBar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PBAR-04] Add CulturePracticePage ProgressBar integration tests
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.progressbar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LTOGGL-02] Implement pill variant rendering branch
  learn-greek-easy-frontend/src/components/culture/LanguageSelector.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LTOGGL-03] Add unit tests for pill variant
  learn-greek-easy-frontend/src/components/culture/__tests__/LanguageSelector.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LTOGGL-04] Add regression tests for buttons and dropdown variants
  learn-greek-easy-frontend/src/components/culture/__tests__/LanguageSelector.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[LTOGGL] Language Toggle Pill Variant (#264)
  learn-greek-easy-frontend/src/components/culture/LanguageSelector.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/LanguageSelector.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PBAR] ProgressBar Component for Culture Practice (#263)
  learn-greek-easy-frontend/src/components/culture/ProgressBar.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/ProgressBar.test.tsx
  learn-greek-easy-frontend/src/components/culture/index.ts
  learn-greek-easy-frontend/src/pages/culture/CulturePracticePage.tsx
  learn-greek-easy-frontend/src/pages/culture/__tests__/CulturePracticePage.progressbar.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SIMG-01] Create SourceImage component with gradient overlay and badge
  learn-greek-easy-frontend/src/components/culture/SourceImage.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/SourceImage.test.tsx
  learn-greek-easy-frontend/src/components/culture/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SIMG-02] Integrate SourceImage into MCQComponent
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[SIMG] SourceImage Component (#265)
  learn-greek-easy-frontend/src/components/culture/MCQComponent.tsx
  learn-greek-easy-frontend/src/components/culture/SourceImage.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/MCQComponent.test.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/SourceImage.test.tsx
  learn-greek-easy-frontend/src/components/culture/index.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck
