Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

frontend-eslint:
  name: Frontend ESLint
  entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
  language: system
  pass_filenames: false

[EXPC-07, EXMM-07, EXAC-05] Wire components and accuracy badge
  learn-greek-easy-frontend/src/components/statistics/CategoryBreakdown.tsx
  learn-greek-easy-frontend/src/components/statistics/CultureReadinessCard.tsx
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
  learn-greek-easy-frontend/src/pages/Statistics.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[EXRD-09, EXPC-08, EXWS-05, EXMM-08, EXAC-07] 48 frontend unit tests
  learn-greek-easy-frontend/src/components/statistics/__tests__/CategoryBreakdown.test.tsx
  learn-greek-easy-frontend/src/components/statistics/__tests__/CultureReadinessCard.test.tsx
  learn-greek-easy-frontend/src/components/statistics/__tests__/MotivationalMessageCard.test.tsx
  learn-greek-easy-frontend/src/components/statistics/__tests__/WeakAreaCTA.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: address 7 CodeRabbit review issues on culture readiness
  learn-greek-easy-backend/src/constants.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/tests/integration/api/test_culture_readiness.py
  learn-greek-easy-frontend/src/components/statistics/CategoryBreakdown.tsx
  learn-greek-easy-frontend/src/components/statistics/WeakAreaCTA.tsx
  learn-greek-easy-frontend/src/lib/__tests__/cultureReadinessUtils.test.ts
  learn-greek-easy-frontend/src/lib/cultureReadinessUtils.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: set updated_at alongside created_at in create_stats_with_date helper
  learn-greek-easy-backend/tests/unit/services/test_culture_motivation.py
Due: none

[EXRD/EXPC/EXAC/EXWS/EXMM] Culture Exam Readiness Dashboard (#321)
  learn-greek-easy-backend/src/api/v1/culture/router.py
  learn-greek-easy-backend/src/constants.py
  learn-greek-easy-backend/src/schemas/__init__.py
  learn-greek-easy-backend/src/schemas/culture.py
  learn-greek-easy-backend/src/services/culture_question_service.py
  learn-greek-easy-backend/tests/integration/api/test_culture_readiness.py
  learn-greek-easy-backend/tests/unit/services/test_culture_motivation.py
  learn-greek-easy-backend/tests/unit/services/test_culture_readiness.py
  learn-greek-easy-frontend/src/components/statistics/CategoryBreakdown.tsx
  learn-greek-easy-frontend/src/components/statistics/CultureReadinessCard.tsx
  learn-greek-easy-frontend/src/components/statistics/MotivationalMessageCard.tsx
  learn-greek-easy-frontend/src/components/statistics/WeakAreaCTA.tsx
  learn-greek-easy-frontend/src/components/statistics/__tests__/CategoryBreakdown.test.tsx
  learn-greek-easy-frontend/src/components/statistics/__tests__/CultureReadinessCard.test.tsx
  learn-greek-easy-frontend/src/components/statistics/__tests__/MotivationalMessageCard.test.tsx
  learn-greek-easy-frontend/src/components/statistics/__tests__/WeakAreaCTA.test.tsx
  learn-greek-easy-frontend/src/components/statistics/index.ts
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useCultureReadiness.ts
  learn-greek-easy-frontend/src/hooks/useTrackEvent.ts
  learn-greek-easy-frontend/src/i18n/locales/en/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/ru/statistics.json
  learn-greek-easy-frontend/src/lib/__tests__/cultureReadinessUtils.test.ts
  learn-greek-easy-frontend/src/lib/cultureReadinessUtils.ts
  learn-greek-easy-frontend/src/pages/Statistics.tsx
  learn-greek-easy-frontend/src/services/cultureDeckAPI.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

docs: add CodeRabbit review step to RALPH workflow
  RALPH_PROMPT.md
Due: none

[REGUX-01] Password requirements checklist, thicker bar, lowercase divider
  learn-greek-easy-frontend/src/components/auth/PasswordStrengthIndicator.tsx
  learn-greek-easy-frontend/src/components/auth/__tests__/PasswordStrengthIndicator.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/auth.json
  learn-greek-easy-frontend/src/i18n/locales/ru/auth.json
  learn-greek-easy-frontend/tests/e2e/auth/registration.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PWRUX-01/02] ResetPassword & ForgotPassword UX improvements
  learn-greek-easy-frontend/src/i18n/locales/en/auth.json
  learn-greek-easy-frontend/src/i18n/locales/ru/auth.json
  learn-greek-easy-frontend/src/pages/auth/ForgotPassword.tsx
  learn-greek-easy-frontend/src/pages/auth/ResetPassword.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[REGUX-02] Auto-scroll to first error + autofill dark mode fix
  learn-greek-easy-frontend/src/components/auth/RegisterForm.tsx
  learn-greek-easy-frontend/src/components/auth/__tests__/RegisterForm.test.tsx
  learn-greek-easy-frontend/src/components/ui/input.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PWRUX-03] Extract auth error mapping + add tests
  learn-greek-easy-frontend/src/pages/auth/ResetPassword.tsx
  learn-greek-easy-frontend/src/utils/__tests__/auth-errors.test.ts
  learn-greek-easy-frontend/src/utils/auth-errors.ts
  learn-greek-easy-frontend/tests/e2e/auth/reset-password.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PWRUX-03] Add rate-limiting E2E test to forgot-password spec
  learn-greek-easy-frontend/tests/e2e/auth/forgot-password.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[PWRUX-03] Fix QA issues: add missing test variants, verify Back to Login navigation
  learn-greek-easy-frontend/src/utils/__tests__/auth-errors.test.ts
  learn-greek-easy-frontend/tests/e2e/auth/reset-password.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Apply CodeRabbit review fixes
  learn-greek-easy-frontend/src/components/auth/__tests__/RegisterForm.test.tsx
  learn-greek-easy-frontend/src/pages/auth/ForgotPassword.tsx
  learn-greek-easy-frontend/tests/e2e/auth/reset-password.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[REGUX/PWRUX] Auth UX Polish — Password Strength, Reset Flow, Autofill (#322)
  learn-greek-easy-frontend/src/components/auth/PasswordStrengthIndicator.tsx
  learn-greek-easy-frontend/src/components/auth/RegisterForm.tsx
  learn-greek-easy-frontend/src/components/auth/__tests__/PasswordStrengthIndicator.test.tsx
  learn-greek-easy-frontend/src/components/auth/__tests__/RegisterForm.test.tsx
  learn-greek-easy-frontend/src/components/ui/input.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/auth.json
  learn-greek-easy-frontend/src/i18n/locales/ru/auth.json
  learn-greek-easy-frontend/src/pages/auth/ForgotPassword.tsx
  learn-greek-easy-frontend/src/pages/auth/ResetPassword.tsx
  learn-greek-easy-frontend/src/utils/__tests__/auth-errors.test.ts
  learn-greek-easy-frontend/src/utils/auth-errors.ts
  learn-greek-easy-frontend/tests/e2e/auth/forgot-password.spec.ts
  learn-greek-easy-frontend/tests/e2e/auth/registration.spec.ts
  learn-greek-easy-frontend/tests/e2e/auth/reset-password.spec.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[AREGEN-01] Show Regenerate button for ready audio status
  learn-greek-easy-frontend/src/components/admin/AudioGenerateButton.tsx
  learn-greek-easy-frontend/src/components/admin/WordEntryContent.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/AudioGenerateButton.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryContent.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[AREGEN-01] Show Regenerate button for ready audio status (#323)
  learn-greek-easy-frontend/src/components/admin/AudioGenerateButton.tsx
  learn-greek-easy-frontend/src/components/admin/WordEntryContent.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/AudioGenerateButton.test.tsx
  learn-greek-easy-frontend/src/components/admin/__tests__/WordEntryContent.test.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/admin.json
  learn-greek-easy-frontend/src/i18n/locales/ru/admin.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[STXFX-01] 6 UX fixes for the Statistics page
  learn-greek-easy-frontend/src/components/statistics/CategoryBreakdown.tsx
  learn-greek-easy-frontend/src/i18n/locales/en/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/ru/statistics.json
  learn-greek-easy-frontend/src/pages/Statistics.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: add missing body text-foreground for dark mode
  learn-greek-easy-frontend/src/index.css
Due: frontend-prettier

[STXFX-01] Fix test expectations for accuracyNA text change
  learn-greek-easy-frontend/src/components/statistics/__tests__/CategoryBreakdown.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ASPEED-01] useAudioPlayer hook + audioSpeed utility
  learn-greek-easy-frontend/src/components/ui/__tests__/SpeakerButton.test.tsx
  learn-greek-easy-frontend/src/hooks/__tests__/useAudioPlayer.test.ts
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useAudioPlayer.ts
  learn-greek-easy-frontend/src/utils/audioSpeed.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ASPEED-02] SpeedPills UI in SpeakerButton + wire all 3 contexts
  learn-greek-easy-frontend/src/components/ui/SpeakerButton.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/SpeakerButton.test.tsx
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordPracticePage.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ASPEED-04] Add playback_speed to PostHog audio analytics events
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/review/CardHeader.tsx
  learn-greek-easy-frontend/src/components/review/__tests__/CardHeader.audio.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/ExampleSentences.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/ExampleSentences.test.tsx
  learn-greek-easy-frontend/src/features/words/components/ExamplesSection.tsx
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/ExamplesSection.test.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordReferencePage.test.tsx
  learn-greek-easy-frontend/src/lib/analytics/__tests__/audioAnalytics.test.ts
  learn-greek-easy-frontend/src/lib/analytics/__tests__/newsAnalytics.test.ts
  learn-greek-easy-frontend/src/lib/analytics/audioAnalytics.ts
  learn-greek-easy-frontend/src/lib/analytics/newsAnalytics.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ASPEED-03] WaveformPlayer localStorage sync + remove x1.25 pill
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/WaveformPlayer.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: use import type for AudioSpeed to prevent Vite ESM runtime error
  learn-greek-easy-frontend/src/hooks/useAudioPlayer.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

fix: address CodeRabbit review — playbackRate, state consistency, localStorage guard
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
  learn-greek-easy-frontend/src/hooks/useAudioPlayer.ts
  learn-greek-easy-frontend/src/utils/audioSpeed.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ASPEED/STXFX] Audio Playback Speed Control + Statistics UX Fixes (#324)
  learn-greek-easy-frontend/src/components/culture/WaveformPlayer.tsx
  learn-greek-easy-frontend/src/components/culture/__tests__/WaveformPlayer.test.tsx
  learn-greek-easy-frontend/src/components/news/NewsCard.tsx
  learn-greek-easy-frontend/src/components/review/CardHeader.tsx
  learn-greek-easy-frontend/src/components/review/__tests__/CardHeader.audio.test.tsx
  learn-greek-easy-frontend/src/components/review/grammar/ExampleSentences.tsx
  learn-greek-easy-frontend/src/components/review/grammar/__tests__/ExampleSentences.test.tsx
  learn-greek-easy-frontend/src/components/statistics/CategoryBreakdown.tsx
  learn-greek-easy-frontend/src/components/statistics/__tests__/CategoryBreakdown.test.tsx
  learn-greek-easy-frontend/src/components/ui/SpeakerButton.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/SpeakerButton.test.tsx
  learn-greek-easy-frontend/src/features/words/components/ExamplesSection.tsx
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/ExamplesSection.test.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordPracticePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/WordReferencePage.tsx
  learn-greek-easy-frontend/src/features/words/pages/__tests__/WordReferencePage.test.tsx
  learn-greek-easy-frontend/src/hooks/__tests__/useAudioPlayer.test.ts
  learn-greek-easy-frontend/src/hooks/index.ts
  learn-greek-easy-frontend/src/hooks/useAudioPlayer.ts
  learn-greek-easy-frontend/src/i18n/locales/en/statistics.json
  learn-greek-easy-frontend/src/i18n/locales/ru/statistics.json
  learn-greek-easy-frontend/src/lib/analytics/__tests__/audioAnalytics.test.ts
  learn-greek-easy-frontend/src/lib/analytics/__tests__/newsAnalytics.test.ts
  learn-greek-easy-frontend/src/lib/analytics/audioAnalytics.ts
  learn-greek-easy-frontend/src/lib/analytics/newsAnalytics.ts
  learn-greek-easy-frontend/src/pages/Statistics.tsx
  learn-greek-easy-frontend/src/utils/audioSpeed.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-01-01] Add NLP dependencies & Pydantic schemas
  learn-greek-easy-backend/Dockerfile
  learn-greek-easy-backend/poetry.lock
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/src/schemas/nlp.py
Due: none

[NGEN-01-02] Implement SpellcheckService
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/spellcheck_service.py
Due: none

[NGEN-01-03] Implement MorphologyService
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/morphology_service.py
Due: none

fix: compute news audio count from backend instead of current page
  learn-greek-easy-backend/src/repositories/news_item.py
  learn-greek-easy-backend/src/schemas/news_item.py
  learn-greek-easy-backend/src/services/news_item_service.py
  learn-greek-easy-frontend/src/components/admin/news/NewsTab.tsx
  learn-greek-easy-frontend/src/services/adminAPI.ts
  learn-greek-easy-frontend/src/stores/adminNewsStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[NGEN-01-04] Unit tests + CI integration for NLP services
  .github/workflows/test.yml
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/tests/integration/test_nlp_services_integration.py
  learn-greek-easy-backend/tests/unit/services/test_morphology_service.py
  learn-greek-easy-backend/tests/unit/services/test_spellcheck_service.py
Due: none

fix: use pip wheel URL for spaCy model in Dockerfile
  learn-greek-easy-backend/Dockerfile
Due: none

fix: address CodeRabbit review — remove PII from logs, fix fixture names
  learn-greek-easy-backend/src/services/morphology_service.py
  learn-greek-easy-backend/src/services/spellcheck_service.py
  learn-greek-easy-backend/tests/unit/services/test_morphology_service.py
  learn-greek-easy-backend/tests/unit/services/test_spellcheck_service.py
Due: none

fix: rename singleton reset fixtures to match _ prefix parameters
  learn-greek-easy-backend/tests/unit/services/test_morphology_service.py
  learn-greek-easy-backend/tests/unit/services/test_spellcheck_service.py
Due: none

[NGEN-01] Local NLP Verification Stack (#325)
  .github/workflows/test.yml
  learn-greek-easy-backend/Dockerfile
  learn-greek-easy-backend/poetry.lock
  learn-greek-easy-backend/pyproject.toml
  learn-greek-easy-backend/src/schemas/nlp.py
  learn-greek-easy-backend/src/services/__init__.py
  learn-greek-easy-backend/src/services/morphology_service.py
  learn-greek-easy-backend/src/services/spellcheck_service.py
  learn-greek-easy-backend/tests/integration/test_nlp_services_integration.py
  learn-greek-easy-backend/tests/unit/services/test_morphology_service.py
  learn-greek-easy-backend/tests/unit/services/test_spellcheck_service.py
Due: none

[ASPEED-FIX-01] Create AudioSpeedToggle component with controlled/uncontrolled modes
  learn-greek-easy-frontend/src/components/ui/AudioSpeedToggle.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/AudioSpeedToggle.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ASPEED-FIX-02] Simplify SpeakerButton to icon-only, remove SpeedPills
  learn-greek-easy-frontend/src/components/ui/SpeakerButton.tsx
  learn-greek-easy-frontend/src/components/ui/__tests__/SpeakerButton.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[ASPEED-FIX-03] Move audio controls to bottom-right cluster in PracticeCard
  learn-greek-easy-frontend/src/features/words/components/PracticeCard.tsx
  learn-greek-easy-frontend/src/features/words/components/__tests__/PracticeCard.test.tsx
Due: frontend-eslint, frontend-prettier, frontend-typecheck

Path conditions:
  frontend-eslint: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-prettier: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
  frontend-typecheck: any of: ^learn-greek-easy-frontend/.*\.(ts|tsx)$, but not: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
