Repository SimonOsipov/learn-greek-easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier, frontend-typecheck

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for Learn Greek Easy
# See https://pre-commit.com for more information

default_stages: [pre-commit]
default_language_version:
  python: python3
  node: "20.19.0"

repos:
  # =============================================================================
  # General Hooks (All Files)
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: end-of-file-fixer
        exclude: ^(learn-greek-easy-frontend/node_modules/|\.git/|.*\.lock$)
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., GitHub Actions)
      - id: check-json
        exclude: ^(learn-greek-easy-frontend/node_modules/|.*tsconfig.*\.json$)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # =============================================================================
  # Frontend Hooks (TypeScript/React)
  # Uses local npm scripts to ensure consistency with CI
  # =============================================================================
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd learn-greek-easy-frontend && npm run lint:fix'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend Prettier
        entry: bash -c 'cd learn-greek-easy-frontend && npm run format'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx|js|jsx|css|md|json)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript Check
        entry: bash -c 'cd learn-greek-easy-frontend && npm run type-check'
        language: system
        files: ^learn-greek-easy-frontend/.*\.(ts|tsx)$
        exclude: ^learn-greek-easy-frontend/(node_modules|dist|build|html)/
        pass_filenames: false

  # =============================================================================
  # Backend Hooks (Python/FastAPI)
  # =============================================================================
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--config=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--settings-path=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=learn-greek-easy-backend/.flake8]
        files: ^learn-greek-easy-backend/
        exclude: ^learn-greek-easy-backend/(alembic/versions|\.venv)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        args: [--config-file=learn-greek-easy-backend/pyproject.toml]
        files: ^learn-greek-easy-backend/src/
        additional_dependencies:
          - types-python-dateutil
          - types-redis
          - pydantic>=2.0
          - sqlalchemy>=2.0

[LANDINGFIX-04] Improve footer copyright line in all languages
  learn-greek-easy-frontend/src/i18n/locales/el/landing.json
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-prettier

[LANDINGFIX] Landing Page i18n Polish (#216)
  learn-greek-easy-frontend/src/i18n/locales/el/landing.json
  learn-greek-easy-frontend/src/i18n/locales/en/landing.json
  learn-greek-easy-frontend/src/i18n/locales/ru/landing.json
Due: frontend-prettier

[CI] Disable Chromatic visual tests temporarily
  .github/workflows/preview.yml
Due: none

[CARDMODEL-01] Remove unused fields from Card model
  learn-greek-easy-backend/alembic/env.py
  learn-greek-easy-backend/alembic/versions/20260129_1129_14c4b1b4a7a8_remove_difficulty_and_order_index_from_.py
  learn-greek-easy-backend/src/api/v1/cards.py
  learn-greek-easy-backend/src/db/__init__.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/repositories/card.py
  learn-greek-easy-backend/src/repositories/progress.py
  learn-greek-easy-backend/src/schemas/card.py
  learn-greek-easy-backend/src/schemas/sm2.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/src/services/sm2_service.py
  learn-greek-easy-backend/tests/base.py
  learn-greek-easy-backend/tests/conftest.py
  learn-greek-easy-backend/tests/factories/content.py
  learn-greek-easy-backend/tests/fixtures/__init__.py
  learn-greek-easy-backend/tests/fixtures/deck.py
  learn-greek-easy-backend/tests/helpers/assertions.py
  learn-greek-easy-backend/tests/integration/api/test_cards.py
  learn-greek-easy-backend/tests/integration/test_sm2_integration.py
  learn-greek-easy-backend/tests/unit/api/test_cards.py
  learn-greek-easy-backend/tests/unit/api/test_study.py
  learn-greek-easy-backend/tests/unit/repositories/conftest.py
  learn-greek-easy-backend/tests/unit/repositories/test_repositories.py
  learn-greek-easy-backend/tests/unit/schemas/test_sm2_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_sm2_service.py
  learn-greek-easy-backend/tests/unit/test_base_classes.py
  learn-greek-easy-backend/tests/unit/test_database_fixtures.py
  learn-greek-easy-backend/tests/unit/test_factories.py
Due: none

[CARDMODEL-01] Fix integration tests for Card model changes
  learn-greek-easy-backend/tests/integration/api/test_cards.py
Due: none

[CARDMODEL-02] Add base classification fields to Card model
  learn-greek-easy-backend/alembic/versions/20260129_1208_c14242885019_add_classification_fields_to_cards.py
  learn-greek-easy-backend/src/db/__init__.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/repositories/card.py
  learn-greek-easy-backend/src/schemas/card.py
  learn-greek-easy-backend/src/services/sm2_service.py
  learn-greek-easy-backend/tests/base.py
  learn-greek-easy-backend/tests/e2e/edge_cases/test_data_consistency.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_card_operations.py
  learn-greek-easy-backend/tests/e2e/workflows/test_admin_content_management.py
  learn-greek-easy-backend/tests/factories/content.py
  learn-greek-easy-backend/tests/factories/providers/greek.py
  learn-greek-easy-backend/tests/fixtures/deck.py
  learn-greek-easy-backend/tests/helpers/assertions.py
  learn-greek-easy-backend/tests/integration/api/test_background_tasks_integration.py
  learn-greek-easy-backend/tests/integration/api/test_cards.py
  learn-greek-easy-backend/tests/integration/api/test_cards_bulk.py
  learn-greek-easy-backend/tests/integration/conftest.py
  learn-greek-easy-backend/tests/integration/test_sm2_integration.py
  learn-greek-easy-backend/tests/unit/api/test_cards.py
  learn-greek-easy-backend/tests/unit/api/test_study.py
  learn-greek-easy-backend/tests/unit/repositories/conftest.py
  learn-greek-easy-backend/tests/unit/repositories/test_repositories.py
  learn-greek-easy-backend/tests/unit/schemas/test_sm2_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_sm2_card_initialization.py
  learn-greek-easy-backend/tests/unit/test_database_fixtures.py
Due: none

[CARDMODEL-03] Add examples JSONB field to Card model
  learn-greek-easy-backend/alembic/versions/20260129_1229_83d73d26f04d_add_examples_jsonb_to_cards.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/repositories/card.py
  learn-greek-easy-backend/src/schemas/card.py
  learn-greek-easy-backend/src/schemas/sm2.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/src/services/sm2_service.py
  learn-greek-easy-backend/tests/factories/content.py
  learn-greek-easy-backend/tests/unit/api/test_cards.py
  learn-greek-easy-backend/tests/unit/api/test_study.py
  learn-greek-easy-backend/tests/unit/schemas/test_sm2_schemas.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
  learn-greek-easy-backend/tests/unit/services/test_sm2_service.py
  learn-greek-easy-backend/tests/unit/test_base_classes.py
  learn-greek-easy-backend/tests/unit/test_factories.py
Due: none

[CARDMODEL-04] Add grammar JSONB fields to Card model
  learn-greek-easy-backend/alembic/versions/20260129_1258_a90d6c7deeb3_add_grammar_jsonb_fields_to_cards.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/card.py
  learn-greek-easy-backend/tests/factories/content.py
  learn-greek-easy-backend/tests/unit/api/test_cards.py
Due: none

[CARDMODEL-05] Add search fields to Card model
  learn-greek-easy-backend/alembic/versions/20260129_1303_014f35839083_add_card_search_array_fields.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/card.py
  learn-greek-easy-backend/tests/factories/content.py
  learn-greek-easy-backend/tests/unit/api/test_cards.py
Due: none

[CARDMODEL-06] Add embedding vector field to Card model
  learn-greek-easy-backend/alembic/versions/20260129_1310_77851dfb44d1_add_card_embedding_vector.py
  learn-greek-easy-backend/src/db/models.py
  learn-greek-easy-backend/src/schemas/card.py
  learn-greek-easy-backend/tests/factories/content.py
  learn-greek-easy-backend/tests/unit/api/test_cards.py
Due: none

[CARDMODEL] Fix GIN indexes for migration check
  learn-greek-easy-backend/src/db/models.py
Due: none

[CARDMODEL] Fix E2E tests for Card model changes
  learn-greek-easy-backend/tests/e2e/scenarios/test_card_operations.py
  learn-greek-easy-backend/tests/e2e/scenarios/test_card_search.py
  learn-greek-easy-backend/tests/e2e/workflows/test_admin_content_management.py
Due: none

[SEEDGRAM-01] Classify 60 vocabulary words by part of speech
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
Due: none

[SEEDGRAM-02] Create grammar data file structure
  learn-greek-easy-backend/src/services/seed_grammar_data.py
Due: none

[SEEDGRAM-03] Generate noun grammar data (41 declensions)
  learn-greek-easy-backend/src/services/seed_grammar_data.py
Due: none

[SEEDGRAM-04] Generate verb grammar data (9 conjugations)
  learn-greek-easy-backend/src/services/seed_grammar_data.py
Due: none

[SEEDGRAM-05] Generate adjective grammar data (3 declensions)
  learn-greek-easy-backend/src/services/seed_grammar_data.py
Due: none

[SEEDGRAM-06] Generate adverb grammar data (2 adverbs)
  learn-greek-easy-backend/src/services/seed_grammar_data.py
Due: none

[SEEDGRAM-07] Add Russian translations for all 60 words
  learn-greek-easy-backend/src/services/seed_grammar_data.py
Due: none

[SEEDGRAM-08] Create trilingual example sentences (120 examples)
  learn-greek-easy-backend/src/services/seed_grammar_data.py
Due: none

[SEEDGRAM-09/10] Add Greek text utilities for searchable forms and accent normalization
  learn-greek-easy-backend/src/utils/__init__.py
  learn-greek-easy-backend/src/utils/greek_text.py
  learn-greek-easy-backend/tests/unit/utils/test_greek_text.py
Due: none

[SEEDGRAM-11] Update seed_service.py to use enriched data
  learn-greek-easy-backend/src/services/seed_service.py
Due: none

[SEEDGRAM-12] Update API tests to verify all card attributes
  learn-greek-easy-backend/tests/integration/api/test_cards.py
  learn-greek-easy-backend/tests/integration/api/test_cards_bulk.py
  learn-greek-easy-backend/tests/unit/api/test_cards.py
Due: none

[SEEDGRAM-14] Add seed data validation and integration tests
  learn-greek-easy-backend/tests/integration/test_seed_grammar_integration.py
Due: none

[SEEDGRAM-14] Fix hardcoded path in seed script dry-run test
  learn-greek-easy-backend/tests/integration/test_seed_grammar_integration.py
Due: none

[SEEDGRAM] Enrich Seed Data with Grammar (#218)
  learn-greek-easy-backend/src/services/seed_grammar_data.py
  learn-greek-easy-backend/src/services/seed_service.py
  learn-greek-easy-backend/src/utils/__init__.py
  learn-greek-easy-backend/src/utils/greek_text.py
  learn-greek-easy-backend/tests/integration/api/test_cards.py
  learn-greek-easy-backend/tests/integration/api/test_cards_bulk.py
  learn-greek-easy-backend/tests/integration/test_seed_grammar_integration.py
  learn-greek-easy-backend/tests/unit/api/test_cards.py
  learn-greek-easy-backend/tests/unit/services/test_seed_service.py
  learn-greek-easy-backend/tests/unit/utils/test_greek_text.py
Due: none

[CI] Fix visual tests in preview workflow
  .github/workflows/preview.yml
  .gitignore
  .playwright-mcp/admin-announcements-tab.png
  .playwright-mcp/after-click-notification-count.png
  .playwright-mcp/announcement-history-table.png
  .playwright-mcp/announcement-marked-as-read.png
  .playwright-mcp/announcement-preview-dialog.png
  .playwright-mcp/announcement-sent-success.png
  .playwright-mcp/audio-button-card.png
  .playwright-mcp/audio-button-news-section.png
  .playwright-mcp/audio-button-tooltip.png
  .playwright-mcp/audio-button-verification.png
  .playwright-mcp/audio-button-visible.png
  .playwright-mcp/audio-button-with-tooltip.png
  .playwright-mcp/dashboard-news-section-verification.png
  .playwright-mcp/full-page-dashboard.png
  .playwright-mcp/learner-dashboard-loaded.png
  .playwright-mcp/notification-dropdown-with-announcement.png
  .playwright-mcp/questions-practice-page-verification.png
Due: none

Added peer
  learn-greek-easy-frontend/package-lock.json
Due: frontend-prettier

[GRAMMARUI-01] Update API tests for grammar field completeness
  learn-greek-easy-backend/tests/integration/api/test_cards.py
Due: none

[GRAMMARUI-02] Update TypeScript interfaces for grammar data
  learn-greek-easy-backend/src/schemas/sm2.py
  learn-greek-easy-backend/src/services/sm2_service.py
  learn-greek-easy-backend/tests/unit/services/test_sm2_service.py
  learn-greek-easy-frontend/src/services/cardAPI.ts
  learn-greek-easy-frontend/src/services/index.ts
  learn-greek-easy-frontend/src/services/studyAPI.ts
  learn-greek-easy-frontend/src/types/grammar.ts
  learn-greek-easy-frontend/src/types/index.ts
  learn-greek-easy-frontend/src/types/review.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMMARUI-02] Fix TypeScript errors from type updates
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.analytics.test.ts
  learn-greek-easy-frontend/src/stores/__tests__/reviewStore.test.ts
  learn-greek-easy-frontend/src/stores/deckStore.ts
  learn-greek-easy-frontend/src/stores/reviewStore.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMMARUI-02] Fix remaining TypeScript errors
  learn-greek-easy-frontend/src/services/index.ts
  learn-greek-easy-frontend/src/stores/__tests__/analyticsStore.test.ts
  learn-greek-easy-frontend/src/stores/__tests__/mockExamSessionStore.test.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMMARUI-03] Update API client/hooks for grammar data
  learn-greek-easy-frontend/src/stores/reviewStore.ts
  learn-greek-easy-frontend/src/types/review.ts
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMMARUI-04] Create PartOfSpeechBadge component
  learn-greek-easy-frontend/src/components/review/grammar/PartOfSpeechBadge.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/review.json
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMMARUI-05] Create NounDeclensionTable component
  learn-greek-easy-frontend/src/components/review/grammar/NounDeclensionTable.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/review.json
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMMARUI-06] Create VerbConjugationGrid component
  learn-greek-easy-frontend/src/components/review/grammar/VerbConjugationGrid.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/review.json
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMMARUI-07] Create AdjectiveDeclensionTables component
  learn-greek-easy-frontend/src/components/review/grammar/AdjectiveDeclensionTables.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/review.json
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMMARUI-08] Create AdverbFormsTable component
  learn-greek-easy-frontend/src/components/review/grammar/AdverbFormsTable.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/review.json
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck

[GRAMMARUI-09] Create ExampleSentences component
  learn-greek-easy-frontend/src/components/review/grammar/ExampleSentences.tsx
  learn-greek-easy-frontend/src/components/review/grammar/index.ts
  learn-greek-easy-frontend/src/i18n/locales/el/review.json
  learn-greek-easy-frontend/src/i18n/locales/en/review.json
  learn-greek-easy-frontend/src/i18n/locales/ru/review.json
Due: frontend-eslint, frontend-prettier, frontend-typecheck
